Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

preserve the argument order of register_prompt
  mlflow/genai/prompts/__init__.py
  mlflow/prompt/registry_utils.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/_model_registry/fluent.py
  mlflow/tracking/client.py
Due: ruff, format, custom-python-lint

nit
  dev/run-python-skinny-tests.sh
Due: none

Include type classes in mlflow-skinny (#16806)
  dev/run-python-skinny-tests.sh
  mlflow/types/__init__.py
  mlflow/version.py
Due: ruff, format, custom-python-lint

Add prompt response format page to GenAI sidebar (#16775)
  docs/sidebarsGenAI.ts
Due: none

Preserve the argument order of register_prompt (#16807)
  mlflow/genai/prompts/__init__.py
  mlflow/prompt/registry_utils.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/_model_registry/fluent.py
  mlflow/tracking/client.py
Due: ruff, format, custom-python-lint

run telemetry test standalone in windows
  .github/workflows/master.yml
Due: none

comment
  .github/workflows/master.yml
  mlflow/telemetry/utils.py
  tests/telemetry/conftest.py
  tests/telemetry/test_utils.py
Due: ruff, format, custom-python-lint

Support multi-turn message and response format in uc prompt registry
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/tracking/client.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
Due: ruff, format, custom-python-lint

fix json parsing
  mlflow/prompt/constants.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/_unity_catalog/registry/utils.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
Due: ruff, format, custom-python-lint

update proto_to_mlflow_prompt
  mlflow/store/_unity_catalog/registry/utils.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
Due: ruff, format, custom-python-lint

fix tests
  mlflow/prompt/constants.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/_unity_catalog/registry/utils.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/_unity_catalog/registry/test_uc_prompt_utils.py
Due: ruff, format, custom-python-lint

Pin cmudict
  requirements/constraints.txt
Due: none

added TODOs for exporter_utils
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
Due: ruff, format, custom-python-lint

fixed unit test warning
  mlflow/genai/experimental/databricks_trace_exporter.py
  tests/genai/experimental/test_databricks_trace_exporter.py
Due: ruff, format, custom-python-lint

added atexit hook to IngestStreamFactory and fixed execution_time definition in genai view
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
Due: ruff, format, custom-python-lint

Created DatabricksTraceServerClient() and made enable_databricks_trace_archival() idempotent
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
  mlflow/genai/experimental/databricks_trace_storage_config.py
  tests/genai/experimental/test_databricks_trace_archival.py
Due: ruff, format, custom-python-lint

integrated with the sync version of the ingest sdk without asyncio and added the custom ingest wheel to the ci test
  .github/workflows/master.yml
  mlflow/genai/experimental/databricks_trace_exporter.py
  tests/genai/experimental/test_databricks_trace_exporter.py
Due: ruff, format, custom-python-lint

Initial implementation (no testing) of the databricks delta span exporter
  mlflow/environment_variables.py
  mlflow/genai/experimental/databricks_delta_archiver.py
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_archiver_utils.py
  mlflow/genai/experimental/databricks_trace_otel.proto
  mlflow/genai/experimental/databricks_trace_otel_pb2.py
  mlflow/tracing/export/mlflow_v3.py
  pyproject.toml
  tests/genai/experimental/test_databricks_trace_archival.py
Due: ruff, format, taplo, custom-python-lint

Added unit tests
  mlflow/genai/experimental/databricks_trace_storage_config.py
  tests/genai/experimental/test_databricks_trace_archival.py
  tests/genai/experimental/test_databricks_trace_exporter.py
  tests/genai/experimental/test_databricks_trace_exporter_utils.py
  tests/tracing/test_provider.py
Due: ruff, format, custom-python-lint

Fixed trace_id in span logging to omit the tr- prefix for full otel compatibility
  mlflow/genai/experimental/databricks_trace_exporter.py
Due: ruff, format, custom-python-lint

Renamed DatabricksTraceArchiver to a new MlflowV3DeltaSpanExporter in the experimental package
  mlflow/genai/experimental/__init__.py
  mlflow/genai/experimental/databricks_trace_exporter.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
  mlflow/tracing/export/mlflow_v3.py
  mlflow/tracing/provider.py
Due: ruff, format, custom-python-lint

include uc internal prefix to isUserFacingTag
  mlflow/server/js/src/common/utils/TagUtils.ts
Due: none

comments
  mlflow/telemetry/client.py
  mlflow/telemetry/track.py
  tests/telemetry/test_track.py
Due: ruff, format, custom-python-lint

Use PIP_CONSTRAINT
  mlflow/utils/environment.py
Due: ruff, format, custom-python-lint

rebase
  docs/docs/genai/tracing/integrations/listing/semantic_kernel.mdx
  tests/semantic_kernel/test_semantic_kernel_autolog.py
Due: ruff, format, custom-python-lint

fix doc
  mlflow/tracking/client.py
Due: ruff, format, custom-python-lint

rebase
  docs/docs/genai/tracing/integrations/listing/semantic_kernel.mdx
  docs/static/images/llms/tracing/semantic_kernel_trace_inputs_outputs.png
  docs/static/images/llms/tracing/semantic_kernel_tracing_inputs_outputs.png
  mlflow/semantic_kernel/autolog.py
  mlflow/semantic_kernel/tracing_utils.py
  tests/semantic_kernel/test_semantic_kernel_autolog.py
Due: ruff, format, custom-python-lint

fix test
  mlflow/pyfunc/model.py
  tests/pyfunc/test_responses_agent.py
Due: ruff, format, custom-python-lint

Add telemetry config (#16790)
  .github/workflows/master.yml
  conftest.py
  mlflow/telemetry/client.py
  mlflow/telemetry/constant.py
  mlflow/telemetry/schemas.py
  mlflow/telemetry/track.py
  mlflow/telemetry/utils.py
  tests/conftest.py
  tests/helper_functions.py
  tests/telemetry/conftest.py
  tests/telemetry/helper_functions.py
  tests/telemetry/test_client.py
  tests/telemetry/test_track.py
  tests/telemetry/test_tracked_apis.py
  tests/telemetry/test_utils.py
Due: ruff, format, custom-python-lint

Clean up docs and tests
  docs/docs/genai/tracing/integrations/listing/semantic_kernel.mdx
  tests/semantic_kernel/test_semantic_kernel_autolog.py
Due: ruff, format, custom-python-lint

Support multi-turn message and response format in uc prompt registry (#16808)
  mlflow/prompt/constants.py
  mlflow/server/js/src/common/utils/TagUtils.ts
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/_unity_catalog/registry/utils.py
  mlflow/tracking/client.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/_unity_catalog/registry/test_uc_prompt_utils.py
Due: ruff, format, custom-python-lint

.
  mlflow/pyfunc/model.py
Due: ruff, format, custom-python-lint

.
  tests/utils/test_rest_utils.py
Due: ruff, format, custom-python-lint

Add sk tracing logo
  docs/docs/genai/tracing/integrations/index.mdx
  docs/static/images/logos/semantic-kernel-logo.png
Due: none
