Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Remove logging config in db and update mlflow logger (#19049)
  mlflow/server/auth/db/migrations/alembic.ini
  mlflow/server/auth/db/migrations/env.py
  mlflow/store/db_migrations/alembic.ini
  mlflow/store/db_migrations/env.py
  mlflow/utils/logging_utils.py
  tests/utils/test_logging_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Sync Python/TypeScript tab selections in tracing quickstart docs (#19184)
  docs/docs/genai/tracing/quickstart/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

test: Add unit tests for JupyterNotebookRunContext
  tests/tracking/context/test_jupyter_notebook_context.py
  tests/tracking/context/test_registry.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Removed unintended files
  kernel-test-2.ipynb
  kernel-test.ipynb
  kernel-test.py
Due: normalize-chars, ruff, format, clint, typos

added check for jupyter-notebook-kernel-check
  kernel-test-2.ipynb
  kernel-test.ipynb
  kernel-test.py
  mlflow/tracking/context/jupyter_notebook_context.py
  mlflow/tracking/context/registry.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

comment
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useGetExperimentPageActiveTabByRoute.tsx
  mlflow/server/js/src/experiment-tracking/route-defs.ts
  mlflow/server/js/src/experiment-tracking/routes.ts
Due: none

comment
  mlflow/server/js/src/experiment-tracking/route-defs.ts
  mlflow/server/js/src/experiment-tracking/routes.ts
Due: none

comment
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useGetExperimentPageActiveTabByRoute.tsx
Due: none

Fix Python indentation in custom trace quickstart example (#19185)
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableQuickstart.utils.tsx
Due: none

Add doc for otlp compression (#19181)
  docs/docs/genai/tracing/opentelemetry/ingest.mdx
Due: normalize-chars, blacken-docs, clint, typos

Add experiment prompts functionality (#19156)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useGetExperimentPageActiveTabByRoute.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/ExperimentPageSideNav.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/constants.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/ExperimentPromptDetailsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/ExperimentPromptsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsDetailsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsPage.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/api.test.ts
  mlflow/server/js/src/experiment-tracking/pages/prompts/api.ts
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTable.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTableNameCell.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/useCreatePromptModal.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/useCreateRegisteredPromptMutation.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/usePromptsListQuery.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/utils.ts
  mlflow/server/js/src/experiment-tracking/route-defs.ts
  mlflow/server/js/src/experiment-tracking/routes.ts
  mlflow/server/js/src/lang/default/en.json
Due: none

Pass tracking URI (#18023)
  mlflow/tracking/_tracking_service/client.py
  tests/tracking/_tracking_service/test_tracking_service_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  libs/typescript/core/tests/clients/client.test.ts
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add linked prompts filter for trace search tab
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAiTracesTableFilter.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/filters/TableFilterItem.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/filters/TableFilterItemValueInput.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useTableColumns.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/types.ts
Due: none

Refactor TableFilterItemValueInput to simplify prop usage and update tests for prompt filter functionality
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/filters/TableFilterItemValueInput.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.test.tsx
Due: none

add token per trace
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/charts/ChartsView.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/charts/TokenStatisticsChart.tsx
Due: none

Fix
  mlflow/pytorch/__init__.py
  mlflow/utils/autologging_utils/metrics_queue.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use `cached_db` fixture to skip migration and speed up tests in test_assessment.py (#19190)
  tests/tracing/test_assessment.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

lint
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useTableColumns.tsx
Due: none

test
  mlflow/pytorch/__init__.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/utils/autologging_utils/metrics_queue.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Refactor
  tests/conftest.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

test
  mlflow/store/db/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update transformers and sentence transformers docs (#18925)
  docs/docs/classic-ml/deep-learning/sentence-transformers/guide/index.mdx
  docs/docs/classic-ml/deep-learning/sentence-transformers/index.mdx
  docs/docs/classic-ml/deep-learning/sentence-transformers/tutorials/index.mdx
  docs/docs/classic-ml/deep-learning/transformers/guide/index.mdx
  docs/docs/classic-ml/deep-learning/transformers/index.mdx
  docs/docusaurus.config.ts
  docs/sidebarsClassicML.ts
  docs/static/images/tutorials/llms/transformers-fine-tuning.png
  docs/static/images/tutorials/llms/transformers-pipeline-architecture.png
Due: normalize-chars, blacken-docs, clint, typos

Consolidate duplicate cached_db fixtures into single session-scoped fixture (#19194)
  tests/conftest.py
  tests/genai/evaluate/test_evaluation.py
  tests/store/model_registry/test_sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracing/test_assessment.py
  tests/tracing/test_fluent.py
  tests/tracing/test_otel_loading.py
  tests/tracing/test_otel_logging.py
  tests/tracking/fluent/test_fluent.py
  tests/tracking/test_model_registry.py
  tests/tracking/test_rest_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use cached_db in tests/tracking/test_client.py for faster test execution (#19196)
  tests/tracking/test_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

address pr feedback
  docs/docs/genai/eval-monitor/running-evaluation/multi-turn.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/make-judge.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/predefined.mdx
  docs/static/images/genai/sessions-view-ui.png
Due: normalize-chars, blacken-docs, clint, typos

address pr feedback
  .github/workflows/master.yml
  mlflow/genai/scorers/deepeval/__init__.py
  mlflow/genai/scorers/deepeval/models.py
  mlflow/genai/scorers/deepeval/utils.py
  tests/genai/scorers/deepeval/conftest.py
  tests/genai/scorers/deepeval/test_deepeval_scorer.py
  tests/genai/scorers/deepeval/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

fix prettier
  docs/docs/genai/eval-monitor/scorers/llm-judge/predefined.mdx
Due: normalize-chars, blacken-docs, clint, typos

cleanup
  mlflow/genai/judges/adapters/base_adapter.py
  mlflow/genai/judges/adapters/utils.py
  mlflow/genai/judges/utils/invocation_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix ci
  .gitignore
  tests/genai/scorers/deepeval/test_deepeval_scorer.py
  tests/genai/scorers/deepeval/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

.
  mlflow/genai/scorers/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

cleanup databricks adapter
  mlflow/genai/judges/adapters/databricks_adapter.py
  mlflow/genai/judges/adapters/databricks_managed_judge_adapter.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix bug in multi-turn evaluations when there is an error
  mlflow/genai/evaluation/session_utils.py
  tests/genai/evaluate/test_session_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

.
  mlflow/genai/judges/utils/invocation_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

,
  mlflow/genai/scorers/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

move to pydantic
  mlflow/entities/model_registry/prompt_version.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/tracking/client.py
  tests/entities/test_prompt.py
  tests/genai/prompts/test_prompts.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix docs
  mlflow/entities/model_registry/prompt_version.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add test for return_full_text when saving prompt_template
  tests/transformers/test_transformers_model_export.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix skinny client numpy import error by making databricks judge import lazy
  mlflow/genai/judges/utils/invocation_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py
