Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

Add --install-java option to sagemaker build-and-push-container (#14868)
  mlflow/models/docker_utils.py
  mlflow/sagemaker/cli.py
  mlflow/utils/cli_args.py
  tests/resources/dockerfile/Dockerfile_sagemaker_virtualenv_no_java
  tests/sagemaker/test_cli.py
Due: ruff, format, custom-python-lint

use endWith
  mlflow/server/js/src/experiment-tracking/reducers/ImageReducer.ts
Due: none

add logging of result table
  mlflow/dspy/autolog.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

fix error handling
  mlflow/dspy/callback.py
Due: ruff, format, custom-python-lint

Implement LogOutputs in tracking server
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Fix
  mlflow/server/handlers.py
Due: ruff, format, custom-python-lint

Implement `LogOutputs` REST API (#15063)
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Update example in New run using notebook for LLM
  mlflow/server/js/src/experiment-tracking/components/evaluation-artifacts-compare/CreateNotebookRunModal.tsx
Due: none

Copy button added for new run using notebook
  mlflow/server/js/src/experiment-tracking/components/evaluation-artifacts-compare/CreateNotebookRunModal.tsx
Due: none

Resolves spelling mistake
  mlflow/utils/model_utils.py
Due: ruff, format, custom-python-lint

Completion for Gemini AI Gateway
  examples/gateway/gemini/README.md
  examples/gateway/gemini/config.yaml
  examples/gateway/gemini/example.py
  mlflow/gateway/providers/gemini.py
Due: ruff, format, blacken-docs, custom-python-lint

Test cases for Gemini Completions AI Gateway
  tests/gateway/providers/test_gemini.py
Due: ruff, format, custom-python-lint

Chat Completion for Gemini AI Gateway
  examples/gateway/gemini/README.md
  examples/gateway/gemini/config.yaml
  examples/gateway/gemini/example.py
  mlflow/gateway/providers/gemini.py
Due: ruff, format, blacken-docs, custom-python-lint

Test cases for Gemini Chat Completions AI Gateway
  examples/gateway/gemini/example.py
  mlflow/gateway/providers/gemini.py
  tests/gateway/providers/test_gemini.py
Due: ruff, format, custom-python-lint

Fix tests
  mlflow/langchain/databricks_dependencies.py
  mlflow/ml-package-versions.yml
  tests/langchain/test_langchain_databricks_integration.py
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint, mlver

fix: enable show diff by default in compare experiment page
  mlflow/server/js/src/experiment-tracking/components/CompareRunView.tsx
Due: none

fix: better types
  mlflow/server/js/src/experiment-tracking/components/CompareRunView.tsx
Due: none

fix: better state type in class
  mlflow/server/js/src/common/components/EditableNote.tsx
  mlflow/server/js/src/common/components/ExpandableList.tsx
  mlflow/server/js/src/common/components/RequestStateWrapper.tsx
  mlflow/server/js/src/common/components/error-boundaries/AppErrorBoundary.tsx
  mlflow/server/js/src/common/components/error-boundaries/SectionErrorBoundary.tsx
  mlflow/server/js/src/common/components/tables/EditableFormTable.tsx
  mlflow/server/js/src/experiment-tracking/components/ArtifactPage.tsx
  mlflow/server/js/src/experiment-tracking/components/ArtifactView.tsx
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactLoggedModelView.tsx
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactPdfView.tsx
  mlflow/server/js/src/experiment-tracking/components/modals/ConfirmModal.tsx
  mlflow/server/js/src/experiment-tracking/components/modals/GenericInputModal.tsx
  mlflow/server/js/src/model-registry/components/ModelVersionView.tsx
  mlflow/server/js/src/model-registry/components/RegisterModel.tsx
  mlflow/server/js/src/model-registry/components/RegisterModelForm.tsx
Due: none

working for pandas
  mlflow/data/digest_utils.py
  mlflow/data/pandas_dataset.py
Due: ruff, format, custom-python-lint

code fix and refactor of from_<backend>
  mlflow/data/arrow_dataset.py
  mlflow/data/dataframe_dataset.py
  mlflow/data/evaluation_dataset.py
  mlflow/data/pandas_dataset.py
  mlflow/data/polars_dataset.py
Due: ruff, format, custom-python-lint

factor out into DataFrameDataset
  mlflow/data/dataframe_dataset.py
  mlflow/data/digest_utils.py
  mlflow/data/evaluation_dataset.py
  mlflow/data/pandas_dataset.py
Due: ruff, format, custom-python-lint

code fixes
  mlflow/data/evaluation_dataset.py
  tests/data/test_dataframe_dataset.py
Due: ruff, format, custom-python-lint

dependencies fixes
  pyproject.toml
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
  requirements/skinny-requirements.txt
  requirements/skinny-requirements.yaml
  skinny/pyproject.toml
Due: taplo, generate-skinny-requirements, generate-core-requirements

fix dependencies?
  pyproject.release.toml
  pyproject.toml
  requirements/skinny-requirements.txt
  requirements/skinny-requirements.yaml
  skinny/pyproject.toml
Due: taplo, generate-skinny-requirements

update docs
  docs/api_reference/source/conf.py
  docs/api_reference/source/python_api/mlflow.data.rst
Due: ruff, format, blacken-docs, custom-python-lint

requirements specs
  pyproject.release.toml
  pyproject.toml
  requirements/core-requirements.txt
  requirements/skinny-requirements.txt
  skinny/pyproject.toml
Due: taplo

rename pyarrow and polars to bytes functions
  mlflow/data/evaluation_dataset.py
Due: ruff, format, custom-python-lint

return child class
  mlflow/data/pandas_dataset.py
Due: ruff, format, custom-python-lint

rm couple of comments for self
  mlflow/data/evaluation_dataset.py
Due: ruff, format, custom-python-lint

add narwhals to skinny deps
  skinny/pyproject.toml
Due: taplo

add pyarrow hashing
  mlflow/data/dataframe_dataset.py
  mlflow/data/digest_utils.py
Due: ruff, format, custom-python-lint

lower narwhals version
  pyproject.toml
Due: taplo

test pandas, polars and pyarrow
  tests/data/test_dataframe_dataset.py
  tests/data/test_pandas_dataset.py
Due: ruff, format, custom-python-lint

add dependencies
  pyproject.toml
  requirements/doc-requirements.txt
  requirements/test-requirements.txt
Due: taplo

rm backend_name cls attribute
  mlflow/data/arrow_dataset.py
  mlflow/data/dataframe_dataset.py
  mlflow/data/evaluation_dataset.py
  mlflow/data/pandas_dataset.py
  mlflow/data/polars_dataset.py
Due: ruff, format, custom-python-lint

add to polars and arrow to dataset registry
  mlflow/data/dataset_registry.py
Due: ruff, format, custom-python-lint

add polars and arrow datasets
  mlflow/data/arrow_dataset.py
  mlflow/data/polars_dataset.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
