Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Add FireworksAI to Model Providers Tracing Integrations (#18678)
  docs/docs/genai/tracing/integrations/listing/fireworksai.mdx
  docs/sidebarsGenAI.ts
  docs/src/components/Card/card.module.css
  docs/src/components/TracingIntegrations/index.tsx
  docs/static/images/llms/tracing/fireworks-ai-tracing.png
  docs/static/images/logos/fireworks-ai-logo.svg
Due: normalize-chars, blacken-docs, clint, typos

Search traces docs update (#18687)
  docs/docs/genai/eval-monitor/running-evaluation/traces.mdx
  docs/docs/genai/tracing/index.mdx
  docs/docs/genai/tracing/observe-with-traces/index.mdx
  docs/docs/genai/tracing/observe-with-traces/query-via-sdk.mdx
  docs/docs/genai/tracing/prod-tracing.mdx
  docs/docs/genai/tracing/search-traces.mdx
  docs/docs/genai/tracing/track-environments-context/index.mdx
  docs/docusaurus.config.ts
  docs/sidebarsGenAI.ts
  docs/static/images/llms/tracing/search-traces-assessments-on-ui.png
  docs/static/images/llms/tracing/search-traces-inputs-on-ui.png
  docs/static/images/llms/tracing/search-traces-on-ui.png
  docs/static/images/tracing_search_traces.png
  libs/typescript/README.md
Due: normalize-chars, blacken-docs, clint, typos

Fix eval result button link (#18667)
  mlflow/genai/utils/display_utils.py
  mlflow/genai/utils/trace_utils.py
  mlflow/tracing/processor/mlflow_v3.py
  tests/genai/utils/test_display_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update navbar header to match mocks (#18714)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewHeader.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewHeader.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewHeaderShareButton.tsx
  mlflow/server/js/src/experiment-tracking/utils/ExperimentKindUtils.ts
  mlflow/server/js/src/lang/default/en.json
Due: none

Add back eval result table (#18666)
  mlflow/genai/evaluation/entities.py
  mlflow/genai/evaluation/harness.py
  mlflow/genai/utils/trace_utils.py
  tests/genai/evaluate/test_evaluation.py
  tests/genai/judges/test_make_judge.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Refactor Judge utils (#18622)
  mlflow/genai/judges/adapters/__init__.py
  mlflow/genai/judges/adapters/databricks_managed_judge_adapter.py
  mlflow/genai/judges/adapters/databricks_serving_endpoint_adapter.py
  mlflow/genai/judges/adapters/gateway_adapter.py
  mlflow/genai/judges/adapters/litellm_adapter.py
  mlflow/genai/judges/optimizers/dspy_utils.py
  mlflow/genai/judges/utils.py
  mlflow/genai/judges/utils/__init__.py
  mlflow/genai/judges/utils/parsing_utils.py
  mlflow/genai/judges/utils/prompt_utils.py
  mlflow/genai/judges/utils/tool_calling_utils.py
  tests/genai/judges/adapters/__init__.py
  tests/genai/judges/adapters/test_databricks_adapter.py
  tests/genai/judges/adapters/test_litellm_adapter.py
  tests/genai/judges/optimizers/test_dspy_utils.py
  tests/genai/judges/test_judge_utils.py
  tests/genai/judges/utils/__init__.py
  tests/genai/judges/utils/test_parsing_utils.py
  tests/genai/judges/utils/test_prompt_utils.py
  tests/genai/judges/utils/test_tool_calling_utils.py
  tests/telemetry/test_tracked_events.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Don't require structured outputs for make_judge (#18643)
  mlflow/genai/judges/make_judge.py
  tests/genai/judges/test_make_judge.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add telemetry tracking for AI command usage (#18595)
  docs/docs/community/usage-tracking.mdx
  mlflow/ai_commands/__init__.py
  mlflow/mcp/server.py
  mlflow/telemetry/events.py
  tests/telemetry/test_events.py
  tests/telemetry/test_tracked_events.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

revert conflict override
  docs/docs/genai/prompt-registry/optimize-prompts.mdx
  docs/docs/genai/prompt-registry/rewrite-prompts.mdx
  docs/src/components/Card/card.module.css
  docs/src/components/Card/index.tsx
  docs/src/css/custom.css
Due: normalize-chars, blacken-docs, clint, typos

Support automatically tracking session ID for LangGraph (#18608)
  docs/docs/genai/tracing/integrations/listing/langgraph.mdx
  docs/static/images/llms/tracing/langgraph-session-page.png
  docs/static/images/llms/tracing/langgraph-thread-id.png
  mlflow/langchain/langchain_tracer.py
  tests/langgraph/test_langgraph_autolog.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Categorize tracing integrations by type (Agent Frameworks, Model Providers, Tools) (#18601)
  docs/docs/genai/tracing/integrations/index.mdx
  docs/src/components/TracingIntegrations/index.tsx
Due: normalize-chars, blacken-docs, clint, typos

Fix llama index model logging with objects serialization (#18537)
  mlflow/llama_index/serialize_objects.py
  tests/llama_index/test_llama_index_tracer.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[Session View] Add "session" tag in single chat view header (#18626)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Toolbar.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Fix incorrect AssessmentSourceType.LLM in docstring examples (#18649)
  mlflow/tracing/assessment.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Display trace metadata (#18609)
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTrace.types.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceHeaderDetails.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceHeaderMetadataPill.tsx
Due: none

Fix timeout in plugin regression tests (#18663)
  tests/store/tracking/test_sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix judge trace handling (#18654)
  mlflow/genai/evaluation/harness.py
  mlflow/genai/utils/trace_utils.py
  tests/genai/evaluate/test_evaluation.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[Sessions UI Columns][1/5] Fix source cell rendering (#18656)
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/GenAIChatSessionsTable.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/cell-renderers/SessionSourceCellRenderer.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/utils.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/MlflowUtils.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/MlflowUtils.tsx
Due: none

Agent-as-a-judge support for default Databricks endpoint (#18709)
  mlflow/genai/judges/adapters/databricks_adapter.py
  mlflow/genai/judges/constants.py
  tests/genai/judges/test_make_judge.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix translation and add try catch (#18665)
  mlflow/tracing/otel/translation/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[Sessions UI] Improve rendering for chat turns without messages (#18681)
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/field-renderers/ModelTraceExplorerFieldRenderer.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/session-view/SingleChatTurnMessages.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerSummaryIntermediateNode.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerSummarySection.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerSummarySpans.tsx
Due: none

[Sessions UI] Link session ID column in main traces table to session view (#18664)
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/genai-traces-table/cellRenderers/rendererFunctions.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/MlflowUtils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceHeaderDetails.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceHeaderSessionIdTag.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/RoutingUtils.tsx
Due: none

[Sessions UI Columns][4/5] Add token count and turn count columns (#18659)
  mlflow/server/js/src/shared/web-shared/genai-traces-table/cellRenderers/TokensCell.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/GenAIChatSessionsTable.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/cell-renderers/SessionNumericCellRenderer.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/types.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/utils.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/utils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.test-utils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/constants.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/index.ts
Due: none

Update make judge documentation to avoid anti-patterns and add agent-as-a-judge (#18723)
  docs/docs/genai/eval-monitor/scorers/llm-judge/alignment.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/make-judge.mdx
Due: normalize-chars, blacken-docs, clint, typos

Fix `log_metric` to accept `mlflow.entities.Dataset` (#18585)
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update broken and outdated python testing related links in `CONTRIBUTING.md` (#18677)
  CONTRIBUTING.md
Due: normalize-chars, blacken-docs, clint, typos

Fix async generator handling in LlamaIndex tracer (#18504)
  mlflow/llama_index/tracer.py
  tests/llama_index/test_llama_index_tracer.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Hide top-level side nav while opening an experiment (#18705)
  mlflow/server/js/src/MlflowRouter.tsx
Due: none

[Side nav] Preserve query param state when navigating (#18679)
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/ExperimentPageSideNavSection.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/utils.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/GenAIChatSessionsTable.tsx
Due: none

[Sessions UI Columns][5/5] Persist column selection state (#18660)
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/GenAIChatSessionsTable.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/hooks/useSessionsTableColumnVisibility.tsx
Due: none

[Session View] Scroll to trace rather than open trace when clicking on sidebar (#18627)
  mlflow/server/js/src/experiment-tracking/pages/experiment-chat-sessions/single-chat-view/ExperimentSingleChatConversation.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-chat-sessions/single-chat-view/ExperimentSingleChatSessionPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-chat-sessions/single-chat-view/ExperimentSingleChatSessionSidebar.tsx
Due: none

Add new TS/JS integration docs (#18690)
  docs/docs/genai/tracing/app-instrumentation/typescript-sdk.mdx
  docs/docs/genai/tracing/integrations/listing/anthropic.mdx
  docs/docs/genai/tracing/integrations/listing/gemini.mdx
  docs/docs/genai/tracing/integrations/listing/langchain.mdx
  docs/docs/genai/tracing/integrations/listing/openai.mdx
Due: normalize-chars, blacken-docs, clint, typos

Add llms.txt plugin for AI-friendly documentation (#18676)
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
Due: normalize-chars

[Sessions UI Columns][3/5] Add column selector and sorting (#18658)
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/GenAIChatSessionsTable.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/GenAIChatSessionsToolbar.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/cell-renderers/SessionIdCellRenderer.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/cell-renderers/SessionSourceCellRenderer.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/types.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/utils.tsx
Due: none

UI: Support filtering by span content / type / name (#18683)
  mlflow/server/js/src/experiment-tracking/pages/experiment-chat-sessions/ExperimentChatSessionsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-chat-sessions/utils.tsx
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/filters/TableFilterItem.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useTableColumns.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/types.ts
Due: none

[Sessions UI Columns][2/5] Add duration columns (#18657)
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/GenAIChatSessionsTable.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/utils.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/utils.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/MlflowUtils.tsx
Due: none

Fix `mlflow.spark.load_model` to handle Unity Catalog Volumes paths correctly (#18672)
  mlflow/utils/uri.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Bump version of react-router-dom (#18689)
  mlflow/server/js/package.json
  mlflow/server/js/yarn.lock
Due: none

Revise prompt optimization documentation for clarity (#18579)
  docs/docs/genai/prompt-registry/optimize-prompts.mdx
Due: normalize-chars, blacken-docs, clint, typos
