Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

Install ddgs if smolagents >= 1.21.0
  mlflow/ml-package-versions.yml
Due: mlver

Comment
  mlflow/ml-package-versions.yml
Due: mlver

Update version
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: ruff, format, clint, mlver, typos

revert
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: ruff, format, clint, mlver, typos

fix
  mlflow/server/js/craco.config.js
Due: none

Implement link_traces_to_run in SQLAlchemy
  mlflow/entities/entity_type.py
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/client.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracking/_tracking_service/test_tracking_service_client.py
Due: ruff, format, clint, typos

rest store and handlers
  mlflow/server/handlers.py
  mlflow/store/tracking/rest_store.py
  tests/tracking/_tracking_service/test_tracking_service_client.py
Due: ruff, format, clint, typos

search_traces
  mlflow/entities/entity_type.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/client.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, clint, typos

minor
  mlflow/server/js/src/graphql/autogenerated_schema.gql
  tests/tracking/_tracking_service/test_tracking_service_client.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, clint, typos

Add error handling for s3 client errors
  mlflow/server/handlers.py
  mlflow/store/artifact/s3_artifact_repo.py
  tests/store/artifact/test_s3_artifact_repo.py
Due: ruff, format, clint, typos

Pass dev version to validate_requirements
  dev/set_matrix.py
Due: ruff, format, clint, typos

init
  libs/mcp/README.md
Due: blacken-docs, clint, typos

fix docs
  mlflow/genai/judges/builtin.py
  mlflow/genai/judges/prompts/context_sufficiency.py
  mlflow/genai/judges/prompts/correctness.py
  mlflow/genai/scorers/builtin_scorers.py
Due: ruff, format, clint, typos

fix tests
  docs/api_reference/api_inventory.txt
  tests/tracing/test_fluent.py
Due: ruff, format, clint, typos

Remove xethub extra
  dev/pyproject.py
  libs/skinny/pyproject.toml
  pyproject.release.toml
  pyproject.toml
Due: ruff, format, taplo, clint, typos

fix test
  mlflow/genai/judges/builtin.py
Due: ruff, format, clint, typos

Add memory span type (#17034)
  docs/docs/genai/tracing/concepts/span.mdx
  libs/typescript/core/src/core/constants.ts
  mlflow/crewai/autolog.py
  mlflow/entities/span.py
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTrace.types.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorerIcon.tsx
  tests/crewai/test_crewai_autolog.py
Due: ruff, format, blacken-docs, clint, typos

Fix jupyter notebook bundle (#17120)
  mlflow/server/js/craco.config.js
Due: none

Relax version validation logic
  dev/set_matrix.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: ruff, format, clint, mlver, typos

Do not continue
  dev/set_matrix.py
Due: ruff, format, clint, typos

fix
  mlflow/server/js/src/shared/web-shared/genai-traces-table/cellRenderers/RunName.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useGenAiExperimentRunsForComparison.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/FetchUtils.ts
Due: none

fix
  mlflow/server/graphql/graphql_schema_extensions.py
  mlflow/server/js/src/graphql/autogenerated_schema.gql
Due: ruff, format, clint, typos

Update warning section
  docs/docs/classic-ml/webhooks/index.mdx
Due: blacken-docs, clint, typos

fix
  mlflow/server/js/src/experiment-tracking/components/evaluations/EvaluationRunCompareSelector.tsx
  mlflow/server/js/src/experiment-tracking/components/evaluations/RunViewEvaluationsTab.tsx
  mlflow/server/js/src/experiment-tracking/components/evaluations/RunViewEvaluationsTabArtifacts.tsx
  mlflow/server/js/src/experiment-tracking/components/evaluations/constants.ts
  mlflow/server/js/src/experiment-tracking/components/evaluations/hooks/useCompareToRunUuid.tsx
  mlflow/server/js/src/experiment-tracking/components/evaluations/hooks/useRunLoggedTraceTableArtifacts.tsx
  mlflow/server/js/src/experiment-tracking/components/evaluations/hooks/useSavePendingEvaluationAssessments.tsx.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunPage.test.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunPage.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/hooks/useSearchRunsQuery.tsx
  mlflow/server/js/src/graphql/__generated__/graphql.ts
Due: none

fix
  mlflow/server/js/src/experiment-tracking/components/evaluations/RunViewEvaluationsTab.tsx
Due: none

Remove databricks-agents hard dependency in GenAI Evaluate
  .github/workflows/master.yml
  mlflow/genai/scorers/builtin_scorers.py
  mlflow/genai/scorers/validation.py
  mlflow/genai/utils/trace_utils.py
  tests/genai/conftest.py
  tests/genai/evaluate/test_evaluation.py
  tests/genai/evaluate/test_utils.py
  tests/genai/judges/conftest.py
  tests/genai/judges/test_builtin.py
  tests/genai/judges/test_custom_prompt_judge.py
  tests/genai/label_schemas/test_label_schemas.py
  tests/genai/labeling/test_labeling.py
  tests/genai/scorers/test_builtin_scorers.py
  tests/genai/scorers/test_scorer.py
  tests/genai/scorers/test_serialization.py
  tests/genai/scorers/test_validation.py
Due: ruff, format, clint, typos, conftest

fix
  mlflow/server/js/src/experiment-tracking/components/run-page/hooks/useSearchRunsQuery.tsx
Due: none

Migrate dev/set_matrix.py to Pydantic v2 using bump-pydantic (#17130)
  dev/set_matrix.py
Due: ruff, format, clint, typos

Improve warning
  docs/docs/classic-ml/webhooks/index.mdx
Due: blacken-docs, clint, typos

Ignore docs/api_reference/source/R-api.rst
  .pre-commit-config.yaml
Due: none

Just pin openai
  requirements/constraints.txt
Due: generate-requirements

Pin
  mlflow/ml-package-versions.yml
  requirements/constraints.txt
Due: generate-requirements, mlver

Update warning section (#17127)
  docs/docs/classic-ml/webhooks/index.mdx
Due: blacken-docs, clint, typos

Remove `ChatCompletionMessageToolCall` in llama_index test (#17125)
  mlflow/ml-package-versions.yml
Due: mlver
