Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/|charts/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        stages: [commit]
        log_file: .black.log

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [python, rst, markdown]
        stages: [commit]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=pylintrc"]
        stages: [commit]

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]

init
  docs/source/search-runs.rst
Due: blacken-docs

fix prettier
  mlflow/server/js/src/app.tsx
  mlflow/server/js/src/common/components/DarkThemeSwitch.tsx
  mlflow/server/js/src/common/hooks/useMLflowDarkTheme.tsx
  mlflow/server/js/src/common/utils/Utils.tsx
  mlflow/server/js/src/experiment-tracking/components/App.tsx
  mlflow/server/js/src/experiment-tracking/components/CompareRunView.tsx
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.test.tsx
  mlflow/server/js/src/experiment-tracking/components/ParallelCoordinatesPlotPanel.tsx
  mlflow/server/js/src/experiment-tracking/components/evaluation-artifacts-compare/EvaluationCreatePromptRunModal.tsx
  mlflow/server/js/src/experiment-tracking/components/evaluation-artifacts-compare/components/EvaluationCellEvaluateButton.tsx
  mlflow/server/js/src/model-registry/components/CreateModelForm.tsx
  mlflow/server/js/src/model-registry/components/SchemaTable.tsx
  mlflow/server/js/src/model-registry/types/model-schema.ts
  mlflow/server/js/src/shared/web-shared/design-system/index.tsx
Due: none

fix tests
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.test.tsx
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.tsx
  mlflow/server/js/src/model-registry/components/SchemaTable.test.tsx
Due: none

lint
  dev/proto_to_graphql/README.md
Due: blacken-docs

change promote model section
  docs/source/_static/images/oss_registry_5_version.png
  docs/source/model-registry.rst
Due: blacken-docs

wip
  docs/source/_static/images/oss_registry_6_version.png
  docs/source/model-registry.rst
Due: blacken-docs

update model registry screenshots
  docs/source/_static/images/oss_registry_3_overview.png
  docs/source/_static/images/oss_registry_4_model.png
  docs/source/_static/images/oss_registry_4b_model_alias.png
  docs/source/_static/images/oss_registry_5_version.png
Due: none

wip
  docs/source/_static/images/oss_registry_6_version.png
Due: none

Rewrite the search run doc
  docs/source/_static/images/search-runs/created-mlflow-runs.png
  docs/source/_static/images/search-runs/run-search-bar.png
  docs/source/search-runs.rst
Due: blacken-docs

Pin moto version to 4.2.x (#10858)
  requirements/test-requirements.txt
Due: none

prettier
  mlflow/server/js/src/app.tsx
  mlflow/server/js/src/common/components/DarkThemeSwitch.tsx
  mlflow/server/js/src/common/hooks/useMLflowDarkTheme.tsx
  mlflow/server/js/src/common/utils/Utils.tsx
  mlflow/server/js/src/experiment-tracking/components/App.tsx
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.test.tsx
  mlflow/server/js/src/experiment-tracking/components/HomeView.tsx
  mlflow/server/js/src/experiment-tracking/components/runs-charts/components/RunsMetricsLinePlot.tsx
  mlflow/server/js/src/model-registry/components/SchemaTable.tsx
  mlflow/server/js/src/model-registry/types/model-schema.ts
  mlflow/server/js/src/shared/web-shared/design-system/index.tsx
Due: none

resolve build issues
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.tsx
  mlflow/server/js/src/experiment-tracking/components/evaluation-artifacts-compare/components/EvaluationCreatePromptRunOutput.tsx
  mlflow/server/js/src/model-registry/components/CreateModelForm.tsx
  mlflow/server/js/src/model-registry/components/SchemaTable.tsx
  mlflow/server/js/src/model-registry/components/aliases/ModelVersionAliasTag.tsx
  mlflow/server/js/yarn.lock
Due: none

fix tests
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.test.tsx
  mlflow/server/js/src/experiment-tracking/components/HomeView.test.tsx
  mlflow/server/js/src/experiment-tracking/components/HomeView.tsx
  mlflow/server/js/src/model-registry/components/SchemaTable.test.tsx
Due: none

lint
  mlflow/server/js/src/experiment-tracking/reducers/ModelGatewayReducer.test.ts
Due: none

attempt to speed up yarn test by suppressing logs
  .github/workflows/js.yml
Due: none

Update Model Registry docs screenshots to feature new UI (#10862)
  docs/source/_static/images/oss_registry_3_overview.png
  docs/source/_static/images/oss_registry_4_model.png
  docs/source/_static/images/oss_registry_4b_model_alias.png
  docs/source/_static/images/oss_registry_5_version.png
  docs/source/_static/images/oss_registry_6_version.png
  docs/source/model-registry.rst
Due: blacken-docs

maybe fix test
  mlflow/server/js/src/experiment-tracking/components/run-page/overview/RunViewParamsTable.test.tsx
Due: none

Add unit tests for docker image building
  tests/pyfunc/test_docker.py
  tests/resources/dockerfile/Dockerfile_conda
  tests/resources/dockerfile/Dockerfile_default
  tests/resources/dockerfile/Dockerfile_enable_mlserver
  tests/resources/dockerfile/Dockerfile_install_mlflow
  tests/resources/dockerfile/Dockerfile_install_mlflow_from_mlflow_home
  tests/resources/dockerfile/Dockerfile_no_model_uri
  tests/resources/dockerfile/Dockerfile_with_mlflow_home
Due: black, blacken-docs, pylint

add to toctree
  docs/source/llms/transformers/index.rst
Due: blacken-docs

fix link
  docs/source/llms/index.rst
Due: blacken-docs

add notebook for prompt templating
  docs/source/llms/transformers/tutorials/prompt-templating/prompt-templating.ipynb
Due: none

add info sections to index.rsts
  docs/source/llms/transformers/guide/index.rst
  docs/source/llms/transformers/index.rst
Due: blacken-docs

fix notebook bullet point formatting and make it more clear that inference is done with pyfunc
  docs/source/llms/transformers/guide/index.rst
  docs/source/llms/transformers/tutorials/prompt-templating/prompt-templating.ipynb
Due: blacken-docs

finish notebook
  docs/source/llms/transformers/index.rst
  docs/source/llms/transformers/tutorials/prompt-templating/prompt-templating.ipynb
Due: blacken-docs

make the 2.10.0 indicator a note component
  docs/source/llms/transformers/guide/index.rst
Due: blacken-docs

address comments
  docs/source/llms/transformers/guide/index.rst
  docs/source/llms/transformers/index.rst
Due: blacken-docs

Refactor Gateway provider unimplemented endpoint errors (#10822)
  mlflow/gateway/providers/ai21labs.py
  mlflow/gateway/providers/anthropic.py
  mlflow/gateway/providers/base.py
  mlflow/gateway/providers/bedrock.py
  mlflow/gateway/providers/cohere.py
  mlflow/gateway/providers/huggingface.py
  mlflow/gateway/providers/mlflow.py
  mlflow/gateway/providers/mosaicml.py
  mlflow/gateway/providers/openai.py
  mlflow/gateway/providers/palm.py
  tests/gateway/providers/test_ai21labs.py
  tests/gateway/providers/test_anthropic.py
  tests/gateway/providers/test_huggingface.py
Due: black, blacken-docs, pylint

Add hf_transfer to sentence transformers test requirements
  mlflow/ml-package-versions.yml
Due: none

edit link in conclusion of notebook
  docs/source/llms/transformers/tutorials/prompt-templating/prompt-templating.ipynb
Due: none

rename to log_inputs_outputs
  mlflow/langchain/__init__.py
  mlflow/langchain/_langchain_autolog.py
  tests/langchain/test_langchain_autolog.py
Due: black, blacken-docs, pylint

Prompt template docs (#10836)
  docs/source/llms/index.rst
  docs/source/llms/transformers/guide/index.rst
  docs/source/llms/transformers/index.rst
  docs/source/llms/transformers/tutorials/prompt-templating/prompt-templating.ipynb
Due: blacken-docs

Add hf_transfer to sentence transformers test requirements (#10867)
  mlflow/ml-package-versions.yml
Due: none
