Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|ts|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

Add additional CI environment detection for telemetry exclusion (#17692)
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/utils.py
Due: ruff, format, blacken-docs, clint, typos

Remove tqdm import and usage from make_genai_metric function
  mlflow/metrics/genai/genai_metric.py
Due: ruff, format, clint, typos

Add docs for make_judge (#17690)
  docs/docs/genai/concepts/scorers.mdx
  docs/docs/genai/eval-monitor/scorers/custom.mdx
  docs/docs/genai/eval-monitor/scorers/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/agent-behavior-patterns.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/agentic-overview.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/alignment.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/datasets.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/guidelines.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/make-judge.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/prompt.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/trace-analysis.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/workflow.mdx
  docs/sidebarsGenAI.ts
Due: blacken-docs, clint, typos

Fix Bedrock Anthropic tests by adding required anthropic_version field
  tests/gateway/providers/test_bedrock.py
Due: ruff, format, clint, typos

Improve CLAUDE.md Creating Pull Requests section guidance (#17745)
  CLAUDE.md
Due: blacken-docs, clint, typos

Remove duplicate redirects from the config file (#17706)
  docs/docusaurus.config.ts
Due: none

update genai evaluate
  mlflow/genai/evaluation/base.py
  mlflow/genai/evaluation/entities.py
  mlflow/genai/evaluation/utils.py
  mlflow/genai/utils/trace_utils.py
  tests/genai/evaluate/test_evaluation.py
  tests/genai/evaluate/test_utils.py
  tests/genai/evaluation/test_entities.py
  tests/genai/utils/test_trace_utils.py
Due: ruff, format, clint, typos

avoid warnings when setting tags
  mlflow/genai/evaluation/harness.py
  tests/genai/evaluate/test_evaluation.py
Due: ruff, format, clint, typos

no tqdm
  mlflow/metrics/genai/genai_metric.py
Due: ruff, format, clint, typos

Add pathlib style guide section
  dev/guides/python.md
Due: blacken-docs, clint, typos

Revert "Make Spark Datasource failures silent (#17741)"
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/DatasourceAttributeExtractor.scala
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/ExceptionUtils.scala
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/MlflowAutologEventPublisher.scala
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/ReplAwareSparkDataSourceListener.scala
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/SparkDataSourceListener.scala
Due: none

Update CLAUDE.md with concise testing commands for optional dependencies and extras (#17749)
  CLAUDE.md
Due: blacken-docs, clint, typos

[OTel UI] Hide empty tabs in trace UI (#17733)
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/GenAiEvaluationTracesReview.utils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorerDetailView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorerViewStateContext.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/right-pane/ModelTraceExplorerRightPaneTabs.tsx
Due: none

[OTel UI] Hide empty columns in trace table (#17731)
  mlflow/server/js/src/experiment-tracking/components/evaluations/RunViewEvaluationsTab.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.intg.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/utils/columnUtils.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.tsx
Due: none

Replace ThreadPoolExecutor with sequential loops in genai_metric.py
  mlflow/metrics/genai/genai_metric.py
Due: ruff, format, clint, typos

Fix Spark dataset test approx_count handling for cross-platform compatibility
  tests/data/test_spark_dataset.py
Due: ruff, format, clint, typos

[OTel UI] Make Trace ID clickable in trace table (#17729)
  mlflow/server/js/src/shared/web-shared/genai-traces-table/cellRenderers/rendererFunctions.tsx
Due: none

fixes
  mlflow/server/js/src/experiment-tracking/components/evaluations/RunViewEvaluationsTab.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.intg.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/utils/columnUtils.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/index.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.test-utils.ts
Due: none

comment
  tests/genai/evaluate/test_evaluation.py
Due: ruff, format, clint, typos

comments
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/fluent.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, clint, typos

Fix pytest environment variable type warnings across codebase and add prevention mechanism (#17747)
  pyproject.toml
  tests/evaluate/test_evaluation.py
  tests/store/tracking/test_rest_store.py
  tests/tracing/display/test_ipython.py
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, taplo, clint, typos

Judges - support aligning judges that read fields from traces, include expectations (#17703)
  mlflow/genai/judges/instructions_judge/__init__.py
  mlflow/genai/judges/optimizers/dspy.py
  mlflow/genai/judges/optimizers/dspy_utils.py
  tests/genai/judges/optimizers/conftest.py
  tests/genai/judges/optimizers/test_dspy_base.py
  tests/genai/judges/optimizers/test_dspy_utils.py
Due: ruff, format, clint, typos

Add Autologging event (#17660)
  docs/docs/community/usage-tracking.mdx
  mlflow/ag2/__init__.py
  mlflow/agno/__init__.py
  mlflow/anthropic/__init__.py
  mlflow/autogen/__init__.py
  mlflow/bedrock/__init__.py
  mlflow/crewai/__init__.py
  mlflow/dspy/autolog.py
  mlflow/gemini/__init__.py
  mlflow/groq/__init__.py
  mlflow/langchain/autolog.py
  mlflow/litellm/__init__.py
  mlflow/llama_index/autolog.py
  mlflow/mistral/__init__.py
  mlflow/openai/autolog.py
  mlflow/pydantic_ai/__init__.py
  mlflow/semantic_kernel/__init__.py
  mlflow/smolagents/__init__.py
  mlflow/strands/__init__.py
  mlflow/telemetry/events.py
  mlflow/telemetry/track.py
  mlflow/tracking/fluent.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos

Fix output format duplication in agent judge template (#17704)
  mlflow/genai/judges/instructions_judge/__init__.py
  tests/genai/judges/test_make_judge.py
Due: ruff, format, clint, typos

Haystack Integration (#17371)
  conftest.py
  dev/pyproject.py
  docs/api_reference/api_inventory.txt
  docs/api_reference/source/python_api/mlflow.haystack.rst
  docs/docs/genai/tracing/integrations/listing/haystack.mdx
  docs/src/components/TracingIntegrations/index.tsx
  docs/static/images/llms/haystack/haystack-basic-tracing.png
  docs/static/images/llms/haystack/haystack-tracing.png
  docs/static/images/logos/haystack-logo.png
  examples/haystack/tracing.py
  libs/tracing/pyproject.toml
  mlflow/__init__.py
  mlflow/haystack/__init__.py
  mlflow/haystack/autolog.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  mlflow/tracking/fluent.py
  requirements/doc-requirements.txt
  requirements/extra-ml-requirements.txt
  tests/haystack/test_haystack_tracing.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, typos

remove warnings from trace template - based judges (#17685)
  mlflow/genai/judges/instructions_judge/__init__.py
  tests/genai/judges/test_make_judge.py
Due: ruff, format, clint, typos

Markdown UI fix (#17725)
  mlflow/server/js/src/common/components/EditableNote.test.tsx
  mlflow/server/js/src/common/components/EditableNote.tsx
Due: none

Make Spark Datasource failures silent (#17741)
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/DatasourceAttributeExtractor.scala
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/ExceptionUtils.scala
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/MlflowAutologEventPublisher.scala
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/ReplAwareSparkDataSourceListener.scala
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/SparkDataSourceListener.scala
Due: none

Remove create_dataset decorator (#17687)
  mlflow/genai/datasets/__init__.py
Due: ruff, format, clint, typos

Updated the quickstart guide to match v3.3.2 (#17629)
  docs/docs/classic-ml/tracking/quickstart/index.mdx
  docs/static/images/tutorials/introductory/quickstart-tracking/quickstart-our-experiment-models-tab.png
  docs/static/images/tutorials/introductory/quickstart-tracking/quickstart-our-experiment.png
  docs/static/images/tutorials/introductory/quickstart-tracking/quickstart-our-model.png
  docs/static/images/tutorials/introductory/quickstart-tracking/quickstart-our-run.png
Due: blacken-docs, clint, typos

Check imports when get_logged_model (#17691)
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/events.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos

Conditionally apply create ExperimentViewRunsTable column by selected… (#17669)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/runs/ExperimentViewRunsTable.enzyme.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/runs/ExperimentViewRunsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/experimentPage.column-utils.enzyme.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/experimentPage.column-utils.tsx
Due: none

remove name and outputs
  tests/genai/evaluate/test_evaluation.py
Due: ruff, format, clint, typos

update
  .github/workflows/master.yml
  tests/genai/scorers/test_scorer.py
Due: ruff, format, clint, typos, conftest

fix
  tests/tracing/test_tracing_client.py
Due: ruff, format, clint, typos

type hints
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracking/test_client.py
Due: ruff, format, clint, typos
