Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Remove numpy<2 pin for pmdarima compatibility (#18933)
  .github/actions/py-cache-key/action.yml
  .github/workflows/master.yml
  mlflow/ml-package-versions.yml
  requirements/extra-ml-requirements.txt
Due: normalize-chars, mlver, conftest

Migrate Python job in master.yml workflow to uv
  .github/workflows/master.yml
Due: normalize-chars, conftest

Fix: use multiple --extra flags instead of comma-separated syntax
  .github/workflows/master.yml
Due: normalize-chars, conftest

Add installation ID telemetry (#18881)
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/client.py
  mlflow/telemetry/installation_id.py
  mlflow/telemetry/schemas.py
  tests/telemetry/test_client.py
  tests/telemetry/test_installation_id.py
  tests/telemetry/test_track.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Improve readiblity by adjusting sidebar layout & style. Signed-off-by: Kevin Lin <kevin.lin@databricks.com>
  docs/src/css/custom.css
Due: normalize-chars

Improve readablity by adjusting sidebar layout & style. Signed-off-by: Kevin Lin <kevin.lin@databricks.com>
  docs/src/css/custom.css
Due: normalize-chars

fix?
  tests/langchain/conftest.py
  tests/langchain/test_langchain_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix v1/traces endpoint to return protobuf instead of JSON (#18929)
  mlflow/server/otel_api.py
  tests/tracing/test_otel_logging.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove redundant log messages from database migrations (#18938)
  mlflow/store/db_migrations/versions/2b4d017a5e9b_add_model_registry_tables_to_db.py
  mlflow/store/db_migrations/versions/89d4b8295536_create_latest_metrics_table.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[Bug]Fix model uri underscore (#18849)
  mlflow/metrics/genai/model_utils.py
  tests/metrics/genai/test_model_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix filterwarning pattern for filesystem backend deprecation (#18939)
  pyproject.toml
Due: normalize-chars, taplo, uv-lock

Fix autoformat workflow to detect docs directory changes (#18942)
  .github/workflows/autoformat.yml
Due: normalize-chars, conftest

Enable ruff preview features and fix all reported issues (#18940)
  docs/docs/genai/flavors/openai/notebooks/openai-code-helper.ipynb
  mlflow/projects/docker.py
  mlflow/projects/kubernetes.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/types/llm.py
  mlflow/utils/file_utils.py
  pyproject.toml
  tests/projects/test_docker_projects.py
  tests/pyfunc/docker/conftest.py
  tests/sagemaker/test_cli.py
  tests/store/tracking/__init__.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/utils/test_uri.py
Due: normalize-chars, ruff, format, clint, taplo, typos, check-init-py, uv-lock

single page
  docs/docs/classic-ml/traditional-ml/xgboost/guide/index.mdx
  docs/docs/classic-ml/traditional-ml/xgboost/index.mdx
  docs/docusaurus.config.ts
  docs/sidebarsClassicML.ts
Due: normalize-chars, blacken-docs, clint, typos

single page
  docs/docs/classic-ml/traditional-ml/sklearn/guide/index.mdx
  docs/docs/classic-ml/traditional-ml/sklearn/index.mdx
  docs/docusaurus.config.ts
  docs/sidebarsClassicML.ts
Due: normalize-chars, blacken-docs, clint, typos

lint
  docs/docusaurus.config.ts
Due: normalize-chars

Cleanup XGBoost docs (#18790)
  docs/docs/classic-ml/traditional-ml/xgboost/guide/index.mdx
  docs/docs/classic-ml/traditional-ml/xgboost/index.mdx
  docs/docs/classic-ml/traditional-ml/xgboost/quickstart/quickstart-xgboost.ipynb
  docs/docusaurus.config.ts
  docs/sidebarsClassicML.ts
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

[ML-59305] Create new session-level builtin judge UserFrustration
  mlflow/genai/judges/instructions_judge/__init__.py
  mlflow/genai/judges/prompts/user_frustration.py
  mlflow/genai/scorers/__init__.py
  mlflow/genai/scorers/builtin_scorers.py
  tests/genai/scorers/test_builtin_scorers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Cleanup scikit-learn docs (#18794)
  docs/docs/classic-ml/traditional-ml/sklearn/guide/index.mdx
  docs/docs/classic-ml/traditional-ml/sklearn/index.mdx
  docs/docs/classic-ml/traditional-ml/sklearn/quickstart/quickstart-sklearn.ipynb
  docs/docusaurus.config.ts
  docs/sidebarsClassicML.ts
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Update test cases
  mlflow/types/responses.py
  tests/pyfunc/test_responses_agent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Formatting
  mlflow/types/responses.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Formatting.
  docs/src/css/custom.css
Due: normalize-chars

[ML-59303] Add helper functions for multi-turn evaluation session processing (#18898)
  mlflow/genai/evaluation/utils.py
  mlflow/genai/utils/trace_utils.py
  tests/genai/evaluate/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Reconcile changes from universe with OSS
  mlflow/server/js/.eslintrc.js
  mlflow/server/js/.yarnrc.yml
  mlflow/server/js/package.json
  mlflow/server/js/prettier.config.js
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/tsconfig.json
  mlflow/server/js/yarn.lock
  mlflow/server/js/yarn/releases/yarn-4.9.1.cjs
Due: none

[Doc] Improve readablity by adjusting sidebar layout & style (#18937)
  docs/src/css/custom.css
Due: normalize-chars

Add workspace database schema (#18909)
  docs/api_reference/api_inventory.txt
  mlflow/entities/__init__.py
  mlflow/entities/workspace.py
  mlflow/store/db_migrations/versions/1b5f0d9ad7c1_add_workspace_columns_and_catalog.py
  mlflow/store/model_registry/dbmodels/models.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/workspace/__init__.py
  mlflow/store/workspace/dbmodels/__init__.py
  mlflow/store/workspace/dbmodels/models.py
  mlflow/utils/workspace_utils.py
  tests/db/check_migration.py
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/db/test_schema.py
  tests/db/test_workspace_migration.py
  tests/resources/db/latest_schema.sql
  tests/store/tracking/test_sqlalchemy_store_schema.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Migrate Python job in master.yml workflow to uv (#18934)
  .github/workflows/master.yml
Due: normalize-chars, conftest

Use useBaseUrl for video src attributes
  docs/docs/classic-ml/deep-learning/index.mdx
  docs/docs/classic-ml/deep-learning/pytorch/index.mdx
  docs/docs/classic-ml/deep-learning/tensorflow/index.mdx
  docs/docs/classic-ml/getting-started/index.mdx
  docs/docs/classic-ml/traditional-ml/index.mdx
  docs/docs/classic-ml/traditional-ml/tutorials/hyperparameter-tuning/part1-child-runs/index.mdx
  docs/docs/classic-ml/traditional-ml/tutorials/hyperparameter-tuning/part2-logging-plots/index.mdx
  docs/docs/genai/concepts/evaluation-datasets.mdx
  docs/docs/genai/datasets/index.mdx
  docs/docs/genai/eval-monitor/index.mdx
  docs/docs/genai/eval-monitor/legacy-llm-evaluation.mdx
  docs/docs/genai/flavors/dspy/index.mdx
  docs/docs/genai/flavors/langchain/autologging.mdx
  docs/docs/genai/flavors/openai/autologging/index.mdx
  docs/docs/genai/tracing/app-instrumentation/automatic.mdx
  docs/docs/genai/tracing/app-instrumentation/manual-tracing.mdx
  docs/docs/genai/tracing/attach-tags/index.mdx
  docs/docs/genai/tracing/collect-user-feedback/index.mdx
  docs/docs/genai/tracing/index.mdx
  docs/docs/genai/tracing/integrations/listing/crewai.mdx
  docs/docs/genai/tracing/integrations/listing/dspy.mdx
  docs/docs/genai/tracing/integrations/listing/langchain.mdx
  docs/docs/genai/tracing/integrations/listing/langgraph.mdx
  docs/docs/genai/tracing/integrations/listing/llama_index.mdx
  docs/docs/genai/tracing/integrations/listing/openai.mdx
  docs/docs/genai/tracing/integrations/listing/vercelai.mdx
  docs/docs/genai/tracing/lightweight-sdk.mdx
  docs/docs/genai/tracing/observe-with-traces/ui.mdx
  docs/docs/genai/tracing/quickstart.mdx
  docs/docs/genai/tracing/track-users-sessions/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Fix useBaseUrl import placement in MDX files
  docs/docs/genai/concepts/evaluation-datasets.mdx
  docs/docs/genai/datasets/index.mdx
  docs/docs/genai/eval-monitor/index.mdx
  docs/docs/genai/flavors/dspy/index.mdx
  docs/docs/genai/flavors/langchain/autologging.mdx
  docs/docs/genai/tracing/app-instrumentation/automatic.mdx
  docs/docs/genai/tracing/app-instrumentation/manual-tracing.mdx
  docs/docs/genai/tracing/attach-tags/index.mdx
  docs/docs/genai/tracing/collect-user-feedback/index.mdx
  docs/docs/genai/tracing/index.mdx
  docs/docs/genai/tracing/lightweight-sdk.mdx
  docs/docs/genai/tracing/observe-with-traces/ui.mdx
  docs/docs/genai/tracing/track-users-sessions/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

address comments
  mlflow/server/js/CLAUDE.md
  mlflow/server/js/package.json
  mlflow/server/js/src/common/utils/FeatureUtils.ts
  mlflow/server/js/src/experiment-tracking/components/DetailsOverviewParamsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/ExperimentListTable.tsx
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactLoggedTableView.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-logged-models/ExperimentLoggedModelDetailsMetricsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-logged-models/ExperimentLoggedModelDetailsRunsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/runs/ExperimentViewRunsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-prompts/ExperimentLinkedPromptsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewOverview.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/overview/RunViewMetricsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/runs-charts/components/charts/DifferenceViewPlot.tsx
  mlflow/server/js/src/experiment-tracking/components/traces/TracesViewTable.tsx
  mlflow/server/js/src/experiment-tracking/hooks/useExperimentTrackingDetailsPageLayoutStyles.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsTable.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptVersionsTable.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTable.tsx
  mlflow/server/js/src/graphql/autogenerated_schema.gql
  mlflow/server/js/src/model-registry/components/ModelVersionTable.tsx
  mlflow/server/js/src/model-registry/components/model-list/ModelListTable.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/EvaluationsOverviewColumnSelector.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/GenAiEvaluationTracesReviewModal.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/filters/TableFilterItem.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/types.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/DisplayUtils.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/MlflowUtils.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/RoutingUtils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPane.utils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/routes.ts
Due: blacken-docs, clint, typos

Fix blank line in markdown table
  docs/docs/genai/tracing/collect-user-feedback/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Format table columns with prettier
  docs/docs/genai/tracing/collect-user-feedback/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

resync yarn.lock
  mlflow/server/js/yarn.lock
Due: none

Run prettier to fix formatting
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTable.tsx
Due: none

Clean up
  docs/docs/genai/tracing/lightweight-sdk.mdx
  docs/docs/genai/tracing/quickstart.mdx
Due: normalize-chars, blacken-docs, clint, typos

Revert external URLs back to GIF format
  docs/docs/genai/tracing/prod-tracing.mdx
  docs/docs/self-hosting/security/sso.mdx
Due: normalize-chars, blacken-docs, clint, typos

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
