Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

Minor improvement in the doc format (#16952)
  docs/docs/genai/tracing/app-instrumentation/automatic.mdx
  docs/docs/genai/tracing/index.mdx
  docs/docs/genai/tracing/integrations/index.mdx
  docs/docs/genai/tracing/integrations/listing/semantic_kernel.mdx
  docs/sidebarsGenAI.ts
  docs/src/components/Card/card.module.css
  docs/src/components/Card/index.tsx
  docs/src/components/TracingIntegrations/index.tsx
Due: blacken-docs, clint, typos

Add support for uv as an environment manager in mlflow run (#16274)
  mlflow/projects/__init__.py
  mlflow/projects/backend/local.py
  mlflow/utils/cli_args.py
  tests/projects/test_projects_cli.py
  tests/projects/test_virtualenv_projects.py
Due: ruff, format, clint, typos

Add notebook conversion note in doc readme (#16903)
  docs/README.md
Due: blacken-docs, clint, typos

ChatAgent: allow empty string content (#16877)
  mlflow/types/agent.py
  tests/pyfunc/test_chat_agent_validation.py
Due: ruff, format, clint, typos

Fix set_destination (#16981)
  mlflow/tracing/provider.py
  tests/tracing/test_provider.py
Due: ruff, format, clint, typos

Support multi-turn messages in optimize_prompt (#17027)
  mlflow/genai/optimize/optimizers/dspy_mipro_optimizer.py
  mlflow/genai/optimize/optimizers/utils/dspy_mipro_callback.py
  mlflow/genai/optimize/optimizers/utils/dspy_mipro_utils.py
  mlflow/genai/optimize/optimizers/utils/dspy_optimizer_utils.py
  mlflow/genai/optimize/types.py
  tests/genai/optimize/optimizers/utils/test_dspy_mipro_callback.py
  tests/genai/optimize/optimizers/utils/test_dspy_mipro_utils.py
  tests/genai/optimize/optimizers/utils/test_dspy_optimizer_utils.py
Due: ruff, format, clint, typos

Replace Scheduled Scorers API to a Scorer Registration System (#16977)
  mlflow/genai/__init__.py
  mlflow/genai/scheduled_scorers.py
  mlflow/genai/scorers/__init__.py
  mlflow/genai/scorers/base.py
  mlflow/genai/scorers/builtin_scorers.py
  mlflow/genai/scorers/registry.py
  tests/genai/scorers/test_registered_scorers.py
  tests/genai/test_genai_import_without_agent_sdk.py
Due: ruff, format, clint, typos

Fix lang localization json file key mis-match with default en.json (#16987)
  mlflow/server/js/src/lang/de-DE.json
  mlflow/server/js/src/lang/es-ES.json
  mlflow/server/js/src/lang/fr-FR.json
  mlflow/server/js/src/lang/it-IT.json
  mlflow/server/js/src/lang/ja-JP.json
  mlflow/server/js/src/lang/ko-KR.json
  mlflow/server/js/src/lang/pt-BR.json
  mlflow/server/js/src/lang/pt-PT.json
  mlflow/server/js/src/lang/zh-CN.json
  mlflow/server/js/src/lang/zh-HK.json
  mlflow/server/js/src/lang/zh-TW.json
Due: none

Fix predict with pre-releases (#16998)
  docs/docs/classic-ml/model/dependencies/index.mdx
  docs/docs/classic-ml/model/index.mdx
  docs/docs/classic-ml/model/python_model.mdx
  mlflow/models/python_api.py
  mlflow/pyfunc/backend.py
  mlflow/utils/virtualenv.py
  tests/projects/test_projects_cli.py
Due: ruff, format, blacken-docs, clint, typos

Fix the type annotation for optimize_prompt (#17028)
  mlflow/genai/optimize/optimizers/base_optimizer.py
  mlflow/genai/optimize/optimizers/dspy_mipro_optimizer.py
  mlflow/genai/optimize/types.py
Due: ruff, format, clint, typos

Pass aggregation to legacy metric (#16989)
  mlflow/genai/evaluation/utils.py
  mlflow/genai/scorers/base.py
  tests/genai/evaluate/test_utils.py
Due: ruff, format, clint, typos

Prevent from tracing DSPy model API keys (#17021)
  mlflow/dspy/callback.py
Due: ruff, format, clint, typos

Remove `MLFLOW_ENABLE_TRACE_DUAL_WRITE_IN_MODEL_SERVING` env var. (#17017)
  mlflow/environment_variables.py
  mlflow/tracing/export/inference_table.py
  mlflow/tracing/processor/mlflow_v3.py
  tests/langchain/test_langchain_model_export.py
  tests/tracing/export/test_inference_table_exporter.py
Due: ruff, format, clint, typos

Fix model_validator (#17026)
  mlflow/types/responses.py
  mlflow/types/responses_helpers.py
  mlflow/utils/pydantic_utils.py
Due: ruff, format, clint, typos

Fix chat rendering for some flavors (#17047)
  mlflow/bedrock/_autolog.py
  mlflow/openai/_agent_tracer.py
  mlflow/openai/autolog.py
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/anthropic.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/anthropic.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/autogen.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/autogen.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/bedrock.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/bedrock.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/dspy.test-utils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/dspy.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/dspy.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/gemini.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/langchain.test-utils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/langchain.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/llamaindex.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/openai-agent.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/openai.test-utils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/openai.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/openai.ts
  tests/bedrock/test_bedrock_autolog.py
  tests/openai/test_openai_autolog.py
  tests/openai/test_openai_responses_autolog.py
Due: ruff, format, clint, typos

Fix experiment_id type (#17035)
  mlflow/store/tracking/sqlalchemy_store.py
Due: ruff, format, clint, typos

Fix typo in docstring (#17020)
  mlflow/tracking/fluent.py
Due: ruff, format, clint, typos

Add back chat attribute parsing if present (#17050)
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.tsx
Due: none

Update community page (#17003)
  docs/communitySidebar.ts
  docs/docs/community/index.mdx
  docs/docs/community/usage-tracking.mdx
  docs/docusaurus.config.ts
  docs/src/components/TileCard/index.tsx
  docs/src/components/TileCard/styles.module.css
  docs/src/css/custom.css
  docs/static/images/logos/x-logo-black.png
  docs/static/images/logos/x-logo-white.png
Due: blacken-docs, clint, typos

Disable eslint `no-nonnull-assertion` in tests (#17048)
  mlflow/server/js/.eslintrc.js
  mlflow/server/js/src/common/components/error-boundaries/SectionErrorBoundary.test.tsx
Due: none

Update index.mdx regarding a single Typo (#16999)
  docs/docs/classic-ml/deployment/deploy-model-locally/index.mdx
Due: blacken-docs, clint, typos

Fix pytorch datetime issue (#17030)
  mlflow/pytorch/__init__.py
  tests/pytorch/test_pytorch_model_export.py
Due: ruff, format, clint, typos

GenAI evaluation docstring fix (#17049)
  mlflow/genai/evaluation/base.py
Due: ruff, format, clint, typos

Add dependency extraction utility to replace deleted requirements.txt files
  dev/extract_deps.py
  tests/db/README.md
  tests/db/update_schemas.sh
Due: ruff, format, blacken-docs, clint, typos

Remove test_git_info_from_env_with_remote_name
  tests/genai/test_git_versioning.py
Due: ruff, format, clint, typos

Rename
  tests/genai/test_git_versioning.py
Due: ruff, format, clint, typos

More rename
  .github/workflows/master.yml
  .github/workflows/protos.yml
  dev/pyproject.py
Due: ruff, format, clint, typos, conftest

Revert test
  pyproject.release.toml
  pyproject.toml
  requirements/core-requirements.yaml
Due: taplo, generate-requirements

Improve type hints
  dev/pyproject.py
Due: ruff, format, clint, typos

Change print format in main function to output dependencies on separate lines
  dev/extract_deps.py
Due: ruff, format, clint, typos

Fix doc example of make_genai_metric_from_prompt (#16969)
  mlflow/metrics/genai/genai_metric.py
  requirements/doc-requirements.txt
Due: ruff, format, clint, generate-requirements, typos

Fix the doc strings for legacy genai eval classes (#16957)
  mlflow/metrics/genai/genai_metric.py
  mlflow/models/evaluation/utils/metric.py
Due: ruff, format, clint, typos
