Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

Support custom chat endpoint without endpoint type set as llm judge (#13538)
  mlflow/metrics/genai/genai_metric.py
  mlflow/metrics/genai/model_utils.py
  mlflow/pyfunc/model.py
  tests/evaluate/test_evaluation.py
  tests/metrics/genai/test_genai_metrics.py
  tests/metrics/genai/test_model_utils.py
Due: ruff, format, custom-python-lint

Fix dspy tests (#13562)
  tests/dspy/test_save.py
Due: ruff, format, custom-python-lint

Run flavors tests on Python 3.9 (#13578)
  .github/workflows/master.yml
Due: none

Make MLflow run thread-safe (#13456)
  docs/conftest.py
  mlflow/langchain/api_request_parallel_processor.py
  mlflow/tracking/_model_registry/registry.py
  mlflow/tracking/_model_registry/utils.py
  mlflow/tracking/_tracking_service/registry.py
  mlflow/tracking/_tracking_service/utils.py
  mlflow/tracking/fluent.py
  mlflow/utils/thread_utils.py
  tests/conftest.py
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, custom-python-lint

Dehardcode python versions in `tests/projects/test_docker_projects.py` (#13386)
  tests/utils/test_python_env.py
Due: ruff, format, custom-python-lint

Run recipes windows tests in Python 3.9 (#13587)
  .github/workflows/recipe.yml
Due: none

Keras output conversion for serving purpose (#13535)
  mlflow/keras/load.py
  tests/keras/test_save.py
Due: ruff, format, custom-python-lint

DSPy auto tracing (#13543)
  docs/source/_static/images/llms/tracing/dspy-tracing.png
  docs/source/llms/tracing/index.rst
  mlflow/dspy/__init__.py
  mlflow/dspy/autolog.py
  mlflow/dspy/callback.py
  mlflow/dspy/save.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  mlflow/utils/autologging_utils/__init__.py
  mlflow/utils/autologging_utils/versioning.py
  tests/dspy/test_dspy_autolog.py
  tests/dspy/test_save.py
Due: ruff, format, blacken-docs, custom-python-lint, mlver

Drop catboost dev test (#13563)
  mlflow/ml-package-versions.yml
Due: mlver

Run `build_doc` in Python 3.9 (#13589)
  .circleci/config.yml
  requirements/doc-min-requirements.txt
Due: none

Run transformers tests in Python 3.9 (#13559)
  dev/set_matrix.py
  mlflow/ml-package-versions.yml
  tests/transformers/test_transformers_autolog.py
Due: ruff, format, custom-python-lint, mlver

Remove `--quiet` in `_create_virtualenv` for better debugging (#13532)
  mlflow/utils/conda.py
  mlflow/utils/virtualenv.py
Due: ruff, format, custom-python-lint

Run `python3 dev/update_mlflow_versions.py post-release...` (#13554)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

Run windows tests in Python 3.9 (#13571)
  .github/actions/setup-python/action.yml
  .github/workflows/master.yml
  tests/types/test_schema.py
Due: ruff, format, custom-python-lint

Run `mlflow-recipes` notebooks in Python 3.9 (#13579)
  .circleci/config.yml
Due: none

Run examples in Python 3.9 (#13112)
  .github/workflows/examples.yml
  examples/diviner/python_env.yaml
  examples/fastai/python_env.yaml
  examples/flower_classifier/python_env.yaml
  examples/h2o/python_env.yaml
  examples/hyperparam/python_env.yaml
  examples/lightgbm/lightgbm_native/python_env.yaml
  examples/lightgbm/lightgbm_sklearn/python_env.yaml
  examples/multistep_workflow/python_env.yaml
  examples/paddle/python_env.yaml
  examples/pmdarima/python_env.yaml
  examples/prophet/python_env.yaml
  examples/pytorch/AxHyperOptimizationPTL/python_env.yaml
  examples/pytorch/BertNewsClassification/python_env.yaml
  examples/pytorch/CaptumExample/python_env.yaml
  examples/pytorch/IterativePruning/python_env.yaml
  examples/pytorch/MNIST/example2/python_env.yaml
  examples/pytorch/MNIST/python_env.yaml
  examples/pytorch/python_env.yaml
  examples/pytorch/torchscript/IrisClassification/python_env.yaml
  examples/pytorch/torchscript/MNIST/python_env.yaml
  examples/shap/multiclass_classification.py
  examples/sklearn_elasticnet_diabetes/linux/python_env.yaml
  examples/sklearn_elasticnet_diabetes/osx/python_env.yaml
  examples/sklearn_elasticnet_wine/conda.yaml
  examples/sklearn_elasticnet_wine/python_env.yaml
  examples/sklearn_logistic_regression/python_env.yaml
  examples/sktime/python_env.yaml
  examples/spacy/python_env.yaml
  examples/spacy/train.py
  examples/statsmodels/python_env.yaml
  examples/tensorflow/python_env.yaml
  examples/virtualenv/project/python_env.yaml
  examples/xgboost/xgboost_native/python_env.yaml
  examples/xgboost/xgboost_sklearn/python_env.yaml
  tests/examples/test_examples.py
Due: ruff, format, custom-python-lint

Pin transformers (#13533)
  .github/workflows/gateway.yml
  .github/workflows/master.yml
Due: none

Doc: Fix mlflow-spark JAR URL (#13396)
  mlflow/spark/__init__.py
Due: ruff, format, custom-python-lint

Fix mlflow.models.predict on serverless (#13516)
  mlflow/models/python_api.py
  mlflow/models/utils.py
  mlflow/pyfunc/scoring_server/__init__.py
  tests/models/test_python_api.py
Due: ruff, format, custom-python-lint

Run python tests on Python 3.9 (#13594)
  .github/workflows/master.yml
  tests/resources/example_docker_project/Dockerfile
Due: none

Update devcontainer to use Python 3.9 (#13602)
  .devcontainer/Dockerfile.devcontainer
  .devcontainer/README.md
  .devcontainer/requirements.txt
  .github/workflows/devcontainer.yml
Due: blacken-docs

Add more type hints to Model and ModelInfo (#13480)
  mlflow/models/model.py
  mlflow/models/utils.py
Due: ruff, format, custom-python-lint

Add new UC tool extraction support (#13567)
  mlflow/langchain/databricks_dependencies.py
  mlflow/ml-package-versions.yml
  tests/langchain/test_langchain_databricks_dependency_extraction.py
Due: ruff, format, custom-python-lint, mlver

[2.18 release-blocker] Fix spark autologging (#13599)
  mlflow/spark/__init__.py
  mlflow/spark/autologging.py
  mlflow/utils/autologging_utils/__init__.py
  mlflow/utils/autologging_utils/safety.py
  mlflow/utils/thread_utils.py
  tests/spark/autologging/datasource/test_spark_datasource_autologging.py
  tests/spark/autologging/datasource/test_spark_datasource_autologging_crossframework.py
  tests/spark/autologging/datasource/test_spark_datasource_autologging_order.py
  tests/spark/autologging/datasource/test_spark_disable_autologging.py
  tests/spark/autologging/ml/test_pyspark_ml_autologging.py
Due: ruff, format, custom-python-lint

Run `python3 dev/update_mlflow_versions.py post-release...` (#13622)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

Update text-generation.ipynb (#13627)
  docs/source/llms/transformers/tutorials/text-generation/text-generation.ipynb
Due: ruff, format

Remove `python-version: 3.9` for `setup-python` (#13596)
  .github/actions/setup-python/action.yml
  .github/workflows/examples.yml
  .github/workflows/master.yml
  .github/workflows/recipe.yml
Due: none

Update databricks env when running mlflow.models.predict (#13569)
  mlflow/langchain/__init__.py
  mlflow/models/python_api.py
  mlflow/pyfunc/scoring_server/__init__.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/environment.py
  tests/models/test_python_api.py
Due: ruff, format, custom-python-lint

Fix tracing source run (#13610)
  mlflow/langchain/api_request_parallel_processor.py
  mlflow/spark/autologging.py
  mlflow/tracing/processor/mlflow.py
  mlflow/tracking/fluent.py
  mlflow/utils/thread_utils.py
  tests/langchain/test_langchain_autolog.py
Due: ruff, format, custom-python-lint

Add Huggingfaces Evaluate BLEU metrics (#12799)
  docs/source/llms/llm-evaluate/index.rst
  docs/source/model-evaluation/index.rst
  docs/source/python_api/mlflow.metrics.rst
  mlflow/metrics/__init__.py
  mlflow/metrics/metric_definitions.py
  tests/evaluate/test_default_evaluator.py
  tests/metrics/test_metric_definitions.py
Due: ruff, format, blacken-docs, custom-python-lint

Use Python 3.10 in `Test requirements` workflow (#13601)
  .github/workflows/requirements.yml
Due: none

Fix `get_all_thread_values` type hint (#13623)
  mlflow/utils/thread_utils.py
Due: ruff, format, custom-python-lint

Remove unnecessary python version specifier (#13614)
  mlflow/ml-package-versions.yml
Due: mlver

Fix run ID handling in OAI autologging (#13611)
  mlflow/openai/_openai_autolog.py
  tests/openai/test_openai_autolog.py
Due: ruff, format, custom-python-lint

Remove the duplicated Gateway pages and provide redirects (#13595)
  docs/source/conf.py
  docs/source/llms/deployments/index.rst
  docs/source/llms/gateway/guides/index.rst
  docs/source/llms/gateway/guides/step1-create-gateway.rst
  docs/source/llms/gateway/guides/step2-query-gateway.rst
  docs/source/llms/gateway/index.rst
  docs/source/llms/index.rst
Due: ruff, format, blacken-docs, custom-python-lint

Corrected order of bad_character_message (#13593)
  mlflow/utils/validation.py
Due: ruff, format, custom-python-lint

fix regex for problemMatcher and uniform clint ruleID (#13629)
  .github/workflows/matchers/clint.json
  dev/clint/src/clint/rules.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
