Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

black:
  name: black
  entry: black
  language: system
  stages:
  - commit
  log_file: .black.log

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc
  stages:
  - commit

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit

lint
  mlflow/metrics/genai/base.py
  tests/metrics/genai/test_genai_metrics.py
Due: black, blacken-docs, pylint

fix
  mlflow/metrics/genai/genai_metric.py
Due: black, blacken-docs, pylint

dont wrap
  mlflow/metrics/genai/genai_metric.py
Due: black, blacken-docs, pylint

format
  mlflow/metrics/genai/genai_metric.py
  tests/metrics/genai/test_genai_metrics.py
Due: black, blacken-docs, pylint

Fix
  mlflow/metrics/genai/base.py
  tests/metrics/genai/test_genai_metrics.py
Due: black, blacken-docs, pylint

Fix lint again (#10191)
  mlflow/metrics/genai/base.py
  tests/metrics/genai/test_genai_metrics.py
Due: black, blacken-docs, pylint

Clean up
  .devcontainer/devcontainer.json
Due: none

Standardize capitalization in prompts (#10188)
  mlflow/metrics/genai/prompts/v1.py
Due: black, blacken-docs, pylint

Update schema's __repr__ to make it more readable (#10101)
  mlflow/types/schema.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Implement `__repr__` for easier test debugging (#9956)
  mlflow/types/schema.py
Due: black, blacken-docs, pylint

Objects and Array support in model signature (#9893)
  docs/source/conf.py
  mlflow/models/signature.py
  mlflow/types/schema.py
  mlflow/types/utils.py
  tests/models/test_signature.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
  tests/pyfunc/test_spark.py
  tests/tracking/fluent/test_fluent.py
  tests/tracking/test_rest_tracking.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Support schema inference for spark dataframe (#9955)
  mlflow/types/utils.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Add tests for pandas dataframe in `test_pyfunc_model_schema_enforcement_with_objects_and_arrays` (#10122)
  tests/pyfunc/test_pyfunc_schema_enforcement.py
Due: black, blacken-docs, pylint

Support spark dataframe containing array or object (#9969)
  examples/spark_udf/structs_and_arrays.py
  mlflow/models/utils.py
  mlflow/pyfunc/__init__.py
  tests/models/test_utils.py
  tests/pyfunc/test_spark.py
Due: black, blacken-docs, pylint

Update schema inference for objects and arrays (#9943)
  mlflow/models/signature.py
  mlflow/models/utils.py
  mlflow/transformers/__init__.py
  mlflow/types/schema.py
  mlflow/types/utils.py
  mlflow/utils/proto_json_utils.py
  tests/models/test_signature.py
  tests/models/test_utils.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
  tests/transformers/test_transformers_model_export.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Render new signature types in MLFlow Model UI (#10088)
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactLoggedModelView.tsx
  mlflow/server/js/src/model-registry/components/SchemaTable.test.tsx
  mlflow/server/js/src/model-registry/components/SchemaTable.tsx
  mlflow/server/js/src/model-registry/constants.tsx
  mlflow/server/js/src/model-registry/types/model-schema.ts
Due: none

Support objects & arrays in scoring server (#10094)
  mlflow/models/utils.py
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/scoring_server/__init__.py
  mlflow/transformers/__init__.py
  mlflow/types/schema.py
  mlflow/utils/proto_json_utils.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
  tests/transformers/test_transformers_model_export.py
  tests/utils/test_proto_json_utils.py
Due: black, blacken-docs, pylint

`_enforce_array` to return numpy array (#10183)
  mlflow/models/utils.py
  tests/models/test_utils.py
  tests/pyfunc/test_spark.py
Due: black, blacken-docs, pylint

Enrich unit tests for nested Array data type (#10125)
  mlflow/models/utils.py
  mlflow/types/utils.py
  tests/models/test_signature.py
  tests/models/test_utils.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Optimistically use MPU for http artifact repo (#9992)
  mlflow/entities/multipart_upload.py
  mlflow/environment_variables.py
  mlflow/exceptions.py
  mlflow/store/artifact/http_artifact_repo.py
  tests/store/artifact/test_http_artifact_repo.py
Due: black, blacken-docs, pylint

add tests for pyfunc predict and serving
  mlflow/models/utils.py
  mlflow/utils/proto_json_utils.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
Due: black, blacken-docs, pylint

Clean up test files for schema
  tests/types/test_schema.py
  tests/types/test_utils.py
Due: black, blacken-docs, pylint

A few more updates
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Due: none

Fix incorrect python setting location
  .devcontainer/devcontainer.json
Due: none

use pytest tmp_path annotation
  tests/store/tracking/test_sqlalchemy_store.py
Due: black, blacken-docs, pylint

refactor fixtures of sqlalchemy store test
  tests/store/tracking/test_sqlalchemy_store.py
Due: black, blacken-docs, pylint

fix lint
  mlflow/metrics/genai/base.py
  tests/metrics/genai/test_genai_metrics.py
Due: black, blacken-docs, pylint

refactor: clean up db uri related logic
  tests/store/tracking/test_sqlalchemy_store.py
Due: black, blacken-docs, pylint

Add warning to docs about onnx save and log argument (#10178)
  docs/source/models.rst
Due: blacken-docs

Add more retries for MPD and validate content length of chunk (#10113)
  mlflow/environment_variables.py
  mlflow/store/artifact/cloud_artifact_repo.py
  mlflow/store/artifact/databricks_models_artifact_repo.py
  mlflow/utils/file_utils.py
  mlflow/utils/request_utils.py
  tests/store/artifact/test_databricks_models_artifact_repo.py
  tests/utils/test_request_utils.py
Due: black, blacken-docs, pylint

change logger level for MPD retry from warning to debug
  mlflow/utils/file_utils.py
Due: black, blacken-docs, pylint

Complete commit tested
  docs/source/_static/images/tutorials/gateway/creating-first-gateway/chat.gif
  docs/source/_static/images/tutorials/gateway/creating-first-gateway/completions.gif
  docs/source/_static/images/tutorials/gateway/creating-first-gateway/embeddings.gif
  docs/source/_static/images/tutorials/gateway/creating-first-gateway/openai_api_key.gif
  docs/source/_static/images/tutorials/gateway/creating-first-gateway/start_gateway.gif
  docs/source/tutorials-and-examples/creating-first-gateway/index.rst
  docs/source/tutorials-and-examples/creating-first-gateway/step1-create-gateway.rst
  docs/source/tutorials-and-examples/creating-first-gateway/step2-query-gateway.rst
  docs/source/tutorials-and-examples/index.rst
Due: blacken-docs

Generating question dataset for retrieval evaluation (#9977)
  docs/source/index.rst
  docs/source/llms/index.rst
  docs/source/llms/rag/index.rst
  docs/source/llms/rag/notebooks/index.rst
  docs/source/llms/rag/notebooks/question-generation-retrieval-evaluation.ipynb
Due: blacken-docs

Add docs content for LLM landing page (#10080)
  docs/source/_static/images/logos/PaLM-logo.png
  docs/source/_static/images/logos/ai21labs-logo.svg
  docs/source/index.rst
  docs/source/llms/index.rst
  docs/source/traditional-ml/index.rst
  docs/theme/mlflow/static/css/custom.css
  docs/theme/mlflow/static/css/simple-cards.css
Due: blacken-docs

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  pylint: any of: \.py$
  rstcheck: any of: README.rst
