Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Wire the saved-view preview-override into the traces table
  .github/actions/check-component-ids/componentId-registry.js
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
  mlflow/server/js/src/lang/default/en.json
Due: normalize-chars

Mount the traces Views and Share buttons in the toolbar
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3View.tsx
Due: none

Fix CI lint and API inventory failures for OTel context PR
  docs/api_reference/api_inventory.txt
  tests/tracing/opentelemetry/test_integration.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review feedback on traces saved views
  .github/actions/check-component-ids/componentId-registry.js
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3SavedViews.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3SavedViews.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3View.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/traceSavedViewPreview.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/traceSavedViewPreview.tsx
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAITracesTableToolbar.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/EvaluationsOverviewColumnSelectorGrouped.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/EvaluationsOverviewSortDropdown.tsx
Due: normalize-chars

Run flaky-test detector only on Thursdays
  .github/workflows/flaky-test-detector.yml
Due: normalize-chars, conftest

Support Portkey routing configuration in the AI Gateway (#24398)
  docs/api_reference/api_inventory.txt
  docs/docs/genai/governance/ai-gateway/endpoints/model-providers.mdx
  mlflow/gateway/config.py
  mlflow/gateway/providers/portkey.py
  mlflow/server/gateway_api.py
  mlflow/server/js/src/gateway/utils/providerUtils.test.ts
  mlflow/server/js/src/gateway/utils/providerUtils.ts
  mlflow/utils/providers.py
  tests/gateway/providers/test_portkey.py
  tests/server/test_gateway_api.py
  tests/utils/test_providers.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 1a11a620e38a8631713e9b3d4dba0c0725dd0064
  dev/benchmarks/tracing/data.js
Due: normalize-chars

fix: use Base.metadata.create_all in _initialize_tables to avoid 'table already exists' error (closes #19943)
  mlflow/store/db/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor: extract shared pydantic ai autolog helpers
  mlflow/pydantic_ai/autolog.py
  mlflow/pydantic_ai/autolog_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor: isolate pydantic ai 1.x patch setup
  mlflow/pydantic_ai/__init__.py
  mlflow/pydantic_ai/autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat: trace pydantic ai 2 agent and model calls
  mlflow/pydantic_ai/__init__.py
  mlflow/pydantic_ai/autolog_v2.py
  tests/pydantic_ai/test_pydanticai_fluent_tracing.py
  tests/pydantic_ai/test_pydanticai_mcp_tracing.py
  tests/pydantic_ai/test_pydanticai_tracing.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat: trace pydantic ai 2 tool validation and execution
  mlflow/pydantic_ai/autolog_v2.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat: trace pydantic ai 2 MCP transport calls
  mlflow/pydantic_ai/autolog_v2.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

test: validate pydantic ai 2 lifecycle support
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, mlver, typos, check-init-py

fix: preserve pydantic ai legacy patch seams
  mlflow/pydantic_ai/__init__.py
  mlflow/pydantic_ai/autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

chore: support pydantic ai 2.15
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: normalize-chars, ruff, format, clint, mlver, typos, check-init-py

fix: support early pydantic ai 2 sync streams
  mlflow/pydantic_ai/autolog_v2.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: require pydantic ai 2.5 for autologging
  mlflow/ml-package-versions.yml
  mlflow/pydantic_ai/__init__.py
  mlflow/pydantic_ai/autolog_v2.py
  tests/pydantic_ai/test_pydanticai_autolog.py
Due: normalize-chars, ruff, format, clint, mlver, typos, check-init-py

refactor: trace pydantic ai validation error hook
  mlflow/pydantic_ai/autolog_v2.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: forward evolving pydantic ai hook arguments
  mlflow/pydantic_ai/autolog_v2.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat: allow non-fatal safe patch exceptions
  mlflow/utils/autologging_utils/safety.py
  tests/autologging/test_autologging_safety_unit.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: isolate pydantic ai hook instrumentation failures
  mlflow/pydantic_ai/autolog_v2.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

test: assert pydantic ai version warnings directly
  tests/pydantic_ai/test_pydanticai_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor: localize pydantic ai hook safety
  mlflow/pydantic_ai/autolog_v2.py
  mlflow/utils/autologging_utils/safety.py
  tests/autologging/test_autologging_safety_unit.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor: minimize pydantic ai v1 changes
  mlflow/pydantic_ai/__init__.py
  mlflow/pydantic_ai/autolog.py
  tests/pydantic_ai/test_pydanticai_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

style: remove redundant pydantic ai docstrings
  mlflow/pydantic_ai/autolog_v2.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for bdd0c77a1afbed6b1dadaba490bac334d13ef3b7
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Format OTel integration tests for pre-commit
  tests/tracing/opentelemetry/test_integration.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Run presigned authz test under NO_PERMISSIONS default
  tests/server/auth/test_auth.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Mirror artifacts-only grant fix in the known-workspace resolver
  mlflow/server/auth/__init__.py
  tests/server/auth/test_auth.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review: RBAC, dimming, endpoint resolution, and tests
  .github/actions/check-component-ids/componentId-registry.js
  docs/api_reference/api_inventory.txt
  mlflow/server/auth/__init__.py
  mlflow/server/auth/sqlalchemy_store.py
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/mcp-registry/components/AccessEndpointModal.tsx
  mlflow/server/js/src/mcp-registry/components/ExpandableListSection.tsx
  mlflow/server/js/src/mcp-registry/components/MCPServerAliasesCell.tsx
  mlflow/server/js/src/mcp-registry/components/MCPServerCard.test.tsx
  mlflow/server/js/src/mcp-registry/components/PackagesSubsection.tsx
  mlflow/server/js/src/mcp-registry/components/QuickConnectModal.tsx
  mlflow/server/js/src/mcp-registry/components/RemotesSubsection.tsx
  mlflow/server/js/src/mcp-registry/components/ServerJSONSection.test.tsx
  mlflow/server/js/src/mcp-registry/components/ServerJSONSection.tsx
  mlflow/server/js/src/mcp-registry/hooks/useCreateMCPServerVersionModal.tsx
  mlflow/server/js/src/mcp-registry/hooks/useCursorPaginatedQuery.test.tsx
  mlflow/server/js/src/mcp-registry/hooks/useCursorPaginatedQuery.ts
  mlflow/server/js/src/mcp-registry/hooks/useServerState.ts
  mlflow/server/js/src/mcp-registry/pages/MCPRegistryPage.test.tsx
  mlflow/server/js/src/mcp-registry/pages/MCPRegistryPage.tsx
  mlflow/server/js/src/mcp-registry/test-utils.ts
  mlflow/server/js/src/mcp-registry/types.ts
  mlflow/server/mcp_server_api.py
  tests/server/auth/test_auth.py
  tests/server/auth/test_mcp_server_auth.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor: centralize pydantic ai async hook gating
  mlflow/pydantic_ai/autolog_v2.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor: use safe patch for pydantic ai agent init
  mlflow/pydantic_ai/autolog_v2.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix RBAC permission query, pagination backfill, and UI cleanup
  mlflow/server/auth/__init__.py
  mlflow/server/auth/sqlalchemy_store.py
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/mcp-registry/components/MCPServerCard.tsx
  mlflow/server/js/src/mcp-registry/components/MCPServerListTable.tsx
  mlflow/server/js/src/mcp-registry/components/QuickConnectModal.tsx
  mlflow/server/js/src/mcp-registry/hooks/useCursorPaginatedQuery.ts
  mlflow/server/js/src/mcp-registry/hooks/useServerState.ts
  mlflow/server/js/src/mcp-registry/pages/MCPRegistryPage.test.tsx
  mlflow/server/js/src/mcp-registry/pages/MCPRegistryPage.tsx
  mlflow/server/js/src/mcp-registry/pages/MCPServerDetailPage.tsx
  mlflow/server/js/src/mcp-registry/utils.ts
  tests/server/auth/test_sqlalchemy_store_rbac.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[Model Registry] Migrate UC artifact download to native temp-creds
  mlflow/store/_unity_catalog/registry/uc_native_rest_store.py
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
  mlflow/store/artifact/unity_catalog_oss_models_artifact_repo.py
  mlflow/utils/_unity_catalog_utils.py
  tests/store/artifact/test_unity_catalog_models_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Align scorer versioning with managed API contract
  mlflow/genai/scorers/registry.py
  tests/genai/scorers/test_scorer_CRUD.py
  tests/genai/test_genai_import_without_agent_sdk.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix two LiteLLM-path bugs in the multimodal judge image turn
  mlflow/genai/judges/adapters/litellm_adapter.py
  mlflow/genai/judges/utils/tool_calling_utils.py
  tests/genai/judges/adapters/test_litellm_adapter.py
  tests/genai/judges/utils/test_tool_calling_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[4/N] Show session token usage and active provider in the Assistant composer (#24507)
  .github/actions/check-component-ids/componentId-registry.js
  mlflow/assistant/providers/claude_code.py
  mlflow/assistant/providers/codex.py
  mlflow/assistant/providers/openai_compatible.py
  mlflow/server/js/src/assistant/AssistantChatPanel.test.tsx
  mlflow/server/js/src/assistant/AssistantChatPanel.tsx
  mlflow/server/js/src/assistant/AssistantContext.test.tsx
  mlflow/server/js/src/assistant/AssistantContext.tsx
  mlflow/server/js/src/assistant/AssistantContextTags.tsx
  mlflow/server/js/src/assistant/AssistantService.ts
  mlflow/server/js/src/assistant/providerRegistry.ts
  mlflow/server/js/src/assistant/setup/SetupStepProvider.tsx
  mlflow/server/js/src/assistant/types.ts
  mlflow/server/js/src/lang/default/en.json
  tests/assistant/providers/test_claude_code_provider.py
  tests/assistant/providers/test_codex_provider.py
  tests/assistant/providers/test_openai_compatible_provider.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat(assistant): add composer gateway connection flow
  .github/actions/check-component-ids/componentId-registry.js
  mlflow/server/js/src/assistant/ApiKeyPrompt.tsx
  mlflow/server/js/src/assistant/AssistantChatPanel.test.tsx
  mlflow/server/js/src/assistant/AssistantChatPanel.tsx
  mlflow/server/js/src/assistant/AssistantContext.test.tsx
  mlflow/server/js/src/assistant/AssistantContext.tsx
  mlflow/server/js/src/assistant/AssistantService.ts
  mlflow/server/js/src/assistant/providerRegistry.ts
  mlflow/server/js/src/assistant/types.ts
  mlflow/server/js/src/lang/default/en.json
Due: normalize-chars

Show hosted Assistant providers as top-level options
  mlflow/server/js/src/assistant/AssistantChatPanel.test.tsx
  mlflow/server/js/src/assistant/AssistantChatPanel.tsx
Due: none
