Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

Migrate docs/llms/deployments/guides/step2-query-deployments/index.mdx page
  docs/docs/llms/deployments/guides/step2-query-deployments/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/llms/deployments/guides/step2-query-deployments.rst
Due: blacken-docs

comments
  .github/workflows/master.yml
  mlflow/models/signature.py
  mlflow/models/utils.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
  tests/pyfunc/test_pyfunc_model_with_type_hints.py
Due: ruff, format, custom-python-lint

comments
  mlflow/models/utils.py
Due: ruff, format, custom-python-lint

Migrate docs/llms/deployments/uc_integration/index.mdx page
  docs/docs/llms/deployments/uc_integration/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/llms/deployments/uc_integration.rst
Due: blacken-docs

nit
  mlflow/models/utils.py
Due: ruff, format, custom-python-lint

comment
  mlflow/pyfunc/__init__.py
  mlflow/types/type_hints.py
  tests/pyfunc/test_pyfunc_model_with_type_hints.py
  tests/types/test_type_hints.py
Due: ruff, format, custom-python-lint

Fix links to CLI reference (#14141)
  docs/docs/deployment/deploy-model-locally/index.mdx
  docs/docs/deployment/deploy-model-to-kubernetes/index.mdx
  docs/docs/deployment/deploy-model-to-kubernetes/tutorial/index.mdx
  docs/docs/deployment/deploy-model-to-sagemaker/index.mdx
  docs/docs/deployment/index.mdx
  docs/docs/llms/prompt-engineering/index.mdx
  docs/docs/llms/sentence-transformers/index.mdx
  docs/docs/model/dependencies/index.mdx
  docs/docs/model/models-from-code/index.mdx
  docs/docs/models/index.mdx
  docs/docs/plugins/index.mdx
  docs/docs/projects/index.mdx
  docs/docs/recipes/index.mdx
  docs/docs/tracking/artifacts-stores/index.mdx
  docs/docs/tracking/backend-stores/index.mdx
  docs/docs/tracking/tracking-api/index.mdx
Due: none

Update .github/workflows/labeling.yml
  .github/workflows/labeling.yml
Due: none

Replace `harupy/auto-labeling` with `actions/github-script` (#14128)
  .github/workflows/labeling.js
  .github/workflows/labeling.yml
Due: none

add unit test for rename model registry Signed-off-by: Mohamed khalil rouissi <mohamedkhalil.rouissi@gmail.com>
  tests/server/auth/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

Fix links in docs/llms/deployments/guides/index.mdx page
  docs/docs/llms/deployments/guides/index.mdx
Due: none

Add jwt authentication with user creation
  mlflow/server/auth/config.py
  mlflow/server/auth/jwt_auth.py
Due: ruff, format, custom-python-lint

fix
  mlflow/store/db_migrations/versions/0584bdc529eb_add_cascading_deletion_to_datasets_from_experiments.py
Due: ruff, format, custom-python-lint

make condition more specific
  mlflow/store/db_migrations/versions/0584bdc529eb_add_cascading_deletion_to_datasets_from_experiments.py
Due: ruff, format, custom-python-lint

init
  mlflow/utils/__init__.py
Due: ruff, format, custom-python-lint

init
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint

fix unitialized loaded_model var (#14109)
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Fix: inappropriately raising `ValueError` when `log_model`'s `input_example` param is a numpy array.
  mlflow/models/signature.py
Due: ruff, format, custom-python-lint

Mark trace API stable
  mlflow/tracing/fluent.py
  mlflow/tracking/client.py
Due: ruff, format, custom-python-lint

fix
  mlflow/store/db_migrations/versions/0584bdc529eb_add_cascading_deletion_to_datasets_from_experiments.py
  tests/db/check_migration.sh
Due: ruff, format, custom-python-lint

revert
  tests/db/check_migration.sh
Due: none

fix test
  mlflow/types/type_hints.py
Due: ruff, format, custom-python-lint

Update mlflow/utils/__init__.py
  mlflow/utils/__init__.py
Due: ruff, format, custom-python-lint

Autoformat: https://github.com/mlflow/mlflow/actions/runs/12460748909
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint

remove
  mlflow/store/db_migrations/versions/0584bdc529eb_add_cascading_deletion_to_datasets_from_experiments.py
Due: ruff, format, custom-python-lint

fix
  mlflow/models/utils.py
Due: ruff, format, custom-python-lint

fix spacy ci (#14147)
  mlflow/utils/__init__.py
Due: ruff, format, custom-python-lint

fix langchain ci (#14148)
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint

Autoformat: https://github.com/mlflow/mlflow/actions/runs/12461676218
  tests/dspy/test_dspy_autolog.py
  tests/dspy/test_save.py
Due: ruff, format, custom-python-lint

Use standard pydantic models in langchain
  mlflow/gateway/schemas/chat.py
  mlflow/langchain/langchain_tracer.py
  mlflow/langchain/utils/chat.py
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint

Record span message attribute
  mlflow/langchain/langchain_tracer.py
  mlflow/langchain/utils/chat.py
  tests/langchain/test_langchain_autolog.py
  tests/langchain/test_langchain_tracer.py
Due: ruff, format, custom-python-lint

Move gateway schema
  mlflow/gateway/schemas/chat.py
  mlflow/langchain/langchain_tracer.py
  mlflow/langchain/utils/chat.py
  mlflow/tracing/utils/__init__.py
  mlflow/types/chat.py
Due: ruff, format, custom-python-lint
