Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: clint
  language: system
  stages:
  - pre-commit
  require_serial: true

generate-requirements:
  name: generate-requirements
  entry: "python dev/generate_requirements.py\n  --package-names tracing skinny core gateway\n  --requirements-yaml-location requirements\n  --requirements-txt-output-location requirements\n"
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: dev/typos.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: conftest test --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

Revert "Fix response handling in log_spans (#18280)" (#18349)
  mlflow/store/tracking/databricks_rest_store.py
  requirements/test-requirements.txt
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, generate-requirements, typos

Revert "Add atomicity to job_start API (#18226)"
  mlflow/store/jobs/sqlalchemy_store.py
  tests/server/jobs/test_jobs.py
Due: ruff, format, clint, typos

Remove uv as a runtime dependency
  .github/workflows/master.yml
  dev/pyproject.py
  libs/skinny/pyproject.toml
  pyproject.release.toml
  pyproject.toml
  uv.lock
Due: ruff, format, taplo, clint, typos, conftest

init
  mlflow/server/jobs/utils.py
Due: ruff, format, clint, typos

update
  mlflow/server/jobs/utils.py
Due: ruff, format, clint, typos

test
  tests/server/test_init.py
Due: ruff, format, clint, typos

Handle Databricks FMAPI style in openai autolog
  mlflow/openai/autolog.py
  tests/openai/mock_openai.py
  tests/openai/test_openai_autolog.py
Due: ruff, format, clint, typos

update
  mlflow/server/jobs/utils.py
  tests/server/test_init.py
Due: ruff, format, clint, typos

update
  tests/server/test_init.py
Due: ruff, format, clint, typos

comment
  mlflow/openai/autolog.py
Due: ruff, format, clint, typos

Refresh cache
  .github/actions/py-cache-key/action.yml
Due: conftest

Dspy run display fix (#18137)
  docs/docs/genai/flavors/dspy/optimizer.mdx
  mlflow/dspy/autolog.py
  mlflow/dspy/util.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, blacken-docs, clint, typos

Increase max height of params/metrics boxes (#18306)
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewOverview.tsx
  mlflow/server/js/src/experiment-tracking/hooks/useExperimentTrackingDetailsPageLayoutStyles.tsx
Due: none

Log assessments to DSPy eval traces (#18136)
  mlflow/dspy/autolog.py
  mlflow/utils/autologging_utils/safety.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, clint, typos

Rename `location` to `location_id` in `SetTraceTag` and `DeleteTraceTag` (#18222)
  mlflow/protos/databricks_tracing.proto
  mlflow/protos/databricks_tracing_pb2.py
  mlflow/protos/databricks_tracing_pb2.pyi
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, lint-proto, typos

Fix missing description button in experiment header (#18208)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewManagementMenu.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewManagementMenu.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Fix ids in span to_dict and simplify search_traces (#18239)
  mlflow/entities/span.py
  mlflow/entities/trace_info.py
  mlflow/tracing/fluent.py
  mlflow/tracing/utils/search.py
  tests/entities/test_span.py
  tests/entities/test_trace.py
  tests/entities/test_trace_data.py
  tests/entities/test_trace_info.py
  tests/tracing/test_fluent.py
Due: ruff, format, clint, typos

Fix Postgres 18+ mount path in documentation (index.mdx only) (#18192)
  docs/docs/classic-ml/tracking/tutorials/remote-server/index.mdx
Due: blacken-docs, clint, typos

Update otel endpoint (#18310)
  mlflow/store/tracking/databricks_rest_store.py
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, typos

Allow passing empty scorer list for manual result comparison (#18265)
  mlflow/genai/scorers/validation.py
  tests/genai/evaluate/test_evaluation.py
  tests/genai/scorers/test_validation.py
Due: ruff, format, clint, typos

Fix "New" button options (#18277)
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
Due: none

Fetch config after adding first record (#18338)
  mlflow/telemetry/client.py
  tests/telemetry/conftest.py
  tests/telemetry/test_client.py
  tests/telemetry/test_track.py
Due: ruff, format, clint, typos

Fix type checking in truncation message extraction (#18249) (#18274)
  mlflow/tracing/utils/truncation.py
  tests/tracing/utils/test_truncation.py
Due: ruff, format, clint, typos

Fix typo in assessment endpoints (#18200)
  mlflow/store/tracking/databricks_rest_store.py
  mlflow/utils/rest_utils.py
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, typos

Add client-side retry for get_trace (#18224)
  mlflow/tracing/client.py
  mlflow/tracing/constant.py
  tests/tracing/test_tracing_client.py
Due: ruff, format, clint, typos

Mark flaky job tests with `xfail` (#18210)
  tests/server/jobs/test_jobs.py
Due: ruff, format, clint, typos

Fix agent-as-judge UI homepage link (#18273)
  mlflow/server/js/src/home/news-items.tsx
Due: none

Track assessment type (#18309)
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/events.py
  mlflow/tracing/assessment.py
  tests/telemetry/test_events.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos

Add batch trace link/unlink operations to DatabricksTracingRestStore (#18295)
  mlflow/store/tracking/databricks_rest_store.py
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, typos

Implement lazy logger initialization in `claude_code.tracing` (#18339)
  mlflow/claude_code/tracing.py
  tests/claude_code/test_tracing.py
Due: ruff, format, clint, typos

Call `get_experiment` within `set_experiment_trace_location` API to trigger init side effect. (#18225)
  mlflow/tracing/enablement.py
  tests/tracing/test_enablement.py
Due: ruff, format, clint, typos

Add `GENERATE_SOURCEMAP=false` to npm build script to reduce package size (#18185)
  mlflow/server/js/package.json
Due: none

Update claude code docs to reflect correct requirements (#18303)
  docs/docs/genai/tracing/integrations/listing/claude_code.mdx
Due: blacken-docs, clint, typos

Create `set_databricks_monitoring_sql_warehouse_id` API (#18346)
  docs/api_reference/api_inventory.txt
  mlflow/tracing/__init__.py
  mlflow/tracing/databricks.py
  tests/tracing/test_databricks.py
Due: ruff, format, clint, typos

Handle external GPT models for conversion logic (#18290)
  mlflow/types/responses.py
  tests/pyfunc/test_responses_agent.py
Due: ruff, format, clint, typos

Support evaluation dataset in _convert_to_eval_set (#18204)
  mlflow/genai/evaluation/utils.py
  tests/genai/evaluate/test_utils.py
Due: ruff, format, clint, typos

Fix missing metadata in ts sdk trace (#18178)
  .github/workflows/typescript.yml
  libs/typescript/core/src/core/constants.ts
  libs/typescript/core/src/exporters/mlflow.ts
  libs/typescript/core/tests/clients/client.test.ts
Due: conftest

Path conditions:
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  taplo: any of: \.toml$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  generate-requirements: any of: ^requirements/
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
