Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

Fix: KeyError: 'message' on llm/v1/completions invocation in MLFlow AI Gateway
  mlflow/gateway/providers/openai.py
Due: ruff, format, custom-python-lint

Fix
  mlflow/gateway/providers/openai.py
Due: ruff, format, custom-python-lint

Update libs/tracing/pyproject.toml
  libs/tracing/pyproject.toml
Due: taplo

add timestamp_ns as a tie breaker
  mlflow/telemetry/schemas.py
Due: ruff, format, custom-python-lint

Clean up manual-tracing guide
  docs/docs/genai/tracing/app-instrumentation/index.mdx
  docs/docs/genai/tracing/app-instrumentation/manual-tracing.mdx
  docs/docs/genai/tracing/app-instrumentation/manual-tracing/index.mdx
  docs/docs/genai/tracing/index.mdx
  docs/docs/genai/tracing/integrations/contribute.mdx
  docs/docusaurus.config.ts
  docs/sidebarsGenAI.ts
Due: none

Clean up instrumenting GenAI Apps page
  docs/docs/genai/tracing/app-instrumentation/index.mdx
  docs/docs/genai/tracing/app-instrumentation/manual-tracing.mdx
  docs/docs/genai/tracing/app-instrumentation/typescript-sdk.mdx
  docs/sidebarsGenAI.ts
  docs/static/images/llms/tracing/app-instrumentation/autolog-logos.png
  docs/static/images/llms/tracing/app-instrumentation/manual-tracing.png
  docs/static/images/llms/tracing/app-instrumentation/manual-tracing2.png
  docs/static/images/llms/tracing/genai-trace-autolog.png
Due: none

Implement HMAC signature verification for webhooks (#16739)
  mlflow/webhooks/__init__.py
  mlflow/webhooks/constants.py
  mlflow/webhooks/dispatch.py
  tests/webhooks/app.py
  tests/webhooks/test_e2e.py
Due: ruff, format, custom-python-lint

Draft
  docs/docs/genai/tracing/app-instrumentation/automatic.mdx
  docs/docs/genai/tracing/app-instrumentation/index.mdx
  docs/docs/genai/tracing/app-instrumentation/manual-tracing/low-level-api.mdx
  docs/docs/genai/tracing/app-instrumentation/typescript-sdk.mdx
  docs/docs/genai/tracing/index.mdx
  docs/docs/genai/tracing/integrations/listing/openai.mdx
  docs/docs/genai/tracing/quickstart/typescript-openai.mdx
  docs/docs/genai/tracing/track-users-sessions/index.mdx
  docs/sidebarsGenAI.ts
  docs/src/components/Card/card.module.css
  docs/src/components/Card/index.tsx
Due: none

fix
  mlflow/telemetry/schemas.py
  mlflow/telemetry/track.py
  tests/telemetry/test_client.py
Due: ruff, format, custom-python-lint

Update build scripts to handle mlflow-tracing (#15860)
  .github/workflows/advice.js
  .github/workflows/build-wheel.yml
  .github/workflows/tracing.yaml
  dev/build.py
  dev/install-common-deps.sh
  dev/install-skinny.sh
  dev/pyproject.py
  dev/update_mlflow_versions.py
  libs/skinny/LICENSE.txt
  libs/skinny/MANIFEST.in
  libs/skinny/README.md
  libs/skinny/README_SKINNY.md
  libs/skinny/mlflow
  libs/skinny/pyproject.toml
  libs/tracing/LICENSE.txt
  libs/tracing/MANIFEST.in
  libs/tracing/README.md
  libs/tracing/mlflow
  libs/tracing/pyproject.toml
  mlflow/ml-package-versions.yml
  skinny/LICENSE.txt
  skinny/MANIFEST.in
  skinny/mlflow
  tests/dev/test_update_mlflow_versions.py
Due: ruff, format, taplo, blacken-docs, custom-python-lint, mlver

Enable databricks archival api (#16654)
  mlflow/genai/experimental/__init__.py
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_storage_config.py
  mlflow/protos/databricks_trace_server.proto
  mlflow/protos/databricks_trace_server_pb2.py
  mlflow/pyspark/ml/__init__.py
  mlflow/transformers/peft.py
  mlflow/utils/mlflow_tags.py
  pyproject.toml
  tests/genai/experimental/test_databricks_trace_archival.py
  tests/genai/experimental/test_databricks_trace_storage_config.py
Due: ruff, format, taplo, custom-python-lint

Implement webhook test functionality with example payloads
  mlflow/server/handlers.py
  mlflow/store/model_registry/rest_store.py
  mlflow/tracking/client.py
  mlflow/webhooks/dispatch.py
  mlflow/webhooks/types.py
  tests/webhooks/test_e2e.py
Due: ruff, format, custom-python-lint

fix link in cross-version-test.yml
  .github/workflows/cross-version-tests.yml
  libs/tracing/README.md
Due: blacken-docs

lint
  libs/typescript/README.md
  libs/typescript/core/README.md
  libs/typescript/integrations/openai/README.md
  libs/typescript/integrations/openai/docs/index.html
Due: blacken-docs

Enrich evaluation tests to validate detailed assessments
  tests/genai/evaluate/test_evaluation.py
  tests/genai/evaluate/test_utils.py
Due: ruff, format, custom-python-lint

comments
  tests/genai/evaluate/test_evaluation.py
Due: ruff, format, custom-python-lint

Fix
  mlflow/server/handlers.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/store/model_registry/rest_store.py
  mlflow/tracking/_model_registry/client.py
  mlflow/webhooks/dispatch.py
Due: ruff, format, custom-python-lint

Fix error in tracing sdk (#16738)
  mlflow/tracing/utils/__init__.py
Due: ruff, format, custom-python-lint

[OSS GenAI Eval #1] Add test coverage to validate assessments. (#16731)
  tests/genai/evaluate/test_evaluation.py
  tests/genai/evaluate/test_utils.py
Due: ruff, format, custom-python-lint

skip ci
  mlflow/telemetry/utils.py
  tests/conftest.py
  tests/telemetry/test_utils.py
Due: ruff, format, custom-python-lint

Add static dataset evaluation support for GenAI OSS evaluation
  mlflow/genai/evaluation/base.py
  mlflow/genai/evaluation/constant.py
  mlflow/genai/evaluation/context.py
  mlflow/genai/evaluation/entities.py
  mlflow/genai/evaluation/harness.py
  mlflow/genai/evaluation/utils.py
  mlflow/genai/scorers/validation.py
  mlflow/genai/utils/trace_utils.py
  tests/genai/conftest.py
  tests/genai/evaluate/test_evaluation.py
  tests/genai/evaluate/test_utils.py
  tests/genai/scorers/test_scorer.py
  tests/genai/scorers/test_validation.py
Due: ruff, format, custom-python-lint

fix link in cross-version-test.yml (#16757)
  .github/workflows/cross-version-tests.yml
  libs/tracing/README.md
Due: blacken-docs

fix test
  tests/conftest.py
Due: ruff, format, custom-python-lint

preserve databricks serving
  mlflow/telemetry/utils.py
Due: ruff, format, custom-python-lint

activate client after set to avoid race condition
  mlflow/telemetry/client.py
Due: ruff, format, custom-python-lint

Fix test
  mlflow/gateway/providers/openai.py
  tests/gateway/providers/test_openai.py
Due: ruff, format, custom-python-lint

Render input image in chat tab of traces in markdown (#16736)
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.tsx
Due: none

test fixture
  tests/spark/autologging/datasource/conftest.py
Due: ruff, format, custom-python-lint

Make bas64 image data urls exempt from markdown image sanitization
  mlflow/server/js/src/shared/web-shared/genai-markdown-renderer/GenAIMarkdownRenderer.tsx
Due: none

Make image chat messages exempt from truncation
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/right-pane/ModelTraceExplorerChatMessage.tsx
Due: none

fix
  tests/telemetry/conftest.py
  tests/telemetry/test_utils.py
Due: ruff, format, custom-python-lint

Add note about the default sanitization behavior and explain override
  mlflow/server/js/src/shared/web-shared/genai-markdown-renderer/GenAIMarkdownRenderer.tsx
Due: none

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
