Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Add REST API endpoint to download model.pkl via HTTP (Fixes #17738)
  mlflow/server/handlers.py
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix tests expecting built-in scorers to have no description
  tests/genai/scorers/test_scorer_description.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

clarify datasets package requirement (#18610)
  docs/docs/genai/datasets/end-to-end-workflow.mdx
Due: normalize-chars, blacken-docs, clint, typos

remove register model
  mlflow/pyfunc/agent_server/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor and address some comments
  mlflow/genai/agent_server/__init__.py
  mlflow/genai/agent_server/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove CircleCI commit status fetching from protect.js (#18615)
  .github/workflows/protect.js
Due: normalize-chars

Improve decorator example comments with concrete use cases
  dev/guides/python.md
Due: normalize-chars, blacken-docs, clint, typos

Add decorator metadata preservation rule to Python style guide (#18616)
  dev/guides/python.md
Due: normalize-chars, blacken-docs, clint, typos

Added hello_hacktoberfest.cpp program by Anjali
  Hacktoberfest2025-Open-source/hello_hacktoberfest.cpp
Due: normalize-chars

Added hello_hacktoberfest.c program in C
  HacktoBerFest2020-1/C/hello_hacktoberfest.c
Due: normalize-chars

Fixed minor typo in installation section of README.md
  mlflow/README.md
Due: normalize-chars, blacken-docs, clint, typos

DOC: Add comprehensive Amazon Nova examples for genai metrics
  docs/api_reference/source/python_api/mlflow.metrics.rst
  examples/evaluation/evaluate_with_bedrock_judge.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Initial
  docs/docs/genai/tracing/app-instrumentation/index.mdx
  docs/docs/genai/tracing/app-instrumentation/opentelemetry.mdx
  docs/docs/genai/tracing/app-instrumentation/typescript-sdk.mdx
  docs/docs/genai/tracing/index.mdx
  docs/docs/genai/tracing/lightweight-sdk.mdx
  docs/docs/genai/tracing/opentelemetry/export.mdx
  docs/docs/genai/tracing/opentelemetry/index.mdx
  docs/docs/genai/tracing/opentelemetry/ingest.mdx
  docs/docs/genai/tracing/opentelemetry/integrations/openinference.mdx
  docs/docs/genai/tracing/opentelemetry/integrations/openllmetry.mdx
  docs/docs/genai/tracing/prod-tracing.mdx
  docs/sidebarsGenAI.ts
  docs/src/components/FeatureHighlights/index.tsx
  docs/src/components/TilesGrid/index.tsx
  docs/static/images/llms/tracing/opentelemetry/hero.png
  docs/static/images/llms/tracing/opentelemetry/mlflow-otel-combined.png
  docs/static/images/llms/tracing/opentelemetry/openinference-trace.png
  docs/static/images/logos/dynatrace-logo.svg
  docs/static/images/logos/jaeger-logo.png
  docs/static/images/logos/opentelemetry-logo.svg
Due: normalize-chars, blacken-docs, clint, typos

smallen
  docs/docs/genai/tracing/opentelemetry/ingest.mdx
  docs/docs/genai/tracing/opentelemetry/integrations/openinference.mdx
  docs/docs/genai/tracing/opentelemetry/integrations/openllmetry.mdx
  docs/sidebarsGenAI.ts
Due: normalize-chars, blacken-docs, clint, typos

address comments
  mlflow/genai/agent_server/__init__.py
  tests/pyfunc/test_agent_server.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Make cloud_storage_http_request timeout parameter configurable
  mlflow/utils/request_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

added new change
  mlflow/utils/request_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix test
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/vercelai.test.ts
Due: none

fix
  mlflow/environment_variables.py
  mlflow/tracing/provider.py
  tests/tracing/opentelemetry/test_integration.py
  tests/tracing/test_provider.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix tests
  mlflow/server/js/src/common/utils/RoutingTestUtils.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/ExperimentPageTabs.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/ExperimentPageSideNav.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/TraceUtils.test.ts
Due: none

remove
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/timeline-tree/TimelineTree.utils.t
Due: none

proof
  docs/docs/genai/tracing/app-instrumentation/opentelemetry.mdx
  docs/docs/genai/tracing/opentelemetry/export.mdx
  docs/docs/genai/tracing/opentelemetry/index.mdx
  docs/docs/genai/tracing/opentelemetry/ingest.mdx
Due: normalize-chars, blacken-docs, clint, typos

fix
  .github/workflows/tracing.yaml
Due: normalize-chars, conftest

fix
  .github/workflows/tracing.yaml
  mlflow/tracking/fluent.py
  tests/tracing/opentelemetry/test_integration.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

Add basic doc for Otel support (#18623)
  docs/docs/genai/tracing/app-instrumentation/index.mdx
  docs/docs/genai/tracing/app-instrumentation/opentelemetry.mdx
  docs/docs/genai/tracing/app-instrumentation/typescript-sdk.mdx
  docs/docs/genai/tracing/index.mdx
  docs/docs/genai/tracing/lightweight-sdk.mdx
  docs/docs/genai/tracing/opentelemetry/export.mdx
  docs/docs/genai/tracing/opentelemetry/index.mdx
  docs/docs/genai/tracing/opentelemetry/ingest.mdx
  docs/docs/genai/tracing/prod-tracing.mdx
  docs/sidebarsGenAI.ts
  docs/src/components/FeatureHighlights/index.tsx
  docs/src/components/TilesGrid/index.tsx
  docs/static/images/llms/tracing/opentelemetry/hero.png
  docs/static/images/llms/tracing/opentelemetry/mlflow-otel-combined.png
  docs/static/images/llms/tracing/opentelemetry/openinference-trace.png
  docs/static/images/logos/dynatrace-logo.svg
  docs/static/images/logos/jaeger-logo.png
  docs/static/images/logos/opentelemetry-logo.svg
Due: normalize-chars, blacken-docs, clint, typos

refactor into additional files, fix some tests
  mlflow/genai/agent_server/__init__.py
  mlflow/genai/agent_server/server.py
  mlflow/genai/agent_server/types.py
  mlflow/genai/agent_server/utils.py
  mlflow/genai/agent_server/validator.py
  tests/pyfunc/test_agent_server.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

.
  mlflow/genai/agent_server/__init__.py
  tests/pyfunc/test_agent_server.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

span attributes translation
  mlflow/entities/span.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/utils/__init__.py
  mlflow/tracing/utils/span_translation.py
  tests/tracing/test_otel_loading.py
  tests/tracing/utils/test_span_translation.py
  tests/tracing/utils/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

comments
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/otel/translation/__init__.py
  mlflow/tracing/utils/__init__.py
  tests/tracing/test_otel_loading.py
  tests/tracing/utils/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

update token counts
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracing/test_otel_loading.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

comments
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/otel/__init__.py
  mlflow/tracing/otel/translation/__init__.py
  mlflow/tracing/otel/translation/base.py
  mlflow/tracing/otel/translation/genai_semconv.py
  mlflow/tracing/otel/translation/open_inference.py
  mlflow/tracing/otel/translation/traceloop.py
  mlflow/tracing/utils/span_translation.py
  tests/tracing/otel/__init__.py
  tests/tracing/otel/test_span_translation.py
  tests/tracing/test_otel_loading.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Attributes translation for OTel clients (#18532)
  mlflow/entities/span.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/otel/__init__.py
  mlflow/tracing/otel/translation/__init__.py
  mlflow/tracing/otel/translation/base.py
  mlflow/tracing/otel/translation/genai_semconv.py
  mlflow/tracing/otel/translation/open_inference.py
  mlflow/tracing/otel/translation/traceloop.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracing/otel/__init__.py
  tests/tracing/otel/test_span_translation.py
  tests/tracing/test_otel_loading.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

address comments
  mlflow/genai/agent_server/__init__.py
  mlflow/genai/agent_server/server.py
  mlflow/genai/agent_server/types.py
  mlflow/genai/agent_server/utils.py
  mlflow/genai/agent_server/validator.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

.
  mlflow/genai/agent_server/__init__.py
  mlflow/genai/agent_server/server.py
  tests/pyfunc/test_agent_server.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

ci fix
  libs/typescript/integrations/gemini/package.json
  libs/typescript/package-lock.json
Due: normalize-chars

.
  tests/pyfunc/test_agent_server.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Support using OpenTelemetry and MLflow SDK together for constructing a single trace. (#18540)
  .github/workflows/tracing.yaml
  mlflow/entities/span.py
  mlflow/environment_variables.py
  mlflow/tracing/fluent.py
  mlflow/tracing/processor/base_mlflow.py
  mlflow/tracing/processor/inference_table.py
  mlflow/tracing/processor/otel.py
  mlflow/tracing/provider.py
  mlflow/tracing/utils/once.py
  tests/conftest.py
  tests/tracing/opentelemetry/__init__.py
  tests/tracing/opentelemetry/test_integration.py
  tests/tracing/test_provider.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

.
  mlflow/genai/agent_server/server.py
  mlflow/genai/agent_server/validator.py
  tests/pyfunc/test_agent_server.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py
