Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

black:
  name: black
  entry: black
  language: system
  stages:
  - commit
  log_file: .black.log

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc
  stages:
  - commit

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit

Refactor fixtures of sqlalchemy store test (#10103)
  tests/store/tracking/test_sqlalchemy_store.py
Due: black, blacken-docs, pylint

Unpin pyspark
  .github/workflows/requirements.yml
Due: none

UI fixes (#10190)
  mlflow/server/js/src/model-registry/components/SchemaTable.test.tsx
  mlflow/server/js/src/model-registry/components/SchemaTable.tsx
Due: none

Support schema inference for partly empty nested array
  mlflow/types/utils.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Unpin `pyspark` (#10214)
  .github/workflows/requirements.yml
Due: none

Add validate function for type inference as a guardrail
  mlflow/types/utils.py
  tests/models/test_signature.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

address comments
  mlflow/types/utils.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Update test_transformers_model_export.py
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

Remove validate func
  mlflow/types/utils.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Fix typo
  docs/source/introduction/index.rst
Due: blacken-docs

More friendly message for property failure
  mlflow/types/utils.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Add tests for pyfunc predict and serving (#10192)
  mlflow/models/utils.py
  mlflow/utils/proto_json_utils.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
Due: black, blacken-docs, pylint

Update test_Imageclassification.py
  tests/test_Imageclassification.py
Due: black, blacken-docs, pylint

Fix typo: Mlflow -> MLflow (#10219)
  docs/source/introduction/index.rst
Due: blacken-docs

Fix mlflow typo
  docs/source/introduction/index.rst
Due: blacken-docs

Upgrade ruff to 0.1.3
  requirements/lint-requirements.txt
Due: none

Add extend-include
  pyproject.toml
Due: none

Enable useless-comparison (B015)
  pyproject.toml
Due: none

Fix typo: Mlflow -> MLflow (#10220)
  docs/source/introduction/index.rst
Due: blacken-docs

Added test cases and img files
  tests/datasets/cat.png
  tests/datasets/cat_image.jpg
  tests/datasets/tiger_cat.jpg
  tests/test_Imageclassification.py
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

Add extend-include = ["*.ipynb"] in pyproject.toml (#10222)
  pyproject.toml
Due: none

updated UnsupportedMultipartUploadException
  mlflow/server/handlers.py
  mlflow/store/artifact/http_artifact_repo.py
Due: black, blacken-docs, pylint

updated UnsupportedMultipartUploadException
  mlflow/exceptions.py
Due: black, blacken-docs, pylint

added check for gcs version
  mlflow/store/artifact/gcs_artifact_repo.py
  mlflow/utils/version.py
Due: black, blacken-docs, pylint

update doc
  docs/source/tracking.rst
  setup.py
Due: black, blacken-docs, pylint

update doc
  docs/source/tracking.rst
Due: blacken-docs

Upgrade ruff to 0.1.3 (#10221)
  requirements/lint-requirements.txt
Due: none

Fix B015
  tests/metrics/genai/test_genai_metrics.py
Due: black, blacken-docs, pylint

fix test
  tests/store/artifact/test_http_artifact_repo.py
Due: black, blacken-docs, pylint

Rename LLM Evaluation Examples -- RAG.ipynb and LLM Evaluation Examples -- QA.ipynb
  examples/evaluation/qa-evaluation.ipynb
  examples/evaluation/rag-evaluation.ipynb
Due: none

black
  tests/store/artifact/test_http_artifact_repo.py
Due: black, blacken-docs, pylint

ruff
  mlflow/utils/version.py
Due: black, blacken-docs, pylint

Update __init__.py
  mlflow/transformers/__init__.py
Due: black, blacken-docs, pylint

Objects and Array support in model signature (#9893)
  docs/source/conf.py
  mlflow/models/signature.py
  mlflow/types/schema.py
  mlflow/types/utils.py
  tests/models/test_signature.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
  tests/pyfunc/test_spark.py
  tests/tracking/fluent/test_fluent.py
  tests/tracking/test_rest_tracking.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  pylint: any of: \.py$
  rstcheck: any of: README.rst
