Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Enable remote assistant in UI preview
  .github/ui-preview/app.yaml
Due: normalize-chars

Fix trace archival test isolation
  tests/store/artifact/test_models_artifact_repo.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_workspace_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Make Assistant settings a single page (#24583)
  .github/actions/check-component-ids/componentId-registry.js
  mlflow/server/js/src/assistant/AssistantChatPanel.test.tsx
  mlflow/server/js/src/assistant/AssistantChatPanel.tsx
  mlflow/server/js/src/assistant/AssistantContext.test.tsx
  mlflow/server/js/src/assistant/AssistantContext.tsx
  mlflow/server/js/src/assistant/ToolCallCard.test.tsx
  mlflow/server/js/src/assistant/ToolCallCard.tsx
  mlflow/server/js/src/assistant/ToolPermissionPrompt.test.tsx
  mlflow/server/js/src/assistant/providerRegistry.ts
  mlflow/server/js/src/assistant/setup/AssistantSettingsForm.tsx
  mlflow/server/js/src/assistant/setup/AssistantSettingsPage.tsx
  mlflow/server/js/src/assistant/setup/AssistantSetupWizard.tsx
  mlflow/server/js/src/assistant/setup/ClaudeCodeAuth.tsx
  mlflow/server/js/src/assistant/setup/CodexAuth.tsx
  mlflow/server/js/src/assistant/setup/MLflowGatewayAuth.tsx
  mlflow/server/js/src/assistant/setup/OllamaAuth.tsx
  mlflow/server/js/src/assistant/setup/SetupComplete.tsx
  mlflow/server/js/src/assistant/setup/SetupStepAuth.tsx
  mlflow/server/js/src/assistant/setup/SetupStepProvider.tsx
  mlflow/server/js/src/assistant/setup/WizardFooter.tsx
  mlflow/server/js/src/assistant/setup/index.ts
  mlflow/server/js/src/assistant/types.ts
  mlflow/server/js/src/lang/default/en.json
  tests/server/assistant/test_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address additional PR review feedback
  docs/docs/genai/mcp-registry/index.mdx
  docs/sidebarsGenAI.ts
Due: normalize-chars, blacken-docs, clint, typos

[tests] Fix trace archival config test isolation (#24717)
  tests/store/artifact/test_models_artifact_repo.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_workspace_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Autoformat: https://github.com/mlflow/mlflow/actions/runs/30413513860
  uv.lock
Due: normalize-chars

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 4bed86bf241481a44cbf466b72d2a40c0f07b3b1
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Update `pre-commit` to 4.6.1 for npm 12 compatibility (#24695)
  pyproject.toml
  requirements/lint-requirements.txt
  uv.lock
Due: normalize-chars, taplo, uv-lock

Use npm 12.0.1 in `setup-node` action (#24694)
  .github/actions/setup-node/action.yml
  libs/typescript/package-lock.json
Due: normalize-chars, conftest

Add `?pr=` to NaiLaOpus run URLs for quick switch back to the PR
  .github/workflows/nailaopus.yml
Due: normalize-chars, conftest

Add `?pr=` to NaiLaOpus run URLs for quick switch back to the PR (#24720)
  .github/workflows/nailaopus.yml
Due: normalize-chars, conftest

Make mutating-subcommand list in allowlist comment non-exhaustive
  mlflow/assistant/providers/tool_executor.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Lock down MLflow Assistant tool execution to an allowlist
  mlflow/assistant/providers/openai_compatible.py
  mlflow/assistant/providers/prompts.py
  mlflow/assistant/providers/tool_executor.py
  tests/assistant/conftest.py
  tests/assistant/providers/test_openai_compatible_provider.py
  tests/assistant/test_tool_executor.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Drop mlflow doctor from restricted assistant allowlist
  mlflow/assistant/providers/tool_executor.py
  tests/assistant/test_tool_executor.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Close experiments csv denial bypass via whole-argv verb scan
  mlflow/assistant/providers/tool_executor.py
  tests/assistant/test_tool_executor.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Key remote lockdown on canonical MLFLOW_ENABLE_REMOTE_ASSISTANT
  mlflow/assistant/providers/tool_executor.py
  tests/assistant/conftest.py
  tests/assistant/providers/test_openai_compatible_provider.py
  tests/assistant/test_tool_executor.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Parse PyPI JSON API responses regardless of mimetype
  dev/pypi/src/pypi/_client.py
  dev/pypi/tests/test_client.py
Due: normalize-chars, ruff, format, clint, typos

Fall back to nested spans for Chat Sessions turn content (#24703)
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/session-view/SingleChatTurnMessages.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/session-view/SingleChatTurnMessages.tsx
Due: none

Address review: remote Read escape, error leak, stale prompt
  mlflow/assistant/providers/prompts.py
  mlflow/assistant/providers/tool_executor.py
  tests/assistant/test_tool_executor.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use displayMessage over message for NetworkRequestError notifications
  mlflow/server/js/src/common/utils/Utils.test.tsx
  mlflow/server/js/src/common/utils/Utils.tsx
Due: none

Revert generic Error branch per maintainer feedback
  mlflow/server/js/src/common/utils/Utils.test.tsx
  mlflow/server/js/src/common/utils/Utils.tsx
Due: none

Reset notificationsApi mock in afterEach to prevent test leakage
  mlflow/server/js/src/common/utils/Utils.test.tsx
Due: none

Retry malformed JSON bodies instead of failing immediately
  dev/pypi/src/pypi/_client.py
  dev/pypi/tests/test_client.py
Due: normalize-chars, ruff, format, clint, typos

Parse PyPI JSON API responses regardless of mimetype (#24723)
  dev/pypi/src/pypi/_client.py
  dev/pypi/tests/test_client.py
Due: normalize-chars, ruff, format, clint, typos

Address review feedback on Pydantic AI 2.x autologging
  mlflow/pydantic_ai/__init__.py
  mlflow/pydantic_ai/autolog_utils.py
  mlflow/pydantic_ai/autolog_v2.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Revert UC delete_traces SQL path; keep get_trace UC resolution only
  mlflow/tracing/client.py
  mlflow/tracing/databricks.py
  mlflow/utils/databricks_sql_warehouse.py
  mlflow/utils/mlflow_tags.py
  tests/tracing/test_tracing_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fail closed on invalid file-tool path (NUL byte)
  mlflow/assistant/providers/tool_executor.py
  tests/assistant/test_tool_executor.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Deny file tools (Read/Write/Edit) on a remote assistant
  mlflow/assistant/providers/prompts.py
  mlflow/assistant/providers/tool_executor.py
  tests/assistant/test_tool_executor.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Correct allowlist comment: CLI runs as server, not the calling user
  mlflow/assistant/providers/tool_executor.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix UnauthorizedError constructor message copy-pasted from RateLimitedError
  mlflow/server/js/src/shared/web-shared/errors/PredefinedErrors.test.tsx
  mlflow/server/js/src/shared/web-shared/errors/PredefinedErrors.tsx
Due: none

Fix DeleteRunModal to show actual error instead of hardcoded message
  mlflow/server/js/src/experiment-tracking/components/modals/DeleteRunModal.enzyme.test.tsx
  mlflow/server/js/src/experiment-tracking/components/modals/DeleteRunModal.tsx
Due: none

Fix RestoreRunModal to show actual error instead of hardcoded message
  mlflow/server/js/src/experiment-tracking/components/modals/RestoreRunModal.enzyme.test.tsx
  mlflow/server/js/src/experiment-tracking/components/modals/RestoreRunModal.tsx
Due: none

Remove dead PermissionDeniedView component and permissionDeniedView prop
  mlflow/server/js/src/common/components/RequestStateWrapper.tsx
  mlflow/server/js/src/common/static/permission-denied-lock.svg
  mlflow/server/js/src/experiment-tracking/components/PermissionDeniedView.enzyme.test.tsx
  mlflow/server/js/src/experiment-tracking/components/PermissionDeniedView.tsx
Due: none

Gate model registry delete buttons on server-returned permission_level
  mlflow/server/js/src/model-registry/components/ModelVersionView.enzyme.test.tsx
  mlflow/server/js/src/model-registry/components/ModelVersionView.tsx
  mlflow/server/js/src/model-registry/components/ModelView.tsx
Due: none

fix: bump minimum versions for pyproject.toml dependencies with known CVEs (#23061)
  pyproject.toml
Due: normalize-chars, taplo, uv-lock

fix: bump minimum versions for pyproject.release.toml dependencies with known CVEs (#23061)
  pyproject.release.toml
Due: normalize-chars, taplo

fix: prevent duplicate table creation error during db upgrade (closes #19943)
  mlflow/store/db/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

docs: Document direct artifact downloads via presigned URLs
  docs/docs/self-hosting/architecture/artifact-store.mdx
  docs/docs/self-hosting/architecture/tracking-server.mdx
Due: normalize-chars, blacken-docs, clint, typos

Address review comments on Pydantic AI 2.x autologging
  mlflow/pydantic_ai/autolog.py
  mlflow/pydantic_ai/autolog_v2.py
  mlflow/pydantic_ai/utils.py
  tests/pydantic_ai/test_pydanticai_v2_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Move managed scorer parsing into wire entities
  docs/api_reference/api_inventory.txt
  mlflow/genai/scorers/base.py
  mlflow/genai/scorers/registry.py
  tests/genai/scorers/test_scorer_CRUD.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
