Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, blacken-docs, pylint, disallow-rule-ids, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        exclude: 'mlflow/server/graphql/autogenerated_graphql_schema.py'
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        exclude: 'mlflow/server/graphql/autogenerated_graphql_schema.py'
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        exclude: 'mlflow/server/graphql/autogenerated_graphql_schema.py'
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: pylint
        exclude: 'mlflow/server/graphql/autogenerated_graphql_schema.py'
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=pylintrc"]
        stages: [commit]
        require_serial: true

      - id: disallow-rule-ids
        exclude: 'mlflow/server/graphql/autogenerated_graphql_schema.py'
        name: disallow-rule-ids
        entry: python ./dev/disallow_rule_ids.py
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

Use _deserialize_torch_dtype
  mlflow/transformers/model_io.py
Due: ruff, format, pylint, disallow-rule-ids

Cast `torch.dtype` name to `torch.dtype` (#11295)
  mlflow/transformers/model_io.py
Due: ruff, format, pylint, disallow-rule-ids

Update mlflow.metrics.rst (#11287)
  docs/source/python_api/mlflow.metrics.rst
Due: blacken-docs

refactor
  mlflow/models/utils.py
Due: ruff, format, pylint, disallow-rule-ids

Update documentation for system tags (#11292)
  docs/source/tracking/tracking-api.rst
Due: blacken-docs

fix torch_dtype issue second
  mlflow/transformers/__init__.py
  mlflow/transformers/model_io.py
Due: ruff, format, pylint, disallow-rule-ids

Fix torch_dtype issue when specified via kwargs (#11297)
  mlflow/transformers/__init__.py
  mlflow/transformers/model_io.py
Due: ruff, format, pylint, disallow-rule-ids

Update CHANGELOG.md
  CHANGELOG.md
Due: blacken-docs

Run `python3 dev/update_changelog.py --prev-version 2.1...` (#11294)
  CHANGELOG.md
Due: blacken-docs

docstring fixes
  mlflow/tracking/client.py
  mlflow/tracking/fluent.py
Due: ruff, format, pylint, disallow-rule-ids

added tests
  mlflow/tracking/client.py
  tests/tracking/test_log_image.py
Due: ruff, format, pylint, disallow-rule-ids

remove comment
  mlflow/tracking/client.py
Due: ruff, format, pylint, disallow-rule-ids

linter
  mlflow/tracking/client.py
  tests/tracking/test_log_image.py
Due: ruff, format, pylint, disallow-rule-ids

Move config APIs to mlflow/config (#11270)
  mlflow/__init__.py
  mlflow/config/__init__.py
Due: ruff, format, pylint, disallow-rule-ids

comment fixes
  mlflow/tracking/client.py
  tests/tracking/test_log_image.py
Due: ruff, format, pylint, disallow-rule-ids

log image typo
  tests/tracking/test_log_image.py
Due: ruff, format, pylint, disallow-rule-ids

init
  docs/source/deployment/deploy-model-locally.rst
  docs/source/search-runs.rst
  mlflow/data/dataset_source_registry.py
  mlflow/data/uc_volume_dataset_source.py
  tests/data/test_meta_dataset.py
Due: ruff, format, blacken-docs, pylint, disallow-rule-ids

Log image with time dimension (#11243)
  mlflow/tracking/client.py
  mlflow/tracking/fluent.py
  tests/tracking/test_log_image.py
Due: ruff, format, pylint, disallow-rule-ids

Run python3 dev/update_mlflow_versions.py post-release...
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
Due: ruff, format, pylint, disallow-rule-ids

Run `python3 dev/update_mlflow_versions.py post-release...` (#11302)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
Due: ruff, format, pylint, disallow-rule-ids

Refactor: move tests cases to pytest in SQLAlchemy test suite [ver#9] (#11228)
  tests/store/tracking/test_abstract_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, pylint, disallow-rule-ids
