Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/supported-models.mdx
Due: normalize-chars, blacken-docs, clint, typos

address comments
  docs/docs/genai/eval-monitor/scorers/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/create-custom-judge.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/supported-models.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/prompt.mdx
  docs/sidebarsGenAI.ts
  docs/src/content/select_judge_model.mdx
Due: normalize-chars, blacken-docs, clint, typos

lint
  docs/docs/genai/eval-monitor/scorers/custom/index.mdx
  docs/docs/genai/eval-monitor/scorers/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

remove unused media
  docs/static/images/mlflow-3/eval-monitor/scorers/agentic-judge-result.png
  docs/static/images/mlflow-3/eval-monitor/scorers/llm-judge-vs-agent-judge.png
  docs/static/images/mlflow-3/eval-monitor/scorers/make-judge-scorer.png
Due: normalize-chars

Custom judges section
  docs/docs/genai/concepts/scorers.mdx
  docs/docs/genai/eval-monitor/automatic-evaluations/index.mdx
  docs/docs/genai/eval-monitor/legacy-llm-evaluation.mdx
  docs/docs/genai/eval-monitor/running-evaluation/multi-turn.mdx
  docs/docs/genai/eval-monitor/scorers/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/agentic-overview.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/alignment.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/create-custom-judge.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/gepa.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/guidelines.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/make-judge.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/memalign.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/prompt.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/response-quality/correctness.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/simba.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/workflow.mdx
  docs/docs/genai/eval-monitor/scorers/versioning.mdx
  docs/docs/genai/governance/ai-gateway/endpoints/query-endpoints.mdx
  docs/docusaurus.config.ts
  docs/sidebarsGenAI.ts
Due: normalize-chars, blacken-docs, clint, typos

lint
  docs/docs/genai/eval-monitor/scorers/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/create-custom-judge.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

nit
  docs/docs/genai/eval-monitor/scorers/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

update image links
  docs/docs/genai/eval-monitor/scorers/custom/index.mdx
  docs/docs/genai/eval-monitor/scorers/custom/tutorial.mdx
  docs/static/images/genai/eval-monitor/scorer-error-handling.png
  docs/static/images/genai/eval-monitor/trace-visualization.png
Due: normalize-chars, blacken-docs, clint, typos

code-based scorer examples
  docs/docs/genai/eval-monitor/scorers/custom/examples.mdx
  docs/docs/genai/eval-monitor/scorers/custom/index.mdx
  docs/docs/genai/eval-monitor/scorers/custom/tutorial.mdx
  docs/sidebarsGenAI.ts
  docs/static/images/genai/eval-monitor/code-scorer-results.png
  docs/static/images/genai/eval-monitor/custom-llm-judge-ui.png
  docs/static/images/genai/eval-monitor/multiple-feedback-results.png
Due: normalize-chars, blacken-docs, clint, typos

Extract getSimulationColumnsToAdd helper with tests
  mlflow/server/js/src/experiment-tracking/components/evaluations/RunViewEvaluationsTab.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAiTracesTable.utils.test.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAiTracesTable.utils.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/index.ts
Due: none

Support session-level scorer telemetry and update to new backend API
  mlflow/genai/evaluation/harness.py
  mlflow/genai/evaluation/telemetry.py
  tests/genai/evaluate/test_telemetry.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update index and predefined judges pages (#20368)
  docs/docs/genai/eval-monitor/automatic-evaluations/index.mdx
  docs/docs/genai/eval-monitor/legacy-llm-evaluation.mdx
  docs/docs/genai/eval-monitor/running-evaluation/agents.mdx
  docs/docs/genai/eval-monitor/running-evaluation/multi-turn.mdx
  docs/docs/genai/eval-monitor/scorers/custom.mdx
  docs/docs/genai/eval-monitor/scorers/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/predefined.mdx
  docs/docs/genai/eval-monitor/scorers/third-party/deepeval.mdx
  docs/docs/genai/eval-monitor/scorers/third-party/phoenix.mdx
  docs/docs/genai/eval-monitor/scorers/third-party/ragas.mdx
  docs/docs/genai/eval-monitor/scorers/versioning.mdx
  docs/docs/genai/governance/ai-gateway/endpoints/query-endpoints.mdx
  docs/docs/genai/prompt-registry/optimize-prompts.mdx
  docs/sidebarsGenAI.ts
  docs/static/images/mlflow-3/eval-monitor/scorers/builtin-judges-results.png
  docs/static/images/mlflow-3/eval-monitor/scorers/predefined-scorers-results.png
  docs/static/images/mlflow-3/eval-monitor/scorers/relevance-create-judge-ui.png
Due: normalize-chars, blacken-docs, clint, typos

Fix test expectations for model URI format validation
  tests/genai/scorers/deepeval/test_utils.py
  tests/genai/scorers/ragas/test_models.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[Workspace] Address backend/SDK feedback from bug-bash (#20475)
  docs/docs/self-hosting/security/basic-http-auth.mdx
  docs/docs/self-hosting/workspaces/index.mdx
  docs/docs/self-hosting/workspaces/permissions.mdx
  mlflow/server/handlers.py
  tests/server/test_workspace_endpoints.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

crewai doc fix (#20469)
  docs/docs/genai/tracing/integrations/listing/crewai.mdx
  examples/crewai/tracing.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Add Guardrails AI scorer integration (#20038)
  .github/workflows/master.yml
  mlflow/genai/scorers/guardrails/__init__.py
  mlflow/genai/scorers/guardrails/registry.py
  mlflow/genai/scorers/guardrails/utils.py
  tests/genai/scorers/guardrails/__init__.py
  tests/genai/scorers/guardrails/test_guardrails.py
  tests/genai/scorers/guardrails/test_registry.py
  tests/genai/scorers/guardrails/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

Apply suggestions from code review
  libs/typescript/integrations/anthropic/tests/index.test.ts
Due: normalize-chars

chore(tracing-typescript-anthropic): bump @anthropic-ai/sdk version (#20364)
  libs/typescript/integrations/anthropic/package.json
  libs/typescript/integrations/anthropic/tests/index.test.ts
  libs/typescript/package-lock.json
Due: normalize-chars

Add `/polish` GitHub Action to improve PR titles using AI
  .github/workflows/polish.sh
  .github/workflows/polish.yml
Due: normalize-chars, conftest

ag2 doc fix (#20470)
  docs/docs/genai/tracing/integrations/listing/ag2.mdx
  examples/ag2/tracing.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

remove bad error handling code example
  docs/docs/genai/eval-monitor/scorers/custom/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Add the RAG built-in judges section (#20369)
  docs/docs/genai/eval-monitor/scorers/llm-judge/guidelines.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/predefined.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/context-sufficiency.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/groundedness.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/relevance.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/response-quality/correctness.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/response-quality/safety.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/tool-call/correctness.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/tool-call/efficiency.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/tool-call/index.mdx
  docs/docs/genai/eval-monitor/scorers/third-party/ragas.mdx
  docs/sidebarsGenAI.ts
  docs/src/content/judge_prerequisites.mdx
  docs/src/content/select_judge_model.mdx
  docs/static/images/genai/eval-monitor/expectations-guidelines-judge-results.png
  docs/static/images/genai/eval-monitor/guidelines-judge-results.png
  docs/static/images/mlflow-3/eval-monitor/scorers/guideline-scorers-results.png
Due: normalize-chars, blacken-docs, clint, typos

Rewrite polish script in Python
  .github/workflows/polish.py
  .github/workflows/polish.sh
  .github/workflows/polish.yml
Due: normalize-chars, ruff, format, clint, typos, conftest

Use argparse for CLI arguments
  .github/workflows/polish.py
  .github/workflows/polish.yml
Due: normalize-chars, ruff, format, clint, typos, conftest

Add automatic REST API documentation generation from Protobuf files (#20318)
  .gitignore
  .pre-commit-config.yaml
  dev/Dockerfile.protos
  dev/gen_rest_api.py
  dev/generate-protos.sh
  dev/generate_protos.py
  dev/proto-plugin.sh
  dev/proto_plugin.py
  docs/api_reference/source/rest-api.rst
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Add GitHub Actions workflow guidelines for runner selection (#20482)
  .claude/rules/github-actions.md
Due: normalize-chars, blacken-docs, clint, typos

Relax uv version constraint to allow >=0.9.8 (#20483)
  .github/actions/setup-python/action.yml
  .github/workflows/review.yml
  pyproject.toml
Due: normalize-chars, taplo, conftest, uv-lock

fix: allow overriding notebook trace iframe base URL
  mlflow/environment_variables.py
  mlflow/tracing/display/display_handler.py
  tests/tracing/display/test_ipython.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: allow overriding notebook trace iframe base URL (#20485)
  mlflow/environment_variables.py
  mlflow/tracing/display/display_handler.py
  tests/tracing/display/test_ipython.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix `flaky test_request_id_backward_compatible` by filtering captured warnings (#20484)
  tests/tracing/utils/test_warning.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

mega UI and add distillation support
  mlflow/genai/judges/prompts/semantic_match.py
  mlflow/genai/optimize/distillation.py
  mlflow/genai/optimize/distillation_utils.py
  mlflow/genai/optimize/job.py
  mlflow/genai/scorers/__init__.py
  mlflow/genai/scorers/builtin_scorers.py
  mlflow/protos/service.proto
  mlflow/server/handlers.py
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/constants.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompt-optimization/PromptOptimizationDetailsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompt-optimization/components/EvalScoreChart.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompt-optimization/components/ExpandablePromptSection.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompt-optimization/components/IntermediateCandidatesSection.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompt-optimization/hooks/useCreateOptimizationModal.tsx
  mlflow/server/js/src/experiment-tracking/route-defs.ts
  mlflow/server/js/src/lang/default/en.json
  prompt_optimization_backend_test_script/run_distillation_traces.py
  prompt_optimization_backend_test_script/test_distillation_dataset_creation.py
  prompt_optimization_backend_test_script/test_distillation_job.py
Due: normalize-chars, ruff, format, clint, lint-proto, typos, check-init-py

chore(typescript-core): bump @opentelemetry/sdk-node version
  libs/typescript/core/package.json
  libs/typescript/package-lock.json
Due: normalize-chars

Refactor tests to use real datasets instead of mocks
  tests/cli/test_datasets.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add some of the OSS content back in
  docs/docs/genai/datasets/index.mdx
  docs/sidebarsGenAI.ts
Due: normalize-chars, blacken-docs, clint, typos

Update managed content to remove Databricks references
  docs/docs/genai/datasets/index.mdx
  docs/static/images/genai/datasets-tab.png
  docs/static/images/genai/select-traces.mp4
  docs/static/images/genai/traces-tab.png
Due: normalize-chars, blacken-docs, clint, typos

More fixes from PR comments
  docs/docs/genai/datasets/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Updates from PR comments
  docs/docs/genai/datasets/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Fix errors
  docs/docs/genai/datasets/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Add managed eval datasets content
  docs/docs/genai/datasets/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
