Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: clint
  language: system
  stages:
  - pre-commit
  require_serial: true

generate-requirements:
  name: generate-requirements
  entry: "python dev/generate_requirements.py\n  --package-names tracing skinny core gateway\n  --requirements-yaml-location requirements\n  --requirements-txt-output-location requirements\n"
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: dev/typos.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: conftest test --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

Add docs
  docs/docs/genai/mcp/index.mdx
  docs/sidebarsGenAI.ts
Due: blacken-docs, clint, typos

Update docs/docs/genai/mcp/index.mdx
  docs/docs/genai/mcp/index.mdx
Due: blacken-docs, clint, typos

Add missing tabs
  docs/docs/genai/mcp/index.mdx
Due: blacken-docs, clint, typos

comments
  mlflow/telemetry/client.py
  mlflow/telemetry/utils.py
Due: ruff, format, clint, typos

add logs
  mlflow/environment_variables.py
  mlflow/telemetry/client.py
  mlflow/telemetry/track.py
  mlflow/telemetry/utils.py
Due: ruff, format, clint, typos

comments
  mlflow/telemetry/client.py
  mlflow/telemetry/track.py
  mlflow/telemetry/utils.py
Due: ruff, format, clint, typos

Update tests/telemetry/conftest.py
  tests/telemetry/conftest.py
Due: ruff, format, clint, typos

rename
  mlflow/telemetry/utils.py
  tests/telemetry/conftest.py
Due: ruff, format, clint, typos

add fixture for local test
  tests/telemetry/conftest.py
Due: ruff, format, clint, typos

Fix jsx
  docs/docs/genai/mcp/index.mdx
Due: blacken-docs, clint, typos

[CLI] Add 'mlflow runs link-traces' command (#17444)
  mlflow/runs.py
  tests/test_runs.py
Due: ruff, format, clint, typos

Validate `gateway_path` in `gateway_proxy_handler` (#15970)
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, clint, typos

remove junk pages
  docs/docs/genai/data-model/app-versions.mdx
  docs/docs/genai/data-model/experiments.mdx
  docs/docs/genai/data-model/index.mdx
  docs/docs/genai/data-model/logged-model.mdx
  docs/docs/genai/data-model/model-registry.mdx
  docs/docs/genai/data-model/prompts.mdx
  docs/docs/genai/data-model/runs.mdx
  docs/docs/genai/data-model/traces.mdx
  docs/docs/genai/flavors/openai/index.mdx
  docs/docs/genai/getting-started/connect-environment.mdx
  docs/docs/genai/mlflow-3/index.mdx
  docs/docs/genai/prompt-registry/index.mdx
  docs/docusaurus.config.ts
  docs/sidebarsGenAI.ts
Due: blacken-docs, clint, typos

Fix Issue 17348: Support basic auth in TypeScript SDK (#17436)
  docs/docs/genai/tracing/quickstart/typescript-openai.mdx
  libs/typescript/core/src/clients/client.ts
  libs/typescript/core/src/clients/utils.ts
  libs/typescript/core/src/core/config.ts
  libs/typescript/core/src/core/provider.ts
Due: blacken-docs, clint, typos

remove background
  docs/src/components/ConceptOverview/styles.module.css
Due: none

Improve Python style guide section titles and descriptions
  .github/copilot-instructions.md
  CLAUDE.md
  dev/style-guides/python.md
Due: blacken-docs, clint, typos

bump version
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.toml
  skinny/pyproject.toml
Due: ruff, format, taplo, clint, typos

Bump version to 2.22.2 (#17456)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.toml
  skinny/pyproject.toml
Due: ruff, format, taplo, clint, typos

Rename dev/style-guides to dev/guides
  .github/copilot-instructions.md
  CLAUDE.md
  dev/guides/python.md
Due: blacken-docs, clint, typos

Update section headers to 'Language-Specific Style Guides'
  .github/copilot-instructions.md
  CLAUDE.md
Due: blacken-docs, clint, typos

Improve top description
  dev/guides/python.md
Due: blacken-docs, clint, typos

nit
  dev/guides/python.md
Due: blacken-docs, clint, typos

Remove `multi_context` function from tests/helper_functions.py (#17457)
  tests/helper_functions.py
  tests/tracking/context/test_databricks_job_context.py
  tests/tracking/context/test_databricks_notebook_context.py
  tests/tracking/context/test_databricks_repo_context.py
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, clint, typos

Fix linter issues in AlignmentOptimizer implementation
  mlflow/genai/judges/__init__.py
  mlflow/genai/judges/optimizers/dspy.py
  plan.md
  tests/genai/judges/optimizers/test_dspy_base.py
  tests/genai/judges/optimizers/test_integration.py
  tests/genai/judges/optimizers/test_model_separation.py
  tests/genai/judges/optimizers/test_simba.py
Due: ruff, format, blacken-docs, clint, typos

delete rpc proto
  mlflow/protos/databricks_trace_server.proto
Due: lint-proto

generate proto
  mlflow/protos/databricks_trace_server.proto
  mlflow/protos/databricks_trace_server_pb2.py
  mlflow/protos/databricks_trace_server_pb2.pyi
Due: ruff, format, clint, lint-proto, typos

comments
  mlflow/genai/experimental/__init__.py
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
  mlflow/tracing/destination.py
Due: ruff, format, clint, typos

update trace destination if exists
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
Due: ruff, format, clint, typos

fix return
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
Due: ruff, format, clint, typos

restart provider
  mlflow/genai/experimental/databricks_trace_archival.py
Due: ruff, format, clint, typos

remove set_destination changes
  mlflow/tracing/provider.py
Due: ruff, format, clint, typos

remove env var
  mlflow/environment_variables.py
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter.py
  tests/genai/experimental/test_databricks_trace_exporter.py
Due: ruff, format, clint, typos

storage location
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/tracing/destination.py
Due: ruff, format, clint, typos

unity catalog destination
  mlflow/tracing/destination.py
  mlflow/tracing/provider.py
Due: ruff, format, clint, typos

fix deps
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
  mlflow/tracing/provider.py
Due: ruff, format, clint, typos

tests
  tests/genai/experimental/test_databricks_trace_archival.py
  tests/genai/experimental/test_databricks_trace_exporter.py
  tests/genai/test_genai_import_without_agent_sdk.py
Due: ruff, format, clint, typos

nit
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter.py
  mlflow/genai/experimental/databricks_trace_storage_config.py
  mlflow/tracing/destination.py
Due: ruff, format, clint, typos

unset experiment tag
  mlflow/genai/experimental/databricks_trace_archival.py
Due: ruff, format, clint, typos

Path conditions:
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  taplo: any of: \.toml$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  generate-requirements: any of: ^requirements/
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
