Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

format
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/dbconnect_artifact_cache.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/nfs_on_spark.py
  mlflow/utils/spark_utils.py
  mlflow/utils/virtualenv.py
Due: ruff, format, custom-python-lint

Lint notebooks
  dev/clint/src/clint/linter.py
Due: ruff, format, custom-python-lint

Use types_or
  .pre-commit-config.yaml
Due: none

Fix errors
  examples/rapids/mlflow_project/notebooks/rapids_mlflow.ipynb
  examples/sklearn_elasticnet_wine/train.ipynb
Due: ruff, format

Fix typo
  examples/rapids/mlflow_project/notebooks/rapids_mlflow.ipynb
Due: ruff, format

Add jupyter
  .pre-commit-config.yaml
Due: none

Add cell
  dev/clint/src/clint/linter.py
Due: ruff, format, custom-python-lint

Fix more errors
  docs/source/llms/openai/notebooks/openai-code-helper.ipynb
  docs/source/llms/openai/notebooks/openai-embeddings-generation.ipynb
  pyproject.toml
Due: ruff, format, taplo

doc
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

comments
  mlflow/langchain/__init__.py
Due: ruff, format, custom-python-lint

update
  mlflow/langchain/__init__.py
Due: ruff, format, custom-python-lint

update
  examples/pytorch/CaptumExample/Titanic_Captum_Interpret.py
  examples/pytorch/CaptumExample/titanic3.csv
Due: ruff, format, custom-python-lint

Detect `log_model` with keyword `artifact_path` in notebooks (#13309)
  .pre-commit-config.yaml
  dev/clint/src/clint/linter.py
  docs/source/llms/openai/notebooks/openai-code-helper.ipynb
  docs/source/llms/openai/notebooks/openai-embeddings-generation.ipynb
  examples/rapids/mlflow_project/notebooks/rapids_mlflow.ipynb
  examples/sklearn_elasticnet_wine/train.ipynb
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

Make DSPy wrapper compatible with single string output (#13345)
  mlflow/dspy/wrapper.py
  tests/dspy/test_save.py
Due: ruff, format, custom-python-lint

databricks sdk models artifact repo
  mlflow/environment_variables.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/artifact/cloud_artifact_repo.py
  mlflow/store/artifact/databricks_sdk_models_artifact_repo.py
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
  mlflow/utils/uri.py
  tests/store/artifact/test_databricks_sdk_models_artifact_repo.py
Due: ruff, format, custom-python-lint

Databricks SDK based models artifact repo (#13203)
  mlflow/environment_variables.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/artifact/cloud_artifact_repo.py
  mlflow/store/artifact/databricks_sdk_models_artifact_repo.py
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
  mlflow/utils/uri.py
  tests/store/artifact/test_databricks_sdk_models_artifact_repo.py
Due: ruff, format, custom-python-lint

Fix example "Titanic_Captum_Interpret" (#13349)
  examples/pytorch/CaptumExample/Titanic_Captum_Interpret.py
  examples/pytorch/CaptumExample/titanic3.csv
Due: ruff, format, custom-python-lint

Add documentation and tutorial for LlamaIndex Workflow logging (#13336)
  docs/source/_static/images/llms/llama-index/llama_index_workflow_artifacts.png
  docs/source/_static/images/llms/llama-index/llama_index_workflow_graph.png
  docs/source/_static/images/llms/llama-index/llama_index_workflow_trace.png
  docs/source/llms/llama-index/index.rst
  docs/source/llms/llama-index/notebooks/llama_index_workflow_tutorial.ipynb
  docs/source/models.rst
Due: ruff, format, blacken-docs

comments
  docs/source/llms/tracing/contribute.rst
  docs/source/llms/tracing/index.rst
  docs/source/llms/tracing/tracing-schema.rst
Due: blacken-docs

Fix infer pip requirements for UCFunctionToolkit (#13295)
  mlflow/langchain/__init__.py
  mlflow/utils/environment.py
  mlflow/utils/requirements_utils.py
  tests/utils/test_requirements_utils.py
Due: ruff, format, custom-python-lint

fix doc built
  docs/source/llms/tracing/index.rst
Due: blacken-docs

Fix
  mlflow/store/artifact/databricks_artifact_repo.py
  mlflow/utils/proto_json_utils.py
  mlflow/utils/rest_utils.py
Due: ruff, format, custom-python-lint

Rename
  mlflow/store/artifact/databricks_artifact_repo.py
Due: ruff, format, custom-python-lint

test
  tests/store/artifact/test_databricks_artifact_repo.py
Due: ruff, format, custom-python-lint

Add type hint to message_to_json
  mlflow/utils/proto_json_utils.py
Due: ruff, format, custom-python-lint

SearchLoggedModels proto
  mlflow/protos/service.proto
Due: none

Remove graphql
  mlflow/protos/service.proto
Due: none

Autoformat: https://github.com/mlflow/mlflow/actions/runs/11248437881
  mlflow/java/client/src/main/java/org/mlflow/api/proto/Service.java
  mlflow/protos/service_pb2.py
Due: ruff, format, custom-python-lint

Set logging with _configure_mlflow_loggers
  mlflow/__init__.py
  mlflow/utils/logging_utils.py
Due: ruff, format, custom-python-lint

make literal type for log level
  mlflow/environment_variables.py
  mlflow/utils/logging_utils.py
  tests/logging/test_logging.py
Due: ruff, format, custom-python-lint

Commit for env based logging for Mlflow
  mlflow/__init__.py
  mlflow/environment_variables.py
  mlflow/utils/logging_utils.py
  tests/logging/test_logging.py
Due: ruff, format, custom-python-lint

Remove redundant init of logging
  mlflow/__init__.py
  mlflow/utils/logging_utils.py
Due: ruff, format, custom-python-lint

Change method
  mlflow/protos/service.proto
Due: none

Fix path
  mlflow/protos/service.proto
Due: none
