Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

Add eval logging for DSPy (#14962)
  mlflow/dspy/autolog.py
  mlflow/dspy/callback.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

Remove 0x prefix from span and trace iD (#15053)
  mlflow/tracing/utils/__init__.py
  tests/entities/test_span.py
Due: ruff, format, custom-python-lint

fix: typo in `OTEL_EXPORTER_OTLP_PROTOCOL` env var (#15008)
  mlflow/tracing/utils/otlp.py
Due: ruff, format, custom-python-lint

Updated the example code in New run using Notebook for LLM (#15064)
  mlflow/server/js/src/experiment-tracking/components/evaluation-artifacts-compare/CreateNotebookRunModal.tsx
Due: none

fix timestamp conversion timezone bug introduced by using datetime.fr… (#15094)
  mlflow/entities/trace_info.py
Due: ruff, format, custom-python-lint

Clarify set_retriever_schema docs (#15099)
  mlflow/models/dependencies_schemas.py
Due: ruff, format, custom-python-lint

Add --install-java option to sagemaker build-and-push-container (#14868)
  mlflow/models/docker_utils.py
  mlflow/sagemaker/cli.py
  mlflow/utils/cli_args.py
  tests/resources/dockerfile/Dockerfile_sagemaker_virtualenv_no_java
  tests/sagemaker/test_cli.py
Due: ruff, format, custom-python-lint

fix: fix tag names for autocomplete (#15030)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/runs/RunsSearchAutoComplete.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/runs/RunsSearchAutoComplete.utils.tsx
Due: none

Check for pandas null values in infer_schema in infer_signature + Test (#15035)
  mlflow/types/utils.py
  tests/types/test_schema.py
Due: ruff, format, custom-python-lint

fix doc: pytorch instead of tensorflow (#14945)
  docs/docs/deep-learning/pytorch/guide/index.mdx
Due: none

Set inputs field in create_run in SqlAlchemyStore (#15010)
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

fix: sorting order for grouping in run view (#15025)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/runs/ExperimentViewRuns.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/experimentPage.group-row-utils.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/experimentPage.row-utils.ts
Due: none

fix: missing `attributes.` in `searchRunsByUser` (#15014)
  mlflow/server/js/src/experiment-tracking/routes.test.tsx
  mlflow/server/js/src/experiment-tracking/routes.ts
Due: none

Log params and dataset for DSPy optimization (#15009)
  mlflow/dspy/autolog.py
  mlflow/dspy/callback.py
  mlflow/dspy/util.py
  tests/dspy/test_dspy_autolog.py
  tests/dspy/test_dspy_util.py
Due: ruff, format, custom-python-lint

Change the time of rerun-cross-version-tests (#15039)
  .github/workflows/rerun-cross-version-tests.yml
Due: none

Create mlflow run for DSPy compile (#14949)
  mlflow/dspy/autolog.py
  mlflow/dspy/callback.py
  mlflow/dspy/util.py
  tests/conftest.py
  tests/dspy/conftest.py
  tests/dspy/test_dspy_autolog.py
  tests/dspy/test_dspy_util.py
Due: ruff, format, custom-python-lint

Add exception handling for spark dataset autolog in Databricks shared cluster and serverless (#15077)
  mlflow/models/evaluation/utils/trace.py
  mlflow/spark/__init__.py
  tests/spark/autologging/datasource/test_spark_datasource_autologging_unit.py
Due: ruff, format, custom-python-lint

Fix Gemini dev test (#14995)
  tests/gemini/test_gemini_autolog.py
Due: ruff, format, custom-python-lint

fix: enable show diff in compare experiment page (#15070)
  mlflow/server/js/src/experiment-tracking/components/CompareRunView.tsx
Due: none

fix: model name with asterisk (#15050)
  mlflow/server/js/package.json
  mlflow/server/js/yarn.lock
Due: none

Fix bug with Model.load for file uris
  mlflow/models/model.py
  tests/models/test_model.py
Due: ruff, format, custom-python-lint

Test
  mlflow/langchain/databricks_dependencies.py
  mlflow/langchain/utils/__init__.py
  mlflow/ml-package-versions.yml
  tests/langchain/test_langchain_databricks_dependency_extraction.py
  tests/langchain/test_langchain_databricks_integration.py
Due: ruff, format, custom-python-lint, mlver

Run python3 dev/update_mlflow_versions.py pre-release ...
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.toml
  skinny/pyproject.toml
Due: ruff, format, taplo, custom-python-lint

Run `python3 dev/update_mlflow_versions.py pre-release ...` (#15115)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.toml
  skinny/pyproject.toml
Due: ruff, format, taplo, custom-python-lint

Foo
  mlflow/langchain/databricks_dependencies.py
  tests/langchain/test_langchain_databricks_dependency_extraction.py
  tests/langchain/test_langchain_databricks_integration.py
Due: ruff, format, custom-python-lint

Autoformat: https://github.com/mlflow/mlflow/actions/runs/14069314571
  mlflow/langchain/databricks_dependencies.py
  mlflow/langchain/utils/__init__.py
  mlflow/ml-package-versions.yml
Due: ruff, format, custom-python-lint, mlver

Run python3 dev/update_changelog.py --prev-version 2.2...
  CHANGELOG.md
Due: blacken-docs

Update CHANGELOG.md
  CHANGELOG.md
Due: blacken-docs

Run `python3 dev/update_changelog.py --prev-version 2.2...` (#15117)
  CHANGELOG.md
Due: blacken-docs

.
  mlflow/pyfunc/model.py
  mlflow/pyfunc/utils/data_validation.py
  mlflow/types/responses.py
Due: ruff, format, custom-python-lint

.
  mlflow/pyfunc/model.py
  mlflow/types/responses.py
Due: ruff, format, custom-python-lint

streamline boto3 aws authentication for bedrock client
  mlflow/gateway/config.py
  mlflow/gateway/providers/bedrock.py
Due: ruff, format, custom-python-lint

ruff format
  mlflow/gateway/providers/bedrock.py
Due: ruff, format, custom-python-lint

ruff lint
  mlflow/gateway/providers/bedrock.py
Due: ruff, format, custom-python-lint

removed else statement
  mlflow/gateway/providers/bedrock.py
Due: ruff, format, custom-python-lint

Bar
  tests/langchain/test_langchain_databricks_integration.py
Due: ruff, format, custom-python-lint

fix tests
  tests/langchain/test_langchain_databricks_integration.py
Due: ruff, format, custom-python-lint

hmm
  tests/langchain/test_langchain_databricks_integration.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
