Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Add workspace support to Claude Code plugin (#23773)
  libs/typescript/integrations/claude-code/src/commands/setup.ts
  libs/typescript/integrations/claude-code/src/config.ts
  libs/typescript/integrations/claude-code/tests/config.test.ts
  libs/typescript/integrations/claude-code/tests/setup.test.ts
Due: normalize-chars

ci: address Windows test workflow feedback
  .github/workflows/slow-tests.yml
  .github/workflows/windows-test-runner.yml
Due: normalize-chars, conftest

jobs: make periodic scheduling replica-aware
  mlflow/environment_variables.py
  mlflow/server/jobs/_job_runner.py
  mlflow/server/jobs/utils.py
  tests/server/jobs/test_jobs.py
  tests/server/jobs/test_trace_archival_jobs.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

jobs: cover periodic scheduler default
  tests/server/jobs/test_jobs.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Validate optimized chat prompt structure
  mlflow/genai/optimize/optimize.py
  tests/genai/optimize/test_optimize.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Resolve UC path from active experiment when using `get_trace` with a plain ID (#24700)
  mlflow/tracing/client.py
  mlflow/tracing/fluent.py
  tests/tracing/test_tracing_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat: enable parent-child run view in GenAI mode (#24790)
  .github/actions/check-component-ids/componentId-registry.js
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsPage.utils.test.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsPage.utils.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsTable.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsTableCellRenderers.tsx
  mlflow/server/js/src/experiment-tracking/types.ts
  mlflow/server/js/src/lang/default/en.json
Due: normalize-chars

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 5bccdc775b7b6fd115ea3f874bc8578cede96963
  dev/benchmarks/tracing/data.js
Due: normalize-chars

ci: preserve UTF-8 mode for Windows tests
  .github/workflows/slow-tests.yml
Due: normalize-chars, conftest

docs: drop search-traces changes, keep only the delete-traces UC warning
  docs/docs/genai/tracing/search-traces.mdx
Due: normalize-chars, blacken-docs, clint, typos

docs: address review - centralize autolog guidance, generalize Traces-empty FAQ
  docs/docs/genai/tracing/app-instrumentation/manual-tracing.mdx
  docs/docs/genai/tracing/faq.mdx
  docs/docs/genai/tracing/integrations/listing/langgraph.mdx
Due: normalize-chars, blacken-docs, clint, typos

Surface Anthropic prompt-cache token counts in `mlflow.pydantic_ai.autolog` (#23052)
  mlflow/pydantic_ai/utils.py
  tests/pydantic_ai/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 352b251578c2791160e1d82f2bbfc1560a07b733
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Add workflow to delete stale bot branches
  .github/workflows/stale-branches.js
  .github/workflows/stale-branches.yml
Due: normalize-chars, conftest

Use the latest model of each family in `/review`
  .github/workflows/review.yml
Due: normalize-chars, conftest

Add workflow to delete stale bot branches (#24965)
  .github/workflows/stale-branches.js
  .github/workflows/stale-branches.yml
Due: normalize-chars, conftest

Bump `ui-review` model IDs to match `/review`
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Use the latest model of each family in `/review` and `/ui-review` (#24966)
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Use `--permission-mode auto` for `/pr-review` instead of a static tool allowlist
  .claude/skills/pr-review/SKILL.md
  .github/workflows/review.yml
Due: normalize-chars, blacken-docs, clint, typos, conftest

Apply the same `--permission-mode auto` switch to `/ui-review`
  .claude/skills/ui-review/SKILL.md
  .github/workflows/ui-review.yml
Due: normalize-chars, blacken-docs, clint, typos, conftest

Pin the `skills` CLI with `--allowed-tools` so the classifier can't veto payload validation
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Surface permission denials in the streamed workflow log
  .claude/scripts/stream.sh
Due: normalize-chars

Use `--permission-mode auto` for `/pr-review` and `/ui-review`, and surface permission denials (#24968)
  .claude/scripts/stream.sh
  .claude/skills/pr-review/SKILL.md
  .claude/skills/ui-review/SKILL.md
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, blacken-docs, clint, typos, conftest

fix: Only initialize tables for empty databases to prevent migration conflicts (closes #19943)
  mlflow/store/db/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add visual editor for structured output JSON schema in prompt creation modal
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/ResponseFormatSchemaBuilder.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/ResponseFormatSchemaBuilder.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/useCreatePromptModal.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/types.ts
  mlflow/server/js/src/experiment-tracking/pages/prompts/utils.test.ts
  mlflow/server/js/src/experiment-tracking/pages/prompts/utils.ts
Due: none

Canonicalize model aliases and drop haiku in `/review` and `/ui-review`
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Canonicalize model aliases and drop haiku in `/review` and `/ui-review` (#24970)
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Use `job.check_run_id` to resolve the review job URL
  .github/workflows/review.yml
Due: normalize-chars, conftest

Run the job URL step on both events so the smoke test covers it
  .github/workflows/review.yml
Due: normalize-chars, conftest

Apply the same job URL change to ui-review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Use `job.check_run_id` to resolve the job URL in `review.yml` and `ui-review.yml` (#24971)
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Drop unused `contents: read` from the review write tokens
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Drop unused `contents: read` from the review write tokens (#24972)
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Build the review result body in a token-free step
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Post the review result with gh instead of github-script
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Do the comment body surgery in jq instead of python
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Print the result body so the smoke run log shows it
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Assemble the comment from the event payload instead of refetching it
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

Stand in a synthetic trigger comment on the smoke run
  .github/workflows/review.yml
  .github/workflows/ui-review.yml
Due: normalize-chars, conftest

fix: Serve FastAPI-native routers under `--static-prefix`
  docs/docs/classic-ml/mlflow-3/index.mdx
  mlflow/cli/__init__.py
  mlflow/server/auth/__init__.py
  mlflow/server/fastapi_app.py
  mlflow/server/security_utils.py
  mlflow/utils/static_prefix_validation.py
  tests/server/auth/test_auth.py
  tests/server/test_fastapi_app.py
  tests/server/test_security.py
  tests/test_cli.py
  tests/utils/test_static_prefix_validation.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
