Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

Add information on predict_stream to the chatmodel documentation
  docs/docs/llms/chat-model-intro/index.mdx
Due: none

Update callback.py
  mlflow/dspy/callback.py
Due: ruff, format, custom-python-lint

Support experiment name in databricks destination
  mlflow/tracing/destination.py
Due: ruff, format, custom-python-lint

docstring
  mlflow/tracing/destination.py
  tests/tracing/test_destination.py
Due: ruff, format, custom-python-lint

Update langchain_tracer for serializing innvocation params + Unit test
  mlflow/langchain/langchain_tracer.py
  tests/langchain/test_langchain_tracer.py
Due: ruff, format, custom-python-lint

test fix
  mlflow/tracing/destination.py
  tests/tracing/test_destination.py
Due: ruff, format, custom-python-lint

Run python3 dev/update_mlflow_versions.py pre-release ...
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

Update mlflow/tracing/destination.py
  mlflow/tracing/destination.py
Due: ruff, format, custom-python-lint

Autoformat: https://github.com/mlflow/mlflow/actions/runs/13825664114
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptVersionMetadata.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptVersionTags.tsx
Due: none

Run python3 dev/update_changelog.py --prev-version 2.2...
  CHANGELOG.md
Due: blacken-docs

Update CHANGELOG.md
  CHANGELOG.md
Due: blacken-docs

Support passing Prompt object to log_model and add more flavors
  mlflow/dspy/save.py
  mlflow/entities/model_registry/prompt.py
  mlflow/langchain/__init__.py
  mlflow/llama_index/__init__.py
  mlflow/models/model.py
  mlflow/openai/__init__.py
  mlflow/promptflow/__init__.py
  mlflow/pyfunc/__init__.py
  mlflow/sentence_transformers/__init__.py
  mlflow/tracking/client.py
  mlflow/transformers/__init__.py
  tests/entities/test_prompt.py
  tests/models/test_model.py
Due: ruff, format, custom-python-lint

fix
  mlflow/models/model.py
Due: ruff, format, custom-python-lint

comments
  docs/api_reference/source/conf.py
  mlflow/entities/model_registry/prompt.py
  mlflow/tracking/client.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

Fix JS test
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsDetailsPage.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/test-utils.ts
Due: none

Run `python3 dev/update_changelog.py --prev-version 2.2...` (#14975)
  CHANGELOG.md
Due: blacken-docs

link traces for langchain
  mlflow/langchain/__init__.py
  mlflow/langchain/_langchain_autolog.py
  mlflow/langchain/langchain_tracer.py
  mlflow/langchain/utils/__init__.py
  tests/langchain/conftest.py
  tests/langchain/test_langchain_autolog.py
Due: ruff, format, custom-python-lint

update lock
  mlflow/langchain/__init__.py
Due: ruff, format, custom-python-lint

Support passing Prompt object to `log_model` and add the argument to more flavors (#14948)
  docs/api_reference/source/conf.py
  mlflow/dspy/save.py
  mlflow/entities/model_registry/prompt.py
  mlflow/langchain/__init__.py
  mlflow/llama_index/__init__.py
  mlflow/models/model.py
  mlflow/openai/__init__.py
  mlflow/promptflow/__init__.py
  mlflow/pyfunc/__init__.py
  mlflow/sentence_transformers/__init__.py
  mlflow/tracking/client.py
  mlflow/transformers/__init__.py
  tests/entities/test_prompt.py
  tests/models/test_model.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

Support auto-association of prompt with active run
  mlflow/entities/model_registry/prompt.py
  mlflow/tracking/_model_registry/fluent.py
  tests/entities/test_prompt.py
  tests/langchain/sample_code/chain_with_mlflow_prompt.py
  tests/langchain/test_langchain_model_export.py
  tests/langgraph/test_langgraph_autolog.py
  tests/tracking/_model_registry/test_model_registry_fluent.py
Due: ruff, format, custom-python-lint

update
  tests/langgraph/test_langgraph_autolog.py
Due: ruff, format, custom-python-lint

lint
  mlflow/entities/model_registry/prompt.py
Due: ruff, format, custom-python-lint

Support auto-association of prompt with active run (#14944)
  mlflow/entities/model_registry/prompt.py
  mlflow/tracking/_model_registry/fluent.py
  tests/entities/test_prompt.py
  tests/langchain/sample_code/chain_with_mlflow_prompt.py
  tests/langchain/test_langchain_model_export.py
  tests/tracking/_model_registry/test_model_registry_fluent.py
Due: ruff, format, custom-python-lint

Trace server experiment (#14969)
  mlflow/tracing/destination.py
  tests/tracing/test_destination.py
Due: ruff, format, custom-python-lint

Render version metadata (#14964)
  mlflow/entities/model_registry/prompt.py
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsDetailsPage.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptVersionMetadata.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptVersionTags.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/useCreatePromptModal.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/useCreateRegisteredPromptMutation.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/test-utils.ts
  mlflow/server/js/src/lang/default/en.json
  mlflow/tracking/_model_registry/fluent.py
  mlflow/tracking/client.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

Add prompts to run overview page (#14960)
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewOverview.intg.test.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewOverview.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/overview/RunViewRegisteredPromptsBox.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/api.ts
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/usePromptVersionsForRunQuery.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/types.ts
  mlflow/server/js/src/lang/default/en.json
Due: none

add tests for nested compile case
  mlflow/dspy/autolog.py
  mlflow/dspy/callback.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

Invalidate cache
  .github/actions/py-cache-key/action.yml
Due: none

update comment
  mlflow/dspy/callback.py
Due: ruff, format, custom-python-lint

fix langchain test
  tests/langchain/test_langchain_databricks_dependency_extraction.py
Due: ruff, format, custom-python-lint

move lock
  mlflow/dspy/callback.py
Due: ruff, format, custom-python-lint

address mark
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

Fix duplicated run ID logging in a prompt
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/tracking/client.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint
