Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

fix(s3): set INVALID_PARAMETER_VALUE error code on missing region MlflowException
  mlflow/store/artifact/optimized_s3_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add daily GitHub Actions workflow for AI Gateway benchmark
  .github/workflows/gateway-benchmark.yml
Due: normalize-chars, conftest

test(s3): fix test to not depend on s3_artifact_root fixture
  tests/store/artifact/test_optimized_s3_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

format
  mlflow/store/artifact/optimized_s3_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove redundant flush=True from tests covered by global async fixture
  tests/langchain/test_langchain_autolog.py
  tests/langchain/test_langchain_tracer.py
  tests/pyfunc/test_logged_models.py
  tests/tracking/fluent/test_fluent_autolog.py
  tests/tracking/test_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

init
  mlflow/server/js/src/common/hooks/useEditKeyValueTagsModal.test.tsx
  mlflow/server/js/src/common/hooks/useEditKeyValueTagsModal.tsx
Due: none

Save benchmark results as JSON and upload as CI artifact
  .github/workflows/gateway-benchmark.yml
  dev/benchmarks/gateway/benchmark.py
  dev/benchmarks/gateway/run.py
Due: normalize-chars, ruff, format, clint, typos, conftest

Add pull_request trigger to gateway-benchmark workflow for testing
  .github/workflows/gateway-benchmark.yml
Due: normalize-chars, conftest

Enable async trace logging in tests/tracing and tests/tracking for coverage
  tests/tracing/conftest.py
  tests/tracing/test_fluent.py
  tests/tracking/conftest.py
  tests/tracking/fluent/test_fluent_autolog.py
  tests/tracking/test_client.py
  tests/tracking/test_rest_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Guard inputs.* with workflow_dispatch event check
  .github/workflows/gateway-benchmark.yml
Due: normalize-chars, conftest

i18n
  mlflow/server/js/src/lang/default/en.json
Due: none

Install psycopg2-binary into venv for multi-mode job
  .github/workflows/gateway-benchmark.yml
Due: normalize-chars, conftest

Document request.state side effect in _record_gateway_invocation docstring
  mlflow/server/gateway_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Enable incremental span export, batch span processor, and async trace logging
  .github/workflows/gateway-benchmark.yml
Due: normalize-chars, conftest

Reduce requests to 200 and multi-mode concurrency to 10 for CI
  .github/workflows/gateway-benchmark.yml
Due: normalize-chars, conftest

feat: add multi-range trace view rendering in summary view
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/hooks/useTraceViewFiltering.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerRangesView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerSummaryView.tsx
Due: none

Add UvConfig dataclass and extend uv support to sklearn
  mlflow/sklearn/__init__.py
  mlflow/utils/environment.py
  mlflow/utils/uv_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Extend uv parameter to all remaining model flavors
  mlflow/catboost/__init__.py
  mlflow/h2o/__init__.py
  mlflow/lightgbm/__init__.py
  mlflow/onnx/__init__.py
  mlflow/paddle/__init__.py
  mlflow/pmdarima/__init__.py
  mlflow/pytorch/__init__.py
  mlflow/sentence_transformers/__init__.py
  mlflow/shap/__init__.py
  mlflow/spacy/__init__.py
  mlflow/spark/__init__.py
  mlflow/statsmodels/__init__.py
  mlflow/tensorflow/__init__.py
  mlflow/transformers/__init__.py
  mlflow/xgboost/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add UvConfig support to pyfunc with backward compatibility
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/model.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Export UvConfig from mlflow.models public API
  mlflow/models/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add OTLP helpers for archived trace payloads
  mlflow/store/artifact/artifact_repo.py
  mlflow/store/artifact/databricks_artifact_repo.py
  mlflow/store/artifact/s3_artifact_repo.py
  mlflow/tracing/constant.py
  mlflow/tracing/otel/otel_archival.py
  tests/store/artifact/test_databricks_artifact_repo.py
  tests/store/artifact/test_local_artifact_repo.py
  tests/store/artifact/test_s3_artifact_repo.py
  tests/tracing/otel/test_otel_archival.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: use response model name for openai chat
  mlflow/openai/utils/chat_schema.py
  tests/openai/test_openai_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review feedback: fix cache poisoning, add auth, improve error handling
  dev/check_action_pins.py
Due: normalize-chars, ruff, format, clint, typos

Refactor: use iterator for file collection, match statement for repo parsing
  dev/check_action_pins.py
Due: normalize-chars, ruff, format, clint, typos

Refactor: iterator for file collection, match in repo parsing, cleaner error handling
  dev/check_action_pins.py
Due: normalize-chars, ruff, format, clint, typos

Make check_file a generator
  dev/check_action_pins.py
Due: normalize-chars, ruff, format, clint, typos

Introduce ActionRef dataclass, split iter/check, use Path.open for lazy reading
  dev/check_action_pins.py
Due: normalize-chars, ruff, format, clint, typos

Clean up: simplify docstring, rename _MAX_RETRIES to _MAX_ATTEMPTS, use map(Path, ...)
  dev/check_action_pins.py
Due: normalize-chars, ruff, format, clint, typos

Cache action-pins.json in lint workflow to avoid redundant GitHub API calls
  .github/workflows/lint.yml
Due: normalize-chars, conftest

Invalidate action-pins cache when the script changes
  .github/workflows/lint.yml
Due: normalize-chars, conftest

Add GH_TOKEN to pre-commit step for action-pins API verification
  .github/workflows/lint.yml
Due: normalize-chars, conftest

Use git ls-remote instead of GitHub API for tag verification
  .github/workflows/lint.yml
  dev/check_action_pins.py
Due: normalize-chars, ruff, format, clint, typos, conftest

Fix assistant health check and provider selection
  mlflow/assistant/providers/claude_code.py
  mlflow/server/js/src/assistant/setup/AssistantSetupWizard.tsx
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix async-related test failures in tests/tracing and tests/tracking
  tests/tracing/export/test_mlflow_v3_exporter.py
  tests/tracing/test_assessment.py
  tests/tracing/test_distributed.py
  tests/tracing/test_fluent.py
  tests/tracing/utils/test_copy.py
  tests/tracing/utils/test_otlp.py
  tests/tracing/utils/test_utils.py
  tests/tracking/test_client.py
  tests/tracking/test_rest_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review: only include valid refs in consistency check, sort output
  dev/check_action_pins.py
Due: normalize-chars, ruff, format, clint, typos

Remove test_check_action_pins.py
  tests/dev/test_check_action_pins.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Make _check_version_consistency a generator
  dev/check_action_pins.py
Due: normalize-chars, ruff, format, clint, typos

more async fix
  tests/tracing/display/test_ipython.py
  tests/tracing/export/test_mlflow_v3_exporter.py
  tests/tracing/test_assessment.py
  tests/tracing/test_fluent.py
  tests/tracing/test_tracing_client.py
  tests/tracing/utils/test_copy.py
  tests/tracing/utils/test_warning.py
  tests/tracking/test_rest_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Format jq query as multiline for readability
  .claude/skills/copilot/approve.sh
Due: normalize-chars

Add sqlstate/error_class to MlflowException for error classification
  mlflow/exceptions.py
  mlflow/genai/utils/data_validation.py
  mlflow/models/utils.py
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/model.py
  mlflow/utils/rest_utils.py
  tests/test_exceptions.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
