Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/|charts/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        stages: [commit]
        log_file: .black.log

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [python, rst, markdown]
        stages: [commit]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=pylintrc"]
        stages: [commit]

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]

Restore
  mlflow/gateway/providers/anthropic.py
Due: black, blacken-docs, pylint

Gateway: reintroduce /v1 to anthropic URL (#8987)
  mlflow/gateway/providers/anthropic.py
Due: black, blacken-docs, pylint

move concepts
  docs/source/gateway/index.rst
Due: blacken-docs

Add compatibility for legacy transformers serialization (#8964)
  mlflow/transformers.py
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

add back get_job_type_info
  mlflow/utils/databricks_utils.py
Due: black, blacken-docs, pylint

fix in other PR
  examples/gateway/anthropic/anthropic.yaml
Due: none

rename
  examples/gateway/anthropic/config.yaml
Due: none

delete the old configs
  examples/gateway/anthropic.yaml
  examples/gateway/azure_openai.yaml
  examples/gateway/cohere.yaml
  examples/gateway/openai.yaml
Due: none

Add additional examples for AI Gateway (#8936)
  examples/gateway/README.md
  examples/gateway/anthropic/README.md
  examples/gateway/anthropic/config.yaml
  examples/gateway/anthropic/example.py
  examples/gateway/azure_openai/README.md
  examples/gateway/azure_openai/config.yaml
  examples/gateway/cohere/README.md
  examples/gateway/cohere/config.yaml
  examples/gateway/cohere/example.py
  examples/gateway/openai/README.md
  examples/gateway/openai/config.yaml
  examples/gateway/openai/example.py
  examples/gateway/request.py
Due: black, blacken-docs, pylint

add databricks gateway instructions
  docs/source/gateway/index.rst
Due: blacken-docs

Update .github/workflows/r.yml
  .github/workflows/r.yml
Due: none

docstring
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: black, blacken-docs, pylint

n
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: black, blacken-docs, pylint

Pin tensorflow in R test (#8984)
  .github/workflows/r.yml
Due: none

Update maintainer list (#8983)
  CONTRIBUTING.md
  README.rst
Due: blacken-docs, rstcheck

Update docstring of new method (#8991)
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: black, blacken-docs, pylint

Skip CI if draft PR (#8979)
  .github/workflows/advice.yml
  .github/workflows/cross-version-tests.yml
  .github/workflows/examples.yml
  .github/workflows/js.yml
  .github/workflows/labeling.yml
  .github/workflows/master.yml
  .github/workflows/preview-docs.yml
  .github/workflows/protos.yml
  .github/workflows/r.yml
  .github/workflows/recipe.yml
  .github/workflows/release-note-category.yml
  .github/workflows/requirements.yml
  .github/workflows/test-package-build.yml
Due: none

add validation test for trarnsformers timestamp marking for audio classification
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

fix assertion logic
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

add reference
  mlflow/ml-package-versions.yml
Due: none

Pin tensorflow for older versions of transformers due to breaking Keras change (#8985)
  mlflow/ml-package-versions.yml
Due: none

Remove the Databricks Job Experiment creation code (#8966)
  mlflow/tracking/default_experiment/databricks_job_experiment_provider.py
  mlflow/tracking/default_experiment/registry.py
  mlflow/utils/databricks_utils.py
  tests/tracking/default_experiment/test_databricks_job_experiment_provider.py
  tests/tracking/default_experiment/test_registry.py
  tests/utils/test_databricks_utils.py
Due: black, blacken-docs, pylint

convert all params to python native types
  mlflow/types/schema.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

remove useless variable
  mlflow/models/utils.py
Due: black, blacken-docs, pylint

add INVALID_PARAMETER_VALUE
  mlflow/models/utils.py
  mlflow/types/schema.py
  mlflow/types/utils.py
Due: black, blacken-docs, pylint

support nullable array field
  mlflow/pyfunc/__init__.py
  tests/pyfunc/test_spark.py
Due: black, blacken-docs, pylint

fix _infer_param_schema
  mlflow/models/signature.py
  mlflow/types/schema.py
  mlflow/types/utils.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

address comments
  mlflow/models/utils.py
  mlflow/types/schema.py
  mlflow/types/utils.py
Due: black, blacken-docs, pylint

Remove useless checkout params
  .github/workflows/r.yml
Due: none

add test case for _find_duplicates
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

rename type to dtype
  mlflow/types/schema.py
  mlflow/types/utils.py
  tests/types/test_schema.py
Due: black, blacken-docs, pylint

Move spark_udf in a separate file
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/spark_udf.py
  mlflow/utils/requirements_utils.py
Due: black, blacken-docs, pylint

update tests
  tests/tracking/test_rest_tracking.py
Due: black, blacken-docs, pylint
