Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|ts|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

Add reference to CONTRIBUTING.md in CLAUDE.md files
  CLAUDE.md
  mlflow/server/js/CLAUDE.md
Due: blacken-docs, clint, typos

fix
  mlflow/genai/judges/base.py
  tests/genai/judges/test_judge_base.py
Due: ruff, format, clint, typos

doc
  mlflow/genai/judges/base.py
Due: ruff, format, clint, typos

Remove Architecture Overview section and add pre-commit tool documentation
  CLAUDE.md
Due: blacken-docs, clint, typos

Support searching traces by span name (#17326)
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/utils/search_utils.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, clint, typos

Address review comments from harupy
  .github/workflows/tracing.yaml
  mlflow/server/otel_api.py
  tests/tracing/test_otel_logging.py
  tests/tracking/integration_test_utils.py
Due: ruff, format, clint, typos, conftest

addressed PR comments
  mlflow/claude_code/cli.py
  mlflow/claude_code/config.py
  mlflow/claude_code/hooks.py
  tests/claude_code/test_config.py
  tests/claude_code/test_tracing.py
Due: ruff, format, clint, typos

Add type hints to all test functions with mlflow_server parameter
  tests/tracing/test_otel_logging.py
Due: ruff, format, clint, typos

convert unnecessary logs to debug
  mlflow/genai/experimental/databricks_trace_archival.py
Due: ruff, format, clint, typos

Capture `too many open files` error and provide guidance (#17317)
  mlflow/store/artifact/artifact_repo.py
Due: ruff, format, clint, typos

Improve OTel test reliability with proper cleanup and sync logging
  tests/tracing/test_otel_logging.py
Due: ruff, format, clint, typos

abstract
  mlflow/genai/judges/base.py
  tests/genai/judges/test_judge_base.py
Due: ruff, format, clint, typos

Add lakebase as resrouce type in mlflow
  mlflow/models/resources.py
  tests/models/test_resources.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
Due: ruff, format, clint, typos

Remove Tool.run dependency (#17299)
  mlflow/pydantic_ai/__init__.py
  tests/pydantic_ai/test_pydanticai_fluent_tracing.py
  tests/pydantic_ai/test_pydanticai_tracing.py
Due: ruff, format, clint, typos

Remove unnecessary info logs for trace archival enablement (#17308)
  mlflow/genai/experimental/databricks_trace_archival.py
Due: ruff, format, clint, typos

Judge builder stub SDK (#17328)
  docs/api_reference/api_inventory.txt
  mlflow/genai/judges/__init__.py
  mlflow/genai/judges/base.py
  tests/genai/judges/test_judge_base.py
Due: ruff, format, clint, typos

wip
  mlflow/cli/traces.py
  mlflow/mcp/server.py
  tests/mcp/test_mcp.py
Due: ruff, format, clint, typos

rm
  mlflow/mcp/client.py
Due: ruff, format, clint, typos

Introduce mlflow autolog claude to trace claude code interactions (#17305)
  .gitignore
  mlflow/claude_code/README.md
  mlflow/claude_code/__init__.py
  mlflow/claude_code/cli.py
  mlflow/claude_code/config.py
  mlflow/claude_code/hooks.py
  mlflow/claude_code/tracing.py
  mlflow/cli/__init__.py
  tests/claude_code/test_cli.py
  tests/claude_code/test_config.py
  tests/claude_code/test_tracing.py
Due: ruff, format, blacken-docs, clint, typos

fix linter
  mlflow/genai/scorers/registry.py
Due: ruff, format, clint, typos

wip
  mlflow/mcp/cli.py
  mlflow/mcp/server.py
  tests/mcp/test_cli.py
Due: ruff, format, clint, typos

rename set_tag and delete_tag functions to set_trace_tag and delete_trace_tag for clarity
  mlflow/cli/traces.py
Due: ruff, format, clint, typos

wip
  mlflow/mcp/server.py
Due: ruff, format, clint, typos

add getLoggedModel event
  mlflow/telemetry/events.py
  mlflow/tracking/_tracking_service/client.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, clint, typos

doc
  docs/docs/community/usage-tracking.mdx
Due: blacken-docs, clint, typos

Improve tests
  tests/mcp/test_mcp.py
Due: ruff, format, clint, typos

Improve test_cli
  tests/mcp/test_cli.py
Due: ruff, format, clint, typos

update
  .github/workflows/master.yml
Due: conftest

Track create_webhook event (#17261)
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/events.py
  mlflow/tracking/_model_registry/client.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos

docs
  docs/docs/genai/mcp/index.mdx
Due: blacken-docs, clint, typos

wip
  mlflow/mcp/__init__.py
  mlflow/mcp/cli.py
Due: ruff, format, clint, typos

add log_param and log_batch events
  mlflow/telemetry/events.py
  mlflow/tracking/_tracking_service/client.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, clint, typos

fix cross version test of litellm for usage tracking
  tests/litellm/test_litellm_autolog.py
Due: ruff, format, clint, typos

fix test since more events are added
  tests/telemetry/test_client.py
Due: ruff, format, clint, typos

Refactor cmd_to_function_tool to use local variables for name and description
  mlflow/mcp/server.py
Due: ruff, format, clint, typos

add log_metric event
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/events.py
  mlflow/tracking/_tracking_service/client.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos

Fix required field
  mlflow/mcp/server.py
Due: ruff, format, clint, typos
