Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

update
  mlflow/server/js/package.json
  mlflow/server/js/src/graphql/codegen-check.sh
Due: none

fix: cascade experiment id fk deletion in datasets table (#11695)
  mlflow/store/db_migrations/versions/93bd306463bd_add_cascading_delete_on_experiments_fk_in_datasets_table.py
  mlflow/store/tracking/dbmodels/models.py
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/resources/db/latest_schema.sql
  tests/test_cli.py
Due: ruff, format, custom-python-lint

Revert "fix: cascade experiment id fk deletion in datasets table (#11695)"
  mlflow/store/db_migrations/versions/93bd306463bd_add_cascading_delete_on_experiments_fk_in_datasets_table.py
  mlflow/store/tracking/dbmodels/models.py
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/resources/db/latest_schema.sql
  tests/test_cli.py
Due: ruff, format, custom-python-lint

Revert "fix: cascade experiment id fk deletion in datasets table" (#11945)
  mlflow/store/db_migrations/versions/93bd306463bd_add_cascading_delete_on_experiments_fk_in_datasets_table.py
  mlflow/store/tracking/dbmodels/models.py
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/resources/db/latest_schema.sql
  tests/test_cli.py
Due: ruff, format, custom-python-lint

Try forcing SSL 1.2 and set timeout on request session
  mlflow/utils/request_utils.py
Due: ruff, format, custom-python-lint

Run `python3 dev/update_mlflow_versions.py pre-release ...` (#11944)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.skinny.toml
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

comment out debug level
  mlflow/utils/request_utils.py
Due: ruff, format, custom-python-lint

Run python3 dev/update_changelog.py --prev-version 2.1...
  CHANGELOG.md
Due: blacken-docs

Debug
  mlflow/utils/request_utils.py
Due: ruff, format, custom-python-lint

Update
  mlflow/utils/request_utils.py
Due: ruff, format, custom-python-lint

Don't customize SSL for now
  mlflow/utils/request_utils.py
Due: ruff, format, custom-python-lint

fix saving model config
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Use custom SSL context
  mlflow/utils/request_utils.py
Due: ruff, format, custom-python-lint

Add comment
  mlflow/utils/request_utils.py
Due: ruff, format, custom-python-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: blacken-docs

update
  .gitignore
  dev/proto_to_graphql/autogeneration_utils.py
  dev/proto_to_graphql/code_generator.py
  mlflow/server/js/package.json
  mlflow/server/js/src/graphql/graphql-codegen.ts
  mlflow/server/js/src/graphql/graphql.d.ts
Due: ruff, format, custom-python-lint

newline
  mlflow/server/js/src/graphql/graphql-codegen.ts
Due: none

cleanup type file
  mlflow/server/js/src/graphql/graphql.d.ts
Due: none

fix SSL
  mlflow/utils/request_utils.py
Due: ruff, format, custom-python-lint

Cleanup
  mlflow/utils/request_utils.py
Due: ruff, format, custom-python-lint

Run `python3 dev/update_changelog.py --prev-version 2.1...` (#11947)
  CHANGELOG.md
Due: blacken-docs

Fix `test_load_spark_model_from_models_uri` (#11934)
  tests/spark/test_spark_model_export.py
Due: ruff, format, custom-python-lint

pls work
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Add source tags to traces in MlflowSpanProcessor (#11894)
  mlflow/tracing/processor/mlflow.py
  tests/entities/test_trace.py
  tests/tracing/processor/test_mlflow_processor.py
  tests/tracing/test_fluent.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

Add make_custom_genai_metric to __init__.py (#11928)
  mlflow/metrics/genai/__init__.py
  mlflow/metrics/genai/genai_metric.py
Due: ruff, format, custom-python-lint

again
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

fix?
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Update search API to return dataframe and support field extraction (#11931)
  mlflow/entities/trace.py
  mlflow/entities/trace_info.py
  mlflow/tracing/fluent.py
  mlflow/tracing/utils.py
  tests/tracing/test_fluent.py
  tests/tracing/test_utils.py
Due: ruff, format, custom-python-lint

Only exclude tags for RestStore (#11924)
  mlflow/store/tracking/rest_store.py
  mlflow/tracing/trace_manager.py
  mlflow/tracing/utils.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
  tests/entities/test_trace.py
  tests/tracing/processor/test_mlflow_processor.py
  tests/tracking/_tracking_service/test_tracking_service_client.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

Tracing APIs in FileStore (#11850)
  mlflow/entities/trace_info.py
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/export/mlflow.py
  mlflow/tracing/processor/mlflow.py
  mlflow/tracing/trace_manager.py
  mlflow/tracing/utils.py
  mlflow/tracking/client.py
  mlflow/utils/file_utils.py
  mlflow/utils/search_utils.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracing/export/test_mlflow_exporter.py
  tests/tracing/processor/test_mlflow_processor.py
  tests/tracking/_tracking_service/test_tracking_service_client.py
Due: ruff, format, custom-python-lint

Fix eval traces log (#11938)
  mlflow/tracing/constant.py
  mlflow/tracing/export/mlflow.py
  mlflow/tracing/processor/mlflow.py
  tests/tracing/processor/test_mlflow_processor.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
