Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: clint
  language: system
  stages:
  - pre-commit
  require_serial: true

generate-requirements:
  name: generate-requirements
  entry: "python dev/generate_requirements.py\n  --package-names tracing skinny core gateway\n  --requirements-yaml-location requirements\n  --requirements-txt-output-location requirements\n"
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: dev/typos.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: conftest test --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

Remove redundant LangChain version checks in tests (< 0.3.3) (#18184)
  tests/langchain/test_chat_agent_langchain.py
  tests/langchain/test_chat_utils.py
  tests/langchain/test_langchain_autolog.py
  tests/langchain/test_langchain_databricks_dependency_extraction.py
  tests/langchain/test_langchain_databricks_integration.py
  tests/langchain/test_langchain_model_export.py
  tests/langchain/test_langchain_output_parsers.py
  tests/langchain/test_langchain_tracer.py
  tests/langchain/test_responses_agent_langchain.py
Due: ruff, format, clint, typos

Add `GENERATE_SOURCEMAP=false` to npm build script to reduce package size (#18185)
  mlflow/server/js/package.json
Due: none

Format
  docs/docs/classic-ml/getting-started/logging-first-model/step5-synthetic-data.mdx
Due: blacken-docs, clint, typos

update
  .github/workflows/master.yml
  tests/server/jobs/test_jobs.py
Due: ruff, format, clint, typos, conftest

add
  CHANGELOG.md
Due: blacken-docs, clint, typos

img
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableQuickstart.utils.tsx
  mlflow/server/js/src/home/HomePage.tsx
  mlflow/server/js/src/home/components/GetStarted.tsx
  mlflow/server/js/src/home/components/LogTracesDrawer.tsx
  mlflow/server/js/src/home/quick-actions.tsx
Due: none

trace drawer
  .design/tasks.md
  mlflow/server/js/src/common/static/logos/autogen.png
  mlflow/server/js/src/common/static/logos/crewai.png
  mlflow/server/js/src/common/static/logos/gemini.png
  mlflow/server/js/src/common/static/logos/litellm.png
  mlflow/server/js/src/common/static/logos/llamaindex.png
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableGenericQuickstart.tsx
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableQuickstart.utils.tsx
  mlflow/server/js/src/home/HomePage.tsx
  mlflow/server/js/src/home/components/GetStarted.tsx
  mlflow/server/js/src/home/components/LogTracesDrawer.tsx
  mlflow/server/js/src/home/components/cardStyles.ts
Due: blacken-docs, clint, typos

Fix documentation: update deprecated pandas fillna usage in classic-ml tutorial (#17927)
  docs/docs/classic-ml/getting-started/logging-first-model/step5-synthetic-data.mdx
Due: blacken-docs, clint, typos

update
  CHANGELOG.md
Due: blacken-docs, clint, typos

Add Python 3.14 support
  .github/actions/setup-python/action.yml
  .python-version
Due: conftest

update test
  tests/server/jobs/test_jobs.py
Due: ruff, format, clint, typos

test
  .github/actions/setup-python/action.yml
Due: conftest

add new
  CHANGELOG.md
Due: blacken-docs, clint, typos

cut sections
  CHANGELOG.md
Due: blacken-docs, clint, typos

fix
  CHANGELOG.md
Due: blacken-docs, clint, typos

emoji
  CHANGELOG.md
Due: blacken-docs, clint, typos

Anthropic Typescript SDK
  libs/typescript/core/package.json
  libs/typescript/core/tests/clients/client.test.ts
  libs/typescript/integrations/anthropic/README.md
  libs/typescript/integrations/anthropic/jest.config.js
  libs/typescript/integrations/anthropic/package.json
  libs/typescript/integrations/anthropic/src/index.ts
  libs/typescript/integrations/anthropic/tests/index.test.ts
  libs/typescript/integrations/anthropic/tests/mockAnthropicServer.ts
  libs/typescript/integrations/anthropic/tsconfig.json
  libs/typescript/package-lock.json
  libs/typescript/package.json
Due: blacken-docs, clint, typos

Anthropic Typescript SDK
  libs/typescript/integrations/anthropic/README.md
Due: blacken-docs, clint, typos

lint
  libs/typescript/core/tests/clients/client.test.ts
  libs/typescript/integrations/anthropic/README.md
  libs/typescript/integrations/anthropic/jest.config.js
  libs/typescript/integrations/anthropic/package.json
  libs/typescript/integrations/anthropic/src/index.ts
  libs/typescript/integrations/anthropic/tests/index.test.ts
  libs/typescript/integrations/anthropic/tests/mockAnthropicServer.ts
  libs/typescript/integrations/anthropic/tsconfig.json
Due: blacken-docs, clint, typos

uv lock
  uv.lock
Due: none

fix
  libs/typescript/integrations/anthropic/src/index.ts
Due: none

event test
  mlflow/telemetry/events.py
  tests/telemetry/test_events.py
Due: ruff, format, clint, typos

tests
  .design/tasks.md
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableGenericQuickstart.tsx
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableQuickstart.utils.tsx
  mlflow/server/js/src/home/components/GetStarted.test.tsx
  mlflow/server/js/src/home/components/GetStarted.tsx
  mlflow/server/js/src/home/components/LogTracesDrawer.test.tsx
  mlflow/server/js/src/home/components/LogTracesDrawer.tsx
  mlflow/server/js/src/home/components/cardStyles.ts
Due: blacken-docs, clint, typos

remove
  libs/typescript/core/tests/clients/client.test.ts
Due: none

Add cross-version test matrix info to GitHub Actions summary
  .github/workflows/cross-version-tests.yml
  tests/conftest.py
Due: ruff, format, clint, typos, conftest

test
  tests/sklearn/test_sklearn_autolog.py
Due: ruff, format, clint, typos

lint
  libs/typescript/core/tests/clients/client.test.ts
Due: none

Display cross-version matrix as YAML with literal block scalars
  tests/conftest.py
Due: ruff, format, clint, typos

fix
  tests/conftest.py
Due: ruff, format, clint, typos

comments
  mlflow/dspy/autolog.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, clint, typos

nit
  tests/server/jobs/test_jobs.py
Due: ruff, format, clint, typos

lint
  mlflow/server/js/src/home/components/LogTracesDrawer.tsx
Due: none

Remove verbose 'run' field from cross-version matrix summary
  tests/conftest.py
Due: ruff, format, clint, typos

Fix missing metadata in ts sdk trace (#18178)
  .github/workflows/typescript.yml
  libs/typescript/core/src/core/constants.ts
  libs/typescript/core/src/exporters/mlflow.ts
  libs/typescript/core/tests/clients/client.test.ts
Due: conftest

Update section headers in terminal summary for cross-version tests
  tests/conftest.py
Due: ruff, format, clint, typos

new line
  tests/conftest.py
Due: ruff, format, clint, typos

Job backend: Support creating virtual python environment for job execution (#18111)
  .github/workflows/master.yml
  dev/pyproject.py
  libs/skinny/pyproject.toml
  mlflow/server/jobs/__init__.py
  mlflow/server/jobs/_job_subproc_entry.py
  mlflow/server/jobs/utils.py
  mlflow/utils/virtualenv.py
  pyproject.release.toml
  pyproject.toml
  tests/server/jobs/test_jobs.py
  uv.lock
Due: ruff, format, taplo, clint, typos, conftest

Handle max result limit in BatchGetTraces
  mlflow/tracing/client.py
  mlflow/tracing/constant.py
  tests/tracking/test_client.py
Due: ruff, format, clint, typos

address comments
  mlflow/gateway/app.py
  mlflow/gateway/providers/base.py
  requirements/gateway-requirements.yaml
  tests/gateway/providers/test_traffic_route_provider.py
Due: ruff, format, clint, generate-requirements, typos

format
  mlflow/gateway/app.py
Due: ruff, format, clint, typos

Path conditions:
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  taplo: any of: \.toml$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  generate-requirements: any of: ^requirements/
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
