Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Make sqlalchemy imports lazy to fix skinny client, silence integer schema warning
  fs2db/src/generate_synthetic_data.py
  mlflow/store/fs2db/_verify.py
  mlflow/store/fs2db/cli.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix model input schema mapping and generate model inputs in synthetic data
  fs2db/src/generate_synthetic_data.py
  mlflow/store/fs2db/_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Replace file_utils with pathlib, add MigrationStats dataclass, verify all entities
  mlflow/store/fs2db/__init__.py
  mlflow/store/fs2db/_helpers.py
  mlflow/store/fs2db/_registry.py
  mlflow/store/fs2db/_tracking.py
  mlflow/store/fs2db/_verify.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Restructure verification into row counts + spot checks, silence FileStore warnings
  mlflow/store/fs2db/__init__.py
  mlflow/store/fs2db/_verify.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix verification spot checks for traces, registered models, and prompts
  mlflow/store/fs2db/_verify.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add run output migration to fs2db
  mlflow/store/fs2db/__init__.py
  mlflow/store/fs2db/_helpers.py
  mlflow/store/fs2db/_tracking.py
  mlflow/store/fs2db/_verify.py
  tests/store/fs2db/test_migration.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add FileStore layout docstrings to _tracking.py and _registry.py
  mlflow/store/fs2db/_registry.py
  mlflow/store/fs2db/_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add --verify flag and extract for_each_experiment helper
  .github/workflows/fs2db.yml
  mlflow/store/fs2db/__init__.py
  mlflow/store/fs2db/_helpers.py
  mlflow/store/fs2db/_tracking.py
  mlflow/store/fs2db/_verify.py
  mlflow/store/fs2db/cli.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

Replace dict[str, object] with dict[str, Any] in fs2db helpers
  mlflow/store/fs2db/_helpers.py
  mlflow/store/fs2db/_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Validate target DB path in migrate-filestore CLI
  mlflow/store/fs2db/cli.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review feedback on fs2db migration
  mlflow/store/fs2db/__init__.py
  mlflow/store/fs2db/_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add pytest tests for fs2db migration
  .github/workflows/fs2db.yml
  tests/store/fs2db/__init__.py
  tests/store/fs2db/conftest.py
  tests/store/fs2db/test_migration.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

init
  mlflow/lightgbm/__init__.py
  mlflow/sklearn/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

init
  mlflow/dspy/load.py
  mlflow/dspy/save.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

update
  mlflow/lightgbm/__init__.py
  mlflow/sklearn/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

format
  mlflow/dspy/load.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use `logger.warning` instead of `warnings.warn` for sklearn pickle warning message (#20768)
  mlflow/sklearn/__init__.py
  tests/sklearn/test_sklearn_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Migrate TypeScript packages to @mlflow/* org scope
  docs/api_reference/build-tsdoc.sh
  docs/api_reference/tsdoc.index.html.template
  docs/docs/genai/tracing/app-instrumentation/manual-tracing.mdx
  docs/docs/genai/tracing/integrations/contribute.mdx
  docs/docs/genai/tracing/integrations/listing/anthropic.mdx
  docs/docs/genai/tracing/integrations/listing/databricks-ai-gateway.mdx
  docs/docs/genai/tracing/integrations/listing/databricks.mdx
  docs/docs/genai/tracing/integrations/listing/fireworksai.mdx
  docs/docs/genai/tracing/integrations/listing/gemini.mdx
  docs/docs/genai/tracing/integrations/listing/litellm-proxy.mdx
  docs/docs/genai/tracing/integrations/listing/ollama.mdx
  docs/docs/genai/tracing/integrations/listing/openai.mdx
  docs/docs/genai/tracing/integrations/listing/vercelai.mdx
  docs/docs/genai/tracing/quickstart/index.mdx
  docs/docs/genai/tracing/track-users-sessions/index.mdx
  docs/docs/self-hosting/architecture/tracking-server.mdx
  docs/src/components/OpenAICompatibleGatewayDoc/index.tsx
  docs/src/components/OpenAICompatibleTracingDoc/index.tsx
  libs/typescript/README.md
  libs/typescript/core/README.md
  libs/typescript/core/package.json
  libs/typescript/core/src/core/config.ts
  libs/typescript/integrations/anthropic/README.md
  libs/typescript/integrations/anthropic/package.json
  libs/typescript/integrations/anthropic/src/index.ts
  libs/typescript/integrations/anthropic/tests/index.test.ts
  libs/typescript/integrations/gemini/README.md
  libs/typescript/integrations/gemini/package.json
  libs/typescript/integrations/gemini/src/index.ts
  libs/typescript/integrations/gemini/tests/index.test.ts
  libs/typescript/integrations/openai/README.md
  libs/typescript/integrations/openai/package.json
  libs/typescript/integrations/openai/src/index.ts
  libs/typescript/integrations/openai/tests/index.test.ts
  libs/typescript/package-lock.json
  libs/typescript/scripts/bump-ts-version.ts
Due: normalize-chars, blacken-docs, clint, typos

Fix Prettier formatting issues
  libs/typescript/README.md
  libs/typescript/core/README.md
  libs/typescript/core/src/core/api.ts
  libs/typescript/integrations/anthropic/README.md
  libs/typescript/integrations/gemini/README.md
  libs/typescript/integrations/gemini/src/index.ts
  libs/typescript/integrations/openai/README.md
  libs/typescript/integrations/openai/docs/assets/main.js
Due: normalize-chars, blacken-docs, clint, typos

move category
  docs/sidebarsClassicML.ts
Due: normalize-chars

Refactor GatewayRequestType and update request type in gemini_passthrough_stream_generate_content
  mlflow/gateway/config.py
  mlflow/server/gateway_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

update
  mlflow/dspy/load.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

ResponsesAgent: allow list content in function call output (#20777)
  mlflow/types/responses.py
  mlflow/types/responses_helpers.py
  tests/pyfunc/test_responses_agent_validation.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

ResponsesAgent: parallel tool calling fix (#20707)
  mlflow/types/responses.py
  tests/langchain/test_responses_agent_langchain.py
  tests/pyfunc/test_responses_agent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update migration docs for per-experiment batching, new options, and run I/O
  docs/docs/self-hosting/migrate-from-file-store.mdx
Due: normalize-chars, blacken-docs, clint, typos

Fix Windows CI by converting tracking URI paths to file:// URIs
  fs2db/src/generate_synthetic_data.py
  mlflow/store/fs2db/_verify.py
  tests/store/fs2db/conftest.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add telemetry for workspace usage
  mlflow/telemetry/client.py
  mlflow/telemetry/schemas.py
  tests/telemetry/test_client.py
  tests/telemetry/test_track.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

update
  mlflow/pytorch/__init__.py
  tests/pytorch/test_pytorch_model_export.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Apply suggestion from @daniellok-db
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableGenericQuickstart.tsx
Due: none

update
  docs/docs/classic-ml/tracking/pickle-free-models/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Apply suggestion from @daniellok-db
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTable.tsx
Due: none

Rename is_workspace_enabled to ws_enabled to save bytes
  mlflow/telemetry/client.py
  mlflow/telemetry/schemas.py
  tests/telemetry/test_client.py
  tests/telemetry/test_track.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

address comments
  mlflow/pytorch/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

format
  mlflow/pytorch/__init__.py
  tests/pytorch/test_pytorch_model_export.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Include response body in HTTP error messages with 1000 character limit (#20794)
  libs/typescript/core/src/clients/utils.ts
  libs/typescript/core/tests/clients/utils.test.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/FetchUtils.test.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/FetchUtils.ts
Due: normalize-chars

UI: Improve empty states for Traces and Sessions tabs (#20034)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Toolbar.tsx
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableGenericQuickstart.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/GenAIChatSessionsEmptyState.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/GenAIChatSessionsTable.tsx
Due: none

fixes
  mlflow/server/js/src/gateway/components/endpoints/EndpointsList.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
