Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

Replace more python versions
  tests/resources/example_mlflow_1x_sklearn_model/MLmodel
  tests/sklearn/test_sklearn_model_export.py
Due: ruff, format, custom-python-lint

Add 3.11
  dev/set_matrix.py
Due: ruff, format, custom-python-lint

Remove mlflow.db in repository root (#15863)
  .gitignore
  mlflow.db
Due: none

Fix message
  .github/actions/validate-author/index.js
Due: none

Fix
  .github/actions/validate-author/index.js
Due: none

returns
  .github/actions/validate-author/index.js
Due: none

Add PR comments when validate-author action fails (#15865)
  .github/actions/validate-author/index.js
Due: none

skeleton
  docs/docs/classic-ml/auth/index.mdx
  docs/docs/classic-ml/deep-learning/keras/quickstart/index.mdx
  docs/docs/classic-ml/deep-learning/pytorch/quickstart/index.mdx
  docs/docs/classic-ml/deep-learning/tensorflow/quickstart/index.mdx
  docs/docs/classic-ml/evaluation/dataset-eval/index.mdx
  docs/docs/classic-ml/evaluation/function-eval/index.mdx
  docs/docs/classic-ml/evaluation/index.md
  docs/docs/classic-ml/evaluation/metrics-visualizations/index.mdx
  docs/docs/classic-ml/evaluation/model-eval/index.mdx
  docs/docs/classic-ml/evaluation/shap/index.mdx
  docs/docs/classic-ml/plugins/index.mdx
  docs/docs/classic-ml/projects/index.mdx
  docs/docs/classic-ml/traditional-ml/creating-custom-pyfunc/index.mdx
  docs/docs/classic-ml/traditional-ml/creating-custom-pyfunc/notebooks/basic-pyfunc.ipynb
  docs/docs/classic-ml/traditional-ml/creating-custom-pyfunc/notebooks/index.mdx
  docs/docs/classic-ml/traditional-ml/creating-custom-pyfunc/notebooks/introduction.ipynb
  docs/docs/classic-ml/traditional-ml/creating-custom-pyfunc/notebooks/override-predict.ipynb
  docs/docs/classic-ml/traditional-ml/creating-custom-pyfunc/part1-named-flavors/index.mdx
  docs/docs/classic-ml/traditional-ml/creating-custom-pyfunc/part2-pyfunc-components/index.mdx
  docs/docs/classic-ml/traditional-ml/hyperparameter-tuning/notebooks/hyperparameter-tuning-with-child-runs.ipynb
  docs/docs/classic-ml/traditional-ml/hyperparameter-tuning/notebooks/hyperparameter-tuning-with-optuna.ipynb
  docs/docs/classic-ml/traditional-ml/hyperparameter-tuning/part1-child-runs/index.mdx
  docs/docs/classic-ml/traditional-ml/hyperparameter-tuning/part2-logging-plots/index.mdx
  docs/docs/classic-ml/traditional-ml/serving-multiple-models-with-pyfunc/index.mdx
  docs/docs/classic-ml/traditional-ml/serving-multiple-models-with-pyfunc/notebooks/MME_Tutorial.ipynb
  docs/docs/classic-ml/traditional-ml/serving-multiple-models-with-pyfunc/notebooks/index.mdx
  docs/docs/classic-ml/tutorials-and-examples/index.mdx
  docs/sidebarsClassicML.ts
Due: ruff, format, blacken-docs

Add Databricks App resource
  mlflow/models/resources.py
  tests/models/test_resources.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
Due: ruff, format, custom-python-lint

deep learning pages
  docs/docs/classic-ml/deep-learning/index.mdx
  docs/docs/classic-ml/deep-learning/keras/guide/index.mdx
  docs/docs/classic-ml/deep-learning/keras/index.mdx
  docs/docs/classic-ml/deep-learning/keras/quickstart/index.mdx
  docs/docs/classic-ml/deep-learning/keras/quickstart/quickstart-keras.ipynb
  docs/docs/classic-ml/deep-learning/pytorch/guide/index.mdx
  docs/docs/classic-ml/deep-learning/pytorch/index.mdx
  docs/docs/classic-ml/deep-learning/pytorch/quickstart/index.mdx
  docs/docs/classic-ml/deep-learning/pytorch/quickstart/quickstart-pytorch.ipynb
  docs/docs/classic-ml/deep-learning/tensorflow/guide/index.mdx
  docs/docs/classic-ml/deep-learning/tensorflow/index.mdx
  docs/docs/classic-ml/deep-learning/tensorflow/quickstart/index.mdx
  docs/docs/classic-ml/deep-learning/tensorflow/quickstart/quickstart-tensorflow.ipynb
  docs/docs/deep-learning/index.mdx
  docs/docs/deep-learning/keras/index.mdx
  docs/docs/deep-learning/keras/quickstart/quickstart_keras.ipynb
  docs/docs/deep-learning/pytorch/guide/index.mdx
  docs/docs/deep-learning/pytorch/index.mdx
  docs/docs/deep-learning/pytorch/quickstart/pytorch_quickstart.ipynb
  docs/docs/deep-learning/tensorflow/guide/index.mdx
  docs/docs/deep-learning/tensorflow/index.mdx
  docs/docs/deep-learning/tensorflow/quickstart/quickstart_tensorflow.ipynb
  docs/sidebarsClassicML.ts
Due: ruff, format

address comments
  mlflow/environment_variables.py
  mlflow/tracking/_model_registry/fluent.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/env_pack.py
Due: ruff, format, custom-python-lint

space
  docs/api_reference/theme/mlflow/header.html
  docs/api_reference/theme/mlflow/static/css/custom.css
  docs/api_reference/theme/mlflow/static/css/theme.css
Due: none

Backport infinite loop fix (#15841)
  mlflow/server/js/src/index.tsx
Due: none

Prevent incorrect validate-author failure comment
  .github/workflows/autoformat.yml
  .github/workflows/cross-version-test-runner.yml
Due: none

Paginate list_endpoints when querying AWS Sagemaker. fixes 15842
  mlflow/sagemaker/__init__.py
Due: ruff, format, custom-python-lint

Prevent incorrect `validate-author` failure comment (#15869)
  .github/workflows/autoformat.yml
  .github/workflows/cross-version-test-runner.yml
Due: none

fix otlp
  mlflow/tracing/processor/otel.py
Due: ruff, format, custom-python-lint

fix
  mlflow/store/model_registry/abstract_store.py
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/client.py
Due: ruff, format, custom-python-lint

rename hook
  .pre-commit-config.yaml
Due: none

support autogen 0.5
  docs/docs/tracing/integrations/autogen.mdx
  docs/docs/tracing/integrations/index.mdx
  docs/static/images/llms/autogen/autogen-trace.png
  mlflow/__init__.py
  mlflow/ag2/ag2_logger.py
  mlflow/autogen/__init__.py
  mlflow/autogen/chat.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  mlflow/tracing/provider.py
  mlflow/tracing/utils/__init__.py
  requirements/extra-ml-requirements.txt
  tests/ag2/test_ag2_autolog.py
  tests/autogen/test_autogen_autolog.py
Due: ruff, format, custom-python-lint, mlver

fix ag2 test
  conftest.py
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint

address comments
  mlflow/ag2/__init__.py
  mlflow/autogen/chat.py
  tests/ag2/test_ag2_autolog.py
Due: ruff, format, custom-python-lint

update versions
  docs/docs/tracing/integrations/ag2.mdx
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: ruff, format, custom-python-lint, mlver

move previous autogen integration to ag2
  docs/docs/tracing/index.mdx
  docs/docs/tracing/integrations/ag2.mdx
  docs/static/images/llms/ag2/ag2-trace.png
  docs/static/images/logos/ag2-logo.png
  examples/ag2/tracing.py
  mlflow/__init__.py
  mlflow/ag2/__init__.py
  mlflow/ag2/ag2_logger.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  mlflow/tracking/fluent.py
  mlflow/utils/autologging_utils/__init__.py
  tests/ag2/test_ag2_autolog.py
Due: ruff, format, custom-python-lint, mlver

fix ag2 test
  mlflow/ag2/ag2_logger.py
  tests/ag2/test_ag2_autolog.py
Due: ruff, format, custom-python-lint

fix test
  tests/autogen/test_autogen_autolog.py
Due: ruff, format, custom-python-lint

implement patch based auto-logging
  mlflow/autogen/__init__.py
  mlflow/tracing/provider.py
Due: ruff, format, custom-python-lint

commit OTEL changes
  mlflow/autogen/__init__.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: ruff, format, custom-python-lint, mlver

temp
  mlflow/__init__.py
  mlflow/autogen/__init__.py
Due: ruff, format, custom-python-lint

fix ci test
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint, mlver

Migrate trace manager to V3 TraceInfo (#15850)
  mlflow/entities/trace_info_v2.py
  mlflow/openai/autolog.py
  mlflow/tracing/export/inference_table.py
  mlflow/tracing/export/mlflow_v2.py
  mlflow/tracing/export/mlflow_v3.py
  mlflow/tracing/fluent.py
  mlflow/tracing/processor/base_mlflow.py
  mlflow/tracing/processor/inference_table.py
  mlflow/tracing/processor/mlflow_v2.py
  mlflow/tracing/processor/mlflow_v3.py
  mlflow/tracing/processor/otel.py
  mlflow/tracing/trace_manager.py
  tests/dspy/test_dspy_autolog.py
  tests/langchain/test_langchain_autolog.py
  tests/llama_index/test_llama_index_autolog.py
  tests/openai/test_openai_autolog.py
  tests/tracing/conftest.py
  tests/tracing/export/test_mlflow_v2_exporter.py
  tests/tracing/helper.py
  tests/tracing/processor/test_inference_table_processor.py
  tests/tracing/processor/test_mlflow_v2_processor.py
  tests/tracing/processor/test_mlflow_v3_processor.py
  tests/tracing/test_fluent.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

fix single input parsing logic
  mlflow/dspy/wrapper.py
  tests/dspy/test_save.py
Due: ruff, format, custom-python-lint

Fix typo in test function name: test_differenet_requirements_create_different_environments (#15877)
  tests/pyfunc/test_virtualenv.py
Due: ruff, format, custom-python-lint

Update astral-sh/setup-uv step in .github/actions/setup-python/action.yml (#15879)
  .github/actions/setup-python/action.yml
Due: none

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
