Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Show dataset notification
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets/components/ExportTracesToDatasetModal.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets/hooks/useExportTracesToDatasetModal.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets/hooks/useUpsertDatasetRecordsMutation.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAITracesTableActions.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/types.ts
Due: none

Show ID and tags on dataset UI
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets/components/ExperimentEvaluationDatasetRecordsToolbar.tsx
Due: none

fix types
  mlflow/server/js/src/experiment-tracking/components/MetricsPlotPanel.enzyme.test.tsx
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactHtmlView.enzyme.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useSharedExperimentViewState.test.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewOverview.intg.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsDetailsPage.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsPage.test.tsx
  mlflow/server/js/src/model-registry/components/PromoteModelButton.test.tsx
  mlflow/server/js/src/model-registry/components/RegisterModel.enzyme.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/TraceUtils.test.ts
Due: none

i18n
  mlflow/server/js/src/lang/default/en.json
Due: none

lint
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets/components/ExportTracesToDatasetModal.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets/hooks/useExportTracesToDatasetModal.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/types.ts
Due: none

Redirect /ml/tracking/quickstart/notebooks/tracking_quickstart
  docs/docusaurus.config.ts
Due: normalize-chars

fix
  mlflow/tracing/otel/translation/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/EvaluationsOverviewColumnSelector.tsx
Due: none

Update docs/docusaurus.config.ts
  docs/docusaurus.config.ts
Due: normalize-chars

fix filepaths for react table
  mlflow/server/js/src/experiment-tracking/components/DetailsOverviewParamsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/ExperimentListTable.tsx
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactLoggedTableView.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-logged-models/ExperimentLoggedModelDetailsMetricsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-logged-models/ExperimentLoggedModelDetailsRunsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-prompts/ExperimentLinkedPromptsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/runs-charts/components/charts/DifferenceViewPlot.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptVersionsTable.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTable.tsx
  mlflow/server/js/src/model-registry/components/model-list/ModelListTable.tsx
Due: none

Address comments
  mlflow/pydantic_ai/autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Improve the example
  dev/check_whitespace_only.py
Due: normalize-chars, ruff, format, clint, typos

Remove the comment
  dev/check_whitespace_only.py
Due: normalize-chars, ruff, format, clint, typos

Rename
  dev/check_whitespace_only.py
Due: normalize-chars, ruff, format, clint, typos

Fix `check_whitespace_only.py` to handle PRs with >300 files (#18804)
  dev/check_whitespace_only.py
Due: normalize-chars, ruff, format, clint, typos

various fixes
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/runs/ExperimentViewRunsTable.enzyme.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/runs/ExperimentViewRunsTable.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/sessions-table/GenAIChatSessionsEmptyState.tsx
Due: none

fix
  mlflow/server/js/src/experiment-tracking/pages/experiment-chat-sessions/ExperimentChatSessionsPage.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/types.ts
Due: none

fix(tracing): update pop_trace and webhook handling per admin feedback
  docs/docs/classic-ml/webhooks/index.mdx
  mlflow/entities/webhook.py
  mlflow/tracing/client.py
  mlflow/tracing/trace_manager.py
  mlflow/tracing/utils/webhook_utils.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

fix
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
Due: none

Fix notebook download URLs to use versioned paths
  dev/update_mlflow_versions.py
  docs/src/components/NotebookDownloadButton/index.tsx
  docs/src/constants.ts
  tests/dev/test_update_mlflow_versions.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Refactor ResponseFormat class to inherit from BaseModel in prompt registry documentation
  docs/docs/genai/prompt-registry/create-and-edit-prompts.mdx
Due: normalize-chars, blacken-docs, clint, typos

Remove deprecated promptflow flavor (#18805)
  docs/api_reference/api_inventory.txt
  docs/api_reference/source/python_api/mlflow.promptflow.rst
  docs/src/api_modules.json
  docs/static/images/logos/promptflow-logo.png
  examples/promptflow/basic/_utils.py
  examples/promptflow/basic/flow.dag.yaml
  examples/promptflow/basic/hello.py
  examples/promptflow/basic/render_template.py
  examples/promptflow/basic/requirements.txt
  examples/promptflow/train.py
  mlflow/__init__.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  mlflow/promptflow/__init__.py
  mlflow/telemetry/constant.py
  requirements/extra-ml-requirements.txt
  tests/conftest.py
  tests/promptflow/__init__.py
  tests/promptflow/additional_file
  tests/promptflow/flow_with_additional_includes/echo.py
  tests/promptflow/flow_with_additional_includes/flow.dag.yaml
  tests/promptflow/flow_with_additional_includes/render_template.py
  tests/promptflow/flow_with_additional_includes/requirements.txt
  tests/promptflow/test_promptflow_model_export.py
Due: normalize-chars, ruff, format, blacken-docs, clint, mlver, typos, check-init-py

Add missing /ml prefixed redirects for removed getting-started pages
  docs/docusaurus.config.ts
Due: normalize-chars

comments
  mlflow/genai/evaluation/utils.py
  tests/genai/evaluate/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Otel Doc fixes
  docs/docs/genai/tracing/integrations/listing/google-adk.mdx
  docs/docs/genai/tracing/integrations/listing/mastra.mdx
  docs/docs/genai/tracing/integrations/listing/microsoft-agent-framework.mdx
Due: normalize-chars, blacken-docs, clint, typos

Otel Doc fixes (#18810)
  docs/docs/genai/tracing/integrations/listing/google-adk.mdx
  docs/docs/genai/tracing/integrations/listing/mastra.mdx
  docs/docs/genai/tracing/integrations/listing/microsoft-agent-framework.mdx
Due: normalize-chars, blacken-docs, clint, typos

cleanup
  docs/docs/genai/datasets/index.mdx
  docs/docs/genai/datasets/sdk-guide.mdx
Due: normalize-chars, blacken-docs, clint, typos

move content
  docs/docs/genai/concepts/evaluation-datasets.mdx
  docs/docs/genai/datasets/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Clean up SparkML docs
  docs/docs/classic-ml/traditional-ml/sparkml/guide/index.mdx
  docs/docs/classic-ml/traditional-ml/sparkml/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Add missing _delete_trace_tag_v3 api
  mlflow/protos/service.proto
  mlflow/server/handlers.py
Due: normalize-chars, ruff, format, clint, lint-proto, typos, check-init-py

Add missing _delete_trace_tag_v3 api
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Cleanup Prophet docs
  docs/docs/classic-ml/traditional-ml/prophet/guide/index.mdx
  docs/docs/classic-ml/traditional-ml/prophet/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Cleanup torch docs
  docs/docs/classic-ml/deep-learning/pytorch/guide/index.mdx
  docs/docs/classic-ml/deep-learning/pytorch/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

initial success
  mlflow/server/js/src/common/components/DesignSystemContainer.tsx
  mlflow/server/js/src/common/styles/patternflyTokenTranslation.ts
Due: none

Formatting
  mlflow/types/responses_helpers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py
