Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

updated with latest proposal
  mlflow/genai/__init__.py
  mlflow/genai/datasets/__init__.py
  mlflow/genai/label_schemas/__init__.py
  mlflow/genai/labeling/__init__.py
Due: ruff, format, custom-python-lint

fix import mlflow.genai.*
  mlflow/genai/__init__.py
Due: ruff, format, custom-python-lint

fix docs & linter
  docs/api_reference/source/conf.py
  mlflow/genai/__init__.py
  mlflow/genai/label_schemas/__init__.py
  mlflow/genai/labeling/__init__.py
  tests/genai/test_datasets.py
  tests/genai/test_label_schemas.py
  tests/genai/test_labeling.py
Due: ruff, format, custom-python-lint

address pr comments
  mlflow/genai/datasets/__init__.py
  mlflow/genai/judges/__init__.py
  mlflow/genai/labeling/__init__.py
Due: ruff, format, custom-python-lint

lint
  mlflow/genai/datasets/__init__.py
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

lint
  mlflow/genai/datasets/__init__.py
  mlflow/genai/labeling/__init__.py
Due: ruff, format, custom-python-lint

Include databricks-agents packages in the mlflow.genai namespace
  mlflow/genai/datasets/__init__.py
  mlflow/genai/judges/__init__.py
  mlflow/genai/review_app/__init__.py
Due: ruff, format, custom-python-lint

.
  mlflow/genai/__init__.py
  mlflow/genai/datasets/__init__.py
  mlflow/genai/labeling/__init__.py
Due: ruff, format, custom-python-lint

fixes
  mlflow/genai/__init__.py
  mlflow/genai/datasets/__init__.py
  mlflow/genai/label_schemas/__init__.py
  mlflow/genai/labeling/__init__.py
Due: ruff, format, custom-python-lint

add docstring for dataset
  mlflow/genai/datasets/__init__.py
Due: ruff, format, custom-python-lint

.
  mlflow/genai/label_schemas/__init__.py
Due: ruff, format, custom-python-lint

fix warning
  mlflow/genai/__init__.py
  mlflow/genai/datasets/__init__.py
Due: ruff, format, custom-python-lint

removed unnecessary module docstring
  tests/genai/test_datasets.py
  tests/genai/test_genai.py
  tests/genai/test_label_schemas.py
  tests/genai/test_labeling.py
Due: ruff, format, custom-python-lint

add unit test
  mlflow/genai/__init__.py
  tests/genai/test_datasets.py
  tests/genai/test_genai.py
  tests/genai/test_label_schemas.py
  tests/genai/test_labeling.py
Due: ruff, format, custom-python-lint

fixed datasets & added tests
  mlflow/genai/datasets/__init__.py
  tests/genai/test_datasets.py
  tests/genai/test_genai.py
Due: ruff, format, custom-python-lint

fix unit tests
  .github/workflows/master.yml
  tests/genai/test_datasets.py
  tests/genai/test_genai.py
  tests/genai/test_genai_import_without_agent_sdk.py
  tests/genai/test_label_schemas.py
  tests/genai/test_labeling.py
Due: ruff, format, custom-python-lint

.
  .github/workflows/master.yml
  tests/genai/test_genai_import_without_agent_sdk.py
Due: ruff, format, custom-python-lint

Use newer version of accelrate for transformers >= 4.52.0
  mlflow/ml-package-versions.yml
Due: mlver

add doc
  docs/api_reference/source/python_api/mlflow.rst
Due: blacken-docs

.
  docs/api_reference/source/conf.py
  docs/docs/llms/responses-agent-intro/index.mdx
  mlflow/pyfunc/model.py
  mlflow/types/responses.py
Due: ruff, format, custom-python-lint

.
  mlflow/types/responses.py
Due: ruff, format, custom-python-lint

.
  docs/docs/llms/responses-agent-intro/index.mdx
Due: none

.
  mlflow/pyfunc/model.py
Due: ruff, format, custom-python-lint

fix links
  docs/docs/llms/chat-model-guide/index.mdx
  docs/docs/llms/chat-model-intro/index.mdx
  docs/docs/llms/custom-pyfunc-for-llms/index.mdx
Due: none

.
  docs/docs/llms/responses-agent-intro/index.mdx
  mlflow/pyfunc/model.py
  mlflow/types/responses.py
Due: ruff, format, custom-python-lint

.
  docs/api_reference/Makefile
  docs/api_reference/source/conf.py
  docs/api_reference/source/python_api/mlflow.pyfunc.rst
  docs/docs/llms/responses-agent-intro/index.mdx
  mlflow/types/__init__.py
  mlflow/types/responses.py
  mlflow/types/responses_helpers.py
Due: ruff, format, blacken-docs, custom-python-lint

.
  docs/api_reference/source/python_api/mlflow.types.rst
  docs/docs/llms/responses-agent-intro/index.mdx
  mlflow/types/responses.py
Due: ruff, format, blacken-docs, custom-python-lint

.
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

.
  docs/docs/llms/chat-model-guide/index.mdx
  docs/docs/llms/custom-pyfunc-for-llms/index.mdx
  docs/docs/llms/responses-agent-intro/index.mdx
  mlflow/pyfunc/model.py
Due: ruff, format, custom-python-lint

.
  docs/docs/llms/responses-agent-intro/index.mdx
  mlflow/pyfunc/model.py
Due: ruff, format, custom-python-lint

comments
  docs/docs/llms/responses-agent-intro/index.mdx
Due: none

temp
  docs/api_reference/Makefile
  docs/docs/llms/responses-agent-intro/index.mdx
  docs/docs/llms/responses-agent-intro/responses-intro.mdx
  docs/sidebars.ts
Due: none

.
  docs/docs/llms/responses-agent-intro/responses-intro.mdx
Due: none

.
  mlflow/types/responses_helpers.py
Due: ruff, format, custom-python-lint

temp
  docs/docs/llms/chat-model-intro/index.mdx
  docs/docs/llms/responses-agent-intro/index.mdx
  mlflow/pyfunc/model.py
Due: ruff, format, custom-python-lint

.
  docs/api_reference/source/conf.py
  docs/api_reference/source/python_api/mlflow.types.rst
  mlflow/types/responses.py
Due: ruff, format, blacken-docs, custom-python-lint

revert some
  docs/api_reference/Makefile
  mlflow/pyfunc/loaders/responses_agent.py
Due: ruff, format, custom-python-lint
