Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Fix cross-version test failures for dspy, llama_index, sentence_transformers, transformers
  mlflow/dspy/load.py
  mlflow/ml-package-versions.yml
  mlflow/sentence_transformers/__init__.py
  tests/dspy/test_dspy_autolog.py
Due: normalize-chars, ruff, format, clint, mlver, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 143cf828ac88b14b28e8fdfef90891d16a311bc6
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Fix follow-ups for cross-version test failures
  mlflow/dspy/load.py
  mlflow/ml-package-versions.yml
Due: normalize-chars, ruff, format, clint, mlver, typos, check-init-py

Add LLM Playground Scaffold (#23028)
  .github/actions/check-component-ids/componentId-registry.js
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  mlflow/server/js/src/experiment-tracking/pages/playground/PlaygroundPage.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/playground/PlaygroundPage.tsx
  mlflow/server/js/src/experiment-tracking/route-defs.ts
  mlflow/server/js/src/experiment-tracking/routes.ts
  mlflow/server/js/src/lang/default/en.json
Due: normalize-chars

Show /admin to workspace admins, scoped
  mlflow/server/js/src/account/hooks.test.tsx
  mlflow/server/js/src/account/hooks.ts
  mlflow/server/js/src/admin/hooks.ts
  mlflow/server/js/src/admin/pages/AdminPage.tsx
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Allow workspace admins to list users
  mlflow/server/auth/__init__.py
  tests/server/auth/test_auth_workspace.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

EditAccessModal: scope roles list lookup for non-admins
  mlflow/server/js/src/admin/components/EditAccessModal.tsx
Due: none

Trim verbose comments added in this PR
  mlflow/server/auth/__init__.py
  mlflow/server/js/src/account/hooks.test.tsx
  mlflow/server/js/src/account/hooks.ts
  mlflow/server/js/src/admin/components/RoleAssignmentForm.tsx
  mlflow/server/js/src/admin/hooks.ts
  mlflow/server/js/src/admin/pages/AdminPage.tsx
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  tests/server/auth/test_auth_workspace.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Gate /admin entry on active workspace + retitle for managers
  mlflow/server/js/src/account/hooks.test.tsx
  mlflow/server/js/src/account/hooks.ts
  mlflow/server/js/src/admin/hooks.ts
  mlflow/server/js/src/admin/pages/AdminPage.tsx
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Address review: per-workspace canManageRoles + RoleAssignmentForm states
  mlflow/server/js/src/admin/components/RoleAssignmentForm.tsx
  mlflow/server/js/src/admin/pages/AdminPage.tsx
Due: none

RoleAssignmentForm: scope role list to active workspace
  mlflow/server/js/src/admin/components/RoleAssignmentForm.tsx
Due: none

Address review: ref reset on identity change + skip per-row roles fetch for non-admins
  mlflow/server/js/src/account/hooks.ts
  mlflow/server/js/src/admin/pages/AdminPage.tsx
Due: none

Address review nits: gate Create Role, dynamic doc title, skip admin role fetch
  mlflow/server/js/src/account/hooks.test.tsx
  mlflow/server/js/src/account/hooks.ts
  mlflow/server/js/src/admin/pages/AdminPage.tsx
Due: none

Workspace admin: create users + delete roles, no flicker on switch
  mlflow/server/auth/__init__.py
  mlflow/server/js/src/account/hooks.ts
  mlflow/server/js/src/admin/pages/AdminPage.tsx
  tests/server/auth/test_auth_workspace.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Restore per-row roles fetch on Users tab; silent fallback on 403
  mlflow/server/js/src/admin/pages/AdminPage.tsx
Due: none

UserDetailPage: silent empty state on 403 for workspace managers
  mlflow/server/js/src/admin/pages/UserDetailPage.tsx
Due: none

Make /admin globally accessible to workspace managers (multi-workspace)
  mlflow/server/js/src/admin/components/EditAccessModal.tsx
  mlflow/server/js/src/admin/components/RoleAssignmentForm.tsx
  mlflow/server/js/src/admin/hooks.ts
  mlflow/server/js/src/admin/pages/AdminPage.tsx
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Address Tomu review: drop dead admin checks, multi-workspace list_roles
  mlflow/server/auth/__init__.py
  mlflow/server/auth/sqlalchemy_store.py
  mlflow/server/js/src/admin/api.ts
  mlflow/server/js/src/admin/components/EditAccessModal.tsx
  mlflow/server/js/src/admin/components/RoleAssignmentForm.tsx
  mlflow/server/js/src/admin/hooks.ts
  mlflow/server/js/src/admin/pages/AdminPage.tsx
  tests/server/auth/test_auth_workspace.py
  tests/server/auth/test_sqlalchemy_store_rbac.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Switch /admin back to per-workspace scope per Tomu's review
  mlflow/server/js/src/admin/components/EditAccessModal.tsx
  mlflow/server/js/src/admin/components/RoleAssignmentForm.tsx
  mlflow/server/js/src/admin/pages/AdminPage.tsx
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Per-workspace UX: gear-icon entry on home, scope-filter user role views
  mlflow/server/js/src/admin/pages/AdminPage.tsx
  mlflow/server/js/src/admin/pages/UserDetailPage.tsx
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  mlflow/server/js/src/home/components/WorkspacesHomeView.tsx
Due: none

Fix CI: regenerate componentId registry + i18n keys
  .github/actions/check-component-ids/componentId-registry.js
  mlflow/server/js/src/lang/default/en.json
Due: normalize-chars

Apply repo-level prettier to componentId-registry.js
  .github/actions/check-component-ids/componentId-registry.js
Due: normalize-chars

Add Playground single-turn chat (Part 2 of #22778)
  .github/actions/check-component-ids/componentId-registry.js
  mlflow/server/js/src/experiment-tracking/pages/playground/PlaygroundPage.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/playground/PlaygroundPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/playground/api.ts
  mlflow/server/js/src/experiment-tracking/pages/playground/components/CompletionOutputPanel.tsx
  mlflow/server/js/src/experiment-tracking/pages/playground/components/EndpointPicker.tsx
  mlflow/server/js/src/experiment-tracking/pages/playground/components/PromptInputPanel.tsx
  mlflow/server/js/src/experiment-tracking/pages/playground/hooks/useChatCompletionMutation.tsx
  mlflow/server/js/src/experiment-tracking/pages/playground/types.ts
  mlflow/server/js/src/lang/default/en.json
Due: normalize-chars

Auto-merge bot-authored uv.lock PRs
  .github/workflows/approval.js
  .github/workflows/uv.js
Due: normalize-chars

Drop mergeMethod from auto-merge call
  .github/workflows/uv.js
Due: normalize-chars

Fix trace API authorization vulnerability
  mlflow/server/auth/__init__.py
  tests/server/auth/test_auth.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Skip uv workflow on fork PRs
  .github/workflows/uv.yml
Due: normalize-chars, conftest

Use SQLite tracking URI in example tests
  tests/examples/test_examples.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix trace permission tests after RBAC Phase 2 rebase
  tests/server/auth/test_auth.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix sentence_transformers pyfunc predict for v5.4+
  mlflow/sentence_transformers/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add link to upstream PR in fix comment
  mlflow/sentence_transformers/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Guard empty input before list[0] access
  mlflow/sentence_transformers/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for af7eed6d36e04448e5199df79966e271b012f06b
  dev/benchmarks/tracing/data.js
Due: normalize-chars

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for a3dde3f1a543d31fa75e023da5c15eac1ee0667b
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Consolidate role listing + bulk membership in validator
  mlflow/server/auth/__init__.py
  mlflow/server/auth/sqlalchemy_store.py
  tests/server/auth/test_sqlalchemy_store_rbac.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Eager-load roles in list_users to fix admin Users tab N+1
  mlflow/server/auth/__init__.py
  mlflow/server/auth/sqlalchemy_store.py
  mlflow/server/js/src/account/types.ts
  mlflow/server/js/src/admin/components/CreateUserModal.tsx
  mlflow/server/js/src/admin/components/EditAccessModal.tsx
  mlflow/server/js/src/admin/hooks.ts
  mlflow/server/js/src/admin/pages/AdminPage.tsx
  tests/server/auth/test_auth_workspace.py
  tests/server/auth/test_sqlalchemy_store_rbac.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Extract UserRolesCell to its own file + cover with unit tests
  mlflow/server/js/src/admin/components/UserRolesCell.test.tsx
  mlflow/server/js/src/admin/components/UserRolesCell.tsx
  mlflow/server/js/src/admin/pages/AdminPage.tsx
Due: none

Show age past cooldown in `show-versions` action
  dev/show_package_release_dates.py
Due: normalize-chars, ruff, format, clint, typos

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
