Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Fix `_parse_extra_conf` for HDFS config values containing `=` (#23730)
  mlflow/store/artifact/hdfs_artifact_repo.py
  tests/store/artifact/test_hdfs_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Mark the label-schema fluent API experimental
  mlflow/genai/label_schemas/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 9046a1cb97953549f56952d7fbb7e04e69b38590
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Docs: mark label schemas experimental
  docs/docs/genai/assessments/label-schemas.mdx
Due: normalize-chars, blacken-docs, clint, typos

Scope /review and auto-merge to new PRs; make auto-merge idempotent
  .github/workflows/update-model-catalog.yml
Due: normalize-chars, conftest

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 4ab896ce45c657d8ab47b871d992f2c472bf0a6d
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Fix label-schema docstrings breaking the API docs build
  mlflow/genai/label_schemas/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Regenerate componentId registry for eval-datasets-v2
  .github/actions/check-component-ids/componentId-registry.js
Due: normalize-chars

Update MiniMax model catalog: add M3 and M2.7
  mlflow/utils/model_catalog/minimax.json
Due: normalize-chars

prettier
  .github/actions/check-component-ids/componentId-registry.js
Due: normalize-chars

Remove /review comment logic, keep only auto-merge
  .github/workflows/update-model-catalog.yml
Due: normalize-chars, conftest

i18n
  mlflow/server/js/src/lang/default/en.json
Due: none

Only suppress 'auto-merge already enabled' error, not all failures
  .github/workflows/update-model-catalog.yml
Due: normalize-chars, conftest

Keep integration package versions, bump only @mlflow/core
  libs/typescript/integrations/anthropic/package.json
  libs/typescript/integrations/claude-code/package.json
  libs/typescript/integrations/codex/package.json
  libs/typescript/integrations/gemini/package.json
  libs/typescript/integrations/openai/package.json
  libs/typescript/integrations/openclaw/package.json
  libs/typescript/integrations/opencode/package.json
  libs/typescript/integrations/qwen-code/package.json
  libs/typescript/integrations/vercel/package.json
Due: normalize-chars

Lower categorical options max from 100 to 10
  mlflow/genai/label_schemas/validation.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_label_schemas.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Rework label-schema create/edit form UI
  mlflow/server/js/src/experiment-tracking/pages/experiment-label-schemas/LabelSchemaFormRenderer.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-label-schemas/LabelSchemaPreview.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-label-schemas/labelSchemaFormUtils.test.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-label-schemas/labelSchemaFormUtils.ts
  mlflow/server/js/src/lang/default/en.json
Due: none

Docs: categorical options max is now 10
  docs/docs/genai/assessments/label-schemas.mdx
Due: normalize-chars, blacken-docs, clint, typos

Suppress autoprefixer warning from vendored monaco-editor CSS
  mlflow/server/js/craco.config.js
Due: none

Restore integration packages and bump script; bump only @mlflow/core
  libs/typescript/integrations/anthropic/package.json
  libs/typescript/integrations/claude-code/package.json
  libs/typescript/integrations/codex/package.json
  libs/typescript/integrations/gemini/package.json
  libs/typescript/integrations/openai/package.json
  libs/typescript/integrations/openclaw/package.json
  libs/typescript/integrations/opencode/package.json
  libs/typescript/integrations/qwen-code/package.json
  libs/typescript/scripts/bump-ts-version.ts
Due: normalize-chars

fix(db): make secrets migration idempotent for MySQL retries
  mlflow/store/db_migrations/versions/1bd49d398cd23_add_secrets_tables.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add MLflow and Databricks tracing environment variables to review-v2 workflow (#23670)
  .github/workflows/nailaopus.yml
Due: normalize-chars, conftest

Enable auto-merge on newly created model catalog update PRs (#23732)
  .github/workflows/update-model-catalog.yml
Due: normalize-chars, conftest

Widen integration @mlflow/core peer range to admit 0.3.0-rc.0
  libs/typescript/integrations/anthropic/package.json
  libs/typescript/integrations/claude-code/package.json
  libs/typescript/integrations/codex/package.json
  libs/typescript/integrations/gemini/package.json
  libs/typescript/integrations/openai/package.json
  libs/typescript/integrations/openclaw/package.json
  libs/typescript/integrations/opencode/package.json
  libs/typescript/integrations/qwen-code/package.json
  libs/typescript/package-lock.json
Due: normalize-chars

Add jitter to trace durations by using random and then precalculating spans
  mlflow/demo/generators/traces.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review: lock input variant/multi_select on update, require title on Databricks, scrub OSS wording
  mlflow/genai/label_schemas/__init__.py
  mlflow/genai/label_schemas/label_schemas.py
  mlflow/genai/label_schemas/validation.py
  mlflow/tracing/client.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_label_schemas.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review: extract label-schemas API base constant, simplify renderer
  mlflow/server/js/src/experiment-tracking/components/label-schemas/hooks/constants.ts
  mlflow/server/js/src/experiment-tracking/components/label-schemas/hooks/useCreateLabelSchemaMutation.tsx
  mlflow/server/js/src/experiment-tracking/components/label-schemas/hooks/useDeleteLabelSchemaMutation.tsx
  mlflow/server/js/src/experiment-tracking/components/label-schemas/hooks/useGetLabelSchemaByNameQuery.tsx
  mlflow/server/js/src/experiment-tracking/components/label-schemas/hooks/useGetLabelSchemaQuery.tsx
  mlflow/server/js/src/experiment-tracking/components/label-schemas/hooks/useListLabelSchemasQuery.tsx
  mlflow/server/js/src/experiment-tracking/components/label-schemas/hooks/useUpdateLabelSchemaMutation.tsx
  mlflow/server/js/src/experiment-tracking/components/label-schemas/widgets/LabelSchemaInputRenderer.tsx
Due: none

Disable multi-select toggle on edit (immutable after create)
  mlflow/server/js/src/experiment-tracking/pages/experiment-label-schemas/LabelSchemaFormRenderer.tsx
Due: none

Docs: input variant and multi_select are immutable on update
  docs/docs/genai/assessments/label-schemas.mdx
Due: normalize-chars, blacken-docs, clint, typos

Scrub remaining OSS-native wording from handlers test docstring
  tests/server/test_label_schema_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Adding copy code snippet button for "run evaluation" button UI
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/RunEvaluationButton.tsx
Due: none

Address comments and improve docs
  docs/api_reference/source/rest-api.rst
  mlflow/entities/experiment.py
  mlflow/protos/service.proto
Due: normalize-chars, ruff, format, blacken-docs, clint, lint-proto, typos, check-init-py

Adding mlflow.eval-runs.start-run-modal.copy-snippet id into the component registry
  .github/actions/check-component-ids/componentId-registry.js
Due: normalize-chars

Set HTTP tracking URI during in-process demo generation
  mlflow/server/handlers.py
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Shorten comment
  mlflow/server/handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Assert 500 status on error-path test
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Honor STATIC_PREFIX in temporary tracking URI and assert mock called
  mlflow/server/handlers.py
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Assert mock called in static prefix test
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Addressed minor comments
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/RunEvaluationButton.tsx
Due: none
