Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Strip internal MLflow headers from gateway egress requests
  mlflow/gateway/providers/utils.py
  tests/gateway/providers/test_provider_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 5fb75a55ed41daea5ce90fec1717acb47a1f6687
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Split CRLF lines and note truncation in sanitization diff
  .github/workflows/triage.yml
Due: normalize-chars, conftest

Write sanitization diff to the step summary
  .github/workflows/triage.yml
Due: normalize-chars, conftest

Log issue content removed by the `triage.yml` safety sanitizer (#26349)
  .github/workflows/triage.yml
Due: normalize-chars, conftest

Add a triage skill for reproducing bugs in `triage.yml`
  .claude/skills/triage/SKILL.md
  .claude/skills/triage/bug/instructions.md
  .claude/skills/triage/bug/payload.schema.json
  .github/workflows/triage.yml
Due: normalize-chars, blacken-docs, clint, typos, conftest

Preserve UC spans after collector connection and server failures
  mlflow/tracing/export/databricks_otel_collector.py
  tests/tracing/export/test_databricks_otel_collector.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove extra Helm workflow assertions
  tests/test_push_images_workflow.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review comments on the triage skill
  .claude/skills/triage/SKILL.md
  .claude/skills/triage/bug/instructions.md
  .github/workflows/triage.yml
Due: normalize-chars, blacken-docs, clint, typos, conftest

Drop the entry-point step from bug triage
  .claude/skills/triage/bug/instructions.md
Due: normalize-chars, blacken-docs, clint, typos

Tighten the bug triage comment template
  .claude/skills/triage/SKILL.md
  .claude/skills/triage/bug/instructions.md
Due: normalize-chars, blacken-docs, clint, typos

Add `TraceImage` fallback message to i18n catalog
  mlflow/server/js/src/lang/default/en.json
Due: none

Remove obsolete `issue-repro-triage.yml` (#26350)
  .github/workflows/issue-repro-triage.yml
  dev/issue_repro_broker.py
  dev/issue_repro_handoff.py
  dev/issue_repro_runtime/Dockerfile
  dev/issue_repro_triage.py
  tests/dev/test_issue_repro_broker.py
  tests/dev/test_issue_repro_handoff.py
  tests/dev/test_issue_repro_triage.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

Add test for `@latest` alias after promoting an older version
  tests/store/model_registry/test_sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add `TraceImage` to custom trace views (#26297)
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/ModelTraceExplorerCustomView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/agent/buildAgentPrompt.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/agent/buildAgentPrompt.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/agent/validateA2uiMessages.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/agent/validateA2uiMessages.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/catalog-primitives/TraceImage.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/catalog-primitives/TraceImage.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/catalog.json
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/resolveTemplate.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/v2/custom-view/ModelTraceExplorerCustomView.tsx
Due: none

Include row lengths when hashing ragged nested arrays
  mlflow/data/evaluation_dataset.py
  tests/evaluate/test_evaluation.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add direct unit tests for hashing ragged nested arrays
  tests/data/test_evaluation_dataset.py
  tests/evaluate/test_evaluation.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Allow triage sandbox downloads from `releases.astral.sh` (#26353)
  .github/workflows/triage.yml
Due: normalize-chars, conftest

Handle missing values when hashing ragged nested arrays
  mlflow/data/evaluation_dataset.py
  tests/data/test_evaluation_dataset.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix Helm version test collection
  .github/workflows/helm.yml
Due: normalize-chars, conftest

Detect nested arrays in any row when hashing array-like data
  mlflow/data/evaluation_dataset.py
  tests/data/test_evaluation_dataset.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix infinite traces refetch loop when the time window is empty but the experiment has traces
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3EmptyState.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3EmptyState.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
Due: none

Remove duplicate version tests from Helm CI
  .github/workflows/helm.yml
Due: normalize-chars, conftest

Improve System One judge creation UX and docs
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/supported-models.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/typesafe.mdx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/LLMScorerFormRenderer.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/ScorerFormRenderer.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/ScorerFormRenderer.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/hooks/useRunScorerInTracesViewConfiguration.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/utils/judgeModelErrors.test.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/utils/judgeModelErrors.ts
Due: normalize-chars, blacken-docs, clint, typos

Support OpenRouter Jev through Gateway System One
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/supported-models.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/typesafe.mdx
  docs/docs/genai/governance/ai-gateway/endpoints/model-providers.mdx
  docs/docs/genai/governance/ai-gateway/endpoints/query-endpoints.mdx
  mlflow/gateway/providers/openrouter.py
  mlflow/genai/judges/instructions_judge/__init__.py
  mlflow/genai/judges/typesafe.py
  mlflow/server/gateway_api.py
  tests/gateway/providers/test_openrouter.py
  tests/genai/judges/test_typesafe.py
  tests/server/test_typesafe_gateway_api.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Prefer chat for gateway judges, fall back to System One
  mlflow/gateway/constants.py
  mlflow/genai/judges/instructions_judge/__init__.py
  mlflow/genai/judges/typesafe.py
  mlflow/server/gateway_api.py
  tests/genai/judges/test_typesafe.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix prettier formatting in model-providers.mdx
  docs/docs/genai/governance/ai-gateway/endpoints/model-providers.mdx
Due: normalize-chars, blacken-docs, clint, typos

Fix `@latest` alias not resolving to the highest model version (#26291)
  mlflow/store/model_registry/file_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  tests/store/model_registry/test_sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for f11a29c1d8456e1db403bf367816f7c61d3b904d
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Replace for/else with an explicit flag in `_strip_markdown_code_blocks`
  mlflow/genai/judges/utils/parsing_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Move triage sandbox settings to `.claude/sandbox/srt.json` (#26354)
  .claude/sandbox/srt.json
  .github/workflows/triage.yml
Due: normalize-chars, conftest

Add a Custom Trace Views page to the tracing docs
  docs/docs/genai/tracing/observe-with-traces/custom-views.mdx
  docs/docs/genai/tracing/observe-with-traces/ui.mdx
  docs/sidebarsGenAI.ts
  docs/static/images/llms/tracing/custom-view-build.png
  docs/static/images/llms/tracing/custom-view-example.png
  docs/static/images/llms/tracing/custom-view-selector.png
Due: normalize-chars, blacken-docs, clint, typos

Test accelerate device placement on supported Transformers versions
  tests/transformers/test_transformers_model_export.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix Bedrock autolog crashing stream loops on non-Anthropic `invoke_model_with_response_stream` chunks and GPT-6 `redactedContent` reasoning (#26346)
  mlflow/bedrock/stream.py
  mlflow/bedrock/utils.py
  tests/bedrock/test_bedrock_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 24320a958cf4d368db1b6807b6578d96cfcb6dd6
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Add selectable model to triage workflow (#26357)
  .github/workflows/triage.yml
Due: normalize-chars, conftest

Point the triage skill at the sandbox settings and document other Python versions
  .claude/skills/triage/SKILL.md
Due: normalize-chars, blacken-docs, clint, typos

Fix hashing of nested variable-length arrays (#26311)
  mlflow/data/evaluation_dataset.py
  tests/data/test_evaluation_dataset.py
  tests/data/test_huggingface_dataset_and_source.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 8d383877adbcef1812ca986fb4bcbac64236ab36
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Fix `server_name` filters for MCP access endpoints (#26327)
  mlflow/utils/search_utils.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_mcp_server_registry.py
  tests/utils/test_search_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
