Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|ts|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

Strands Agent Tracing (#17151)
  conftest.py
  dev/pyproject.py
  docs/api_reference/api_inventory.txt
  docs/api_reference/source/python_api/mlflow.strands.rst
  docs/docs/genai/tracing/integrations/listing/strands.mdx
  docs/src/components/TracingIntegrations/index.tsx
  docs/static/images/llms/strands/strands-tracing.png
  docs/static/images/logos/strands-logo.png
  examples/strands/tracing.py
  libs/tracing/pyproject.toml
  mlflow/__init__.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  mlflow/semantic_kernel/autolog.py
  mlflow/strands/__init__.py
  mlflow/strands/autolog.py
  mlflow/tracing/utils/__init__.py
  mlflow/tracking/fluent.py
  requirements/extra-ml-requirements.txt
  tests/strands/conftest.py
  tests/strands/test_strands_tracing.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, typos

refactor
  mlflow/mcp/cli.py
  mlflow/mcp/server.py
Due: ruff, format, clint, typos

Fix cross version test of litellm for usage tracking (#17357)
  tests/litellm/test_litellm_autolog.py
Due: ruff, format, clint, typos

Add default if exists
  mlflow/mcp/server.py
Due: ruff, format, clint, typos

Remove contextlib.suppress
  mlflow/cli/__init__.py
Due: ruff, format, clint, typos

add log dataset event
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/events.py
  mlflow/tracking/_tracking_service/client.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos

Update Scorers API doc (#17298)
  mlflow/entities/scorer.py
  mlflow/genai/scorers/registry.py
Due: ruff, format, clint, typos

comment
  .github/workflows/master.yml
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/constant.py
  mlflow/telemetry/events.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos, conftest

comment
  mlflow/telemetry/events.py
Due: ruff, format, clint, typos

Add get logged model event (#17356)
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/events.py
  mlflow/tracking/_tracking_service/client.py
  tests/telemetry/test_client.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos

refactor
  mlflow/genai/experimental/databricks_trace_exporter.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
  tests/genai/experimental/conftest.py
  tests/genai/experimental/test_databricks_trace_exporter.py
  tests/genai/experimental/test_databricks_trace_exporter_utils.py
  tests/tracing/test_provider.py
Due: ruff, format, clint, typos

fix
  mlflow/utils/requirements_utils.py
Due: ruff, format, clint, typos

fix tags endpoint
  mlflow/server/handlers.py
Due: ruff, format, clint, typos

wip
  example.py
  mlflow/entities/span.py
  mlflow/server/handlers.py
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/field-renderers/ModelTraceExplorerAttachmentRenderer.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/field-renderers/ModelTraceExplorerFieldRenderer.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/oss-notebook-renderer/mlflow-fetch-utils.ts
  mlflow/store/artifact/artifact_repo.py
  mlflow/tracing/attachments.py
  mlflow/tracing/client.py
  mlflow/tracing/export/mlflow_v3.py
  pyproject.toml
  test_audio_attachment.py
Due: ruff, format, taplo, clint, typos

fix formating, util functions call site
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceHeaderDetails.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/TagUtils.ts
Due: none

Address all PR review comments for CLAUDE.md
  CLAUDE.md
Due: blacken-docs, clint, typos

Refactor ingest_api_sdk to zerobus_sdk (#17360)
  mlflow/genai/experimental/databricks_trace_exporter.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
  tests/genai/experimental/conftest.py
  tests/genai/experimental/test_databricks_trace_exporter.py
  tests/genai/experimental/test_databricks_trace_exporter_utils.py
  tests/tracing/test_provider.py
Due: ruff, format, clint, typos

Fix tags endpoint (#17362)
  mlflow/server/handlers.py
Due: ruff, format, clint, typos

Fix missing artifact location tag when creating trace via log_spans
  mlflow/store/tracking/sqlalchemy_store.py
Due: ruff, format, clint, typos

Fix trace cleanup logic in OTLP processor
  mlflow/tracing/processor/otel.py
Due: ruff, format, clint, typos

simplification
  mlflow/entities/evaluation_dataset.py
  mlflow/telemetry/__init__.py
  mlflow/telemetry/events.py
  tests/telemetry/test_dataset_telemetry.py
Due: ruff, format, clint, typos

Update build-docs.sh to use npm instead of yarn for building docs (#17366)
  dev/build-docs.sh
Due: none

Add comprehensive test suite for OTEL metrics export functionality
  tests/tracing/processor/test_otel_metrics.py
Due: ruff, format, clint, typos

Update yarn commands to use --cwd instead of pushd/popd
  CLAUDE.md
Due: blacken-docs, clint, typos

Use SimpleSpanProcessor for immediate span sending in OTel test
  tests/tracing/test_otel_logging.py
Due: ruff, format, clint, typos

update trace destination if exists
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
Due: ruff, format, clint, typos

unity catalog destination
  mlflow/tracing/destination.py
  mlflow/tracing/provider.py
Due: ruff, format, clint, typos

generate proto
  mlflow/protos/databricks_trace_server.proto
  mlflow/protos/databricks_trace_server_pb2.py
  mlflow/protos/databricks_trace_server_pb2.pyi
Due: ruff, format, clint, lint-proto, typos

delete rpc proto
  mlflow/protos/databricks_trace_server.proto
Due: lint-proto

remove set_destination changes
  mlflow/tracing/provider.py
Due: ruff, format, clint, typos

restart provider
  mlflow/genai/experimental/databricks_trace_archival.py
Due: ruff, format, clint, typos

comments
  mlflow/genai/experimental/__init__.py
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
  mlflow/tracing/destination.py
Due: ruff, format, clint, typos

fix deps
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
  mlflow/tracing/provider.py
Due: ruff, format, clint, typos

tests
  tests/genai/experimental/test_databricks_trace_archival.py
  tests/genai/experimental/test_databricks_trace_exporter.py
  tests/genai/test_genai_import_without_agent_sdk.py
Due: ruff, format, clint, typos

fix return
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
Due: ruff, format, clint, typos

remove env var
  mlflow/environment_variables.py
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter.py
  tests/genai/experimental/test_databricks_trace_exporter.py
Due: ruff, format, clint, typos

storage location
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/tracing/destination.py
Due: ruff, format, clint, typos

Refactor OTEL metrics tests to focus on behavior over internal state
  tests/tracing/processor/test_otel_metrics.py
Due: ruff, format, clint, typos

Clean up OTEL metrics tests: remove sleeps and useless comments
  tests/tracing/processor/test_otel_metrics.py
Due: ruff, format, clint, typos

Simplify provider logic and add comprehensive OTLP test coverage
  mlflow/tracing/provider.py
  tests/tracing/test_provider.py
Due: ruff, format, clint, typos
