Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

list asynchnorous API as supported (#15578)
  mlflow/anthropic/__init__.py
Due: ruff, format, custom-python-lint

update comments on output modification
  mlflow/smolagents/autolog.py
Due: ruff, format, custom-python-lint

upgrade ag-grid-community version to avoid sourcemap errors
  mlflow/server/js/package.json
  mlflow/server/js/yarn.lock
Due: none

Bump version
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.toml
  skinny/pyproject.toml
Due: ruff, format, taplo, custom-python-lint

pin
  mlflow/utils/environment.py
Due: ruff, format, custom-python-lint

3.0.1 -> 3.0.0
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.toml
  skinny/pyproject.toml
Due: ruff, format, taplo, custom-python-lint

Add note about model registry version incompatibility between server and client (#15582)
  docs/docs/model-registry/index.mdx
Due: none

Simplify PIP_CONSTRAINT value using ${{ github.workspace }} (#15569)
  .github/workflows/cross-version-tests.yml
  .github/workflows/gateway.yml
  .github/workflows/lint.yml
  .github/workflows/master.yml
  .github/workflows/slow-tests.yml
Due: none

Bump version to 3.0.0.dev0 (#15584)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/utils/environment.py
  mlflow/version.py
  pyproject.release.toml
  pyproject.toml
  skinny/pyproject.toml
Due: ruff, format, taplo, custom-python-lint

add model attribute
  mlflow/smolagents/autolog.py
Due: ruff, format, custom-python-lint

replace the new UI screenshot
  docs/static/images/llms/smolagents/smolagents-tracing.png
Due: none

Dependencies
  conftest.py
  mlflow/__init__.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  mlflow/pydantic_ai/__init__.py
  mlflow/pydantic_ai/autolog.py
  mlflow/pydanticai/__init__.py
  mlflow/tracking/fluent.py
  tests/pydantic_ai/test_pydanticai_autolog.py
Due: ruff, format, custom-python-lint, mlver

Update conftest.py
  conftest.py
Due: ruff, format, custom-python-lint

remove smolagents for Python 3.9 and refactoring
  mlflow/smolagents/autolog.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint

remove unnecessary result
  mlflow/smolagents/autolog.py
Due: ruff, format, custom-python-lint

replace remove with pop
  mlflow/smolagents/autolog.py
Due: ruff, format, custom-python-lint

Address comments
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

Fix delete_logged_model_tag example
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

Fix undefined variable
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

remove unnecessary smolagents-related code
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint

fix bugs in smolagents CI pipeline
  mlflow/smolagents/autolog.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint

update
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Add source arg to from_huggingface method
  mlflow/data/huggingface_dataset.py
Due: ruff, format, custom-python-lint

init
  mlflow/utils/databricks_utils.py
Due: ruff, format, custom-python-lint

Test Cases
  mlflow/pydantic_ai/__init__.py
  mlflow/pydantic_ai/autolog.py
  tests/pydantic_ai/test_pydantic_fluent_autolog.py
Due: ruff, format, custom-python-lint

revert cbd0b94
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint

change search to use searchTracesV3
  mlflow/protos/service.proto
  mlflow/store/tracking/rest_store.py
  mlflow/tracing/client.py
  mlflow/tracing/utils/artifact_utils.py
  mlflow/utils/rest_utils.py
Due: ruff, format, custom-python-lint

minor fixes
  mlflow/store/tracking/rest_store.py
  mlflow/tracing/client.py
  mlflow/tracing/utils/artifact_utils.py
Due: ruff, format, custom-python-lint

ruff
  mlflow/tracing/client.py
  mlflow/tracing/utils/artifact_utils.py
Due: ruff, format, custom-python-lint

Test case
  tests/pydantic_ai/test_pydantic_fluent_autolog.py
  tests/pydantic_ai/test_pydanticai_autolog.py
Due: ruff, format, custom-python-lint

create mlflow tracing for smolagents (#15574)
  conftest.py
  docs/api_reference/source/python_api/mlflow.smolagents.rst
  docs/docs/tracing/index.mdx
  docs/docs/tracing/integrations/index.mdx
  docs/docs/tracing/integrations/smolagents.mdx
  docs/static/images/llms/smolagents/smolagents-tracing.png
  docs/static/images/logos/smolagents-logo.png
  examples/smolagents/tracing.py
  mlflow/__init__.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  mlflow/smolagents/__init__.py
  mlflow/smolagents/autolog.py
  mlflow/smolagents/chat.py
  mlflow/tracking/fluent.py
  tests/smolagents/test_smolagents_autolog.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, blacken-docs, custom-python-lint, mlver

Deprecate mlflow.evaluations module
  mlflow/evaluation/assessment.py
  mlflow/evaluation/evaluation.py
  mlflow/evaluation/evaluation_tag.py
  mlflow/evaluation/fluent.py
  mlflow/evaluation/utils.py
Due: ruff, format, custom-python-lint

add unit tests
  tests/store/tracking/test_rest_store.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
