Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

init
  mlflow/pyfunc/backend.py
  mlflow/utils/virtualenv.py
Due: ruff, format, custom-python-lint

Fix datasets parameter validation for `log_inputs` (#15219)
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Fix log_metric to use model_id, dataset_name, and dataset_digest
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

[llama_index] create LoggedModel in autolog (#15106)
  mlflow/dspy/autolog.py
  mlflow/langchain/_langchain_autolog.py
  mlflow/llama_index/__init__.py
  mlflow/llama_index/tracer.py
  mlflow/openai/_openai_autolog.py
  mlflow/utils/autologging_utils/config.py
  tests/llama_index/test_llama_index_autolog.py
Due: ruff, format, custom-python-lint

fix and add test
  mlflow/store/artifact/optimized_s3_artifact_repo.py
  mlflow/store/artifact/s3_artifact_repo.py
  tests/store/artifact/test_s3_artifact_repo.py
Due: ruff, format, custom-python-lint

fix
  mlflow/models/evaluation/utils/trace.py
  mlflow/openai/_openai_autolog.py
  tests/openai/test_openai_autolog.py
Due: ruff, format, custom-python-lint

Relax datasets validation
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Stop sending model_params in CreateModelVersion
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: ruff, format, custom-python-lint

protos
  mlflow/protos/databricks_uc_registry_messages.proto
  mlflow/protos/model_registry.proto
Due: none

Autoformat: https://github.com/mlflow/mlflow/actions/runs/14259243309
  mlflow/java/client/src/main/java/org/mlflow/api/proto/ModelRegistry.java
  mlflow/protos/databricks_uc_registry_messages_pb2.py
  mlflow/protos/model_registry_pb2.py
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: ruff, format, custom-python-lint

Fix `log_metric` to use model_id, dataset_name, and dataset_digest (#15220)
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Log params for openai autolog (#15223)
  mlflow/models/evaluation/utils/trace.py
  mlflow/openai/_openai_autolog.py
  tests/openai/test_openai_autolog.py
Due: ruff, format, custom-python-lint

model_inputs
  mlflow/store/tracking/sqlalchemy_store.py
Due: ruff, format, custom-python-lint

mlflow 3 doc
  docs/docs/mlflow-3/index.mdx
  docs/sidebars.ts
Due: none

comments
  docs/docs/mlflow-3/index.mdx
Due: none

update
  docs/docs/mlflow-3/index.mdx
Due: none

fix
  docs/docs/mlflow-3/index.mdx
Due: none

comment
  docs/docs/mlflow-3/index.mdx
Due: none

update docs with screenshots
  docs/docs/mlflow-3/deep-learning.mdx
  docs/docs/mlflow-3/genai-agent.mdx
  docs/docs/mlflow-3/index.mdx
  docs/sidebars.ts
  docs/static/images/mlflow-3/deep-learning/logged_models.png
  docs/static/images/mlflow-3/deep-learning/model_artifacts.png
  docs/static/images/mlflow-3/deep-learning/run_page.png
  docs/static/images/mlflow-3/genai/evaluate_metrics.png
  docs/static/images/mlflow-3/genai/logged_model_autolog_traces.png
  docs/static/images/mlflow-3/genai/logged_model_evaluate_metrics.png
  docs/static/images/mlflow-3/genai/logged_model_evaluate_traces.png
  docs/static/images/mlflow-3/genai/logged_model_page.png
  docs/static/images/mlflow-3/genai/logged_models_tab.png
  docs/static/images/mlflow-3/genai/system_prompt.png
Due: none

update main landing page
  docs/docs/mlflow-3/index.mdx
  docs/static/images/mlflow-3/simple_example_artifacts.png
  docs/static/images/mlflow-3/simple_example_model.png
  docs/static/images/mlflow-3/simple_example_run_page.png
  docs/static/images/mlflow-3/simple_example_traces.png
Due: none

comments
  docs/docs/mlflow-3/deep-learning.mdx
  docs/docs/mlflow-3/genai-agent.mdx
  docs/docs/mlflow-3/index.mdx
  docs/sidebars.ts
  docs/static/images/mlflow-3/genai/evaluate_metrics.png
  docs/static/images/mlflow-3/genai/logged_model_autolog_traces.png
  docs/static/images/mlflow-3/genai/logged_model_evaluate_metrics.png
  docs/static/images/mlflow-3/genai/logged_model_evaluate_traces.png
  docs/static/images/mlflow-3/genai/logged_model_page.png
  docs/static/images/mlflow-3/genai/logged_models_tab.png
Due: none

update
  docs/docs/mlflow-3/deep-learning.mdx
  docs/docs/mlflow-3/genai-agent.mdx
  docs/docs/mlflow-3/index.mdx
  docs/static/images/mlflow-3/deep-learning/logged_models.png
  docs/static/images/mlflow-3/deep-learning/model_artifacts.png
  docs/static/images/mlflow-3/deep-learning/run_page.png
  docs/static/images/mlflow-3/genai/chatbot_prompt.png
  docs/static/images/mlflow-3/genai/evaluate_metrics.png
  docs/static/images/mlflow-3/genai/logged_model_autolog_traces.png
  docs/static/images/mlflow-3/genai/logged_model_page.png
  docs/static/images/mlflow-3/genai/logged_models_tab.png
  docs/static/images/mlflow-3/genai/system_prompt.png
  docs/static/images/mlflow-3/simple_example_artifacts.png
  docs/static/images/mlflow-3/simple_example_model.png
  docs/static/images/mlflow-3/simple_example_run_page.png
  docs/static/images/mlflow-3/simple_example_traces.png
  mlflow/models/evaluation/utils/trace.py
Due: ruff, format, custom-python-lint

comments
  docs/docs/mlflow-3/genai-agent.mdx
  docs/docs/mlflow-3/index.mdx
  docs/static/images/mlflow-3/simple_example_models_tab.png
Due: none

revert conflict
  mlflow/models/evaluation/utils/trace.py
Due: ruff, format, custom-python-lint

Use merge
  mlflow/store/tracking/sqlalchemy_store.py
Due: ruff, format, custom-python-lint

nit
  docs/docs/mlflow-3/genai-agent.mdx
  docs/docs/mlflow-3/index.mdx
Due: none

Pass missing `models` to `log_inputs` (#15221)
  mlflow/server/handlers.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

MLflow 3.0 docs (#15078)
  docs/docs/mlflow-3/deep-learning.mdx
  docs/docs/mlflow-3/genai-agent.mdx
  docs/docs/mlflow-3/index.mdx
  docs/sidebars.ts
  docs/static/images/mlflow-3/deep-learning/logged_models.png
  docs/static/images/mlflow-3/deep-learning/model_artifacts.png
  docs/static/images/mlflow-3/deep-learning/run_page.png
  docs/static/images/mlflow-3/genai/chatbot_prompt.png
  docs/static/images/mlflow-3/genai/evaluate_metrics.png
  docs/static/images/mlflow-3/genai/logged_model_autolog_traces.png
  docs/static/images/mlflow-3/genai/logged_model_page.png
  docs/static/images/mlflow-3/genai/logged_models_tab.png
  docs/static/images/mlflow-3/simple_example_model.png
  docs/static/images/mlflow-3/simple_example_models_tab.png
  docs/static/images/mlflow-3/simple_example_run_page.png
  docs/static/images/mlflow-3/simple_example_traces.png
Due: none

Bump versions
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.toml
  skinny/pyproject.toml
Due: ruff, format, taplo, custom-python-lint

update
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Bump versions to `3.0.0rc0` (#15225)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.toml
  skinny/pyproject.toml
Due: ruff, format, taplo, custom-python-lint

fix
  mlflow/store/artifact/optimized_s3_artifact_repo.py
  mlflow/store/artifact/s3_artifact_repo.py
Due: ruff, format, custom-python-lint

Remove mlflow@git+https://github.com/mlflow/mlflow.git@mlflow-3
  mlflow/utils/environment.py
Due: ruff, format, custom-python-lint

Remove temporary workaround to install mlflow from `mlflow-3` branch (#15226)
  mlflow/utils/environment.py
Due: ruff, format, custom-python-lint

update
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

Quickstart small refactor
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableQuickstart.utils.tsx
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TracesViewTableNoTracesQuickstart.tsx
Due: none

fix
  mlflow/models/model.py
  tests/pyfunc/test_logged_models.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
