Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/|charts/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        stages: [commit]
        log_file: .black.log

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [python, rst, markdown]
        stages: [commit]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=pylintrc"]
        stages: [commit]

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]

feedback
  docs/source/tracking/data-api.rst
Due: blacken-docs

Autoformat: https://github.com/mlflow/mlflow/actions/runs/7761167141
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: black, blacken-docs, pylint

Add source table data into lineage header (#10796)
  mlflow/data/delta_dataset_source.py
  mlflow/protos/databricks_managed_catalog_messages.proto
  mlflow/protos/databricks_managed_catalog_messages_pb2.py
  mlflow/protos/databricks_managed_catalog_service.proto
  mlflow/protos/databricks_managed_catalog_service_pb2.py
  mlflow/protos/databricks_uc_registry_messages.proto
  mlflow/protos/databricks_uc_registry_messages_pb2.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
  mlflow/tracking/_model_registry/utils.py
  mlflow/utils/_unity_catalog_utils.py
  tests/data/test_delta_dataset_source.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/artifact/test_unity_catalog_models_artifact_repo.py
  tests/utils/test_unity_catalog_utils.py
Due: black, blacken-docs, pylint

Added comments
  mlflow/store/artifact/optimized_s3_artifact_repo.py
Due: black, blacken-docs, pylint

Add stopping criteria test
  mlflow/transformers/llm_inference_utils.py
  tests/transformers/test_transformers_llm_inference_utils.py
Due: black, blacken-docs, pylint

add tests
  mlflow/langchain/__init__.py
  mlflow/langchain/utils.py
  tests/langchain/test_langchain_model_export.py
Due: black, blacken-docs, pylint

add tests
  mlflow/langchain/databricks_dependencies.py
Due: black, blacken-docs, pylint

fix typo
  mlflow/langchain/databricks_dependencies.py
  tests/langchain/test_langchain_model_export.py
Due: black, blacken-docs, pylint

improve comments
  mlflow/langchain/databricks_dependencies.py
Due: black, blacken-docs, pylint

updated feature store warning
  mlflow/models/utils.py
Due: black, blacken-docs, pylint

fixed linting
  mlflow/models/utils.py
Due: black, blacken-docs, pylint

fix version
  mlflow/langchain/__init__.py
Due: black, blacken-docs, pylint

fixed tests
  mlflow/pyfunc/__init__.py
  tests/check_mlflow_lazily_imports_ml_packages.py
Due: black, blacken-docs, pylint

Readd logging for testing
  mlflow/store/artifact/optimized_s3_artifact_repo.py
Due: black, blacken-docs, pylint

fix Chat Model detect
  mlflow/langchain/databricks_dependencies.py
Due: black, blacken-docs, pylint

restore dataset tracking flag
  mlflow/server/js/src/common/utils/FeatureUtils.ts
Due: none

fixed linting
  mlflow/pyfunc/__init__.py
Due: black, blacken-docs, pylint

additional logging
  mlflow/store/artifact/optimized_s3_artifact_repo.py
Due: black, blacken-docs, pylint

added logging
  mlflow/store/artifact/optimized_s3_artifact_repo.py
Due: black, blacken-docs, pylint

remove logging
  mlflow/store/artifact/optimized_s3_artifact_repo.py
Due: black, blacken-docs, pylint

Autoformat: https://github.com/mlflow/mlflow/actions/runs/7764071033
  tests/store/artifact/test_optimized_s3_artifact_repo.py
Due: black, blacken-docs, pylint

Restore dataset tracking flag (#10992)
  mlflow/server/js/src/common/utils/FeatureUtils.ts
Due: none

Fix directory bucket region name retrieval (#10967)
  mlflow/store/artifact/optimized_s3_artifact_repo.py
  tests/store/artifact/test_optimized_s3_artifact_repo.py
Due: black, blacken-docs, pylint

add optuna as test-only requirement
  requirements/test-requirements.txt
Due: none

add required header anthropic-version for AnthropicProvider
  mlflow/gateway/providers/anthropic.py
Due: black, blacken-docs, pylint

fix: update dev dependency error
  docs/Makefile
  requirements/doc-min-requirements.txt
  requirements/doc-requirements.txt
  requirements/extra-ml-requirements.txt
  requirements/lint-requirements.txt
Due: none

style: deleted forced normal font to track current doc
  docs/theme/mlflow/static/css/custom.css
Due: none

fix: delete unnecessary flags
  docs/Makefile
Due: none

fix: [Makefile:78: rsthtml] Error 1
  docs/source/conf.py
Due: black, blacken-docs, pylint

import uc
  mlflow/store/__init__.py
Due: black, blacken-docs, pylint

pin fastapi
  requirements/gateway-requirements.txt
  requirements/gateway-requirements.yaml
Due: none

Exclude `fastapi==0.109.2` from deployment dependencies (#11007)
  requirements/gateway-requirements.txt
  requirements/gateway-requirements.yaml
Due: none

test fix keras
  .github/workflows/cross-version-tests.yml
  mlflow/keras/__init__.py
Due: black, blacken-docs, pylint

install tf before install keras
  .github/workflows/cross-version-tests.yml
Due: none

remove some comments
  mlflow/keras/__init__.py
Due: black, blacken-docs, pylint

update yaml
  requirements/gateway-requirements.yaml
Due: none
