Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Add open question about users on older MLflow versions
  MIGRATION_TOOL_PROPOSAL.md
Due: normalize-chars, blacken-docs, clint, typos

Update comparison matrix with clearer differentiators
  MIGRATION_TOOL_PROPOSAL.md
Due: normalize-chars, blacken-docs, clint, typos

Expand constraint analysis with integer overflow handling
  MIGRATION_TOOL_PROPOSAL.md
Due: normalize-chars, blacken-docs, clint, typos

Remove unused Tabs and TabItem imports from prod-tracing.mdx
  docs/docs/genai/tracing/prod-tracing.mdx
Due: normalize-chars, blacken-docs, clint, typos

fix
  docs/docs/genai/tracing/prod-tracing.mdx
Due: normalize-chars, blacken-docs, clint, typos

Address review: extract constants, iterate once
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAiTracesTable.utils.test.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAiTracesTable.utils.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/SessionGroupingUtils.ts
Due: none

fix mock paths in litellm_adapter tests
  tests/genai/judges/adapters/test_litellm_adapter.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add gateway:/ support to simulator
  mlflow/genai/judges/adapters/litellm_adapter.py
  mlflow/genai/simulators/simulator.py
  mlflow/genai/utils/gateway_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add gateway_utils tests
  tests/genai/utils/test_gateway_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

ci fix
  docs/api_reference/source/rest-api.rst
Due: normalize-chars, blacken-docs, clint

Fix session ID display and run coloring when grouping by session and comparing (#20478)
  mlflow/server/js/src/experiment-tracking/components/evaluations/RunViewEvaluationsTab.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAiTracesTable.utils.test.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAiTracesTable.utils.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAiTracesTableBody.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAiTracesTableSessionGroupedRows.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/cellRenderers/SessionHeaderCellRenderers.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/index.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/SessionGroupingUtils.ts
Due: none

Add gateway:/ support to simulator (#20453)
  mlflow/genai/judges/adapters/litellm_adapter.py
  mlflow/genai/simulators/simulator.py
  mlflow/genai/utils/gateway_utils.py
  tests/genai/judges/adapters/test_litellm_adapter.py
  tests/genai/utils/test_gateway_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Apply suggestion from @harupy
  .github/workflows/polish.yml
Due: normalize-chars, conftest

Add `/polish` GitHub Action to improve PR titles using AI (#20481)
  .github/workflows/polish.py
  .github/workflows/polish.yml
Due: normalize-chars, ruff, format, clint, typos, conftest

Simplify and remove tracking_uri fixture in genai datasets tests (#20496)
  tests/genai/datasets/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Reasoning in Chat UI Mistral + Chat UI (#19636)
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/index.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/mistral.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/mistral.ts
Due: none

Improve production tracing / monitoring documentation (#20494)
  docs/docs/genai/eval-monitor/automatic-evaluations/index.mdx
  docs/docs/genai/tracing/faq.mdx
  docs/docs/genai/tracing/index.mdx
  docs/docs/genai/tracing/lightweight-sdk.mdx
  docs/docs/genai/tracing/prod-tracing.mdx
  docs/sidebarsGenAI.ts
  docs/static/images/llms/tracing/automatic-evaluation-ui-setup.mp4
Due: normalize-chars, blacken-docs, clint, typos

Add an SDK for search sessions to get complete sessions (#20288)
  docs/api_reference/api_inventory.txt
  mlflow/__init__.py
  mlflow/entities/__init__.py
  mlflow/entities/session.py
  mlflow/tracing/fluent.py
  tests/tracing/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

move back experiment creation
  mlflow/server/handlers.py
  mlflow/store/tracking/gateway/sqlalchemy_mixin.py
  tests/store/tracking/test_gateway_sql_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

ci
  docs/api_reference/source/rest-api.rst
Due: normalize-chars, blacken-docs, clint

Optimize demo integration tests to use db_uri fixture (#20498)
  tests/demo/test_demo_integration.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add optimization backend APIs to auth control (#20392)
  docs/docs/self-hosting/security/basic-http-auth.mdx
  mlflow/server/auth/__init__.py
  tests/server/auth/test_auth.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Add branch guard to cherry-pick script generation (#20501)
  dev/check_patch_prs.py
Due: normalize-chars, ruff, format, clint, typos

comment
  mlflow/store/tracking/gateway/sqlalchemy_mixin.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

comment
  tests/tracking/test_rest_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add per-decorator sampling_ratio parameter to @mlflow.trace
  mlflow/tracing/fluent.py
  test_sampling_ratio.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add input validation for sampling_ratio parameter
  mlflow/tracing/fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use TilesGrid consistently
  docs/docs/genai/governance/ai-gateway/legacy/setup.mdx
  docs/docs/genai/governance/ai-gateway/quickstart.mdx
  docs/docs/genai/prompt-registry/structured-output.mdx
  docs/docs/genai/tracing/app-instrumentation/automatic.mdx
  docs/docs/genai/tracing/app-instrumentation/manual-tracing.mdx
  docs/docs/genai/tracing/quickstart/index.mdx
  docs/docs/genai/tracing/track-users-sessions/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Move sampling_ratio tests to tests/tracing/test_fluent.py
  test_sampling_ratio.py
  tests/tracing/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add documentation for per-decorator sampling_ratio parameter
  docs/docs/genai/tracing/prod-tracing.mdx
Due: normalize-chars, blacken-docs, clint, typos

Refactor sampling_ratio tests and improve documentation
  docs/docs/genai/tracing/prod-tracing.mdx
  mlflow/tracing/fluent.py
  tests/tracing/test_fluent.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Fix decorator-level sampling_ratio to override global MLFLOW_TRACE_SAMPLING_RATIO
  mlflow/tracing/fluent.py
  mlflow/tracing/provider.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Simplify sampling logic with context managers
  mlflow/tracing/fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

foreign key
  mlflow/store/db_migrations/versions/d0e1f2a3b4c5_add_experiment_id_to_endpoints.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/gateway/sqlalchemy_mixin.py
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/resources/db/latest_schema.sql
  tests/store/tracking/test_gateway_sql_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use TilesGrid consistently in docs (#20502)
  docs/docs/genai/governance/ai-gateway/legacy/setup.mdx
  docs/docs/genai/governance/ai-gateway/quickstart.mdx
  docs/docs/genai/prompt-registry/structured-output.mdx
  docs/docs/genai/tracing/app-instrumentation/automatic.mdx
  docs/docs/genai/tracing/app-instrumentation/manual-tracing.mdx
  docs/docs/genai/tracing/quickstart/index.mdx
  docs/docs/genai/tracing/track-users-sessions/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

feat: Implement `extra_files`.
  mlflow/catboost/__init__.py
  mlflow/h2o/__init__.py
  mlflow/lightgbm/__init__.py
  mlflow/onnx/__init__.py
  mlflow/paddle/__init__.py
  mlflow/pmdarima/__init__.py
  mlflow/prophet/__init__.py
  mlflow/pytorch/__init__.py
  mlflow/sentence_transformers/__init__.py
  mlflow/sklearn/__init__.py
  mlflow/spacy/__init__.py
  mlflow/statsmodels/__init__.py
  mlflow/tensorflow/__init__.py
  mlflow/utils/model_utils.py
  mlflow/xgboost/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

chore(typescript-core): bump @opentelemetry/sdk-node version (#20363)
  libs/typescript/core/package.json
  libs/typescript/package-lock.json
Due: normalize-chars
