Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

black:
  name: black
  entry: black
  language: system
  stages:
  - commit
  log_file: .black.log

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc
  stages:
  - commit

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit

fixes
  docs/source/llms/rag/notebooks/index.rst
  docs/source/llms/rag/notebooks/question-generation-retrieval-evaluation.ipynb
Due: blacken-docs

add RAG info
  docs/source/llms/rag/index.rst
Due: blacken-docs

mlflow tutorial
  docs/source/llms/rag/index.rst
  docs/source/llms/rag/notebooks/index.rst
  docs/source/llms/rag/notebooks/question-generation-retrieval-evaluation.ipynb
  docs/source/rag/retrieval_question_generation.rst
Due: blacken-docs

put k in metric factory
  mlflow/metrics/__init__.py
  mlflow/metrics/metric_definitions.py
  mlflow/models/evaluation/base.py
  mlflow/models/evaluation/default_evaluator.py
  tests/evaluate/test_default_evaluator.py
Due: black, blacken-docs, pylint

wip
  examples/spark_udf/structs_and_arrays.py
  tests/pyfunc/test_spark.py
Due: black, blacken-docs, pylint

update tests
  tests/evaluate/test_default_evaluator.py
Due: black, blacken-docs, pylint

small change
  docs/source/llms/rag/index.rst
Due: blacken-docs

move k check
  mlflow/metrics/metric_definitions.py
  mlflow/models/evaluation/default_evaluator.py
Due: black, blacken-docs, pylint

Do not try catch
  mlflow/utils/download_cloud_file_chunk.py
  mlflow/utils/file_utils.py
Due: black, blacken-docs, pylint

Add answer relevance as a builtin metric (#10071)
  docs/source/python_api/mlflow.metrics.rst
  mlflow/metrics/__init__.py
  mlflow/metrics/genai/metric_definitions.py
  mlflow/metrics/genai/prompts/v1.py
  tests/metrics/genai/test_genai_metrics.py
Due: black, blacken-docs, pylint

fix
  mlflow/utils/file_utils.py
Due: black, blacken-docs, pylint

wip
  mlflow/models/utils.py
Due: black, blacken-docs, pylint

Fix mleap test failures
  tests/mleap/test_mleap_model_export.py
Due: black, blacken-docs, pylint

Return spark session
  tests/mleap/test_mleap_model_export.py
Due: black, blacken-docs, pylint

address comments
  docs/source/python_api/mlflow.metrics.rst
  mlflow/metrics/__init__.py
  mlflow/models/evaluation/base.py
Due: black, blacken-docs, pylint

fix typos
  docs/source/llm-eval/llm-eval.rst
Due: blacken-docs

better style
  docs/source/llms/llm-evaluate/index.rst
Due: blacken-docs

even better
  docs/source/llms/llm-evaluate/index.rst
Due: blacken-docs

Add guide for LLM eval
  docs/source/llm-eval/llm-eval.rst
Due: blacken-docs

add more stuff
  docs/source/_static/images/llm_evaluate_experiment_view.png
  docs/source/index.rst
  docs/source/llm-eval/llm-eval.rst
Due: blacken-docs

fix style
  docs/source/llm-eval/llm-eval.rst
Due: blacken-docs

update
  docs/source/llms/llm-evaluate/index.rst
Due: blacken-docs

Update docs/source/llm-eval/llm-eval.rst
  docs/source/llm-eval/llm-eval.rst
Due: blacken-docs

fix broken doc
  docs/source/llms/llm-evaluate/index.rst
Due: blacken-docs

fix comments
  docs/source/index.rst
  docs/source/llms/llm-evaluate/index.rst
Due: blacken-docs

fix lightning autolog
  mlflow/pytorch/__init__.py
  requirements/extra-ml-requirements.txt
Due: black, blacken-docs, pylint

add torch and lightning to doc deps
  mlflow/pytorch/__init__.py
  requirements/doc-requirements.txt
Due: black, blacken-docs, pylint

test
  mlflow/utils/file_utils.py
Due: black, blacken-docs, pylint

Disallow heterogeneous memory setup when saving transformers model
  mlflow/transformers/__init__.py
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

add path
  docs/source/index.rst
  docs/source/llms/rag/notebooks/index.rst
Due: blacken-docs

add navigation
  docs/source/index.rst
  docs/source/llms/index.rst
  docs/source/llms/rag/notebooks/index.rst
  docs/source/llms/rag/notebooks/question-generation-retrieval-evaluation.ipynb
Due: blacken-docs

Typify model schema table
  mlflow/server/js/src/model-registry/components/SchemaTable.tsx
  mlflow/server/js/src/model-registry/constants.tsx
  mlflow/server/js/src/model-registry/types/model-schema.ts
Due: none

Refine types, add rendering
  mlflow/server/js/src/model-registry/components/SchemaTable.tsx
  mlflow/server/js/src/model-registry/types/model-schema.ts
Due: none

format
  mlflow/server/js/src/model-registry/components/SchemaTable.tsx
  mlflow/server/js/src/model-registry/types/model-schema.ts
Due: none

wip
  mlflow/store/artifact/cloud_artifact_repo.py
  mlflow/store/artifact/databricks_models_artifact_repo.py
  mlflow/utils/download_cloud_file_chunk.py
  mlflow/utils/file_utils.py
  mlflow/utils/request_utils.py
Due: black, blacken-docs, pylint

wip
  mlflow/store/artifact/databricks_models_artifact_repo.py
Due: black, blacken-docs, pylint

Add guide for LLM eval (#10058)
  docs/source/_static/images/llm_evaluate_experiment_view.png
  docs/source/index.rst
  docs/source/llms/llm-evaluate/index.rst
Due: blacken-docs

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  pylint: any of: \.py$
  rstcheck: any of: README.rst
