Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Strip a citation that names no capture, and stop flagging basename collisions
  .claude/skills/src/skills/commands/upload_media.py
  .claude/skills/tests/test_upload_media.py
Due: normalize-chars, ruff, format, clint, typos

Strip a bare-filename citation too, and correct the error message
  .claude/skills/src/skills/commands/upload_media.py
  .claude/skills/tests/test_upload_media.py
Due: normalize-chars, ruff, format, clint, typos

Cite review media by the path it was captured to (#25156)
  .claude/skills/pr-review/SKILL.md
  .claude/skills/src/skills/commands/upload_media.py
  .claude/skills/tests/test_upload_media.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Handle non-finite values in min/max error bars
  mlflow/server/js/src/experiment-tracking/components/runs-charts/components/RunsMetricsBarPlot.tsx
Due: none

fix: Ensure test database cleanup drops and recreates tables to prevent 'secrets already exists' (closes #19943)
  tests/store/tracking/test_gateway_sql_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Describe `analyze-ci` inputs where the model can read them
  .claude/skills/analyze-ci/SKILL.md
Due: normalize-chars, blacken-docs, clint, typos

Describe `analyze-ci` inputs where the model can read them (#25158)
  .claude/skills/analyze-ci/SKILL.md
Due: normalize-chars, blacken-docs, clint, typos

Rename the `upload-media` command to `embed-media`
  .claude/skills/pr-review/SKILL.md
  .claude/skills/src/skills/cli.py
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/tests/test_embed_media.py
  .github/workflows/review.yml
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, conftest

Rename the `upload-media` skills command to `embed-media` (#25159)
  .claude/skills/pr-review/SKILL.md
  .claude/skills/src/skills/cli.py
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/tests/test_embed_media.py
  .github/workflows/review.yml
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, conftest

Extract the user-attachments uploader into `skills.github.uploads`
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/src/skills/github/uploads.py
  .claude/skills/tests/test_embed_media.py
  .claude/skills/tests/test_uploads.py
Due: normalize-chars, ruff, format, clint, typos

Extract the user-attachments uploader into `skills.github.uploads` (#25160)
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/src/skills/github/uploads.py
  .claude/skills/tests/test_embed_media.py
  .claude/skills/tests/test_uploads.py
Due: normalize-chars, ruff, format, clint, typos

Raise from `upload_asset()` instead of returning `None`
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/src/skills/github/uploads.py
  .claude/skills/tests/test_embed_media.py
  .claude/skills/tests/test_uploads.py
Due: normalize-chars, ruff, format, clint, typos

Cite both captures in the 401 early-exit test
  .claude/skills/tests/test_embed_media.py
Due: normalize-chars, ruff, format, clint, typos

Raise from `upload_asset()` instead of returning `None` (#25161)
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/src/skills/github/uploads.py
  .claude/skills/tests/test_embed_media.py
  .claude/skills/tests/test_uploads.py
Due: normalize-chars, ruff, format, clint, typos

Skip the reverse DNS lookup in the pypi test server
  dev/pypi/tests/test_client.py
Due: normalize-chars, ruff, format, clint, typos

Add an `upload-media` command and point the skill at it
  .claude/skills/src/skills/cli.py
  .claude/skills/src/skills/commands/upload_media.py
  .claude/skills/tests/test_upload_media.py
  .claude/skills/upload-media/SKILL.md
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Surface the `gh` error and name the right credential
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/src/skills/commands/upload_media.py
  .claude/skills/src/skills/github/uploads.py
  .claude/skills/tests/test_embed_media.py
  .claude/skills/tests/test_upload_media.py
Due: normalize-chars, ruff, format, clint, typos

Skip the reverse DNS lookup in the `pypi` test server (#25162)
  dev/pypi/tests/test_client.py
Due: normalize-chars, ruff, format, clint, typos

Drop the browser contrast from the skill description
  .claude/skills/upload-media/SKILL.md
Due: normalize-chars, blacken-docs, clint, typos

Clean up GenAI docs and docstrings
  docs/docs/genai/datasets/sdk-guide.mdx
  mlflow/environment_variables.py
  mlflow/genai/evaluation/__init__.py
  mlflow/genai/scorers/base.py
  mlflow/genai/scorers/builtin_scorers.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Add an `upload-media` skills command and skill (#25163)
  .claude/skills/src/skills/cli.py
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/src/skills/commands/upload_media.py
  .claude/skills/src/skills/github/uploads.py
  .claude/skills/tests/test_embed_media.py
  .claude/skills/tests/test_upload_media.py
  .claude/skills/upload-media/SKILL.md
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Enrich `mlflow scorers list --builtin` with the full scorer catalog (#25003)
  mlflow/cli/scorers.py
  mlflow/genai/scorers/builtin_scorers.py
  tests/cli/test_scorers.py
  tests/genai/scorers/test_builtin_scorers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 512ac87b60a569c7962b7eac9bb3c36e8d492985
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Read `GH_TOKEN` in `embed-media` instead of `UPLOAD_MEDIA_TOKEN`
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/tests/test_embed_media.py
  .claude/skills/tests/test_upload_media.py
  .github/workflows/review.yml
Due: normalize-chars, ruff, format, clint, typos, conftest

Resolve the token through a shared `resolve_github_token()`
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/src/skills/github/utils.py
  .claude/skills/tests/test_embed_media.py
  .claude/skills/tests/test_utils.py
Due: normalize-chars, ruff, format, clint, typos

Assign the token instead of walrusing it
  .claude/skills/src/skills/commands/embed_media.py
Due: normalize-chars, ruff, format, clint, typos

Drop the `resolve_github_token()` docstring
  .claude/skills/src/skills/github/utils.py
Due: normalize-chars, ruff, format, clint, typos

Share the `GH_TOKEN` lookup between `embed-media` and `upload-media` (#25165)
  .claude/skills/src/skills/commands/embed_media.py
  .claude/skills/src/skills/github/utils.py
  .claude/skills/tests/test_embed_media.py
  .claude/skills/tests/test_upload_media.py
  .claude/skills/tests/test_utils.py
  .github/workflows/review.yml
Due: normalize-chars, ruff, format, clint, typos, conftest

feat(typescript): add logFeedback and typed trace assessments
  libs/typescript/README.md
  libs/typescript/core/src/clients/client.ts
  libs/typescript/core/src/clients/spec.ts
  libs/typescript/core/src/core/entities/assessment.ts
  libs/typescript/core/src/core/entities/trace_info.ts
  libs/typescript/core/src/index.ts
  libs/typescript/core/tests/clients/client.test.ts
  libs/typescript/core/tests/core/entities/assessment.test.ts
  libs/typescript/core/tests/core/entities/trace_info.test.ts
Due: normalize-chars, blacken-docs, clint, typos

Prevent oversized UI state from breaking local storage
  mlflow/server/js/src/common/utils/LocalStorageUtils.test.ts
  mlflow/server/js/src/common/utils/LocalStorageUtils.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-logged-models/hooks/useExperimentLoggedModelsChartsUIState.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useExperimentRunColor.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/hooks/useExperimentEvaluationRunsChartsUIState.tsx
Due: none

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 6ffc1275d7e2e878b98d5065d8244417e9ca9ecc
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Store partial per-run visibility and have it unchanged across status/index changes
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsTableCellRenderers.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/hooks/useExperimentEvaluationRunsRowVisibility.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/hooks/useExperimentEvaluationRunsRowVisibility.tsx
Due: none

Add comments to improve clarity
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/hooks/useExperimentEvaluationRunsRowVisibility.tsx
Due: none

Return 400 instead of 500 for a non-UTF-8 scoring request body
  mlflow/pyfunc/scoring_server/__init__.py
  tests/pyfunc/test_scoring_server.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: initialize tracking store before registry model-version create
  mlflow/server/handlers.py
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: address second round of review comments
  mlflow/genai/judges/adapters/databricks_adapter.py
  mlflow/genai/judges/adapters/rate_limit_retry_adapters.py
  tests/genai/evaluate/test_rate_limiter.py
  tests/genai/scorers/online/test_trace_processor.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Normalize the GCS artifact root so listings keep full artifact names
  mlflow/store/artifact/gcs_artifact_repo.py
  tests/store/artifact/test_gcs_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove unused test fixtures
  tests/server/jobs/test_lock_manager.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Rename custom view feedback component IDs
  mlflow/server/js/scripts/componentId-registry.js
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/catalog-primitives/FeedbackSubmit.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/catalog-primitives/FeedbackThumbsUpDownButtons.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/catalog-primitives/RadioGroup.tsx
Due: none
