Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|ts|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

Remove Tool.run dependency (#17299)
  mlflow/pydantic_ai/__init__.py
  tests/pydantic_ai/test_pydanticai_fluent_tracing.py
  tests/pydantic_ai/test_pydanticai_tracing.py
Due: ruff, format, clint, typos

Split FLAVOR_TO_MODULE_NAME to genai and non-genai (#17377)
  dev/update_ml_package_versions.py
  mlflow/ml_package_versions.py
Due: ruff, format, clint, mlver, typos

Track create_webhook event (#17261)
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/events.py
  mlflow/tracking/_model_registry/client.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos

Add log dataset event (#17361)
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/events.py
  mlflow/tracking/_tracking_service/client.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos

Add Databricks Lakebase Resource (#17277)
  mlflow/models/resources.py
  tests/models/test_resources.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
Due: ruff, format, clint, typos

Track log params event (#17358)
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/events.py
  mlflow/tracking/_tracking_service/client.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, typos

Add sleep to deflake test_litellm_tracing_async (#17422)
  tests/litellm/test_litellm_autolog.py
Due: ruff, format, clint, typos

Rename username & password to clarify they are for tracking server
  libs/typescript/core/src/clients/client.ts
  libs/typescript/core/src/core/config.ts
  libs/typescript/core/src/core/provider.ts
Due: none

Add telemetry to `mlflow mcp` (#17437)
  mlflow/mcp/cli.py
  mlflow/telemetry/events.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, clint, typos

Refactor
  dev/clint/src/clint/linter.py
  dev/clint/src/clint/rules/forbidden_deprecation_warning.py
  dev/clint/tests/rules/test_forbidden_deprecation_warning.py
  mlflow/entities/assessment_source.py
Due: ruff, format, clint, typos

Apply suggestions from code review
  CHANGELOG.md
Due: blacken-docs, clint, typos

Doc for TS SDK basic auth.
  docs/docs/genai/tracing/quickstart/typescript-openai.mdx
Due: blacken-docs, clint, typos

Prettify ts files
  libs/typescript/core/src/clients/client.ts
Due: none

Clean up
  tests/deployments/openai/test_openai.py
  tests/langgraph/conftest.py
  tests/litellm/conftest.py
  tests/llama_index/test_llama_index_model_export.py
  tests/openai/test_openai_autolog.py
  tests/openai/test_openai_evaluate.py
  tests/openai/test_openai_model_export.py
  tests/openai/test_openai_responses_autolog.py
  tests/projects/test_databricks.py
  tests/projects/test_projects.py
  tests/server/auth/auth_test_utils.py
  tests/server/auth/test_auth.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/artifact/test_databricks_sdk_models_artifact_repo.py
  tests/store/artifact/test_http_artifact_repo.py
  tests/store/artifact/test_unity_catalog_models_artifact_repo.py
  tests/store/artifact/test_unity_catalog_oss_models_artifact_repo.py
  tests/store/lineage/test_downstream_lineage.py
  tests/tracking/fluent/test_fluent.py
  tests/tracking/fluent/test_fluent_autolog.py
  tests/utils/test_rest_utils.py
Due: ruff, format, clint, typos

Change warning category from FutureWarning to DeprecationWarning in AutologgingEventLogger
  mlflow/utils/autologging_utils/events.py
Due: ruff, format, clint, typos

lint
  CHANGELOG.md
Due: blacken-docs, clint, typos

Update tests/semantic_kernel/conftest.py
  tests/semantic_kernel/conftest.py
Due: ruff, format, clint, typos

Lint fix for changelog (#17441)
  CHANGELOG.md
Due: blacken-docs, clint, typos

Address PR review feedback
  CLAUDE.md
  mlflow/runs.py
  tests/test_runs.py
Due: ruff, format, blacken-docs, clint, typos

Address additional PR feedback from harupy
  mlflow/runs.py
Due: ruff, format, clint, typos

Add logging suppression fixture and simplify JSON parsing in tests
  tests/test_runs.py
Due: ruff, format, clint, typos

Fix test failures from search_runs kwargs change
  tests/server/test_handlers.py
Due: ruff, format, clint, typos

Update CLAUDE.md per review suggestion
  CLAUDE.md
Due: blacken-docs, clint, typos

Fix TraceLocation import conflicts in tests
  tests/server/test_handlers.py
Due: ruff, format, clint, typos

Fix sphinx documentation warnings for mlflow runs create
  mlflow/runs.py
Due: ruff, format, clint, typos

Add Databricks backend support to MLflow server (#17411)
  CLAUDE.md
  dev/run-dev-server.sh
  mlflow/server/handlers.py
  tests/server/test_handlers.py
Due: ruff, format, blacken-docs, clint, typos

Add 'mlflow runs create' CLI command for programmatic run creation (#17417)
  CLAUDE.md
  mlflow/runs.py
  tests/test_runs.py
Due: ruff, format, blacken-docs, clint, typos

Remove `ExtendedMonkeyPatch` and use pytest's built-in `monkeypatch` in `tests/conftest.py` (#17440)
  tests/conftest.py
  tests/deployments/openai/test_openai.py
  tests/deployments/test_interface.py
  tests/langchain/conftest.py
  tests/langgraph/conftest.py
  tests/litellm/conftest.py
  tests/llama_index/conftest.py
  tests/llama_index/test_llama_index_model_export.py
  tests/metrics/genai/test_model_utils.py
  tests/openai/test_openai_autolog.py
  tests/openai/test_openai_evaluate.py
  tests/openai/test_openai_model_export.py
  tests/openai/test_openai_responses_autolog.py
  tests/projects/backend/test_local.py
  tests/projects/test_databricks.py
  tests/projects/test_docker_projects.py
  tests/projects/test_projects.py
  tests/semantic_kernel/conftest.py
  tests/server/auth/auth_test_utils.py
  tests/server/auth/test_auth.py
  tests/server/auth/test_client.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/artifact/test_databricks_sdk_models_artifact_repo.py
  tests/store/artifact/test_http_artifact_repo.py
  tests/store/artifact/test_unity_catalog_models_artifact_repo.py
  tests/store/artifact/test_unity_catalog_oss_models_artifact_repo.py
  tests/store/db/test_utils.py
  tests/store/lineage/test_downstream_lineage.py
  tests/tracking/fluent/test_fluent.py
  tests/tracking/fluent/test_fluent_autolog.py
  tests/utils/test_credentials.py
  tests/utils/test_rest_utils.py
Due: ruff, format, clint, typos

add coverage
  tests/genai/datasets/test_fluent.py
Due: ruff, format, clint, typos

Add 'mlflow runs link-traces' CLI command
  mlflow/runs.py
  tests/test_runs.py
Due: ruff, format, clint, typos

Add experiment-id flag to link-traces command
  mlflow/runs.py
  tests/test_runs.py
Due: ruff, format, clint, typos

Fix ruff formatting and remove unused variables
  mlflow/runs.py
  tests/test_runs.py
Due: ruff, format, clint, typos

Address @harupy PR review comments
  mlflow/tracing/export/mlflow_v3.py
  tests/tracing/test_fluent.py
Due: ruff, format, clint, typos

Remove unnecessary lines in test_incremental_span_name_deduplication
  tests/tracing/processor/test_mlflow_v3_processor.py
Due: ruff, format, clint, typos

Add missing return type hints and fix test assertion
  mlflow/tracing/export/mlflow_v3.py
Due: ruff, format, clint, typos

Sort spans by creation time for deterministic test assertion
  tests/tracing/processor/test_mlflow_v3_processor.py
Due: ruff, format, clint, typos

fix
  mlflow/tracing/trace_manager.py
Due: ruff, format, clint, typos

Fixes for doc build
  docs/api_reference/api_inventory.txt
Due: none

fix
  mlflow/genai/judges/utils.py
  tests/genai/judges/test_judge_utils.py
Due: ruff, format, clint, typos

Use default=str for JSON serialization in tool result handling
  mlflow/genai/judges/utils.py
Due: ruff, format, clint, typos
