Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

test
  mlflow/server/handlers.py
Due: ruff, format, custom-python-lint

Address comments
  docs/source/deployment/deploy-model-to-kubernetes/tutorial.rst
  mlflow/ml-package-versions.yml
Due: blacken-docs, mlver

Remove outdated comment
  dev/pyproject.py
Due: ruff, format, custom-python-lint

Apply suggestions from code review
  mlflow/server/handlers.py
  mlflow/utils/databricks_utils.py
Due: ruff, format, custom-python-lint

Autoformat: https://github.com/mlflow/mlflow/actions/runs/10919095321
  mlflow/utils/databricks_utils.py
Due: ruff, format, custom-python-lint

Update mlflow/server/handlers.py
  mlflow/server/handlers.py
Due: ruff, format, custom-python-lint

Isolate mlserver dependencies (#13178)
  .github/workflows/master.yml
  dev/pyproject.py
  docs/source/deployment/deploy-model-to-kubernetes/tutorial.rst
  mlflow/ml-package-versions.yml
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
  requirements/test-requirements.txt
  tests/test_cli.py
Due: ruff, format, taplo, blacken-docs, custom-python-lint, mlver

Pin pydantic
  mlflow/ml-package-versions.yml
Due: mlver

Fix version specifier
  mlflow/ml-package-versions.yml
Due: mlver

test
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Remove useless sleep in langchain autologging test (#13179)
  mlflow/ml-package-versions.yml
Due: mlver

Update mlflow/ml-package-versions.yml
  mlflow/ml-package-versions.yml
Due: mlver

Fix _update_langchain_model_config
  mlflow/langchain/_langchain_autolog.py
Due: ruff, format, custom-python-lint

Fix is_dbfs_fuse_available to return False if not in databricks runtime
  mlflow/utils/databricks_utils.py
Due: ruff, format, custom-python-lint

Remove fastapi>=0.100.0
  mlflow/ml-package-versions.yml
Due: mlver

cls
  mlflow/types/llm.py
Due: ruff, format, custom-python-lint

Improve `_validate_non_local_source_contains_relative_paths` to reject malicious path (#13161)
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Pin pydantic for `llama-index < 0.11.0` (#13182)
  mlflow/ml-package-versions.yml
Due: mlver

Fix `is_dbfs_fuse_available` to return `False` if not in databricks runtime (#13184)
  mlflow/utils/databricks_utils.py
Due: ruff, format, custom-python-lint

update
  mlflow/utils/validation.py
Due: ruff, format, custom-python-lint

update
  mlflow/store/db_migrations/versions/f5a4f2784254_increase_run_tag_value_limit.py
  tests/resources/db/latest_schema.sql
Due: ruff, format, custom-python-lint

Fix LC autologging not to require langchain-community (#13172)
  mlflow/langchain/__init__.py
  mlflow/langchain/_langchain_autolog.py
  mlflow/langchain/utils/__init__.py
  mlflow/ml-package-versions.yml
  tests/langchain/conftest.py
  tests/langchain/test_langchain_autolog.py
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint, mlver

Refactor for subprocess output redirection
  mlflow/utils/databricks_utils.py
Due: ruff, format, custom-python-lint

Extract exceeds maximum length message (#13128)
  mlflow/utils/validation.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

Update mlflow/utils/databricks_utils.py
  mlflow/utils/databricks_utils.py
Due: ruff, format, custom-python-lint

Add depedencies for mock openai
  mlflow/ml-package-versions.yml
Due: mlver

Refactor for subprocess output redirection (#13186)
  mlflow/utils/databricks_utils.py
Due: ruff, format, custom-python-lint

comments
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Suppress pydantic import warning for Langchain >= 0.3.0
  mlflow/langchain/runnables.py
  mlflow/langchain/utils/serialization.py
  mlflow/tracing/utils/__init__.py
Due: ruff, format, custom-python-lint
