Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/|charts/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        stages: [commit]
        log_file: .black.log

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [python, rst, markdown]
        stages: [commit]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=pylintrc"]
        stages: [commit]

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]

a
  b.py
  docs/Makefile
  docs/source/conf.py
  docs/source/python_api/generated/mlflow.log_metrics.rst
  docs/source/python_api/generated/mlflow.log_params.rst
  docs/source/python_api/generated/mlflow.set_tracking_uri.rst
  docs/source/python_api/mlflow.rst
Due: black, blacken-docs, pylint

Install GitHub CLI in devcontainer
  .devcontainer/Dockerfile.devcontainer
Due: none

Install GitHub CLI in `devcontainer` (#10358)
  .devcontainer/Dockerfile.devcontainer
Due: none

Add timeout for mlflow login (#10239)
  mlflow/utils/credentials.py
  tests/utils/test_credentials.py
Due: black, blacken-docs, pylint

Test pyarrow 14
  requirements/core-requirements.yaml
Due: none

update core-requirements.txt
  requirements/core-requirements.txt
Due: none

Test pyarrow 14 (#10359)
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
Due: none

Correct docstring of `RunInfo.status`
  mlflow/entities/run_info.py
Due: black, blacken-docs, pylint

Use sphinx highlighting-syntax instead of markdown
  mlflow/entities/run_info.py
Due: black, blacken-docs, pylint

Use pytest_configure
  .github/workflows/master.yml
  conftest.py
  dev/pytest.sh
  mlflow/ml-package-versions.yml
  tests/sklearn/test_sklearn_model_export.py
Due: black, blacken-docs, pylint

Move psutil to test requirements and do optimistic load for system metrics support.
  conftest.py
  dev/Dockerfile.test
  docker/Dockerfile
  examples/databricks/multipart.py
  mlflow/gateway/runner.py
  mlflow/gateway/utils.py
  mlflow/system_metrics/metrics/cpu_monitor.py
  mlflow/system_metrics/metrics/disk_monitor.py
  mlflow/system_metrics/metrics/network_monitor.py
  mlflow/utils/process.py
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
  requirements/test-requirements.txt
  tests/gateway/tools.py
Due: black, blacken-docs, pylint

Add pylint checker for blocking direct import of psutil
  pylint_plugins/__init__.py
  pylint_plugins/direct_import_blocker.py
  pylint_plugins/errors.py
  pylintrc
Due: black, blacken-docs, pylint

Add psutil to gateway test dependencies
  .github/workflows/gateway.yml
Due: none

Update tests/sklearn/test_sklearn_model_export.py
  tests/sklearn/test_sklearn_model_export.py
Due: black, blacken-docs, pylint

Remove wrapper. psutil was actually only used by system metrics module and gateway, both are already lazy loaded. Hence, just added some check and suggestion.
  conftest.py
  examples/databricks/multipart.py
  mlflow/__init__.py
  mlflow/gateway/runner.py
  mlflow/gateway/utils.py
  mlflow/system_metrics/metrics/cpu_monitor.py
  mlflow/system_metrics/metrics/disk_monitor.py
  mlflow/system_metrics/metrics/network_monitor.py
  mlflow/tracking/fluent.py
  mlflow/utils/process.py
  pylint_plugins/__init__.py
  pylint_plugins/direct_import_blocker.py
  pylint_plugins/errors.py
  pylintrc
  tests/gateway/tools.py
Due: black, blacken-docs, pylint

Use `pytest_configure` to dynamically adding command line options (#10361)
  .github/workflows/master.yml
  conftest.py
  dev/pytest.sh
  mlflow/ml-package-versions.yml
Due: black, blacken-docs, pylint

comments
  mlflow/tracking/fluent.py
  requirements/test-requirements.txt
Due: black, blacken-docs, pylint

Update mlflow/tracking/fluent.py
  mlflow/tracking/fluent.py
Due: black, blacken-docs, pylint

Install pandoc in devcontainer
  .devcontainer/Dockerfile.devcontainer
Due: none

Install `pandoc` in `devcontainer` (#10367)
  .devcontainer/Dockerfile.devcontainer
Due: none

Move psutil to test requirements and do optimistic load (#10342)
  .github/workflows/gateway.yml
  dev/Dockerfile.test
  docker/Dockerfile
  mlflow/__init__.py
  mlflow/tracking/fluent.py
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
  requirements/test-requirements.txt
Due: black, blacken-docs, pylint

temporary pin for pydantic due to breaking changes
  .github/workflows/gateway.yml
Due: none

Add dark theme to MLflow UI (#10169)
  mlflow/server/js/src/MlflowRouter.tsx
  mlflow/server/js/src/app.tsx
  mlflow/server/js/src/common/components/DarkThemeSwitch.tsx
  mlflow/server/js/src/common/components/DesignSystemContainer.tsx
  mlflow/server/js/src/common/components/MlflowHeader.tsx
  mlflow/server/js/src/experiment-tracking/components/App.tsx
  mlflow/server/js/src/shared/web-shared/design-system/index.tsx
Due: none

fix test
  tests/evaluate/test_default_evaluator.py
  tests/metrics/test_metric_definitions.py
Due: black, blacken-docs, pylint

address comment
  docs/source/python_api/mlflow.metrics.rst
  mlflow/metrics/metric_definitions.py
Due: black, blacken-docs, pylint

conflict
  docs/source/getting-started/quickstart-2/index.rst
Due: blacken-docs

Further fix validate path on Windows (#10330)
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: black, blacken-docs, pylint

merge and fix tests
  tests/promptlab/test_promptlab_model.py
Due: black, blacken-docs, pylint

address comment
  mlflow/system_metrics/system_metrics_monitor.py
  mlflow/tracking/fluent.py
  tests/system_metrics/test_system_metrics_logging.py
Due: black, blacken-docs, pylint

Temporarily pin pydantic in CI due to 2.5.0 breaking changes (#10372)
  .github/workflows/gateway.yml
Due: none
