Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true

Implement set_trace_tag and delete_trace_tag APIs for SQL Alchemy Store
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/utils/validation.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

comment
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

[DO NOT MERGE] dummy commit
  mlflow/langchain/__init__.py
Due: ruff, format, custom-python-lint

revert dummy commit
  mlflow/langchain/__init__.py
Due: ruff, format, custom-python-lint

Update mlflow/tracing/processor/mlflow.py
  mlflow/tracing/processor/mlflow.py
Due: ruff, format, custom-python-lint

add guidance on search syntax
  docs/source/_static/images/search-runs/search_syntax.png
  docs/source/search-runs.rst
Due: blacken-docs

add docstring
  mlflow/gateway/plugins.py
Due: ruff, format, custom-python-lint

[4] Implement set_trace_tag and delete_trace_tag APIs for SQL Alchemy Store (#11883)
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/utils/validation.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

Fix model config logging for Langchain autologging (#11890)
  mlflow/models/model.py
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

Update search_trace() fluent API to use active experiment ID and add warning for usage of default experiment (#11884)
  mlflow/tracing/fluent.py
  mlflow/tracing/processor/mlflow.py
  mlflow/tracking/client.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

Select a different model with remote code
  tests/sentence_transformers/test_sentence_transformers_model_export.py
Due: ruff, format, custom-python-lint

adjustments to supported test version due to model dependencies
  tests/sentence_transformers/test_sentence_transformers_model_export.py
Due: ruff, format, custom-python-lint

Select a different model with remote code (#11893)
  tests/sentence_transformers/test_sentence_transformers_model_export.py
Due: ruff, format, custom-python-lint

fix
  mlflow/gateway/config.py
Due: ruff, format, custom-python-lint

add docs
  docs/source/llms/deployments/index.rst
Due: blacken-docs

add example
  docs/source/llms/deployments/index.rst
  examples/deployments/deployments_server/plugin/README.md
  examples/deployments/deployments_server/plugin/config.yaml
  examples/deployments/deployments_server/plugin/example.py
  examples/deployments/deployments_server/plugin/foo-provider/foo/__init__.py
  examples/deployments/deployments_server/plugin/foo-provider/foo/config.py
  examples/deployments/deployments_server/plugin/foo-provider/foo/providers.py
  examples/deployments/deployments_server/plugin/foo-provider/setup.py
Due: ruff, format, blacken-docs, custom-python-lint

align example
  examples/deployments/deployments_server/plugin/README.md
  examples/deployments/deployments_server/plugin/example.py
Due: ruff, format, blacken-docs, custom-python-lint

fix readme
  examples/deployments/deployments_server/plugin/README.md
Due: blacken-docs

Add enable/disable switch for tracing
  mlflow/tracing/__init__.py
  mlflow/tracing/provider.py
  tests/tracing/test_provider.py
Due: ruff, format, custom-python-lint

Update README.md
  examples/deployments/deployments_server/plugin/README.md
Due: blacken-docs

Update index.rst
  docs/source/llms/deployments/index.rst
Due: blacken-docs

Add start_run_by_name Signed-off-by: m-blasiak <37832014+m-blasiak@users.noreply.github.com>
  mlflow/__init__.py
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

Add start_run_by_name pytest Signed-off-by: m-blasiak <37832014+m-blasiak@users.noreply.github.com>
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, custom-python-lint

Clarify docstrings in start_run_by_name Signed-off-by: m-blasiak <37832014+m-blasiak@users.noreply.github.com>
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

Add examples to start_run_by_name Signed-off-by: m-blasiak <37832014+m-blasiak@users.noreply.github.com>
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

resolved changes
  mlflow/entities/trace.py
  mlflow/entities/trace_info.py
  mlflow/tracing/__init__.py
  mlflow/tracing/fluent.py
  mlflow/tracing/utils.py
  tests/tracing/__init__.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

Add enable/disable switch for tracing (#11895)
  mlflow/tracing/__init__.py
  mlflow/tracing/provider.py
  tests/tracing/test_provider.py
Due: ruff, format, custom-python-lint

Fix inferring signature in langchain (#11861)
  mlflow/langchain/__init__.py
  mlflow/langchain/api_request_parallel_processor.py
  mlflow/models/signature.py
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint

fix devcontainer build
  .devcontainer/requirements.txt
Due: none

lint
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Update search API to return dataframe and support field extraction
  mlflow/entities/trace.py
  mlflow/entities/trace_info.py
  mlflow/tracing/__init__.py
  mlflow/tracing/fluent.py
  mlflow/tracing/utils.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

linter
  mlflow/tracing/__init__.py
  mlflow/tracing/utils.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

add notebook lineage to _get_scoped_token
  mlflow/pyfunc/__init__.py
  mlflow/store/artifact/artifact_repo.py
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
  mlflow/tracking/artifact_utils.py
Due: ruff, format, custom-python-lint
