Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

update example
  examples/spark_udf/spark_udf_with_prebuilt_env.py
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

update example
  examples/spark_udf/spark_udf_with_prebuilt_env.py
Due: ruff, format, custom-python-lint

nit
  examples/spark_udf/spark_udf_with_prebuilt_env.py
Due: ruff, format, custom-python-lint

format
  examples/spark_udf/spark_udf_with_prebuilt_env.py
Due: ruff, format, custom-python-lint

Lint and Address PR Comments
  mlflow/models/resources.py
  tests/models/test_resources.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
Due: ruff, format, custom-python-lint

oops
  mlflow/types/schema.py
Due: ruff, format, custom-python-lint

make backwards compatible
  mlflow/pyfunc/utils/input_converter.py
  mlflow/types/schema.py
Due: ruff, format, custom-python-lint

Update cli.rst - add attention about MLFLOW_TRACKING_URI
  docs/source/cli.rst
Due: blacken-docs

Update cli.rst
  docs/source/cli.rst
Due: blacken-docs

commit
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: ruff, format, custom-python-lint

add logs
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: ruff, format, custom-python-lint

more logs
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: ruff, format, custom-python-lint

CR comment
  tests/store/artifact/test_gcs_artifact_repo.py
Due: ruff, format, custom-python-lint

Autoformat: https://github.com/mlflow/mlflow/actions/runs/11394394996
  mlflow/store/artifact/artifact_repo.py
  mlflow/store/artifact/gcs_artifact_repo.py
  mlflow/utils/_unity_catalog_utils.py
  tests/store/artifact/test_gcs_artifact_repo.py
Due: ruff, format, custom-python-lint

Fix nightly eval instrumentation test (#13444)
  mlflow/models/evaluation/base.py
Due: ruff, format, custom-python-lint

Fix default task handling for llm/v1/xxx task
  mlflow/transformers/__init__.py
  tests/transformers/test_transformers_model_export.py
Due: ruff, format, custom-python-lint

Make set_logged_model_tags return None
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/rest_store.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
Due: ruff, format, custom-python-lint

Fix docstring
  mlflow/tracking/client.py
Due: ruff, format, custom-python-lint

address comments
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Make spark_udf support Databricks Serverless, Databricks connect, and prebuilt python environment (#13276)
  examples/spark_udf/README.md
  examples/spark_udf/spark_udf_with_prebuilt_env.py
  mlflow/langchain/__init__.py
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/dbconnect_artifact_cache.py
  mlflow/tracking/_model_registry/utils.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/nfs_on_spark.py
  mlflow/utils/spark_utils.py
  mlflow/utils/virtualenv.py
  tests/pyfunc/test_spark.py
Due: ruff, format, blacken-docs, custom-python-lint

Add GCS token refresh for log_artifacts (#13397)
  mlflow/store/artifact/artifact_repo.py
  mlflow/store/artifact/azure_data_lake_artifact_repo.py
  mlflow/store/artifact/cloud_artifact_repo.py
  mlflow/store/artifact/gcs_artifact_repo.py
  mlflow/store/artifact/optimized_s3_artifact_repo.py
  mlflow/store/artifact/presigned_url_artifact_repo.py
  mlflow/utils/_unity_catalog_utils.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/artifact/test_gcs_artifact_repo.py
  tests/store/artifact/test_presigned_url_artifact_repo.py
  tests/store/artifact/test_unity_catalog_models_artifact_repo.py
Due: ruff, format, custom-python-lint

Remove TODO for langchain-databricks testing
  tests/langchain/test_langchain_databricks_integration.py
Due: ruff, format, custom-python-lint

update formatting
  docs/package.json
Due: none

Fix unnecessary proto conversion
  mlflow/store/tracking/rest_store.py
Due: ruff, format, custom-python-lint

Fix docstring
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/file_store.py
Due: ruff, format, custom-python-lint

Pin torchvision
  mlflow/ml-package-versions.yml
Due: mlver

Make `set_logged_model_tags` return `None` (#13467)
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/rest_store.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
Due: ruff, format, custom-python-lint

more boiler
  docs/package.json
Due: none

Migrate index.html
  docs/docs/index.mdx
  docs/rst_to_migrate/index.rst
  docs/src/css/custom.css
Due: blacken-docs

more boilerplate
  docs/.docusaurus/DONT-EDIT-THIS-FOLDER
  docs/.docusaurus/client-manifest.json
  docs/.docusaurus/client-modules.js
  docs/.docusaurus/codeTranslations.json
  docs/.docusaurus/docusaurus-plugin-content-blog/default/__plugin.json
  docs/.docusaurus/docusaurus-plugin-content-blog/default/blog-post-list-prop-default.json
  docs/.docusaurus/docusaurus-plugin-content-blog/default/blogMetadata-default.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/__plugin.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/p/docs-175.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/p/docs-category-tutorial-basics-ea4.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/p/docs-category-tutorial-extras-128.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-intro-md-0e3.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-congratulations-md-822.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-create-a-blog-post-md-533.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-create-a-document-md-1e4.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-create-a-page-md-5c8.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-deploy-your-site-md-f55.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-markdown-features-mdx-18c.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-extras-manage-docs-versions-md-dff.json
  docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-extras-translate-your-site-md-e44.json
  docs/.docusaurus/docusaurus-plugin-content-pages/default/__plugin.json
  docs/.docusaurus/docusaurus-plugin-content-pages/default/site-src-pages-markdown-page-md-393.json
  docs/.docusaurus/docusaurus-plugin-debug/default/__plugin.json
  docs/.docusaurus/docusaurus-plugin-debug/default/p/docusaurus-debug-content-0d5.json
  docs/.docusaurus/docusaurus.config.mjs
  docs/.docusaurus/globalData.json
  docs/.docusaurus/i18n.json
  docs/.docusaurus/registry.js
  docs/.docusaurus/routes.js
  docs/.docusaurus/routesChunkNames.json
  docs/.docusaurus/site-metadata.json
  docs/.docusaurus/site-storage.json
  docs/README.md
  docs/docusaurus.config.ts
Due: blacken-docs

test
  .circleci/config.yml
  docs/docs/sample.mdx
  docs/docusaurus.config.ts
Due: none

Support new Transformers task for llm/v1/embedding (#13468)
  mlflow/transformers/__init__.py
  tests/transformers/test_transformers_model_export.py
Due: ruff, format, custom-python-lint

remove unnecessary stuff
  .circleci/config.yml
Due: none

node
  .circleci/config.yml
Due: none

yarn
  .circleci/config.yml
Due: none

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
