Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

Resolve conflicts
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

fix ag2 test
  conftest.py
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint

Allow autoformat workflow to be run on PRs filed by Copilot
  .github/actions/validate-author/index.js
Due: none

nit
  .github/actions/validate-author/index.js
Due: none

Fix isAllowed
  .github/actions/validate-author/index.js
Due: none

Support passing params to pytorch predict (#15823)
  mlflow/pytorch/__init__.py
  tests/pytorch/test_pytorch_model_export.py
Due: ruff, format, custom-python-lint

Allow `autoformat` workflow to be run on PRs filed by Copilot (#15845)
  .github/actions/validate-author/index.js
Due: none

fix ci test
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint, mlver

fix test
  tests/autogen/test_autogen_autolog.py
Due: ruff, format, custom-python-lint

Migrate trace manager to use v3 TraceInfo
  mlflow/entities/trace_info_v2.py
  mlflow/tracing/export/inference_table.py
  mlflow/tracing/export/mlflow_v2.py
  mlflow/tracing/export/mlflow_v3.py
  mlflow/tracing/fluent.py
  mlflow/tracing/processor/base_mlflow.py
  mlflow/tracing/processor/inference_table.py
  mlflow/tracing/processor/mlflow_v2.py
  mlflow/tracing/processor/mlflow_v3.py
  mlflow/tracing/processor/otel.py
  mlflow/tracing/trace_manager.py
  tests/tracing/conftest.py
  tests/tracing/export/test_mlflow_v2_exporter.py
  tests/tracing/helper.py
  tests/tracing/processor/test_inference_table_processor.py
  tests/tracing/processor/test_mlflow_v2_processor.py
  tests/tracing/processor/test_mlflow_v3_processor.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

Pin pyspark to < 4.0.0 (#15848)
  requirements/constraints.txt
Due: none

llama-index-llms-openai!=0.3.43
  requirements/constraints.txt
Due: none

Pin openai
  requirements/constraints.txt
Due: none

fix openai
  mlflow/openai/autolog.py
  tests/openai/test_openai_autolog.py
Due: ruff, format, custom-python-lint

Use java 17 by default for spark 4.0
  .github/actions/setup-java/action.yml
  mlflow/ml-package-versions.yml
  requirements/constraints.txt
Due: mlver

Use 11 for java
  .github/workflows/master.yml
Due: none

speed up tests
  tests/dspy/test_dspy_autolog.py
  tests/langchain/test_langchain_autolog.py
  tests/llama_index/test_llama_index_autolog.py
  tests/openai/test_openai_autolog.py
Due: ruff, format, custom-python-lint

Pin `openai` for `llama-index-llms-openai` (#15846)
  requirements/constraints.txt
Due: none

create prompt handler Signed-off-by: Daniel Low <danlowgw@gmail.com>
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsPage.tsx
Due: none

fix test
  mlflow/tracing/processor/otel.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

Allow multi inputs module
  mlflow/dspy/wrapper.py
  tests/dspy/test_save.py
Due: ruff, format, custom-python-lint

add serving test
  mlflow/dspy/wrapper.py
  tests/dspy/test_save.py
Due: ruff, format, custom-python-lint

introduce var
  mlflow/dspy/wrapper.py
Due: ruff, format, custom-python-lint

Unpin OpenAI constraint (#15852)
  requirements/constraints.txt
Due: none

Remove try-catch block in update-status step of autoformat workflow (#15854)
  .github/workflows/autoformat.yml
Due: none

Update build scripts to handle mlflow-tracing
  dev/build.py
  dev/pyproject.py
  dev/update_mlflow_versions.py
  libs/skinny/LICENSE.txt
  libs/skinny/MANIFEST.in
  libs/skinny/README.md
  libs/skinny/README_SKINNY.md
  libs/skinny/mlflow
  libs/skinny/pyproject.toml
  libs/tracing/LICENSE.txt
  libs/tracing/MANIFEST.in
  libs/tracing/README.md
  libs/tracing/mlflow
  libs/tracing/pyproject.toml
  skinny/LICENSE.txt
  skinny/MANIFEST.in
  skinny/mlflow
  tests/dev/test_update_mlflow_versions.py
Due: ruff, format, taplo, blacken-docs, custom-python-lint

fix test
  tests/tracing/conftest.py
  tests/tracing/helper.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

initial implementation of prompt optimizer
  mlflow/genai/optimize/__init__.py
  mlflow/genai/optimize/optimizer.py
  mlflow/genai/optimize/types.py
Due: ruff, format, custom-python-lint

fix type
  mlflow/genai/optimize/types.py
Due: ruff, format, custom-python-lint

clean up docs
  mlflow/genai/optimize/__init__.py
  mlflow/genai/optimize/optimizer.py
  mlflow/genai/optimize/types.py
Due: ruff, format, custom-python-lint

Lint example code blocks
  .pre-commit-config.yaml
  dev/clint/src/clint/linter.py
  mlflow/keras/save.py
Due: ruff, format, custom-python-lint

Drop python 3.9 support
  .devcontainer/Dockerfile.devcontainer
  .devcontainer/README.md
  .github/actions/py-cache-key/action.yml
  .github/actions/setup-python/action.yml
  Dockerfile
  examples/llama_index/workflow/pyproject.toml
  examples/mlflow_artifacts/Dockerfile
  examples/mlflow_artifacts/Dockerfile.dev
  mlflow/models/docker_utils.py
  packages/tracing/pyproject.toml
  pyproject.release.toml
  pyproject.toml
  requirements/python-version.txt
  skinny/pyproject.toml
  tests/db/Dockerfile
  tests/db/Dockerfile.mssql
  tests/projects/test_docker_projects.py
  tests/resources/dockerfile/Dockerfile_install_mlflow_virtualenv
  tests/resources/dockerfile/Dockerfile_java_flavor
  tests/resources/dockerfile/Dockerfile_no_model_uri
  tests/resources/dockerfile/Dockerfile_sagemaker_virtualenv
  tests/resources/dockerfile/Dockerfile_sagemaker_virtualenv_no_java
  tests/resources/example_docker_project/Dockerfile
  tests/resources/example_mlflow_1x_sklearn_model/conda.yaml
  tests/resources/example_mlflow_1x_sklearn_model/python_env.yaml
  tests/resources/example_project/conda.yaml
  tests/resources/example_virtualenv_conda_project/conda.yaml
  tests/resources/example_virtualenv_conda_project/entrypoint.py
  tests/resources/example_virtualenv_no_python_env/entrypoint.py
  tests/resources/example_virtualenv_no_python_env/python_env.yaml
  tests/resources/example_virtualenv_project/entrypoint.py
  tests/resources/example_virtualenv_project/python_env.yaml
  tests/resources/pyfunc_models/2.8.1/MLmodel
Due: ruff, format, taplo, blacken-docs, custom-python-lint
