Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Only cancel in-flight Protect runs for unprotect label events
  .github/workflows/protect.yml
Due: normalize-chars, conftest

Add `unprotect` label to bypass the `Protect` check on stacked PRs (#25252)
  .github/workflows/protect.js
  .github/workflows/protect.yml
Due: normalize-chars, conftest

Redesign Traces V4 toolbar and add row-height density
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4DateSelector.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4DisplayButton.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4Toolbar.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/hooks/useTracesV4Density.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/constants.ts
  mlflow/server/js/src/shared/web-shared/traces-table/TraceColumnSelector.test.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TraceColumnSelector.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TraceFilterButton.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesPaginationBar.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTable.test.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTable.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTableView.test.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTableView.tsx
Due: none

Auto-select the seeded custom view on demo experiments.
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/ExperimentCustomViewProvider.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/ExperimentCustomViewProvider.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/hooks/custom-view/useExperimentCustomViewDefinition.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/hooks/custom-view/useExperimentCustomViewDefinition.ts
  mlflow/server/js/src/experiment-tracking/utils/isDemoExperiment.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/CustomViewDefinitionContext.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/CustomViewDefinitionContext.tsx
Due: none

Fix Prettier formatting in custom view demo files
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/hooks/custom-view/useExperimentCustomViewDefinition.test.ts
  mlflow/server/js/src/experiment-tracking/utils/isDemoExperiment.ts
Due: none

Auto-select the first saved custom view for all experiments
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/ExperimentCustomViewProvider.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/ExperimentCustomViewProvider.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/hooks/custom-view/useExperimentCustomViewDefinition.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/hooks/custom-view/useExperimentCustomViewDefinition.ts
  mlflow/server/js/src/experiment-tracking/utils/isDemoExperiment.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/CustomViewDefinitionContext.tsx
Due: none

Drop unused tmp_path fixture from workflow-override test
  tests/dev/test_detect_flaky_tests.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Support UC model services in built-in judges (#25246)
  mlflow/gateway/providers/databricks.py
  mlflow/gateway/utils.py
  mlflow/genai/judges/optimizers/dspy_utils.py
  tests/gateway/providers/test_databricks.py
  tests/gateway/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Move the Views button to the far left of the traces toolbar
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4Toolbar.tsx
Due: none

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 1d84d630a8cc8a0b99273696295aedd5d831b066
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Support reasoning in Bedrock provider
  mlflow/gateway/providers/bedrock.py
  tests/gateway/providers/test_bedrock.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[Custom View] Auto-select the first saved custom view on load (#25212)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/ExperimentCustomViewProvider.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/ExperimentCustomViewProvider.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/hooks/custom-view/useExperimentCustomViewDefinition.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/CustomViewDefinitionContext.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/CustomViewDefinitionContext.tsx
Due: none

Submit Custom View prompt on Enter (Shift+Enter inserts a newline) (#25251)
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/ModelTraceExplorerCustomView.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/custom-view/ModelTraceExplorerCustomView.tsx
Due: none

Fix trace drawer dismissing when opening the Assistant provider picker
  mlflow/server/js/src/common/components/AssistantAwareDrawer.tsx
Due: none

Handle Firefox local storage quota errors
  mlflow/server/js/src/common/utils/LocalStorageUtils.test.ts
  mlflow/server/js/src/common/utils/LocalStorageUtils.ts
Due: none

Gate the presigned-upload-url route in basic-auth (parity with presigned-download-url)
  mlflow/server/auth/__init__.py
  tests/server/auth/test_auth.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix tracing metrics provider leak
  mlflow/tracing/processor/otel_metrics_mixin.py
  tests/tracing/processor/test_otel_metrics.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: ensure gateway models are imported in migration scripts to prevent duplicate table creation (closes #19943)
  tests/store/tracking/test_gateway_sql_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove obsolete `xtest-viz` workflow and visualization script (#25256)
  .github/workflows/xtest-viz.yml
  dev/README.md
  dev/xtest_viz.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, conftest

Flush the `SpanBatcher` from the trace flush paths so UC-table spans are exported
  mlflow/tracing/export/span_batcher.py
  mlflow/tracing/export/uc_table.py
  mlflow/tracing/export/utils.py
  mlflow/tracing/processor/base_mlflow.py
  mlflow/tracking/fluent.py
  tests/tracing/export/test_uc_table_exporter.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Flush the exporter from `retire_batch_processor` too
  mlflow/tracing/processor/base_mlflow.py
  tests/tracing/export/test_uc_table_exporter.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: prevent async trace queue deadlock during flush
  mlflow/tracing/export/async_export_queue.py
  tests/tracing/export/test_async_export_queue.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Make the flaky-test detector framework-agnostic (#25249)
  dev/classify_flaky_tests.py
  dev/detect_flaky_tests.py
  tests/dev/test_classify_flaky_tests.py
  tests/dev/test_detect_flaky_tests.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add a report-only flaky-test pipeline for the JS suite
  .github/workflows/flaky-test-detector-js.yml
  dev/classify_flaky_tests.py
  dev/detect_flaky_tests.py
  tests/dev/test_classify_flaky_tests.py
  tests/dev/test_detect_flaky_tests.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

Add jest registration + classify() wiring tests for the JS pipeline
  tests/dev/test_classify_flaky_tests.py
  tests/dev/test_detect_flaky_tests.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review: skip classify on zero flakes, keep shard fallback schema-conformant
  .github/workflows/flaky-test-detector-js.yml
  dev/classify_flaky_tests.py
  tests/dev/test_classify_flaky_tests.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

Fix Traces V4 bulk selection being wiped every render (OSS)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/TracesV4Tab.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/hooks/useTracesV4UrlState.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/hooks/useTracesV4UrlState.ts
Due: none

Tidy Traces V4 toolbar: drop the preset date icon, move Views to far left
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4DateSelector.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4Toolbar.tsx
Due: none

Mount Traces V4 tab in OSS behind shouldUseTracesV4Tab flag
  mlflow/server/js/src/common/utils/FeatureUtils.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/ExperimentViewTraces.tsx
Due: none

Render trace issues as a dedicated column in Traces V4, not as assessments
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/hooks/useTracesV4AssessmentColumns.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/test-utils/mockTraces.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/assessmentColumns.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/assessmentColumns.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/buildIssuesColumnDef.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Show "{n} of {total}" trace count in the Traces V4 pagination footer
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/hooks/useTracesV4Controller.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/hooks/useTracesV4TraceCount.ts
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/traces-table/TracesPaginationBar.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTableView.tsx
Due: none

Add per-column header Hide/Sort menu to the traces table
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TraceColumnHeader.test.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TraceColumnHeader.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTable.test.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTable.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTableView.test.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTableView.tsx
Due: none

Style the V4 bulk-actions group header so it doesn't look disabled
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4ActionsButton.tsx
Due: none

Restore Compare and Edit tags bulk actions in Traces V4 (OSS)
  mlflow/server/js/scripts/componentId-registry.js
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4ActionsButton.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/hooks/useTracesV4TraceActions.tsx
Due: none

Restore User, Trace name, Run name, and Source as opt-in columns
  mlflow/server/js/scripts/componentId-registry.js
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4Toolbar.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/hooks/useTracesV4Columns.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/index.ts
  mlflow/server/js/src/shared/web-shared/traces-table/TraceCell.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTable.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTableView.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/columnLabels.ts
  mlflow/server/js/src/shared/web-shared/traces-table/columns.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/constants.ts
  mlflow/server/js/src/shared/web-shared/traces-table/hooks/useTraceColumnVisibility.test.ts
  mlflow/server/js/src/shared/web-shared/traces-table/index.ts
Due: none

Skip invalid issue-reference assessments in Traces V4 Issues column
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/assessmentColumns.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/assessmentColumns.ts
Due: none

Allow traces to open in new tabs
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TraceCell.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTable.test.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTable.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTableView.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/columns.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/index.ts
  mlflow/server/js/src/shared/web-shared/traces-table/types.ts
Due: none

Improve traces table column resizing
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TraceCell.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTable.test.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTable.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/columnLabels.ts
  mlflow/server/js/src/shared/web-shared/traces-table/columns.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/getColumnMaxSizes.test.ts
  mlflow/server/js/src/shared/web-shared/traces-table/getColumnMaxSizes.ts
  mlflow/server/js/src/shared/web-shared/traces-table/index.ts
Due: none

Standardize traces-table cell rendering
  mlflow/server/js/scripts/componentId-registry.js
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TraceAssessmentCell.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TraceAssessmentCell.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/hooks/useTracesV4AssessmentColumns.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/hooks/useTracesV4Columns.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/assessmentColumns.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/assessmentColumns.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/buildAssessmentColumnDefs.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/buildAssessmentColumnDefs.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentDisplayValue.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TraceCell.test.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TraceCell.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/TracesTable.tsx
  mlflow/server/js/src/shared/web-shared/traces-table/constants.ts
Due: none

Ship Traces V4 tab off by default in OSS (V3 remains default)
  mlflow/server/js/src/common/utils/FeatureUtils.ts
Due: none
