Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Changed the demo to use Guidelines and addressed comments. Added a way to add human feedback manually
  examples/evaluation/MemAlign Tutorial.ipynb
Due: normalize-chars, ruff, format, clint

Fix temperature/json issues with ConversationSimulator on managed (#20236)
  mlflow/genai/simulators/simulator.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix protobuf cross tests by enabling submodule checkout (#20355)
  .github/workflows/protobuf-cross-test.yml
Due: normalize-chars, conftest

Track intermediate candidates and evaluation scores in gepa optimizer (#20198)
  mlflow/genai/optimize/optimize.py
  mlflow/genai/optimize/optimizers/gepa_optimizer.py
  mlflow/genai/optimize/optimizers/metaprompt_optimizer.py
  mlflow/genai/optimize/types.py
  mlflow/genai/optimize/util.py
  tests/genai/optimize/optimizers/test_gepa_optimizer.py
  tests/genai/optimize/optimizers/test_metaprompt_optimizer.py
  tests/genai/optimize/test_util.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

move warning suppression to litellm_adapter.py
  mlflow/genai/judges/adapters/litellm_adapter.py
  mlflow/genai/judges/optimizers/memalign/optimizer.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

change thread name prefix
  mlflow/genai/judges/optimizers/memalign/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

rename deduplicated_guidelines -> new_guidelines
  mlflow/genai/judges/optimizers/memalign/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

nit
  docs/docs/genai/eval-monitor/scorers/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

Add the RAG built-in judges section
  docs/docs/genai/eval-monitor/scorers/llm-judge/predefined.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/context-sufficiency.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/groundedness.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/relevance.mdx
  docs/sidebarsGenAI.ts
Due: normalize-chars, blacken-docs, clint, typos

remove unused import
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/context-sufficiency.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/groundedness.mdx
Due: normalize-chars, blacken-docs, clint, typos

Fix Modal logo with official branding
  docs/static/images/logos/modal-logo.png
Due: normalize-chars

make warning match litellm msg
  mlflow/genai/judges/adapters/litellm_adapter.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update opentelemetry doc to include trace provider setup example (#19982)
  docs/docs/genai/tracing/app-instrumentation/opentelemetry.mdx
  docs/static/images/llms/tracing/opentelemetry/mlflow-otel-trace-provider.png
Due: normalize-chars, blacken-docs, clint, typos

Revamp assessments and run judges directly in trace UI [Part 1/x]: rearrange UI and restyle certain elements (#20233)
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentCreateForm.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentPaneToggle.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPane.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPaneExpectationsSection.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPaneFeedbackSection.tsx
Due: none

remove databricks references
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/context-sufficiency.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/rag/groundedness.mdx
Due: normalize-chars, blacken-docs, clint, typos

Add the tool-call built-in judges section
  docs/docs/genai/eval-monitor/scorers/llm-judge/tool-call/correctness.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/tool-call/efficiency.mdx
  docs/sidebarsGenAI.ts
Due: normalize-chars, blacken-docs, clint, typos

content
  docs/docs/genai/eval-monitor/scorers/llm-judge/tool-call/correctness.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/tool-call/efficiency.mdx
Due: normalize-chars, blacken-docs, clint, typos

update links
  docs/docs/genai/eval-monitor/scorers/llm-judge/predefined.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/tool-call/correctness.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/tool-call/efficiency.mdx
Due: normalize-chars, blacken-docs, clint, typos

Display LLM scores section
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/FeatureUtils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPane.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPaneFeedbackSection.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/right-pane/ModelTraceExplorerRightPaneTabs.tsx
Due: none

Type indication
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPane.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPaneFeedbackSection.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/FeedbackGroup.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/FeedbackValueGroupSourceCounts.tsx
Due: none

Revamp assessments and run judges directly in trace UI [Part 3/x]: Type indication (#20261)
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/FeatureUtils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPane.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPaneFeedbackSection.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/FeedbackGroup.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/FeedbackValueGroupSourceCounts.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/right-pane/ModelTraceExplorerRightPaneTabs.tsx
Due: none

CR feedback
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/hooks/useRunScorerInTracesViewConfiguration.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/hooks/useRunSerializedScorer.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Render run judge button
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/hooks/useRunScorerInTracesView.tsx
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPane.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPaneFeedbackSection.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/contexts/RunJudgesContext.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/index.ts
Due: none

Add per-decorator sampling_ratio parameter to @mlflow.trace
  mlflow/tracing/fluent.py
  test_sampling_ratio.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Move sampling_ratio tests to tests/tracing/test_fluent.py
  test_sampling_ratio.py
  tests/tracing/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add input validation for sampling_ratio parameter
  mlflow/tracing/fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add documentation for per-decorator sampling_ratio parameter
  docs/docs/genai/tracing/prod-tracing.mdx
Due: normalize-chars, blacken-docs, clint, typos

I18n
  mlflow/server/js/src/lang/default/en.json
Due: none

Correct pg_isready syntax in docker compose for successful health check
  docker-compose/docker-compose.yml
Due: normalize-chars

Refactor sampling_ratio tests and improve documentation
  docs/docs/genai/tracing/prod-tracing.mdx
  mlflow/tracing/fluent.py
  tests/tracing/test_fluent.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Fix decorator-level sampling_ratio to override global MLFLOW_TRACE_SAMPLING_RATIO
  mlflow/tracing/fluent.py
  mlflow/tracing/provider.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Simplify sampling logic with context managers
  mlflow/tracing/fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Revamp assessments and run judges directly in trace UI [Part 4/x]: Judge selector (#20275)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/hooks/useRunScorerInTracesViewConfiguration.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/hooks/useRunSerializedScorer.tsx
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPane.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/AssessmentsPaneFeedbackSection.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/contexts/RunJudgesContext.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/index.ts
Due: none

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
