Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true

comment out code to see if windows test still breaks
  mlflow/pyfunc/__init__.py
  tests/store/lineage/test_downstream_lineage.py
Due: ruff, format, custom-python-lint

use is_in_databricks_runtime to avoid failing in windows env
  mlflow/pyfunc/__init__.py
  tests/store/lineage/test_downstream_lineage.py
Due: ruff, format, custom-python-lint

check that mlflow is running in db env
  mlflow/pyfunc/__init__.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/artifact/models_artifact_repo.py
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
  mlflow/tracking/artifact_utils.py
  tests/store/artifact/test_unity_catalog_models_artifact_repo.py
  tests/store/lineage/test_downstream_lineage.py
Due: ruff, format, custom-python-lint

add loggings
  mlflow/pyfunc/__init__.py
  mlflow/store/_unity_catalog/lineage/__init__.py
  mlflow/store/_unity_catalog/lineage/constants.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/artifact/artifact_repo.py
  mlflow/store/artifact/models_artifact_repo.py
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
  mlflow/tracking/artifact_utils.py
  tests/store/lineage/__init__.py
  tests/store/lineage/test_downstream_lineage.py
Due: ruff, format, custom-python-lint

lints
  tests/store/lineage/test_downstream_lineage.py
Due: ruff, format, custom-python-lint

Fix typo in example Signed-off-by: m-blasiak <37832014+m-blasiak@users.noreply.github.com>
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

save?
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/model.py
  mlflow/utils/model_utils.py
Due: ruff, format, custom-python-lint

comment fixes
  mlflow/entities/trace.py
  mlflow/tracing/__init__.py
  mlflow/tracing/fluent.py
  mlflow/tracing/utils.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

actually save
  mlflow/langchain/__init__.py
  mlflow/langchain/utils.py
  mlflow/models/utils.py
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Implement delete_traces API in SQL alchemy store
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

enlarge offending exceptions
  mlflow/store/artifact/cloud_artifact_repo.py
Due: ruff, format, custom-python-lint

Add Environment Variable for requirements inference raise instead of warn
  mlflow/environment_variables.py
  mlflow/utils/requirements_utils.py
  tests/utils/test_requirements_utils.py
Due: ruff, format, custom-python-lint

Update the devcontainer build (#11899)
  .devcontainer/requirements.txt
Due: none

[3] Implement delete_traces API in SQL alchemy store (#11902)
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

Correct pyarrow version check
  mlflow/store/artifact/hdfs_artifact_repo.py
Due: ruff, format, custom-python-lint

Initial work for MlflowClient.log_model
  mlflow/models/model.py
  mlflow/onnx/__init__.py
  mlflow/pyfunc/__init__.py
  mlflow/pytorch/__init__.py
  mlflow/store/artifact/runs_artifact_repo.py
  mlflow/tracking/_model_registry/fluent.py
  mlflow/tracking/_tracking_service/utils.py
  mlflow/tracking/client.py
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

comment fixes
  mlflow/tracing/fluent.py
  mlflow/tracing/utils.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

add examples
  mlflow/tracing/fluent.py
Due: ruff, format, custom-python-lint

add tests
  tests/tracing/test_fluent.py
  tests/tracing/test_utils.py
Due: ruff, format, custom-python-lint

update
  docs/source/llms/deployments/index.rst
  mlflow/gateway/config.py
  mlflow/gateway/plugin.py
  mlflow/gateway/providers/__init__.py
Due: ruff, format, blacken-docs, custom-python-lint

update
  docs/source/llms/deployments/index.rst
Due: blacken-docs

trace logging in mlflow evaluate
  mlflow/models/evaluation/base.py
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

printing
  mlflow/models/evaluation/base.py
Due: ruff, format, custom-python-lint

simplify to one trace on predict fn
  mlflow/models/evaluation/base.py
  mlflow/models/evaluation/default_evaluator.py
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

add prints
  mlflow/models/evaluation/default_evaluator.py
Due: ruff, format, custom-python-lint

Copy initial generate models. Restructure packages.
  mlflow/go/pkg/postgres/experiment_tags.gen.go
  mlflow/go/pkg/postgres/experiments.gen.go
  mlflow/go/pkg/postgres/gen.go
  mlflow/go/pkg/postgres/model/experiment_tags.gen.go
  mlflow/go/pkg/postgres/model/experiments.gen.go
  mlflow/go/pkg/postgres/store.go
  mlflow/go/pkg/protos/service.pb.go
  mlflow/go/pkg/server/server.go
  mlflow/go/pkg/server/service.go
  mlflow/go/pkg/server/validation.go
  mlflow/go/pkg/store/sql/model/alembic_version.go
  mlflow/go/pkg/store/sql/model/datasets.go
  mlflow/go/pkg/store/sql/model/experiment_tags.go
  mlflow/go/pkg/store/sql/model/experiments.go
  mlflow/go/pkg/store/sql/model/input_tags.go
  mlflow/go/pkg/store/sql/model/inputs.go
  mlflow/go/pkg/store/sql/model/latest_metrics.go
  mlflow/go/pkg/store/sql/model/metrics.go
  mlflow/go/pkg/store/sql/model/model_version_tags.go
  mlflow/go/pkg/store/sql/model/model_versions.go
  mlflow/go/pkg/store/sql/model/params.go
  mlflow/go/pkg/store/sql/model/registrered_model_aliases.go
  mlflow/go/pkg/store/sql/model/registrered_model_tags.go
  mlflow/go/pkg/store/sql/model/registrered_models.go
  mlflow/go/pkg/store/sql/model/runs.go
  mlflow/go/pkg/store/sql/model/tags.go
  mlflow/go/pkg/store/sql/store.go
  mlflow/go/pkg/store/store.go
  mlflow/go/tools/generate/main.go
  mlflow/go/tools/generate/validations.go
  mlflow/go/tools/postgres/main.go
Due: none

Add test for stringAsPositiveInteger validation.
  mlflow/go/pkg/server/validation_test.go
Due: none

Add experiment endpoint
  mlflow/go/pkg/protos/service.pb.go
  mlflow/go/pkg/server/service.go
  mlflow/go/pkg/server/validation.go
  mlflow/go/pkg/server/validation_test.go
  mlflow/go/pkg/store/sql/model/experiments.go
  mlflow/go/pkg/store/sql/store.go
  mlflow/go/pkg/store/store.go
  mlflow/go/tools/generate/validations.go
Due: none

Add configurable raising instead of warning for failures in dependency inference (#11903)
  mlflow/environment_variables.py
  mlflow/utils/requirements_utils.py
  tests/utils/test_requirements_utils.py
Due: ruff, format, custom-python-lint

Add additional guidance on search syntax restrictions (#11892)
  docs/source/_static/images/search-runs/search_syntax.png
  docs/source/search-runs.rst
Due: blacken-docs

fix test
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
Due: ruff, format, custom-python-lint

address deprecation warnings from pandas
  mlflow/data/digest_utils.py
  mlflow/models/evaluation/base.py
  mlflow/pyfunc/__init__.py
  mlflow/recipes/cards/__init__.py
  mlflow/recipes/steps/split.py
Due: ruff, format, custom-python-lint

test-impl
  mlflow/metrics/genai/genai_metric.py
Due: ruff, format, custom-python-lint

fix
  mlflow/metrics/genai/genai_metric.py
Due: ruff, format, custom-python-lint
