Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

Add sidebar_position to docs/traditional-ml/creating-custom-pyfunc/notebooks/index.mdx
  docs/docs/traditional-ml/creating-custom-pyfunc/notebooks/index.mdx
Due: none

Log more git info
  mlflow/tracking/context/git_context.py
  mlflow/utils/git_utils.py
Due: ruff, format, custom-python-lint

Migrate docs/traditional-ml/creating-custom-pyfunc/part1-named-flavors/index.mdx page
  docs/docs/traditional-ml/creating-custom-pyfunc/part1-named-flavors/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/traditional-ml/creating-custom-pyfunc/part1-named-flavors.rst
Due: blacken-docs

Fix tests
  mlflow/tracking/context/git_context.py
  mlflow/utils/git_utils.py
  tests/tracking/context/test_git_context.py
Due: ruff, format, custom-python-lint

update
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

update
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, custom-python-lint

Migrate docs/traditional-ml/creating-custom-pyfunc/part2-pyfunc-components/index.mdx
  docs/docs/traditional-ml/creating-custom-pyfunc/part2-pyfunc-components/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/traditional-ml/creating-custom-pyfunc/part2-pyfunc-components.rst
Due: blacken-docs

nit
  mlflow/models/evaluation/validation.py
Due: ruff, format, custom-python-lint

Migrate docs/traditional-ml/hyperparameter-tuning-with-child-runs/index.mdx page
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/index.mdx
Due: none

Remove page from rst_to_migrate folder
  docs/rst_to_migrate/traditional-ml/hyperparameter-tuning-with-child-runs/index.rst
Due: blacken-docs

Migrate docs/traditional-ml/hyperparameter-tuning-with-child-runs/part1-child-runs/index.mdx page
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/part1-child-runs/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/traditional-ml/hyperparameter-tuning-with-child-runs/part1-child-runs.rst
Due: blacken-docs

Replace rst reference to README
  .github/workflows/cross-version-testing.md
  .pre-commit-config.yaml
  README_SKINNY.md
  README_SKINNY.rst
  dev/build.py
  dev/pyproject.py
  examples/multistep_workflow/main.py
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
  requirements/lint-requirements.txt
Due: ruff, format, taplo, blacken-docs, custom-python-lint

Migrate docs/traditional-ml/hyperparameter-tuning-with-child-runs/part2-logging-plots/index.mdx page
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/part2-logging-plots/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/traditional-ml/hyperparameter-tuning-with-child-runs/part2-logging-plots.rst
Due: blacken-docs

Migrate docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/index.mdx page
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/index.rst
Due: blacken-docs

Move notebooks inside docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/hyperparameter-tuning-with-child-runs.ipynb
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/logging-plots-in-mlflow.ipynb
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/parent-child-runs.ipynb
Due: ruff, format

Migrate docs/traditional-ml/serving-multiple-models-with-pyfunc/index.mdx page
  docs/docs/traditional-ml/serving-multiple-models-with-pyfunc/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/traditional-ml/serving-multiple-models-with-pyfunc/index.rst
Due: blacken-docs

Move MME_Tutorial.ipynb notebook to docusaurus folder
  docs/docs/traditional-ml/serving-multiple-models-with-pyfunc/notebooks/MME_Tutorial.ipynb
Due: ruff, format

Migrate docs/tutorials-and-examples/index.mdx page
  docs/docs/tutorials-and-examples/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/tutorials-and-examples/index.rst
Due: blacken-docs

[ML-48051] Migrate deep learning Pytorch pages (#13885)
  docs/docs/deep-learning/pytorch/guide/index.mdx
  docs/docs/deep-learning/pytorch/index.mdx
  docs/docs/deep-learning/pytorch/quickstart/pytorch_quickstart.ipynb
  docs/docs/getting-started/logging-first-model/notebooks/index.mdx
  docs/rst_to_migrate/deep-learning/pytorch/guide/index.rst
  docs/rst_to_migrate/deep-learning/pytorch/index.rst
Due: ruff, format, blacken-docs

[ML-48053] Migrate traditional ml creating custom pyfunc (part II) (#13905)
  docs/docs/traditional-ml/creating-custom-pyfunc/notebooks/index.mdx
  docs/docs/traditional-ml/creating-custom-pyfunc/part1-named-flavors/index.mdx
  docs/docs/traditional-ml/creating-custom-pyfunc/part2-pyfunc-components/index.mdx
  docs/rst_to_migrate/traditional-ml/creating-custom-pyfunc/part1-named-flavors.rst
  docs/rst_to_migrate/traditional-ml/creating-custom-pyfunc/part2-pyfunc-components.rst
Due: blacken-docs

[ML-48053] Migrate traditional-ml/hyperparameter-tuning-with-child-runs pages (#13907)
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/index.mdx
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/hyperparameter-tuning-with-child-runs.ipynb
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/index.mdx
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/logging-plots-in-mlflow.ipynb
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/parent-child-runs.ipynb
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/part1-child-runs/index.mdx
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/part2-logging-plots/index.mdx
  docs/rst_to_migrate/traditional-ml/hyperparameter-tuning-with-child-runs/index.rst
  docs/rst_to_migrate/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/index.rst
  docs/rst_to_migrate/traditional-ml/hyperparameter-tuning-with-child-runs/part1-child-runs.rst
Due: ruff, format, blacken-docs

[ML-48053] Migrate traditional-ml/serving-multiple-models-with-pyfunc pages (#13908)
  docs/docs/traditional-ml/serving-multiple-models-with-pyfunc/index.mdx
  docs/docs/traditional-ml/serving-multiple-models-with-pyfunc/notebooks/MME_Tutorial.ipynb
  docs/rst_to_migrate/traditional-ml/serving-multiple-models-with-pyfunc/index.rst
Due: ruff, format, blacken-docs

Update docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/parent-child-runs.ipynb
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/parent-child-runs.ipynb
Due: ruff, format

Update docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/logging-plots-in-mlflow.ipynb
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/logging-plots-in-mlflow.ipynb
Due: ruff, format

Update docs/docs/getting-started/logging-first-model/notebooks/logging-first-model.ipynb
  docs/docs/getting-started/logging-first-model/notebooks/logging-first-model.ipynb
Due: ruff, format

fix image
  docs/docs/llms/langchain/notebooks/langchain-retriever.ipynb
Due: ruff, format

Update docs/scripts/convert-notebooks.py
  docs/scripts/convert-notebooks.py
Due: ruff, format, custom-python-lint

Update docs/docs/llms/transformers/tutorials/fine-tuning/transformers-peft.ipynb
  docs/docs/llms/transformers/tutorials/fine-tuning/transformers-peft.ipynb
Due: ruff, format

fix html outputs
  docs/scripts/convert-notebooks.py
  docs/scripts/nbconvert_templates/mdx/index.md.j2
  docs/src/components/NotebookHTMLOutput/index.tsx
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
