Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

Update devcontainer to use Python 3.9
  .devcontainer/README.md
  .devcontainer/requirements.txt
Due: blacken-docs

shorten sleep
  tests/autologging/test_autologging_behaviors_unit.py
Due: ruff, format, custom-python-lint

Update python
  .devcontainer/Dockerfile.devcontainer
Due: none

Do not fail-fast
  .github/workflows/devcontainer.yml
Due: none

Install tf-keras
  .github/workflows/requirements.yml
Due: none

Fix test_sklearn_compatible_with_mlflow_2_4_0
  tests/sklearn/test_sklearn_model_export.py
Due: ruff, format, custom-python-lint

Fix `test_sklearn_compatible_with_mlflow_2_4_0` (#13604)
  tests/sklearn/test_sklearn_model_export.py
Due: ruff, format, custom-python-lint

update
  mlflow/utils/requirements_utils.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
Due: ruff, format, custom-python-lint

update test
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
Due: ruff, format, custom-python-lint

comment
  mlflow/utils/requirements_utils.py
Due: ruff, format, custom-python-lint

pin numpy if pandas spotted in the pip requirements
  mlflow/utils/requirements_utils.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
Due: ruff, format, custom-python-lint

ruff
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
Due: ruff, format, custom-python-lint

update env when running predict
  mlflow/langchain/__init__.py
  mlflow/models/python_api.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/environment.py
Due: ruff, format, custom-python-lint

add test
  tests/models/test_python_api.py
Due: ruff, format, custom-python-lint

fix
  mlflow/models/python_api.py
  mlflow/pyfunc/scoring_server/__init__.py
Due: ruff, format, custom-python-lint

fix predict for uLLM input
  mlflow/pyfunc/scoring_server/__init__.py
Due: ruff, format, custom-python-lint

comment
  mlflow/utils/databricks_utils.py
Due: ruff, format, custom-python-lint

Update devcontainer to use Python 3.9 (#13602)
  .devcontainer/Dockerfile.devcontainer
  .devcontainer/README.md
  .devcontainer/requirements.txt
  .github/workflows/devcontainer.yml
Due: blacken-docs

Return model info
  mlflow/models/model.py
Due: ruff, format, custom-python-lint

wip
  mlflow/models/model.py
Due: ruff, format, custom-python-lint

Use Python 3.10 in `Test requirements` workflow (#13601)
  .github/workflows/requirements.yml
Due: none

Fix id
  dev/clint/src/clint/rules.py
Due: ruff, format, custom-python-lint

Enforce explicit Optional type annotation if default value is None
  dev/clint/src/clint/linter.py
  dev/clint/src/clint/rules.py
Due: ruff, format, custom-python-lint

update
  mlflow/langchain/_langchain_autolog.py
Due: ruff, format, custom-python-lint

wip
  .github/workflows/mlflow-3.yaml
  examples/mlflow-3/load_model_from_run_uri.py
Due: ruff, format, custom-python-lint

format
  mlflow/spark/autologging.py
  mlflow/utils/autologging_utils/safety.py
  mlflow/utils/thread_utils.py
  tests/spark/autologging/datasource/test_spark_datasource_autologging.py
  tests/spark/autologging/datasource/test_spark_disable_autologging.py
Due: ruff, format, custom-python-lint

wip
  examples/mlflow-3/load_model_from_run_uri.py
Due: ruff, format, custom-python-lint

rename
  examples/mlflow-3/load_model_from_runs_uri.py
Due: ruff, format, custom-python-lint

comment
  mlflow/langchain/_langchain_autolog.py
  mlflow/openai/_openai_autolog.py
Due: ruff, format, custom-python-lint

add new uc tool extraction support
  mlflow/langchain/databricks_dependencies.py
  mlflow/ml-package-versions.yml
  tests/langchain/test_langchain_databricks_dependency_extraction.py
Due: ruff, format, custom-python-lint, mlver

fix test
  tests/langchain/test_langchain_databricks_dependency_extraction.py
Due: ruff, format, custom-python-lint

update branch
  mlflow/ml-package-versions.yml
Due: mlver

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
