Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/|charts/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        stages: [commit]
        log_file: .black.log

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [python, rst, markdown]
        stages: [commit]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=pylintrc"]
        stages: [commit]

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]

Add sentence-transformers doc & example (#9047)
  docs/source/models.rst
  examples/sentence_transformers/simple.py
  tests/examples/test_examples.py
Due: black, blacken-docs, pylint

try hack
  tests/evaluate/test_default_evaluator.py
Due: black, blacken-docs, pylint

remove cache section
  tests/evaluate/test_default_evaluator.py
Due: black, blacken-docs, pylint

try moving pip install to master.yml
  .github/workflows/cross-version-tests.yml
  .github/workflows/master.yml
  requirements/test-requirements.txt
  tests/evaluate/test_default_evaluator.py
Due: black, blacken-docs, pylint

add torch
  .github/workflows/master.yml
Due: none

Add spark udf model serving test (#9110)
  tests/pyfunc/test_spark.py
Due: black, blacken-docs, pylint

init
  .github/workflows/cross-version-tests.yml
Due: none

update
  tests/pytorch/test_pytorch_autolog.py
Due: black, blacken-docs, pylint

Revert "update"
  tests/pytorch/test_pytorch_autolog.py
Due: black, blacken-docs, pylint

Clean CI disk for pytorch cross test on version >= 2 (#9112)
  .github/workflows/cross-version-tests.yml
Due: none

Add support to log customized tags to runs created by autolog #9064
  mlflow/fastai/__init__.py
  mlflow/gluon/__init__.py
  mlflow/lightgbm.py
  mlflow/paddle/__init__.py
  mlflow/pyspark/ml/__init__.py
  mlflow/pytorch/__init__.py
  mlflow/sklearn/__init__.py
  mlflow/statsmodels.py
  mlflow/tensorflow/__init__.py
  mlflow/tracking/fluent.py
  mlflow/transformers.py
  mlflow/utils/autologging_utils/safety.py
  mlflow/xgboost/__init__.py
  tests/gluon/test_gluon_autolog.py
  tests/lightgbm/test_lightgbm_autolog.py
  tests/paddle/test_paddle_autolog.py
  tests/pytorch/test_pytorch_autolog.py
  tests/statsmodels/test_statsmodels_autolog.py
  tests/tensorflow/test_tensorflow2_autolog.py
  tests/test_autolog_extra_tags.py
  tests/transformers/test_transformers_autolog.py
  tests/xgboost/test_xgboost_autolog.py
Due: black, blacken-docs, pylint

Update comments
  tests/test_autolog_extra_tags.py
Due: black, blacken-docs, pylint

Update enable UP032 on pyproject.toml
  pyproject.toml
Due: none

add docs
  docs/source/model-registry.rst
  docs/source/models.rst
  docs/source/plugins.rst
Due: blacken-docs

Run ruff with --fix
  dev/update_ml_package_versions.py
  mlflow/catboost.py
  mlflow/langchain/__init__.py
  mlflow/store/model_registry/dbmodels/models.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracking/client.py
  mlflow/types/utils.py
  mlflow/utils/__init__.py
  mlflow/utils/model_utils.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: black, blacken-docs, pylint

Remove test_autolog_extra_tags.py, move tests to corresponding files to fix test failures
  tests/fastai/test_fastai_autolog.py
  tests/sklearn/test_sklearn_autolog.py
  tests/spark/autologging/ml/test_pyspark_ml_autologging.py
  tests/test_autolog_extra_tags.py
Due: black, blacken-docs, pylint

Fix pytorch test for extra_tags
  tests/pytorch/test_pytorch_autolog.py
Due: black, blacken-docs, pylint

Fix transformers test for extra_tags
  tests/transformers/test_transformers_autolog.py
Due: black, blacken-docs, pylint

Update enable UP032 on pyproject.toml (#9118)
  dev/update_ml_package_versions.py
  mlflow/catboost.py
  mlflow/langchain/__init__.py
  mlflow/store/model_registry/dbmodels/models.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracking/client.py
  mlflow/types/utils.py
  mlflow/utils/__init__.py
  mlflow/utils/model_utils.py
  pyproject.toml
  tests/store/tracking/test_sqlalchemy_store.py
Due: black, blacken-docs, pylint

Remove transformers test for extra_tags as manage_run are all False
  tests/transformers/test_transformers_autolog.py
Due: black, blacken-docs, pylint

Fix sklearn test for extra_tags
  tests/sklearn/test_sklearn_autolog.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: black, blacken-docs, pylint

address comments
  docs/source/models.rst
Due: blacken-docs

Docs model serve docker h (#9067)
  docs/source/models.rst
Due: blacken-docs

Document LangChain integration (#9108)
  docs/source/gateway/index.rst
Due: blacken-docs

Update ruff on requirements/lint-requirements.txt
  requirements/lint-requirements.txt
Due: none

Add langchain integration in gateway doc
  docs/source/gateway/index.rst
Due: blacken-docs

Add caption
  docs/source/gateway/index.rst
Due: blacken-docs

Remove gluon
  conftest.py
  docs/source/python_api/mlflow.gluon.rst
  examples/gluon/train.py
  mlflow/__init__.py
  mlflow/gluon/__init__.py
  mlflow/gluon/_autolog.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  mlflow/models/__init__.py
  mlflow/tracking/fluent.py
  mlflow/utils/autologging_utils/versioning.py
  tests/autologging/test_autologging_behaviors_integration.py
  tests/autologging/test_autologging_utils.py
  tests/check_mlflow_lazily_imports_ml_packages.py
  tests/gluon/test_gluon_autolog.py
  tests/gluon/test_gluon_model_export.py
  tests/gluon/utils.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: black, blacken-docs, pylint

remove autologging
  mlflow/ml-package-versions.yml
Due: none

Remove gluon section
  docs/source/models.rst
Due: blacken-docs

Remove gluon section in tracking.rst
  docs/source/tracking.rst
Due: blacken-docs

fix infer_signature warning in sklearn
  mlflow/sklearn/__init__.py
  tests/sklearn/test_sklearn_autolog.py
Due: black, blacken-docs, pylint

Import gateway
  mlflow/__init__.py
Due: black, blacken-docs, pylint
