Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

Fix `last_logged_model` example (#14669)
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

Use ModelInfo.model_uri in prophet and pmdrima tests
  tests/pmdarima/test_pmdarima_model_export.py
  tests/prophet/test_prophet_model_export.py
Due: ruff, format, custom-python-lint

Unit test
  tests/test_ref.py
Due: ruff, format, custom-python-lint

test
  tests/test_ref.py
Due: ruff, format, custom-python-lint

fix test_mlflow_gc_sqlite_with_s3_artifact_repository
  tests/test_cli.py
Due: ruff, format, custom-python-lint

Use `ModelInfo.model_uri` in `prophet` and `pmdrima` tests (#14673)
  tests/pmdarima/test_pmdarima_model_export.py
  tests/prophet/test_prophet_model_export.py
Due: ruff, format, custom-python-lint

Fix backend-path
  dev/pyproject.py
  mlflow/_build_backend/backend.py
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

Add pagination to S3ArtifactRepository.delete_artifacts (#14660)
  mlflow/store/artifact/optimized_s3_artifact_repo.py
  mlflow/store/artifact/s3_artifact_repo.py
  tests/store/artifact/test_s3_artifact_repo.py
  tests/test_cli.py
Due: ruff, format, custom-python-lint

Use MoelInfo.model_uri in torch/langchain tests
  tests/langchain/test_langchain_model_export.py
  tests/pytorch/test_pytorch_model_export.py
Due: ruff, format, custom-python-lint

Apply suggestions from code review
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint

Show content
  .github/workflows/build-wheel.yml
Due: none

Enable wildcards
  .github/workflows/build-wheel.yml
Due: none

Use `MoelInfo.model_uri` in torch/langchain tests (#14674)
  tests/langchain/test_langchain_model_export.py
  tests/pytorch/test_pytorch_model_export.py
Due: ruff, format, custom-python-lint

Adds text to landing page, adds more images
  docs/docs/llms/mlflow-for-genai/index.mdx
  docs/docs/llms/mlflow-for-genai/part_1/index.mdx
  docs/docs/llms/mlflow-for-genai/part_2/index.mdx
  docs/docs/llms/mlflow-for-genai/part_3/index.mdx
  docs/docs/llms/mlflow-for-genai/part_4/index.mdx
  docs/static/images/llms/mlflow-for-genai/steps_0.png
  docs/static/images/llms/mlflow-for-genai/steps_1.png
  docs/static/images/llms/mlflow-for-genai/steps_2.png
  docs/static/images/llms/mlflow-for-genai/steps_3.png
  docs/static/images/llms/mlflow-for-genai/steps_4.png
Due: none

adds e2e guide draft + layout
  docs/docs/llms/index.mdx
  docs/docs/llms/mlflow-for-genai/index.mdx
  docs/docs/llms/mlflow-for-genai/part_1/index.mdx
  docs/docs/llms/mlflow-for-genai/part_2/index.mdx
  docs/docs/llms/mlflow-for-genai/part_3/index.mdx
  docs/docs/llms/mlflow-for-genai/part_4/index.mdx
  docs/sidebars.ts
  docs/static/images/llms/mlflow-for-genai/1_mlflow_tracing.png
  docs/static/images/llms/mlflow-for-genai/2_first_result.png
  docs/static/images/llms/mlflow-for-genai/2_first_result_alt.png
  docs/static/images/llms/mlflow-for-genai/3_trace_tag.png
  docs/static/images/llms/mlflow-for-genai/4_gemini_trace.png
  docs/static/images/llms/mlflow-for-genai/5_error_trace.png
  docs/static/images/llms/mlflow-for-genai/6_eval_table.png
  docs/static/images/llms/mlflow-for-genai/7_eval_ui.png
  docs/static/images/llms/mlflow-for-genai/8_eval_results.png
Due: none

updates drafts and adds more images
  docs/docs/llms/mlflow-for-genai/part_1/index.mdx
  docs/docs/llms/mlflow-for-genai/part_2/index.mdx
  docs/docs/llms/mlflow-for-genai/part_3/index.mdx
  docs/docs/llms/mlflow-for-genai/part_4/index.mdx
  docs/static/images/llms/mlflow-for-genai/10_model_config.png
  docs/static/images/llms/mlflow-for-genai/11_validate_enable_tracing.png
  docs/static/images/llms/mlflow-for-genai/12_registered_models.png
  docs/static/images/llms/mlflow-for-genai/13_registered_version.png
  docs/static/images/llms/mlflow-for-genai/14_prod_model.png
  docs/static/images/llms/mlflow-for-genai/9_logged_model.png
  docs/static/images/llms/mlflow-for-genai/diagram_metrics.png
Due: none

docs: fix typo "disabled" to "disable"
  docs/source/llms/dspy/index.rst
Due: blacken-docs

update regressor evaluate to fetch prediction column
  mlflow/models/evaluation/default_evaluator.py
  mlflow/models/evaluation/evaluators/default.py
  mlflow/models/evaluation/evaluators/regressor.py
  tests/evaluate/test_default_evaluator.py
Due: ruff, format, custom-python-lint

MLflow 3 branch 2.20.1
  mlflow/version.py
Due: ruff, format, custom-python-lint

increase
  mlflow/version.py
Due: ruff, format, custom-python-lint

Cast `version` to `int` in UnityCatalogOssStore
  mlflow/store/_unity_catalog/registry/uc_oss_rest_store.py
Due: ruff, format, custom-python-lint

Use ModelInfo.model_uri in dspy, fastai, and spacy tests
  tests/dspy/test_save.py
  tests/fastai/test_fastai_model_export.py
  tests/spacy/test_spacy_model_export.py
Due: ruff, format, custom-python-lint

Bump pyarrow to 19
  pyproject.release.toml
  pyproject.toml
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
Due: taplo, generate-core-requirements

Use mlflow@git+https://github.com/mlflow/mlflow.git@mlflow-3
  mlflow/utils/environment.py
Due: ruff, format, custom-python-lint

Use `ModelInfo.model_uri` in dspy, fastai, and spacy tests (#14684)
  tests/dspy/test_save.py
  tests/fastai/test_fastai_model_export.py
  tests/spacy/test_spacy_model_export.py
Due: ruff, format, custom-python-lint

Use ModelInfo.model_uri in shap tests
  tests/shap/test_log.py
Due: ruff, format, custom-python-lint

Bump `pyarrow` to 19 (#14685)
  pyproject.release.toml
  pyproject.toml
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
Due: taplo, generate-core-requirements

return
  mlflow/shap/__init__.py
Due: ruff, format, custom-python-lint

Move after _MLFLOW_TESTING
  mlflow/utils/environment.py
Due: ruff, format, custom-python-lint

Use `ModelInfo.model_uri` in shap tests (#14687)
  mlflow/shap/__init__.py
  tests/shap/test_log.py
Due: ruff, format, custom-python-lint

comments
  mlflow/entities/assessment.py
  mlflow/protos/service.proto
  mlflow/utils/proto_json_utils.py
Due: ruff, format, custom-python-lint

protogen
  mlflow/java/client/src/main/java/org/mlflow/api/proto/Service.java
  mlflow/protos/service_pb2.py
Due: ruff, format, custom-python-lint

Update tests
  tests/store/_unity_catalog/model_registry/test_unity_catalog_oss_rest_store.py
Due: ruff, format, custom-python-lint

[1] Add Assessment proto and entities (#14663)
  mlflow/entities/assessment.py
  mlflow/entities/assessment_error.py
  mlflow/entities/assessment_source.py
  mlflow/java/client/src/main/java/org/mlflow/api/proto/Service.java
  mlflow/protos/service.proto
  mlflow/protos/service_pb2.py
  mlflow/utils/proto_json_utils.py
  tests/entities/test_assessment.py
  tests/entities/test_assessment_source.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
