Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

fix tests
  mlflow/genai/prompts/__init__.py
  mlflow/tracking/client.py
  tests/genai/prompts/test_prompts.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

linkt
  tests/genai/prompts/test_prompts.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat(ts): add shared tracer provider toggle
  libs/typescript/core/src/core/provider.ts
  libs/typescript/core/tests/core/provider.test.ts
Due: normalize-chars

Add OTLP exporter and config helpers to TS tracing SDK
  libs/typescript/core/package.json
  libs/typescript/core/src/core/otlp_config.ts
  libs/typescript/core/src/core/otlp_exporter_factory.ts
  libs/typescript/core/src/core/provider.ts
  libs/typescript/core/src/exporters/mlflow.ts
  libs/typescript/core/tests/core/otlp_config.test.ts
  libs/typescript/core/tests/core/provider.test.ts
Due: normalize-chars

Build TS SDK when installed from git
  libs/typescript/core/package.json
Due: normalize-chars

Document git install + env configuration in TS README
  libs/typescript/core/README.md
Due: normalize-chars, blacken-docs, clint, typos

test: stabilize provider shared-mode tests
  libs/typescript/core/tests/core/provider.test.ts
Due: normalize-chars

add auto invalidation
  mlflow/tracking/client.py
  tests/genai/prompts/test_prompt_caching.py
  tests/tracking/test_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

merge prompt testing
  tests/genai/prompts/test_prompt_caching.py
  tests/genai/prompts/test_prompts.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

remove the duplicated defaults
  mlflow/genai/prompts/utils.py
  mlflow/prompt/registry_utils.py
  tests/genai/utils/test_prompt_cache.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[ML-59674] Create new single turn built-in judge Completeness
  mlflow/genai/judges/prompts/completeness.py
  mlflow/genai/scorers/__init__.py
  mlflow/genai/scorers/builtin_scorers.py
  tests/genai/scorers/test_builtin_scorers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Copy metadata when copying traces
  mlflow/genai/evaluation/harness.py
  mlflow/genai/scorers/base.py
  mlflow/tracing/utils/copy.py
  tests/genai/evaluate/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix bash array expansion in workflow files to pass prompts as single argument (#18969)
  .github/workflows/resolve.yml
  .github/workflows/review.yml
Due: normalize-chars, conftest

fix
  mlflow/genai/utils/trace_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  tests/genai/utils/test_trace_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

CI fix
  mlflow/store/tracking/sqlalchemy_store.py
  tests/test_cli.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Verify page accessibility for removed/renamed docs in preview comments (#18972)
  .github/workflows/preview-comment.js
Due: normalize-chars

Delete docs/docs/quickstart_drilldown/index.mdx
  docs/docs/quickstart_drilldown/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

[FR] Add the names of Cew / Task / Agent / LLM of CrewAI to the mlflow UI
  mlflow/crewai/autolog.py
  tests/crewai/test_crewai_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix tests
  tests/crewai/test_crewai_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

PR feedbacks
  mlflow/crewai/autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

docs: add link to 'good first issue' list for new contributors
  CONTRIBUTING.md
Due: normalize-chars, blacken-docs, clint, typos

feat: add type hints to get_parent_dir
  mlflow/utils/file_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Enable RUF039 linting rule for raw regex strings (#18974)
  mlflow/pyspark/ml/_autolog.py
  mlflow/store/artifact/mlflow_artifacts_repo.py
  mlflow/utils/uri.py
  pyproject.toml
  tests/utils/test_logging_utils.py
Due: normalize-chars, ruff, format, clint, taplo, typos, check-init-py, uv-lock

Enable FURB110 ruff rule (if-exp-instead-of-or-operator) (#18979)
  dev/clint/src/clint/resolver.py
  mlflow/bedrock/utils.py
  mlflow/entities/assessment_source.py
  mlflow/entities/evaluation_dataset.py
  mlflow/genai/judges/adapters/litellm_adapter.py
  mlflow/genai/judges/optimizers/dspy_utils.py
  mlflow/legacy_databricks_cli/configure/provider.py
  mlflow/llama_index/tracer.py
  mlflow/projects/docker.py
  mlflow/pyfunc/_mlflow_pyfunc_backend_predict.py
  mlflow/server/handlers.py
  mlflow/store/_unity_catalog/registry/uc_oss_rest_store.py
  mlflow/store/artifact/mlflow_artifacts_repo.py
  mlflow/store/artifact/optimized_s3_artifact_repo.py
  mlflow/store/tracking/rest_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/system_metrics/system_metrics_monitor.py
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/artifact_utils.py
  mlflow/utils/annotations.py
  mlflow/utils/environment.py
  mlflow/utils/requirements_utils.py
  pyproject.toml
  tests/sagemaker/mock/__init__.py
  tests/store/artifact/test_dbfs_fuse_artifact_repo.py
  tests/store/artifact/test_http_artifact_repo.py
  tests/utils/test_async_artifacts_logging_queue.py
  tests/utils/test_async_logging_queue.py
Due: normalize-chars, ruff, format, mypy, clint, taplo, typos, check-init-py, uv-lock

Add workspace provider with SqlAlchemyStore
  docs/api_reference/api_inventory.txt
  mlflow/cli/__init__.py
  mlflow/entities/workspace.py
  mlflow/environment_variables.py
  mlflow/server/handlers.py
  mlflow/server/workspace_helpers.py
  mlflow/store/db/utils.py
  mlflow/store/workspace/__init__.py
  mlflow/store/workspace/abstract_store.py
  mlflow/store/workspace/rest_store.py
  mlflow/store/workspace/sqlalchemy_store.py
  mlflow/tracking/_workspace/__init__.py
  mlflow/tracking/_workspace/client.py
  mlflow/tracking/_workspace/registry.py
  mlflow/tracking/_workspace/utils.py
  mlflow/tracking/client.py
  mlflow/utils/workspace_utils.py
  tests/server/test_workspace_endpoints.py
  tests/store/workspace/__init__.py
  tests/store/workspace/test_rest_store.py
  tests/store/workspace/test_sqlalchemy_store.py
  tests/store/workspace/test_workspace_validator.py
  tests/tracking/test_client_workspace.py
  tests/tracking/test_workspace_registry.py
  tests/tracking/test_workspace_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add workspace-aware auth backend
  mlflow/server/auth/__init__.py
  mlflow/server/auth/basic_auth.ini
  mlflow/server/auth/client.py
  mlflow/server/auth/config.py
  mlflow/server/auth/db/migrations/versions/2ed73881770d_workspace_permissions.py
  mlflow/server/auth/db/models.py
  mlflow/server/auth/db/utils.py
  mlflow/server/auth/entities.py
  mlflow/server/auth/routes.py
  mlflow/server/auth/sqlalchemy_store.py
  tests/server/auth/db/test_cli.py
  tests/server/auth/test_auth.py
  tests/server/auth/test_client.py
  tests/server/auth/test_sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Document workspace-aware multi-tenancy
  .github/workflows/master.yml
  docs/api_reference/api_inventory.txt
  docs/api_reference/source/rest-api.rst
  docs/docs/self-hosting/architecture/overview.mdx
  docs/docs/self-hosting/index.mdx
  docs/docs/self-hosting/security/basic-http-auth.mdx
  docs/docs/self-hosting/workspaces/configuration.mdx
  docs/docs/self-hosting/workspaces/getting-started.mdx
  docs/docs/self-hosting/workspaces/index.mdx
  docs/docs/self-hosting/workspaces/permissions.mdx
  docs/docs/self-hosting/workspaces/workspace-providers.mdx
  docs/sidebarsSelfHosting.ts
Due: normalize-chars, blacken-docs, clint, typos, conftest

TODO
  mlflow/genai/utils/trace_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Ensure server-provided artifact root is reused on MLflowClient calls
  mlflow/tracking/_tracking_service/utils.py
  tests/tracking/_tracking_service/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Enable FURB192 linting rule to enforce min/max over sorted (#18980)
  dev/set_matrix.py
  dev/update_ml_package_versions.py
  mlflow/utils/virtualenv.py
  pyproject.toml
  tests/pyfunc/docker/conftest.py
  tests/spark/autologging/datasource/conftest.py
Due: normalize-chars, ruff, format, clint, taplo, typos, check-init-py, uv-lock

Fix mlflow gc to remove model artifacts (#17282)
  mlflow/cli/__init__.py
  mlflow/server/handlers.py
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/rest_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/test_cli.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Reduce font sizing and spacing
  docs/sidebarsGenAI.ts
  docs/src/css/custom.css
Due: normalize-chars

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
