Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Add global trace filters support (#19209)
  mlflow/store/tracking/utils/sql_trace_metrics_utils.py
  tests/store/tracking/test_sqlalchemy_store_query_trace_metrics.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

polish tests
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

unproto
  mlflow/server/handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  tests/server/conftest.py
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  mlflow/server/handlers.py
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

edit add_records
  mlflow/telemetry/client.py
  tests/telemetry/test_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

address comments
  mlflow/server/handlers.py
  mlflow/telemetry/client.py
  tests/server/test_handlers.py
  tests/telemetry/test_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

24 hours
  mlflow/server/handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Check span count
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useGetTrace.tsx
Due: none

add SqlTraceMetrics table
  mlflow/store/db_migrations/versions/b7c8d9e0f1a2_add_trace_metrics_table.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/resources/db/latest_schema.sql
  tests/store/tracking/test_sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

revert extra changes
  mlflow/genai/judges/prompts/correctness.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

support trace tokens query
  mlflow/store/tracking/utils/sql_trace_metrics_utils.py
  tests/store/tracking/test_sqlalchemy_store_query_trace_metrics.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Apply suggestions from code review
  mlflow/genai/judges/prompts/correctness.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

simplify and fix mssql
  mlflow/store/tracking/utils/sql_trace_metrics_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

spans count metrics support
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/store/tracking/utils/sql_trace_metrics_utils.py
  tests/store/tracking/test_sqlalchemy_store_query_trace_metrics.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update mlflow/genai/utils/trace_utils.py
  mlflow/genai/utils/trace_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

assessments count support
  mlflow/store/tracking/utils/sql_trace_metrics_utils.py
  tests/store/tracking/test_sqlalchemy_store_query_trace_metrics.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

support assessment values metrics for boolean and numeric values
  mlflow/store/tracking/utils/sql_trace_metrics_utils.py
  tests/store/tracking/test_sqlalchemy_store_query_trace_metrics.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

implement filters for spans and assessments and refactor
  mlflow/store/tracking/utils/sql_trace_metrics_utils.py
  mlflow/utils/search_utils.py
  tests/store/tracking/test_sqlalchemy_store_query_trace_metrics.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

dynamic routing
  mlflow/server/fastapi_app.py
  mlflow/server/gateway_api.py
  mlflow/store/tracking/gateway/config_resolver.py
  tests/server/test_gateway_api.py
  tests/store/tracking/test_gateway_sql_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor
  mlflow/server/gateway_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

not implemented error
  mlflow/server/gateway_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix test
  tests/genai/utils/test_trace_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Enhance error handling in `_create_provider_from_endpoint_config` to raise HTTP 400 for invalid provider values. Updated comments for clarity and added a TODO for future traffic routing support.
  mlflow/server/gateway_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Support display in progress traces (#19265)
  mlflow/server/js/src/experiment-tracking/utils/TraceUtils.ts
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/genai-traces-table/components/GenAiEvaluationTracesReviewModal.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useGetTrace.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/TraceUtils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorerContent.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorerDetailView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorerViewStateContext.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceHeaderDetails.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceHeaderStatusTag.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/api.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/hooks/useModelTraceSearch.tsx
Due: none

Use python 3.11
  tests/sklearn/test_sklearn_model_export.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove unused imports
  mlflow/ag2/__init__.py
  mlflow/pydantic_ai/__init__.py
  mlflow/smolagents/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

3 hours
  mlflow/server/handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

style
  mlflow/server/gateway_api.py
  tests/server/test_gateway_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

3.0
  mlflow/server/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  mlflow/server/js/craco.config.js
Due: none

remove
  mlflow/server/js/src/app.tsx
  mlflow/server/js/src/telemetry/README.md
  mlflow/server/js/src/telemetry/TelemetryClient.ts
  mlflow/server/js/src/telemetry/index.ts
  mlflow/server/js/src/telemetry/types.ts
  mlflow/server/js/src/telemetry/utils.ts
Due: blacken-docs, clint, typos

js
  mlflow/server/js/src/telemetry/worker/LogQueue.ts
  mlflow/server/js/src/telemetry/worker/TelemetryLogger.worker.ts
  mlflow/server/js/src/telemetry/worker/constants.ts
  mlflow/server/js/src/telemetry/worker/types.ts
Due: none

fix
  mlflow/server/js/src/telemetry/worker/TelemetryLogger.worker.ts
  mlflow/server/js/src/telemetry/worker/types.ts
Due: none

telemetry
  mlflow/server/js/src/telemetry/TelemetryClient.ts
  mlflow/server/js/src/telemetry/types.ts
  mlflow/server/js/src/telemetry/worker/LogQueue.ts
  mlflow/server/js/src/telemetry/worker/TelemetryLogger.worker.ts
  mlflow/server/js/src/telemetry/worker/constants.ts
  mlflow/server/js/src/telemetry/worker/types.ts
Due: none

fix
  mlflow/server/js/src/telemetry/index.ts
Due: none

settimeout and change interval to 30s
  mlflow/server/js/src/telemetry/worker/LogQueue.ts
Due: none

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
