Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

Bump maximum supported pyarrow version to 18 (#13661)
  pyproject.release.toml
  pyproject.toml
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
Due: taplo, generate-core-requirements

Make autolog enabling / disabling thread-safe (#13419)
  mlflow/pytorch/_lightning_autolog.py
  mlflow/pytorch/_pytorch_autolog.py
  mlflow/statsmodels/__init__.py
  mlflow/tracking/fluent.py
  mlflow/utils/autologging_utils/__init__.py
  tests/autologging/test_autologging_behaviors_unit.py
Due: ruff, format, custom-python-lint

Fix Docusaurus CircleCI (#13646)
  .circleci/config.yml
Due: none

[ML-47137] Migrate tracing/ docs (#13707)
  docs/docs/llms/index.mdx
  docs/docs/llms/tracing/contribute.mdx
  docs/docs/llms/tracing/index.mdx
  docs/docs/llms/tracing/overview.mdx
  docs/docs/llms/tracing/tracing-schema.mdx
  docs/docs/plugins/index.mdx
  docs/src/css/custom.css
Due: none

Fix LangChain autologging thread-safety issue (#13672)
  mlflow/langchain/_langchain_autolog.py
  tests/langchain/sample_code/langgraph_diy.py
  tests/langchain/sample_code/langgraph_prebuilt.py
  tests/langchain/test_langchain_autolog.py
  tests/langchain/test_langgraph.py
Due: ruff, format, custom-python-lint

add monkeypatching for setting env var in test deployment (#13657)
  dev/clint/src/clint/linter.py
  dev/clint/src/clint/rules.py
  tests/autologging/test_autologging_safety_unit.py
  tests/deployments/test_deployments.py
  tests/models/test_wheeled_model.py
  tests/pyfunc/test_spark.py
  tests/recipes/test_pipeline.py
  tests/store/artifact/test_azure_blob_artifact_repo.py
  tests/store/artifact/test_hdfs_artifact_repo.py
Due: ruff, format, custom-python-lint

Remove code using `spark.client._builder` in new version DBconnect (#13549)
  mlflow/utils/databricks_utils.py
Due: ruff, format, custom-python-lint

Add runtime version check and UDF sandbox mlflow version check for spark_udf (#13548)
  mlflow/pyfunc/__init__.py
  mlflow/utils/databricks_utils.py
  tests/pyfunc/test_spark.py
  tests/utils/test_databricks_utils.py
Due: ruff, format, custom-python-lint

Fix Docusaurus R CircleCI (#13647)
  docs/api_reference/build-rdoc.sh
  mlflow/R/mlflow/document.R
Due: none

Adding to_dict as a method for model config (#13660)
  mlflow/models/model_config.py
  tests/models/test_model_config.py
Due: ruff, format, custom-python-lint

Drop Python 3.8 in dev-env-setup.sh (#13674)
  dev/dev-env-setup.sh
  dev/test-dev-env-setup.sh
Due: none

Improved the error message when model file not found (#13695)
  mlflow/models/utils.py
  tests/models/test_utils.py
Due: ruff, format, custom-python-lint

Remove status badge of stale job (#13688)
  README.rst
Due: blacken-docs, rstcheck

Remove failing `conda remove` (#13689)
  .github/workflows/examples.yml
Due: none

Avoid file copy in validate_serving_input (#13682)
  mlflow/models/utils.py
Due: ruff, format, custom-python-lint

Support UC Table Dependencies (#13658)
  mlflow/models/resources.py
  mlflow/protos/databricks_uc_registry_messages.proto
  mlflow/protos/databricks_uc_registry_messages_pb2.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  tests/models/test_resources.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
Due: ruff, format, custom-python-lint

[1/x] Support custom headers and proxy URL for LLM-as-a-Judge model (#13715)
  mlflow/metrics/genai/genai_metric.py
  mlflow/metrics/genai/metric_definitions.py
  mlflow/metrics/genai/model_utils.py
  mlflow/openai/api_request_parallel_processor.py
  tests/metrics/genai/test_genai_metrics.py
  tests/metrics/genai/test_model_utils.py
Due: ruff, format, custom-python-lint

Update deprecation annotation to support classes (#13712)
  mlflow/utils/annotations.py
  tests/utils/test_annotations.py
Due: ruff, format, custom-python-lint

Unflake `test_system_metrics_monitor_with_multi_node` (#13692)
  tests/system_metrics/test_system_metrics_logging.py
Due: ruff, format, custom-python-lint

Change patch label prefix to `v` from `patch-` (#13726)
  .github/workflows/patch.js
  dev/check_patch_prs.py
Due: ruff, format, custom-python-lint

Remove dynamic mocking in `test_sqlalchemy_store.py/_create_trace` method. (#13553)
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

Fix Langchain Dependency Detection (#13693)
  mlflow/langchain/databricks_dependencies.py
Due: ruff, format, custom-python-lint

Fix lightgbm slow test (#13697)
  .github/workflows/slow-tests.yml
  tests/pyfunc/docker/conftest.py
Due: ruff, format, custom-python-lint

Avoid global import of fastapi in Gateway Adapters. (#13721)
  mlflow/gateway/app.py
  mlflow/gateway/exceptions.py
  mlflow/gateway/providers/ai21labs.py
  mlflow/gateway/providers/anthropic.py
  mlflow/gateway/providers/base.py
  mlflow/gateway/providers/bedrock.py
  mlflow/gateway/providers/cohere.py
  mlflow/gateway/providers/huggingface.py
  mlflow/gateway/providers/mistral.py
  mlflow/gateway/providers/mlflow.py
  mlflow/gateway/providers/mosaicml.py
  mlflow/gateway/providers/openai.py
  mlflow/gateway/providers/palm.py
  mlflow/gateway/providers/togetherai.py
  tests/gateway/providers/test_ai21labs.py
  tests/gateway/providers/test_anthropic.py
  tests/gateway/providers/test_cohere.py
  tests/gateway/providers/test_huggingface.py
  tests/gateway/providers/test_mistral.py
  tests/gateway/providers/test_mlflow.py
  tests/gateway/providers/test_mosaicml.py
  tests/gateway/providers/test_openai.py
  tests/gateway/providers/test_palm.py
  tests/gateway/providers/test_togetherai.py
Due: ruff, format, custom-python-lint

Fix langchain pyfunc predict input conversion (#13652)
  mlflow/langchain/api_request_parallel_processor.py
  mlflow/langchain/utils/chat.py
  tests/langchain/test_chat_utils.py
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint

Add environment_variables.txt file documentation (#13669)
  docs/rst_to_migrate/models.rst
  examples/sklearn_logistic_regression/train.py
  mlflow/utils/model_utils.py
Due: ruff, format, blacken-docs, custom-python-lint

Enable merge queue for pull request merge (#13662)
  .github/workflows/lint.yml
  .github/workflows/protect.yml
Due: none

Fix the old error message in assertion for model code util (#13719)
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint

Add doc on how to use code paths for custom library (#13702)
  docs/rst_to_migrate/model/dependencies.rst
Due: blacken-docs

Fix `_is_at_top_level` (#13737)
  dev/clint/src/clint/linter.py
Due: ruff, format, custom-python-lint

Fix async logging batch splitting validation rule (#13722)
  mlflow/utils/async_logging/async_logging_queue.py
  tests/utils/test_async_logging_queue.py
Due: ruff, format, custom-python-lint

Install `tf-keras` in `.github/workflows/protobuf-cross-test.yml` (#13738)
  .github/workflows/protobuf-cross-test.yml
Due: none

Fix autoformat (#13734)
  .github/workflows/autoformat.js
  .github/workflows/autoformat.yml
Due: none

Add graphQL types back (#13736)
  .github/workflows/protos.yml
  mlflow/server/js/package.json
  mlflow/server/js/src/graphql/autogenerated_schema.gql
Due: none

Fix typo in `step3-load-model.rst` (#13739)
  docs/rst_to_migrate/getting-started/registering-first-model/step3-load-model.rst
Due: blacken-docs

Rename `getPullInformation` to `getPullInfo` (#13735)
  .github/workflows/autoformat.js
Due: none

Fixing mismatch type error by moving evaluation data and labels to the correct device (GPU/CPU) for model inference. (#13711)
  examples/pytorch/mnist_tensorboard_artifact.py
Due: ruff, format, custom-python-lint

Add a custom linter for preventing global imports in certain files (#13733)
  dev/clint/src/clint/__init__.py
  dev/clint/src/clint/config.py
  dev/clint/src/clint/linter.py
  dev/clint/src/clint/rules.py
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

Remove log_inputs_outputs in LangChain autologging (#13678)
  docs/rst_to_migrate/llms/langchain/autologging.rst
  examples/langchain/chain_autolog.py
  mlflow/langchain/__init__.py
  mlflow/langchain/_langchain_autolog.py
  mlflow/utils/autologging_utils/__init__.py
  mlflow/utils/autologging_utils/config.py
  tests/evaluate/test_evaluation.py
Due: ruff, format, blacken-docs, custom-python-lint
