Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, blacken-docs, pylint, disallow-rule-ids, rstcheck

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc
  stages:
  - commit
  require_serial: true

disallow-rule-ids:
  name: disallow-rule-ids
  entry: python ./dev/disallow_rule_ids.py
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

add pydantic model custom serializer
  mlflow/langchain/__init__.py
  mlflow/langchain/utils.py
  mlflow/ml-package-versions.yml
Due: ruff, format, pylint, disallow-rule-ids

Improve
  conftest.py
Due: ruff, format, pylint, disallow-rule-ids

Set `MLFLOW_TRACKING_URI` in `tests/transformers/test_transformers_autolog.py` (#11234)
  tests/transformers/test_transformers_autolog.py
Due: ruff, format, pylint, disallow-rule-ids

Wait for async logging to finish
  tests/transformers/test_transformers_autolog.py
Due: ruff, format, pylint, disallow-rule-ids

test
  .github/workflows/slow-tests.yml
  tests/pyfunc/docker/conftest.py
  tests/pyfunc/docker/test_docker_flavors.py
Due: ruff, format, pylint, disallow-rule-ids

increase sleep length
  tests/transformers/test_transformers_autolog.py
Due: ruff, format, pylint, disallow-rule-ids

fix
  conftest.py
Due: ruff, format, pylint, disallow-rule-ids

add comparison with vanilla task, edit main transformers guide
  docs/source/llms/transformers/guide/index.rst
  docs/source/llms/transformers/index.rst
  docs/source/llms/transformers/tutorials/conversational/pyfunc-chat-model.ipynb
Due: ruff, format, blacken-docs

update
  mlflow/langchain/utils.py
Due: ruff, format, pylint, disallow-rule-ids

Prevent `clean_up_envs` from deleting local development environment (#11249)
  conftest.py
Due: ruff, format, pylint, disallow-rule-ids

Fix path handling in `load_checkpoint` (#11250)
  mlflow/tensorflow/__init__.py
Due: ruff, format, pylint, disallow-rule-ids

fix message parsing
  mlflow/langchain/__init__.py
Due: ruff, format, pylint, disallow-rule-ids

test
  mlflow/ml-package-versions.yml
Due: none

prune
  .github/workflows/slow-tests.yml
  tests/pyfunc/docker/conftest.py
Due: ruff, format, pylint, disallow-rule-ids

fix typo
  mlflow/ml-package-versions.yml
Due: none

build cache prune
  tests/pyfunc/docker/conftest.py
Due: ruff, format, pylint, disallow-rule-ids

update
  mlflow/langchain/__init__.py
  mlflow/langchain/utils.py
  mlflow/ml-package-versions.yml
Due: ruff, format, pylint, disallow-rule-ids

Add aliasesByVersion to useMemo for table
  mlflow/server/js/src/model-registry/components/ModelVersionTable.tsx
Due: none

Update the search-query-syntax examples to show multiple example search terms (#11191)
  docs/source/_static/images/search-runs/created_mlflow_runs.png
  docs/source/_static/images/search-runs/run_search_bar.png
  docs/source/search-runs.rst
Due: blacken-docs

Fix issue with aliases not appearing in table of model versions within registered model detail page (#11223)
  mlflow/server/js/src/experiment-tracking/types.ts
  mlflow/server/js/src/model-registry/components/ModelVersionTable.test.tsx
  mlflow/server/js/src/model-registry/components/ModelVersionTable.tsx
  mlflow/server/js/src/model-registry/components/ModelView.tsx
Due: none

Fix np.array unhashable in mlflow.evaluate retriever (#10627)
  docs/source/python_api/mlflow.metrics.rst
  mlflow/metrics/metric_definitions.py
  mlflow/models/evaluation/base.py
  tests/evaluate/test_default_evaluator.py
Due: ruff, format, blacken-docs, pylint, disallow-rule-ids

fix comments
  docs/source/python_api/mlflow.config.rst
  mlflow/config/__init__.py
  mlflow/environment_variables.py
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, blacken-docs, pylint, disallow-rule-ids

fix comments
  tests/data/test_meta_dataset.py
Due: ruff, format, pylint, disallow-rule-ids

Make it possible to log a dataset without loading anything (#11172)
  mlflow/data/__init__.py
  mlflow/data/dataset.py
  mlflow/data/huggingface_dataset.py
  mlflow/data/meta_dataset.py
  mlflow/data/numpy_dataset.py
  mlflow/data/pandas_dataset.py
  mlflow/data/spark_dataset.py
  mlflow/data/tensorflow_dataset.py
  tests/data/test_meta_dataset.py
  tests/resources/data/dataset.py
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, pylint, disallow-rule-ids

Wait for async logging to finish in transformers autologging tests (#11252)
  tests/transformers/test_transformers_autolog.py
Due: ruff, format, pylint, disallow-rule-ids

Update docs/source/deployment/deploy-model-locally.rst
  docs/source/deployment/deploy-model-locally.rst
Due: blacken-docs

Update formatting of message
  docs/source/deployment/deploy-model-locally.rst
Due: blacken-docs

Update supported models
  docs/source/deployment/deploy-model-locally.rst
Due: blacken-docs

Reorder to start with regular calls
  docs/source/deployment/deploy-model-locally.rst
Due: blacken-docs

Use mlflow.flush_async_loggin
  tests/transformers/test_transformers_autolog.py
Due: ruff, format, pylint, disallow-rule-ids

format
  docs/source/deployment/deploy-model-locally.rst
Due: blacken-docs

Path conditions:
  ruff: any of: \.py$, \.ipynb$, but not: mlflow/server/graphql/autogenerated_graphql_schema.py
  format: any of: \.py$, \.ipynb$, but not: mlflow/server/graphql/autogenerated_graphql_schema.py
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$, but not: mlflow/server/graphql/autogenerated_graphql_schema.py
  pylint: any of: \.py$, but not: mlflow/server/graphql/autogenerated_graphql_schema.py
  disallow-rule-ids: any of: \.py$, but not: mlflow/server/graphql/autogenerated_graphql_schema.py
  rstcheck: any of: README.rst
