Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

wip
  dev/set_matrix.py
Due: ruff, format, clint, typos

wip
  dev/set_matrix.py
  mlflow/server/spans_router.py
Due: ruff, format, clint, typos

raw
  CHANGELOG.md
Due: blacken-docs, clint, typos

claude code
  CHANGELOG.md
Due: blacken-docs, clint, typos

add experiment_id parameter to @mlflow.trace
  mlflow/tracing/fluent.py
  mlflow/tracing/provider.py
  tests/tracing/test_fluent.py
Due: ruff, format, clint, typos

update
  CHANGELOG.md
Due: blacken-docs, clint, typos

Update dev/update_changelog.py to create a major new features section
  dev/update_changelog.py
Due: ruff, format, clint, typos

Fix missing source-run in UI (#16682)
  mlflow/store/model_registry/file_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  tests/store/model_registry/test_file_store.py
  tests/store/model_registry/test_sqlalchemy_store.py
Due: ruff, format, clint, typos

Add 'highlight' classification for major new features in release notes
  .github/pull_request_template.md
Due: blacken-docs, clint, typos

Remove facet_feature_statistics.proto and its generated Python file
  mlflow/protos/facet_feature_statistics.proto
  mlflow/protos/facet_feature_statistics_pb2.py
Due: ruff, format, clint, lint-proto, typos

Remove macOS-specific code paths from generate_protos.py
  dev/generate_protos.py
Due: ruff, format, clint, typos

Update generate_protos.py
  dev/generate_protos.py
Due: ruff, format, clint, typos

Make set_destination to use ContextVar rather than ThreadLocalVariable
  mlflow/environment_variables.py
  mlflow/tracing/destination.py
  mlflow/tracing/provider.py
  tests/tracing/test_fluent.py
Due: ruff, format, clint, typos

fix test
  mlflow/tracing/provider.py
  tests/tracing/test_fluent.py
Due: ruff, format, clint, typos

Fix `transformers` integration for offloaded / distributed models
  mlflow/transformers/__init__.py
Due: ruff, format, clint, typos

fix
  tests/tracing/utils/test_otlp.py
Due: ruff, format, clint, typos

fix
  mlflow/entities/span.py
  mlflow/entities/span_event.py
  mlflow/tracing/utils/otlp.py
  tests/entities/test_span.py
  tests/entities/test_span_event.py
Due: ruff, format, clint, typos

Version tags added
  mlflow/genai/__init__.py
  mlflow/genai/prompts/__init__.py
  mlflow/tracking/_model_registry/fluent.py
  mlflow/tracking/client.py
  tests/genai/prompts/test_prompts.py
Due: ruff, format, clint, typos

linter
  mlflow/claude_code/cli.py
  mlflow/claude_code/config.py
  mlflow/claude_code/tracing.py
Due: ruff, format, clint, typos

fix
  docs/docs/genai/tracing/prod-tracing.mdx
Due: blacken-docs, clint, typos

updates and optimizations
  docs/src/api_modules.json
  mlflow/entities/evaluation_dataset.py
  mlflow/genai/datasets/__init__.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/fluent.py
  mlflow/tracing/utils/warning.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
  mlflow/utils/annotations.py
  tests/genai/datasets/test_fluent.py
  tests/store/tracking/test_file_store_evaluation_datasets.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracing/utils/test_warning.py
  tests/tracking/test_client.py
Due: ruff, format, clint, typos

Docs
  docs/docs/genai/prompt-registry/index.mdx
Due: blacken-docs, clint, typos

address pr feedback
  .claude/mlflow/claude_tracing.log
  .claude/settings.json
  tests/genai/label_schemas/test_label_schemas.py
Due: ruff, format, clint, typos

[4][Span logging] Add conversion utils to / from MLflow Spans <> OTel Spans (#17115)
  libs/skinny/pyproject.toml
  libs/tracing/pyproject.toml
  mlflow/entities/span.py
  mlflow/entities/span_event.py
  mlflow/entities/span_status.py
  mlflow/tracing/utils/otlp.py
  pyproject.toml
  requirements/skinny-requirements.yaml
  requirements/tracing-requirements.yaml
  tests/entities/test_span.py
  tests/entities/test_span_event.py
  tests/entities/test_span_status.py
Due: ruff, format, taplo, clint, generate-requirements, typos

fix test lazy import issue
  tests/evaluate/test_default_evaluator.py
Due: ruff, format, clint, typos

Fix mock.patch import issue in test_evaluate_custom_metric_incorrect_return_formats
  tests/evaluate/test_default_evaluator.py
Due: ruff, format, clint, typos

revert get req changes
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
Due: ruff, format, clint, typos

integration tests add and cleanup
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracking/client.py
  tests/genai/datasets/test_fluent.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, clint, typos

fix docstring
  mlflow/tracking/client.py
Due: ruff, format, clint, typos

format
  mlflow/tracking/client.py
Due: ruff, format, clint, typos

[5/7] Add Search, Profile, and Schema support for Evaluation Datasets (#17071)
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/genai/datasets/test_fluent.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracking/test_client.py
Due: ruff, format, clint, typos

Update .github/pull_request_template.md
  .github/pull_request_template.md
Due: blacken-docs, clint, typos

Update CHANGELOG.md
  CHANGELOG.md
Due: blacken-docs, clint, typos

Update dev/update_changelog.py
  dev/update_changelog.py
Due: ruff, format, clint, typos

Update `dev/update_changelog.py` to create a major new features section (#17216)
  dev/update_changelog.py
Due: ruff, format, clint, typos

Fix issue with get_label_schema has no attribute (#17163)
  mlflow/genai/label_schemas/label_schemas.py
  tests/genai/label_schemas/test_label_schemas.py
Due: ruff, format, clint, typos

Remove macOS-specific code paths from generate_protos.py (#17218)
  dev/generate_protos.py
Due: ruff, format, clint, typos
