Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/|charts/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        stages: [commit]
        log_file: .black.log

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [python, rst, markdown]
        stages: [commit]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=pylintrc"]
        stages: [commit]

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]

Add tests for pyfunc predict and serving (#10192)
  mlflow/models/utils.py
  mlflow/utils/proto_json_utils.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
Due: black, blacken-docs, pylint

Unpin `pyspark` (#10214)
  .github/workflows/requirements.yml
Due: none

Update mlflow/transformers/__init__.py
  mlflow/transformers/__init__.py
Due: black, blacken-docs, pylint

Onnx tests (#10185)
  tests/onnx/test_onnx_model_export.py
Due: black, blacken-docs, pylint

Fix typo: Mlflow -> MLflow (#10220)
  docs/source/introduction/index.rst
Due: blacken-docs

Update test_transformers_model_export.py
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

fix notebook downloads with explicit <a> parameter (#10211)
  docs/source/getting-started/index.rst
  docs/source/getting-started/logging-first-model/notebooks/index.rst
  docs/source/llms/custom-pyfunc-for-llms/notebooks/index.rst
  docs/source/llms/llm-evaluate/notebooks/index.rst
  docs/source/llms/rag/notebooks/index.rst
  docs/source/traditional-ml/creating-custom-pyfunc/notebooks/index.rst
  docs/source/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/index.rst
  docs/source/traditional-ml/hyperparameter-tuning-with-child-runs/part1-child-runs.rst
  docs/source/traditional-ml/hyperparameter-tuning-with-child-runs/part2-logging-plots.rst
  docs/theme/mlflow/layout.html
  docs/theme/mlflow/static/css/custom.css
Due: blacken-docs

Add extend-include = ["*.ipynb"] in pyproject.toml (#10222)
  pyproject.toml
Due: none

Refactor fixtures of sqlalchemy store test (#10103)
  tests/store/tracking/test_sqlalchemy_store.py
Due: black, blacken-docs, pylint

Run `python3 dev/update_mlflow_versions.py post-release...` (#10212)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
Due: black, blacken-docs, pylint

Update tests/transformers/test_transformers_model_export.py
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

Update test_Imageclassification.py
  tests/test_Imageclassification.py
Due: black, blacken-docs, pylint

Update __init__.py
  mlflow/transformers/__init__.py
Due: black, blacken-docs, pylint

added inference_payload and removedunwantedcode
  mlflow/transformers/__init__.py
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

removed balnalines and formated
  mlflow/transformers/__init__.py
  tests/test_Imageclassification.py
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

Adjust pandas dataframe rendering from generated notebooks (#10237)
  docs/theme/mlflow/static/css/custom.css
Due: none

Upgrade ruff to 0.1.3 (#10221)
  requirements/lint-requirements.txt
Due: none

Adjust the provider table in gateway docs by transposing (#10233)
  docs/source/llms/gateway/index.rst
Due: blacken-docs

Rename LLM Evaluation Examples -- RAG.ipynb and LLM Evaluation Exampl… (#10226)
  examples/evaluation/qa-evaluation.ipynb
  examples/evaluation/rag-evaluation.ipynb
Due: none

Enable useless-comparison (B015) (#10223)
  pyproject.toml
  tests/metrics/genai/test_genai_metrics.py
Due: black, blacken-docs, pylint

FIx gateway type hint and attribute error (#10244)
  mlflow/gateway/providers/__init__.py
  mlflow/gateway/providers/openai.py
Due: black, blacken-docs, pylint

Use log_table instead of log_predictions (#10236)
  docs/source/llms/llm-tracking/index.rst
Due: blacken-docs

fix invalid deployment guide link (#10229)
  docs/source/index.rst
Due: blacken-docs

Fixing a typo in docs (#10232)
  docs/source/llms/llm-evaluate/index.rst
  docs/source/llms/llm-evaluate/notebooks/question-answering-evaluation.ipynb
Due: blacken-docs

reolvedconflicts
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

Fix docs version dropdown selector (#10242)
  docs/theme/mlflow/layout.html
  docs/theme/mlflow/static/css/custom.css
  docs/theme/mlflow/static/js/custom.js
Due: none

Fix sklearn import in RAG question generation example (#10249)
  docs/source/llms/rag/notebooks/question-generation-retrieval-evaluation.ipynb
Due: none

Cleanup Gateway Tutorial (#10238)
  docs/source/_static/images/tutorials/gateway/creating-first-gateway/openai_api_key.gif
  docs/source/llms/gateway/guides/step1-create-gateway.rst
Due: blacken-docs

Pin openai (#10310)
  requirements/extra-ml-requirements.txt
  requirements/test-requirements.txt
Due: none

Remove references to MLflow UI in getting started guide and replace i… (#10231)
  docs/source/_static/images/tutorials/introductory/logging-first-model/default-ui.gif
  docs/source/_static/images/tutorials/introductory/logging-first-model/default-ui.png
  docs/source/_static/images/tutorials/introductory/logging-first-model/start-servers.gif
  docs/source/getting-started/logging-first-model/notebooks/index.rst
  docs/source/getting-started/logging-first-model/step1-tracking-server.rst
  docs/source/getting-started/logging-first-model/step3-create-experiment.rst
  docs/source/getting-started/logging-first-model/step4-experiment-search.rst
  docs/source/llms/llm-evaluate/notebooks/index.rst
Due: blacken-docs

Add link to Gateway configuration details in Gateway Quickstart Guide (#10278)
  docs/source/llms/gateway/index.rst
Due: blacken-docs

Implement `copy_model_version` for workspace model registry (#10173)
  mlflow/store/model_registry/databricks_workspace_model_registry_rest_store.py
Due: black, blacken-docs, pylint

Pin minio image (#10268)
  examples/mlflow_artifacts/docker-compose.yml
Due: none

Fix flaky floating point precision in sklearn autologging suite (#10303)
  tests/sklearn/test_sklearn_autolog.py
Due: black, blacken-docs, pylint

Fix healthcheck command for minio (#10276)
  examples/mlflow_artifacts/docker-compose.yml
Due: none

Increase visibility of navigation cards and convert entire card to clickable entity (#10283)
  docs/source/deployment/index.rst
  docs/source/getting-started/index.rst
  docs/source/index.rst
  docs/source/llms/index.rst
  docs/source/model-evaluation/index.rst
  docs/source/traditional-ml/index.rst
  docs/theme/mlflow/static/css/simple-cards.css
Due: blacken-docs

add release notes for registry changes (#10282)
  CHANGELOG.md
  docs/source/new-features/index.rst
Due: blacken-docs

Include system metrics in the API doc (#10261)
  docs/source/python_api/mlflow.system_metrics.rst
  mlflow/tracking/fluent.py
Due: black, blacken-docs, pylint
