Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

fix deployment_job_state
  tests/entities/model_registry/test_model_version.py
Due: ruff, format, custom-python-lint

xfail
  tests/store/lineage/test_downstream_lineage.py
Due: ruff, format, custom-python-lint

Fix spark dev test (#14517)
  mlflow/ml-package-versions.yml
Due: mlver

Update ChatAgent (#14368)
  mlflow/langchain/chat_agent_langchain.py
  mlflow/langchain/chat_agent_langgraph.py
  mlflow/langchain/output_parsers.py
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/loaders/chat_agent.py
  mlflow/pyfunc/model.py
  mlflow/pyfunc/utils/data_validation.py
  mlflow/types/agent.py
  tests/langchain/sample_code/langgraph_chat_agent.py
  tests/langchain/test_chat_agent_langchain.py
  tests/langchain/test_chat_agent_langgraph.py
  tests/langchain/test_langchain_output_parsers.py
  tests/pyfunc/test_chat_agent.py
Due: ruff, format, custom-python-lint

Fix `Dataset.source` and `Dataset.source_type` docs (#14569)
  mlflow/java/client/src/main/java/org/mlflow/api/proto/Service.java
  mlflow/protos/service.proto
Due: none

Replaced `get_artifact_uri` with `model_info.model_uri` (#14512)
  tests/evaluate/test_evaluation.py
Due: ruff, format, custom-python-lint

Add CSRF protection to create users route for the UI (#14022)
  dev/pyproject.py
  mlflow/environment_variables.py
  mlflow/server/__init__.py
  mlflow/server/auth/__init__.py
  mlflow/server/auth/routes.py
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
  requirements/doc-requirements.txt
  requirements/test-requirements.txt
  tests/server/auth/test_auth.py
  tests/server/auth/test_client.py
Due: ruff, format, taplo, custom-python-lint

Support fetching trace request ID from Flask context for supporting streaming in model serving (#14475)
  mlflow/tracing/processor/inference_table.py
  tests/tracing/processor/test_inference_table_processor.py
Due: ruff, format, custom-python-lint

lint
  docs/source/llms/tracing/index.rst
Due: blacken-docs

ChatAgent update docstring (#14544)
  mlflow/types/agent.py
Due: ruff, format, custom-python-lint

fix again
  docs/source/llms/tracing/index.rst
Due: blacken-docs

doc fix
  docs/source/llms/tracing/index.rst
Due: blacken-docs

Fix DSPy thread issue (#14471)
  mlflow/dspy/wrapper.py
Due: ruff, format, custom-python-lint

Bump min pydantic version to 1.10.8 (#14453)
  pyproject.skinny.toml
  pyproject.toml
  requirements/skinny-requirements.txt
  requirements/skinny-requirements.yaml
Due: taplo, generate-skinny-requirements

Support structured outputs for OpenAI autolog (#14440)
  mlflow/openai/__init__.py
  mlflow/openai/_openai_autolog.py
  tests/openai/test_openai_autolog.py
Due: ruff, format, custom-python-lint

Support tracing sync/async generator function with @mlflow.trace (#14459)
  mlflow/pyfunc/__init__.py
  mlflow/tracing/constant.py
  mlflow/tracing/fluent.py
  mlflow/tracing/provider.py
  mlflow/tracing/utils/__init__.py
  tests/langchain/test_langchain_autolog.py
  tests/langchain/test_langchain_model_export.py
  tests/pyfunc/test_context.py
  tests/pyfunc/test_model_export_with_class_and_artifacts.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

ChatAgent Docs (#14367)
  docs/source/conf.py
  docs/source/python_api/mlflow.langchain.rst
  docs/source/python_api/mlflow.pyfunc.rst
  docs/source/python_api/mlflow.types.rst
  mlflow/langchain/chat_agent_langchain.py
  mlflow/langchain/chat_agent_langgraph.py
  mlflow/langchain/output_parsers.py
  mlflow/pyfunc/model.py
  mlflow/types/agent.py
Due: ruff, format, blacken-docs, custom-python-lint

Removed redundant newline characters in `get_stacktrace` function (Issue #14438) (#14449)
  mlflow/utils/exception_utils.py
Due: ruff, format, custom-python-lint

Fix spark_udf on databricks (#14518)
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Expose environment variable declaration for deployment client timeouts in docs (#14450)
  mlflow/environment_variables.py
  mlflow/pyfunc/scoring_server/__init__.py
Due: ruff, format, custom-python-lint

Fix Cross version test for Groq >= 0.17.0 (#14478)
  tests/groq/test_groq_autolog.py
Due: ruff, format, custom-python-lint

Fix ChatAgent `load_model_and_predict` bug (#14488)
  mlflow/pyfunc/loaders/chat_agent.py
  tests/pyfunc/test_chat_agent.py
Due: ruff, format, custom-python-lint

Support generating traces from DSPy built-in compilation and evaluation (#14400)
  mlflow/dspy/autolog.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

broken link
  docs/source/llms/tracing/index.rst
Due: blacken-docs

Remove `ChatMessage.tool_calls min_items` validation (#14410)
  mlflow/types/chat.py
Due: ruff, format, custom-python-lint

Fix describe_run JSON serialization. (#14496)
  mlflow/entities/dataset.py
  mlflow/entities/dataset_input.py
  mlflow/entities/run_inputs.py
  tests/entities/test_run.py
  tests/entities/test_run_inputs.py
Due: ruff, format, custom-python-lint

Update ChatAgentToolNode to be compatible with LangGraph 0.2.70 (#14491)
  mlflow/langchain/chat_agent_langgraph.py
Due: ruff, format, custom-python-lint

Autoformat: https://github.com/mlflow/mlflow/actions/runs/13301761078
  mlflow/environment_variables.py
  mlflow/pyfunc/scoring_server/__init__.py
  mlflow/tracing/processor/inference_table.py
  tests/langchain/test_langchain_autolog.py
  tests/tracing/processor/test_inference_table_processor.py
Due: ruff, format, custom-python-lint

Remove SetTraceTag call when exporting traces to MLflow Experiment (#14473)
  mlflow/tracing/constant.py
  mlflow/tracing/export/mlflow.py
  mlflow/tracking/client.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

spark_udf VariantType support (#14317)
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

Fix IterativePruning example (#14500)
  examples/pytorch/IterativePruning/iterative_prune_mnist.py
Due: ruff, format, custom-python-lint

doc copy
  docs/source/llms/dspy/index.rst
  docs/source/llms/tracing/index.rst
Due: blacken-docs

Simplify LangGraph ChatAgent to not override internal methods (#14510)
  mlflow/langchain/chat_agent_langgraph.py
Due: ruff, format, custom-python-lint

Update LangGraph connector code and remove ChatAgent wrappers (#14567)
  docs/source/python_api/mlflow.langchain.rst
  mlflow/langchain/chat_agent_langchain.py
  mlflow/langchain/chat_agent_langgraph.py
  mlflow/langchain/output_parsers.py
  mlflow/pyfunc/loaders/chat_agent.py
  mlflow/pyfunc/model.py
  mlflow/types/agent.py
  tests/langchain/sample_code/langchain_chat_agent.py
  tests/langchain/sample_code/langgraph_chat_agent_custom_inputs.py
  tests/langchain/test_chat_agent_langgraph.py
  tests/pyfunc/test_chat_agent.py
  tests/pyfunc/test_pyfunc_model_with_type_hints.py
Due: ruff, format, blacken-docs, custom-python-lint

Run python3 dev/update_mlflow_versions.py pre-release ...
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

fix style
  mlflow/gemini/__init__.py
  mlflow/gemini/chat.py
Due: ruff, format, custom-python-lint

Run `python3 dev/update_mlflow_versions.py pre-release ...` (#14581)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint
