Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

fix
  docs/docs/genai/flavors/index.mdx
  docs/sidebarsGenAI.ts
Due: none

fixes
  docs/docs/genai/developer-workflow/phase1-build-improve.mdx
  docs/docs/genai/getting-started/index.mdx
  docs/docs/genai/prompt-version-mgmt/version-tracking/track-application-versions-with-mlflow.mdx
  docs/docusaurus.config.ts
Due: none

broken links
  docs/docs/genai/data-model/app-versions.mdx
  docs/docs/genai/eval-monitor/llm-evaluation.mdx
  docs/docs/genai/flavors/langchain/index.mdx
  docs/docs/genai/index.mdx
  docs/docs/genai/overview/index.mdx
  docs/docs/genai/prompt-version-mgmt/prompt-engineering/index.mdx
  docs/docs/genai/prompt-version-mgmt/prompt-registry/evaluate-prompts.mdx
  docs/docs/genai/prompt-version-mgmt/version-tracking/link-evaluation-results-and-traces-to-app-versions.mdx
  docs/docs/genai/tutorials/dev-quality-iteration.mdx
Due: none

fix
  docs/docusaurus.config.ts
Due: none

fix
  docs/docs/genai/index.mdx
Due: none

fix
  docs/docs/genai/eval-monitor/llm-evaluation.mdx
  docs/docusaurus.config.ts
  docs/sidebarsGenAI.ts
Due: none

GenAI docs - update prompt registry & remove unnecessary Databricks references (#16180)
  docs/docs/genai/data-model/prompts.mdx
  docs/docs/genai/developer-workflow/phase1-build-improve.mdx
  docs/docs/genai/eval-monitor/run-scorer-in-prod.mdx
  docs/docs/genai/flavors/dspy/notebooks/dspy_quickstart.ipynb
  docs/docs/genai/flavors/index.mdx
  docs/docs/genai/flavors/openai/notebooks/openai-code-helper.ipynb
  docs/docs/genai/getting-started/connect-environment.mdx
  docs/docs/genai/getting-started/index.mdx
  docs/docs/genai/index.mdx
  docs/docs/genai/overview/why-mlflow.mdx
  docs/docs/genai/prompt-version-mgmt/version-tracking/compare-app-versions.mdx
  docs/docs/genai/prompt-version-mgmt/version-tracking/index.mdx
  docs/docs/genai/prompt-version-mgmt/version-tracking/link-evaluation-results-and-traces-to-app-versions.mdx
  docs/docs/genai/prompt-version-mgmt/version-tracking/link-production-traces-to-app-versions.mdx
  docs/docs/genai/prompt-version-mgmt/version-tracking/optionally-package-app-code-and-files-for-databricks-model-serving.mdx
  docs/docs/genai/prompt-version-mgmt/version-tracking/track-application-versions-with-mlflow.mdx
  docs/docs/genai/serving/endpoint-creation.mdx
  docs/docs/genai/serving/index.mdx
  docs/docs/genai/tracing/app-instrumentation/index.mdx
  docs/docs/genai/tracing/collect-user-feedback/index.mdx
  docs/docs/genai/tracing/concepts/trace/feedback.mdx
  docs/docs/genai/tracing/lightweight-sdk.mdx
  docs/docs/genai/tracing/prod-tracing.mdx
  docs/docs/genai/tracing/quality-with-traces.mdx
  docs/docs/genai/tutorials/debug-tracing.mdx
  docs/docs/genai/tutorials/dev-quality-iteration.mdx
  docs/docs/genai/tutorials/enhance-quality.mdx
  docs/docs/genai/tutorials/index.mdx
  docs/docs/genai/tutorials/jupyter-trace-demo.ipynb
  docs/docusaurus.config.ts
  docs/sidebarsGenAI.ts
  docs/src/components/ComingSoon/index.tsx
  docs/yarn.lock
Due: ruff, format

Fix docs content (#16179)
  docs/docs/genai/data-model/logged-model.mdx
  docs/docs/genai/data-model/prompts.mdx
  docs/docs/genai/data-model/runs.mdx
  docs/docs/genai/flavors/index.mdx
  docs/docs/genai/flavors/openai/autologging/index.mdx
  docs/docs/genai/getting-started/connect-environment.mdx
  docs/docs/genai/getting-started/eval.mdx
  docs/docs/genai/getting-started/index.mdx
  docs/docs/genai/index.mdx
  docs/docs/genai/overview/why-mlflow.mdx
  docs/sidebarsGenAI.ts
Due: none

Fix `register_model` to register model logged in MLflow 2.x (#15955)
  mlflow/tracking/_model_registry/fluent.py
  tests/tracking/_model_registry/test_model_registry_fluent.py
Due: ruff, format, custom-python-lint

Reuse empty OTEL resource when parsing v2 traces (#15967)
  mlflow/entities/span.py
Due: ruff, format, custom-python-lint

Pin pyspark to < 4.0.0 (#15848)
  requirements/constraints.txt
Due: none

Fallback to logged model artifacts if run has no artifacts (#15942)
  mlflow/server/js/src/experiment-tracking/components/ArtifactPage.tsx
  mlflow/server/js/src/experiment-tracking/components/ArtifactView.tsx
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/FallbackToLoggedModelArtifactsInfo.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Persist logged model params as files (#16034)
  mlflow/store/tracking/file_store.py
Due: ruff, format, custom-python-lint

Add MLFlowSparkStudy (#15418)
  .github/workflows/master.yml
  mlflow/pyspark/optuna/study.py
  tests/pyspark/optuna/test_study.py
Due: ruff, format, custom-python-lint

Make spark_udf support DBConnect + DBR 15.4 / DBR dedicated cluster (#15968)
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/dbconnect_artifact_cache.py
Due: ruff, format, custom-python-lint

Validate `gateway_path` in `gateway_proxy_handler` (#15970)
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Fix: `mlflow.spark.log_model` does not upload model artifacts (#15966)
  mlflow/spark/__init__.py
  tests/spark/test_spark_model_export.py
Due: ruff, format, custom-python-lint

Update `com.google.protobuf:protobuf-java` to 3.19.6 (#15999)
  mlflow/java/pom.xml
Due: none

Introduce `MLFLOW_CREATE_MODEL_VERSION_SOURCE_REGEX` to validate source parameter of `/model-versions/create` request (#16081)
  docs/docs/tracking/server/index.mdx
  mlflow/environment_variables.py
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Handle case where model registry URI spark conf can't be read with DBConnect serverless SparkSession (#16134)
  mlflow/tracking/_model_registry/utils.py
Due: ruff, format, custom-python-lint

Use consistent retry policy for Databricks SDK REST API calls and non-Databricks-SDK REST API calls (#16128)
  mlflow/utils/rest_utils.py
  tests/utils/test_rest_utils.py
Due: ruff, format, custom-python-lint

Databricks Model Registry: Default URI to databricks-uc when tracking URI is databricks & registry URI is unspecified (#16135)
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/tracking/_model_registry/utils.py
  mlflow/utils/uri.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/tracking/_model_registry/test_utils.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

Log spark models as run artifacts (#16130)
  dev/clint/src/clint/linter.py
  docs/docs/model/index.mdx
  examples/multistep_workflow/als.py
  examples/pyspark_ml_connect/pipeline.py
  mlflow/models/model.py
  mlflow/pyspark/ml/__init__.py
  mlflow/spark/__init__.py
  tests/evaluate/test_evaluation.py
  tests/spark/autologging/ml/test_pyspark_ml_autologging.py
  tests/spark/test_spark_connect_model_export.py
  tests/spark/test_spark_model_export.py
Due: ruff, format, custom-python-lint

Fix: `/graphql` returns 404 when server is started with `--static-prefix` (#16036)
  mlflow/server/handlers.py
  mlflow/server/js/src/experiment-tracking/components/experiment-logged-models/hooks/useExperimentLoggedModelDeleteModal.tsx
  mlflow/server/js/src/experiment-tracking/hooks/logged-models/useGetLoggedModelQuery.tsx
  mlflow/server/js/src/experiment-tracking/hooks/logged-models/usePatchLoggedModelsTags.tsx
  mlflow/server/js/src/graphql/client.ts
Due: ruff, format, custom-python-lint

Fix schema version returned when parsing MLflow 2.x trace with MLflow 3.0 (#15920)
  mlflow/entities/trace_info.py
  mlflow/entities/trace_info_v2.py
  tests/entities/test_trace.py
  tests/entities/test_trace_info.py
  tests/entities/test_trace_info_v2.py
  tests/store/tracking/test_rest_store.py
  tests/tracing/helper.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

Update `list_artifacts`/`download_artifacts` to list/download logged model artifacts (#16119)
  mlflow/artifacts/__init__.py
  mlflow/pyfunc/backend.py
  mlflow/store/artifact/artifact_repo.py
  mlflow/store/artifact/runs_artifact_repo.py
  mlflow/tracking/_model_registry/fluent.py
  mlflow/tracking/_tracking_service/client.py
  tests/artifacts/test_artifacts.py
  tests/test_mlflow_version_comp.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Remove log_models from openai autolog (#16178)
  mlflow/openai/autolog.py
Due: ruff, format, custom-python-lint

Correct the way to check the error messages for optuna study (#16169)
  mlflow/optuna/storage.py
  mlflow/pyspark/optuna/study.py
Due: ruff, format, custom-python-lint

[BUG] ERROR mlflow.server: Exception on /graphql when trying to open a run if auth is enabled (#16093)
  mlflow/server/auth/__init__.py
Due: ruff, format, custom-python-lint

fix
  mlflow/models/model.py
  tests/entities/test_trace.py
Due: ruff, format, custom-python-lint

Bump pytest version to 8.4.0 (#16025)
  pyproject.toml
  requirements/constraints.txt
  requirements/test-requirements.txt
Due: taplo

test fix
  pytest.ini
Due: none

12d9b89edcd0a22b23eb12c9652a7095cb70a2b0
  pytest.ini
Due: none

Unpin databricks-agents
  .github/workflows/master.yml
Due: none

Set span_exporter if it doesn't exist
  mlflow/tracing/processor/otel.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
