Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

minpin
  pyproject.release.toml
  pyproject.toml
  requirements/core-requirements.yaml
  uv.lock
Due: normalize-chars, taplo, uv-lock

Add framework integration examples for AI Gateway query-endpoint page (#20137)
  docs/docs/genai/governance/ai-gateway/endpoints/query-endpoints.mdx
Due: normalize-chars, blacken-docs, clint, typos

fix
  mlflow/server/js/package.json
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/ScorerFormRenderer.tsx
Due: none

fix
  mlflow/server/js/package.json
Due: none

fix
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/EvaluateTracesSectionRenderer.test.tsx
Due: none

Open Assistant by default and persist open/close between sessions (#20124)
  mlflow/server/js/src/assistant/AssistantChatPanel.tsx
  mlflow/server/js/src/assistant/AssistantContext.tsx
  mlflow/server/js/src/assistant/AssistantIconButton.tsx
  mlflow/server/js/src/common/components/MlflowHeader.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/ExperimentPageSideNavAssistantButton.tsx
Due: none

address comments
  mlflow/lightgbm/__init__.py
  tests/lightgbm/test_lightgbm_model_export.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

comment
  mlflow/server/js/src/assistant/AssistantChatPanel.tsx
  mlflow/server/js/src/assistant/AssistantContext.tsx
Due: none

Current Page context to assistant (#20139)
  mlflow/server/js/src/assistant/AssistantContextTags.tsx
  mlflow/server/js/src/assistant/AssistantPageContext.tsx
  mlflow/server/js/src/assistant/types.ts
Due: none

Update huey minimum version bound to 2.5.4 (#20170)
  pyproject.release.toml
  pyproject.toml
  requirements/core-requirements.yaml
  uv.lock
Due: normalize-chars, taplo, uv-lock

fix scorer odds
  mlflow/genai/optimize/optimize.py
  mlflow/genai/optimize/util.py
  tests/genai/optimize/test_optimize.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review comments on remove-experimental-decorators workflow (#20149)
  .github/workflows/remove-experimental-decorators.yml
Due: normalize-chars, conftest

better code
  mlflow/genai/optimize/optimize.py
  tests/genai/optimize/test_optimize.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Make cutoff period configurable in remove_experimental_decorators.py (#20172)
  dev/remove_experimental_decorators.py
  tests/dev/test_remove_experimental_decorators.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix bug with max tokens using max output tokens
  mlflow/genai/judges/adapters/litellm_adapter.py
  mlflow/genai/judges/optimizers/memalign/utils.py
  tests/genai/judges/adapters/test_litellm_adapter.py
  tests/genai/judges/optimizers/memalign/test_utils.py
  tests/genai/judges/test_make_judge.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

address pr feedback
  docs/docs/genai/eval-monitor/scorers/llm-judge/alignment.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/make-judge.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/memalign.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/simba.mdx
Due: normalize-chars, blacken-docs, clint, typos

Simulator updates root span with goal, persona, context and logs expectations
  mlflow/genai/simulators/simulator.py
  tests/genai/simulators/test_simulator.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix proto conversion
  mlflow/entities/span.py
  mlflow/store/tracking/databricks_rest_store.py
  mlflow/store/tracking/rest_store.py
  mlflow/tracing/provider.py
  tests/entities/test_span.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix bug with max tokens using max output tokens (#20174)
  mlflow/genai/judges/adapters/litellm_adapter.py
  mlflow/genai/judges/optimizers/memalign/utils.py
  tests/genai/judges/adapters/test_litellm_adapter.py
  tests/genai/judges/optimizers/memalign/test_utils.py
  tests/genai/judges/test_make_judge.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix scorer binding
  mlflow/store/tracking/sqlalchemy_store.py
  tests/genai/scorers/test_scorer_CRUD.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix ci
  mlflow/server/js/src/assistant/AssistantChatPanel.tsx
  mlflow/server/js/src/assistant/types.ts
Due: none

Recorder charts on tools call tab (#20144)
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/ExperimentGenAIOverviewPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/components/ToolPerformanceSummary.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/components/ToolPerformanceSummary.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Fix slow tests (#20117)
  tests/pyfunc/docker/test_docker_flavors.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use different component ids between global prompt page and experiment prompt page
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListFilters.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTable.tsx
Due: none

[1/x] Add grouping by dataset digest
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsPage.tsx
Due: none

comment
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListFilters.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTable.tsx
Due: none

Use different component ids between global prompt page and experiment prompt page (#20177)
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListFilters.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTable.tsx
Due: none

[2/4] Entrypoint for Assistant setup (#20140)
  mlflow/server/js/src/assistant/AssistantChatPanel.tsx
  mlflow/server/js/src/assistant/AssistantContext.tsx
  mlflow/server/js/src/assistant/types.ts
Due: none

[UI] Add missing built-in scorers to experiment scorers UI
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/llmScorerUtils.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/prompts.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/scorerCardUtils.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/types.ts
  mlflow/server/js/src/lang/default/en.json
Due: none

Improve scorer trace picker UX and validation
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/SampleScorerOutputPanelContainer.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/SampleScorerOutputPanelContainer.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/SampleScorerOutputPanelRenderer.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/SampleScorerTracesToEvaluatePicker.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/useEvaluateTraces.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/useEvaluateTraces.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/useEvaluateTracesAsync.test.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

comments
  mlflow/server/assistant/session.py
  tests/server/assistant/test_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

resolve
  mlflow/server/assistant/session.py
  mlflow/server/js/src/assistant/AssistantChatPanel.tsx
  mlflow/server/js/src/assistant/AssistantService.ts
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix CI tests[2]
  tests/store/artifact/test_databricks_artifact_repo.py
  tests/store/artifact/test_optimized_s3_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  mlflow/store/tracking/databricks_rest_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

make trace json encoder faster with pandas
  mlflow/tracing/utils/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update section headers for Azure OpenAI and Databricks Foundation Models in model-providers documentation
  docs/docs/genai/governance/ai-gateway/endpoints/model-providers.mdx
Due: normalize-chars, blacken-docs, clint, typos

Setup wizard
  mlflow/server/js/src/assistant/AssistantChatPanel.tsx
  mlflow/server/js/src/assistant/setup/AssistantSetupWizard.tsx
  mlflow/server/js/src/assistant/setup/SetupComplete.tsx
  mlflow/server/js/src/assistant/setup/SetupStepAuth.tsx
  mlflow/server/js/src/assistant/setup/SetupStepProject.tsx
  mlflow/server/js/src/assistant/setup/SetupStepProvider.tsx
  mlflow/server/js/src/assistant/setup/WizardFooter.tsx
  mlflow/server/js/src/assistant/setup/index.ts
Due: none

comments
  mlflow/server/js/src/assistant/setup/AssistantSetupWizard.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
