Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|ts|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

Fix Spark dataset test approx_count handling for cross-platform compatibility (#17752)
  tests/data/test_spark_dataset.py
Due: ruff, format, clint, typos

Fix patch.js to match last occurrence of yes/no checkboxes instead of first (#17762)
  .github/workflows/patch.js
Due: none

a
  .github/workflows/master.yml
Due: conftest

tests
  mlflow/genai/evaluation/entities.py
  mlflow/genai/evaluation/utils.py
Due: ruff, format, clint, typos

update
  mlflow/genai/scorers/builtin_scorers.py
  tests/genai/judges/test_builtin.py
Due: ruff, format, clint, typos

test
  tests/genai/evaluation/test_entities.py
Due: ruff, format, clint, typos

update
  mlflow/genai/scorers/registry.py
  tests/genai/scorers/test_scorer_CRUD.py
Due: ruff, format, clint, typos

Add fixture to increase db pool size in test (#17667)
  tests/genai/scorers/test_scorer.py
Due: ruff, format, clint, typos

test
  .vscode/settings.json
  mlflow/sklearn/__init__.py
  tests/sklearn/test_sklearn_model_export.py
Due: ruff, format, clint, typos

Use `--only-group lint` for linting commands in `CLAUDE.md` to improve performance (#17753)
  CLAUDE.md
Due: blacken-docs, clint, typos

Exclude immutable tags when setting tags (#17748)
  mlflow/genai/evaluation/harness.py
  tests/genai/evaluate/test_evaluation.py
Due: ruff, format, clint, typos

update
  mlflow/genai/scorers/builtin_scorers.py
Due: ruff, format, clint, typos

format
  tests/genai/judges/test_builtin.py
Due: ruff, format, clint, typos

nit
  tests/genai/scorers/test_scorer_CRUD.py
Due: ruff, format, clint, typos

[OTel UI] Minor fixes and refactors (#17756)
  mlflow/server/js/src/experiment-tracking/components/evaluations/RunViewEvaluationsTab.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.intg.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/utils/columnUtils.ts
  mlflow/server/js/src/shared/web-shared/genai-traces-table/index.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.test-utils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.test.tsx
Due: none

update schemas
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/resources/db/latest_schema.sql
Due: none

fix
  tests/entities/test_evaluation_dataset.py
Due: ruff, format, clint, typos

fix tests
  mlflow/sklearn/__init__.py
  tests/sklearn/test_sklearn_model_export.py
Due: ruff, format, clint, typos

Refactor Spark session fixture to use temporary path factory and simplify cleanup logic
  tests/data/test_spark_dataset.py
Due: ruff, format, clint, typos

Add Java setup to `copilot-setup-steps` workflow for Spark test support (#17770)
  .github/workflows/copilot-setup-steps.yml
Due: none

cleanup
  mlflow/sklearn/__init__.py
  tests/sklearn/test_sklearn_model_export.py
Due: ruff, format, clint, typos

cleanup
  tests/sklearn/test_sklearn_model_export.py
Due: ruff, format, clint, typos

Address review comments: move import to top level and remove redundant code
  tests/tracking/test_rest_tracking.py
Due: ruff, format, clint, typos

update tests
  tests/resources/db/latest_schema.sql
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, clint, typos

Speed up Spark dataset tests with module-scoped fixture (#17769)
  tests/data/test_spark_dataset.py
Due: ruff, format, clint, typos

Add pathlib style guide section (#17750)
  dev/guides/python.md
Due: blacken-docs, clint, typos

update test
  tests/genai/judges/test_builtin.py
Due: ruff, format, clint, typos

Make Scorer.register using active experiment if experiment_id param is not provided (#17764)
  mlflow/genai/scorers/registry.py
  tests/genai/scorers/test_scorer_CRUD.py
Due: ruff, format, clint, typos

a
  .github/workflows/master.yml
  tests/metrics/genai/test_genai_metrics.py
Due: ruff, format, clint, typos, conftest

fail
  tests/metrics/genai/test_genai_metrics.py
Due: ruff, format, clint, typos

a
  tests/metrics/genai/test_genai_metrics.py
Due: ruff, format, clint, typos

Delete dev/tests/test_review.py
  dev/tests/test_review.py
Due: ruff, format, clint, typos

Fix: Exclude auto-generated protobuf files from Python diff filtering in review.py (#17771)
  dev/mcps/review.py
Due: ruff, format, clint, typos

Refactor resolve_paths tests: remove exists() check and improve test structure
  dev/clint/src/clint/utils.py
  dev/clint/tests/test_resolve_paths.py
Due: ruff, format, clint, typos
