Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Add invalidation tests for useGrantUserPermission / useRevokeUserPermission
  mlflow/server/js/src/admin/hooks.test.tsx
Due: none

Run Prettier on hooks.test.tsx
  mlflow/server/js/.yarnrc.yml
  uv.lock
Due: normalize-chars

Restore uv.lock to PR base SHA
  uv.lock
Due: normalize-chars

Fix post-rebase type errors from #23583 conflict resolution
  mlflow/server/js/src/admin/api.ts
  mlflow/server/js/src/admin/components/EditAccessModal.tsx
Due: none

Fix CI test failures introduced by rebase onto #23583
  mlflow/server/js/src/admin/components/EditAccessModal.test.tsx
  mlflow/server/js/src/admin/hooks.test.tsx
  mlflow/server/js/src/admin/hooks.ts
Due: none

Revert local-dev changes to .yarnrc.yml and uv.lock
  mlflow/server/js/.yarnrc.yml
  uv.lock
Due: normalize-chars

Remove dead useUserPermissionsQuery / listUserPermissions code
  mlflow/server/js/src/admin/api.ts
  mlflow/server/js/src/admin/components/EditAccessModal.test.tsx
  mlflow/server/js/src/admin/components/EditAccessModal.tsx
  mlflow/server/js/src/admin/hooks.test.tsx
  mlflow/server/js/src/admin/hooks.ts
Due: none

Unpin uvicorn 0.47, bump server-readiness retry budgets in webhook + tracking tests (#23588)
  pyproject.toml
  requirements/constraints.txt
  tests/tracking/test_rest_tracking.py
  tests/webhooks/test_e2e.py
  uv.lock
Due: normalize-chars, ruff, format, clint, taplo, typos, check-init-py, uv-lock

fix: UI does not show Judge costs (#23586)
  mlflow/genai/judges/adapters/gateway_adapter.py
  tests/genai/judges/adapters/test_gateway_adapter.py
  tests/genai/judges/test_builtin.py
  tests/genai/judges/test_custom_prompt_judge.py
  tests/genai/judges/test_make_judge.py
  tests/genai/judges/utils/test_invocation_utils.py
  tests/genai/scorers/test_builtin_scorers.py
  tests/telemetry/test_tracked_events.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

- fixed code based on feedback
  libs/typescript/core/src/exporters/wal/ipc.ts
  libs/typescript/core/tests/exporters/wal/ipc.test.ts
Due: normalize-chars

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 607e88cc22e546c26428c7fd7ed708a625ac6d78
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Consolidate git source tag config into a shared module
  mlflow/server/js/src/experiment-tracking/components/EntitySearchAutoComplete.utils.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/runs/RunsSearchAutoComplete.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsTable.constants.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsTableCellRenderers.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsTableControls.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsTableGroupBySelector.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/ExperimentEvaluationRunsTableRow.tsx
  mlflow/server/js/src/experiment-tracking/utils/gitSourceTags.ts
Due: none

Make admin pickers target the workspace they're granting into (#23543)
  .github/actions/check-component-ids/componentId-registry.js
  mlflow/server/js/src/admin/api.ts
  mlflow/server/js/src/admin/components/CreateUserModal.tsx
  mlflow/server/js/src/admin/components/DirectPermissionForm.tsx
  mlflow/server/js/src/admin/components/DirectPermissionsSection.tsx
  mlflow/server/js/src/admin/components/EditAccessModal.test.tsx
  mlflow/server/js/src/admin/components/EditAccessModal.tsx
  mlflow/server/js/src/admin/components/RoleAssignmentForm.test.tsx
  mlflow/server/js/src/admin/components/RoleAssignmentForm.tsx
  mlflow/server/js/src/admin/components/RolePermissionForm.tsx
  mlflow/server/js/src/admin/hooks.test.tsx
  mlflow/server/js/src/admin/hooks.ts
Due: normalize-chars

Map OpenTelemetry conversation ID span attribute to session metadata
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/constant.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_traces.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add session ID precedence test
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_traces.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Collapse optional sections by default in Create Role modal
  mlflow/server/js/src/admin/components/CreateRoleModal.tsx
  mlflow/server/js/src/common/components/long-form/LongFormSection.test.tsx
  mlflow/server/js/src/common/components/long-form/LongFormSection.tsx
Due: none

Preserve child state across collapse/expand in LongFormSection
  mlflow/server/js/src/common/components/long-form/LongFormSection.test.tsx
  mlflow/server/js/src/common/components/long-form/LongFormSection.tsx
Due: none

LongFormSection: address ARIA + DOM-nesting nits
  mlflow/server/js/src/common/components/long-form/LongFormSection.test.tsx
  mlflow/server/js/src/common/components/long-form/LongFormSection.tsx
Due: none

Install CPU torch in autoformat docs step
  .github/workflows/autoformat.yml
Due: normalize-chars, conftest

Add OSS-native label schema entity, validation, and SQL store
  mlflow/genai/label_schemas/__init__.py
  mlflow/genai/label_schemas/label_schemas.py
  mlflow/genai/label_schemas/validation.py
  mlflow/store/db_migrations/versions/89d3d66ed43f_add_label_schemas_table.py
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_label_schemas.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Install CPU torch in autoformat docs step (#23596)
  .github/workflows/autoformat.yml
Due: normalize-chars, conftest

LongFormSection: shrink padding when collapsed; use React.useId
  mlflow/server/js/src/common/components/long-form/LongFormSection.test.tsx
  mlflow/server/js/src/common/components/long-form/LongFormSection.tsx
Due: none

Address review findings on PR #23597
  mlflow/genai/label_schemas/label_schemas.py
  mlflow/genai/label_schemas/validation.py
  mlflow/store/db_migrations/versions/89d3d66ed43f_add_label_schemas_table.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/store/tracking/sqlalchemy_workspace_store.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_label_schemas.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_workspace_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

docs: fix tip admonition title syntax for Docusaurus v3
  docs/docs/genai/tracing/quickstart/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

LongFormSection: fix lint, ``inert`` removal, test hygiene
  mlflow/server/js/src/common/components/long-form/LongFormSection.test.tsx
  mlflow/server/js/src/common/components/long-form/LongFormSection.tsx
Due: none

Collapse optional sections by default in Create Role modal (#23592)
  mlflow/server/js/src/admin/components/CreateRoleModal.tsx
  mlflow/server/js/src/common/components/long-form/LongFormSection.test.tsx
  mlflow/server/js/src/common/components/long-form/LongFormSection.tsx
Due: none

Address Copilot review findings on PR #23597
  mlflow/genai/label_schemas/validation.py
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_label_schemas.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Collapse optional sections by default in Create User modal
  mlflow/server/js/src/admin/components/CreateUserModal.tsx
Due: none

Address review nits on CreateUserModal collapse
  mlflow/server/js/src/admin/components/CreateUserModal.test.tsx
  mlflow/server/js/src/admin/components/CreateUserModal.tsx
Due: none

test: learning CI pipeline - this commit will be deleted
  CONTRIBUTING.md
Due: normalize-chars, blacken-docs, clint, typos

Type CreateUserModal test mocks so mockResolvedValue compiles
  mlflow/server/js/src/admin/components/CreateUserModal.test.tsx
Due: none

format
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_traces.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: extend source_run metrics filter to include entity-association-linked OTLP traces
  mlflow/store/tracking/utils/sql_trace_metrics_utils.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_query_trace_metrics.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Tighten CreateUserModal test: assert onClose, drop unused spy
  mlflow/server/js/src/admin/components/CreateUserModal.test.tsx
Due: none

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 2831e2163951e3ce98c90e8b9e4d22f4838245d9
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Collapse optional sections by default in Create User modal (#23594)
  mlflow/server/js/src/admin/components/CreateUserModal.test.tsx
  mlflow/server/js/src/admin/components/CreateUserModal.tsx
Due: none

feat(db): add ORM models and Alembic migration for MCP server registry (#23444)
  mlflow/entities/mcp_server_version.py
  mlflow/store/db/workspace_move.py
  mlflow/store/db/workspace_utils.py
  mlflow/store/db_migrations/versions/a8b9c0d1e2f3_add_mcp_server_registry_tables.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/sqlalchemy_workspace_store.py
  mlflow/store/workspace/sqlalchemy_store.py
  tests/db/schemas/sqlite.sql
  tests/resources/db/latest_schema.sql
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_schema.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix CI failures on PR #23597
  docs/api_reference/api_inventory.txt
  mlflow/store/db/workspace_utils.py
  pyproject.toml
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/resources/db/latest_schema.sql
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_label_schemas.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_schema.py
Due: normalize-chars, ruff, format, clint, taplo, typos, check-init-py, uv-lock
