Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

proto
  mlflow/protos/service.proto
Due: normalize-chars, lint-proto

Restore .vscode/settings.json
  .vscode/settings.json
Due: normalize-chars

Fix: restore constants.py and add Jinja2 type Signed-off-by: soyun11 <567654@o.cnu.ac.kr>
  mlflow/prompt/constants.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Stop initializing backend stores in artifacts only mode
  mlflow/cli/__init__.py
  tests/test_cli.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix: restore correct prompt constants and pass tests
  mlflow/prompt/constants.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

address comment
  mlflow/genai/judges/adapters/databricks_serving_endpoint_adapter.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feedback
  mlflow/entities/gateway_secrets.py
  mlflow/store/db_migrations/versions/1bd49d398cd23_add_secrets_tables.py
  mlflow/utils/crypto.py
  tests/db/compose.yml
  tests/store/tracking/test_gateway_sql_store.py
  tests/utils/test_crypto.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feedback
  tests/pyfunc/test_chat_agent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

lint
  mlflow/store/tracking/sqlalchemy_store.py
  tests/conftest.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat(genai): add Jinja2 prompt support (core functionality)
  mlflow/environment_variables.py
  mlflow/prompt/registry_utils.py
  mlflow/tracking/client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

adjust migration conflict
  mlflow/store/db_migrations/versions/1b5f0d9ad7c1_add_workspace_columns_and_catalog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

test(genai): update Jinja2 prompt tests and fix Dummy mock objects
  mlflow/tracking/client.py
  tests/genai/prompts/test_prompt_jinja2.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

typo
  mlflow/store/tracking/sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(prompts): refine Jinja2 formatting logic and restore version behavior
  mlflow/entities/model_registry/prompt_version.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

lint
  tests/db/test_schema.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(prompts): revert chat formatting cosmetic changes and keep original MLflow behavior
  mlflow/entities/model_registry/prompt_version.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

properly fix test
  tests/genai/evaluate/test_session_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

pr comments
  mlflow/genai/evaluation/harness.py
  mlflow/genai/evaluation/session_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix gc logic
  mlflow/store/tracking/file_store.py
  tests/store/tracking/test_file_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add context loading for ChatModel (#19250)
  mlflow/pyfunc/__init__.py
  tests/pyfunc/test_chat_agent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix docs build
  docs/api_reference/api_inventory.txt
Due: normalize-chars

weekly selection
  .github/workflows/maintainer-review.yml
Due: normalize-chars, conftest

rest store implementation
  mlflow/server/handlers.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/gateway/abstract_mixin.py
  mlflow/store/tracking/gateway/rest_mixin.py
  mlflow/store/tracking/gateway/sqlalchemy_mixin.py
  mlflow/store/tracking/rest_store.py
  tests/store/tracking/test_rest_store.py
  tests/tracking/test_rest_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Switch container build to subprocess
  mlflow/sagemaker/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add useful failure messages
  mlflow/sagemaker/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add model config to prompt (backend and docs change) (#19174)
  docs/api_reference/api_inventory.txt
  docs/docs/genai/prompt-registry/index.mdx
  mlflow/entities/model_registry/__init__.py
  mlflow/entities/model_registry/prompt_version.py
  mlflow/genai/__init__.py
  mlflow/genai/prompts/__init__.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/tracking/_model_registry/fluent.py
  mlflow/tracking/client.py
  mlflow/utils/mlflow_tags.py
  tests/entities/test_prompt.py
  tests/genai/prompts/test_prompts.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

fix windows
  tests/store/tracking/test_file_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix test failures for search_datasets functionality
  tests/genai/datasets/test_fluent.py
  tests/store/tracking/test_databricks_rest_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[Endpoints] [7/x] Add rest store implementation (#19008)
  mlflow/server/handlers.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/gateway/abstract_mixin.py
  mlflow/store/tracking/gateway/rest_mixin.py
  mlflow/store/tracking/gateway/sqlalchemy_mixin.py
  mlflow/store/tracking/rest_store.py
  tests/store/tracking/test_rest_store.py
  tests/tracking/test_rest_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address PR review comments from Avesh
  mlflow/store/tracking/databricks_rest_store.py
  tests/store/tracking/test_databricks_rest_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add auth support for graphql routes
  mlflow/server/auth/__init__.py
  mlflow/server/handlers.py
  tests/server/auth/test_auth.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Propagate workspace context through REST APIs
  mlflow/server/__init__.py
  mlflow/server/fastapi_app.py
  mlflow/server/handlers.py
  mlflow/server/workspace_helpers.py
  mlflow/store/tracking/rest_store.py
  mlflow/store/workspace/rest_store.py
  mlflow/utils/rest_utils.py
  tests/server/test_handlers.py
  tests/server/test_workspace_middleware.py
  tests/store/tracking/test_rest_store.py
  tests/store/workspace/test_rest_store.py
  tests/tracking/test_rest_tracking.py
  tests/utils/test_rest_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Expose workspace-aware fluent APIs and CLI
  docs/api_reference/api_inventory.txt
  mlflow/__init__.py
  mlflow/cli/__init__.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/_workspace/fluent.py
  mlflow/tracking/_workspace/registry.py
  mlflow/tracking/client.py
  mlflow/utils/server_cli_utils.py
  tests/entities/test_experiment.py
  tests/genai/datasets/test_fluent.py
  tests/test_cli.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

prompt config ui
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsDetailsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/ModelConfigForm.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptContentPreview.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptVersionMetadata.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/useCreatePromptModal.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/useEditModelConfigModal.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/types.ts
  mlflow/server/js/src/experiment-tracking/pages/prompts/utils.ts
Due: none

error
  mlflow/server/auth/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix UC copying regression
  mlflow/store/_unity_catalog/registry/rest_store.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[ML-59440] render text prompt previews in markdown
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptContentPreview.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Add Smithery badge
  README.md
Due: normalize-chars, blacken-docs, clint, typos

Add workspace database schema (#18909)
  docs/api_reference/api_inventory.txt
  mlflow/entities/__init__.py
  mlflow/entities/workspace.py
  mlflow/store/db_migrations/versions/1b5f0d9ad7c1_add_workspace_columns_and_catalog.py
  mlflow/store/model_registry/dbmodels/models.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/workspace/__init__.py
  mlflow/store/workspace/dbmodels/__init__.py
  mlflow/store/workspace/dbmodels/models.py
  mlflow/utils/workspace_utils.py
  tests/db/check_migration.py
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/db/test_schema.py
  tests/db/test_workspace_migration.py
  tests/resources/db/latest_schema.sql
  tests/store/tracking/test_sqlalchemy_store_schema.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
