Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

black:
  name: black
  entry: black
  language: system
  stages:
  - commit
  log_file: .black.log

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc
  stages:
  - commit

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit

Dependency
  mlflow/ml-package-versions.yml
Due: none

Lint
  mlflow/langchain/__init__.py
Due: black, blacken-docs, pylint

Coverage
  tests/langchain/test_langchain_model_export.py
Due: black, blacken-docs, pylint

Format
  tests/langchain/test_langchain_model_export.py
Due: black, blacken-docs, pylint

add azure openai example
  examples/openai/azure_openai.py
Due: black, blacken-docs, pylint

reformat
  examples/openai/azure_openai.py
Due: black, blacken-docs, pylint

leave child bars
  mlflow/store/artifact/databricks_artifact_repo.py
  mlflow/utils/file_utils.py
Due: black, blacken-docs, pylint

make tqdm optional
  mlflow/store/artifact/artifact_repo.py
  mlflow/store/artifact/databricks_artifact_repo.py
  mlflow/utils/file_utils.py
  requirements/test-requirements.txt
Due: black, blacken-docs, pylint

Fix LangChain compatibility with SQLDatabase (#9192)
  mlflow/langchain/__init__.py
  mlflow/ml-package-versions.yml
  tests/langchain/test_langchain_model_export.py
Due: black, blacken-docs, pylint

add ipywidgets for tqdm
  requirements/extra-ml-requirements.txt
  requirements/test-requirements.txt
Due: none

fix failing test and stdout
  mlflow/store/artifact/cli.py
  tests/models/test_cli.py
  tests/store/artifact/test_cli.py
Due: black, blacken-docs, pylint

fix circleci
  .circleci/config.yml
Due: none

Fix PR checks, tidying
  mlflow/server/auth/__init__.py
  mlflow/server/auth/basic_auth.ini
  mlflow/tracking/_tracking_service/utils.py
  mlflow/utils/cli_args.py
  tests/server/auth/fixtures/jwt_auth.ini
  tests/server/auth/jwt_auth.py
  tests/server/auth/test_auth.py
  tests/tracking/integration_test_utils.py
Due: black, blacken-docs, pylint

Cache auth func, lint fixes, tweaks
  dev/Dockerfile.test
  dev/run-test-container.sh
  mlflow/server/auth/__init__.py
  tests/server/auth/test_auth.py
Due: black, blacken-docs, pylint

Build fixes
  docs/source/auth/index.rst
  mlflow/server/auth/__init__.py
Due: black, blacken-docs, pylint

Add psutil to test-requirements.txt
  dev/Dockerfile.test
  requirements/test-requirements.txt
Due: none

Try to fix failed build
  dev/Dockerfile.test
  requirements/test-requirements.txt
Due: none

WIP
  mlflow/gateway/config.py
  mlflow/gateway/providers/__init__.py
  mlflow/gateway/providers/mlflow.py
  mlflow/gateway/providers/openai.py
  tests/gateway/providers/test_mlflow.py
  tests/gateway/test_client.py
Due: black, blacken-docs, pylint

fix broken link
  docs/source/models.rst
Due: blacken-docs

Add validation test for environment variable behavior (#9189)
  tests/test_environment_variables.py
Due: black, blacken-docs, pylint

fix broken link (#9198)
  docs/source/models.rst
Due: blacken-docs

add support for OSS model serving of LLMs to AI Gateway
  tests/gateway/test_integration.py
Due: black, blacken-docs, pylint

Upgrade ruff to 0.0.281
  requirements/lint-requirements.txt
Due: none

Introducing the giskard community plugin for mlflow.evaluate()
  docs/source/models.rst
  docs/source/plugins.rst
Due: blacken-docs

reverting the formatting of untouched blocks
  docs/source/models.rst
Due: blacken-docs

added new demo notebook
  docs/source/models.rst
Due: blacken-docs

Free disk space
  .github/workflows/requirements.yml
Due: none

Upgrade ruff to 0.0.281 (#9200)
  requirements/lint-requirements.txt
Due: none

fixes for completions based on testing
  mlflow/gateway/providers/anthropic.py
  mlflow/gateway/providers/cohere.py
  mlflow/gateway/providers/mlflow.py
  mlflow/gateway/providers/openai.py
  mlflow/gateway/schemas/chat.py
  tests/gateway/providers/test_mlflow.py
Due: black, blacken-docs, pylint

address comments
  examples/openai/azure_openai.py
Due: black, blacken-docs, pylint

Free disk space in `Test requirements` workflow (#9201)
  .github/workflows/requirements.yml
Due: none

Add azure openai example (#9194)
  examples/openai/azure_openai.py
Due: black, blacken-docs, pylint

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  pylint: any of: \.py$
  rstcheck: any of: README.rst
