Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

Replace non-existing functions #13941 (#13947)
  mlflow/metrics/__init__.py
Due: ruff, format, custom-python-lint

Migrate docs/tracking/index.mdx page
  docs/docs/tracking/tutorials/remote-server/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/tracking/tutorials/remote-server.rst
Due: blacken-docs

Migrate docs/tracking/artifacts-stores/index.mdx page
  docs/docs/tracking/artifacts-stores/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/tracking/artifacts-stores.rst
Due: blacken-docs

comments
  mlflow/dspy/load.py
  mlflow/dspy/wrapper.py
  tests/dspy/test_save.py
Due: ruff, format, custom-python-lint

fix test
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

format
  mlflow/data/evaluation_dataset.py
Due: ruff, format, custom-python-lint

update to 24.04
  .github/workflows/advice.yml
  .github/workflows/autoformat.yml
  .github/workflows/build-wheel.yml
  .github/workflows/cancel.yml
  .github/workflows/cherry-picks-warn.yml
  .github/workflows/closing-pr.yml
  .github/workflows/cross-version-test-runner.yml
  .github/workflows/cross-version-tests.yml
  .github/workflows/deployments.yml
  .github/workflows/dev-setup.yml
  .github/workflows/devcontainer.yml
  .github/workflows/examples.yml
  .github/workflows/gateway.yml
  .github/workflows/js.yml
  .github/workflows/labeling.yml
  .github/workflows/lint.yml
  .github/workflows/maintainer-approval.yml
  .github/workflows/master.yml
  .github/workflows/patch.yml
  .github/workflows/preview-docs.yml
  .github/workflows/protect.yml
  .github/workflows/protobuf-cross-test.yml
  .github/workflows/protos.yml
  .github/workflows/push-images.yml
  .github/workflows/r.yml
  .github/workflows/recipe-template.yml
  .github/workflows/recipe.yml
  .github/workflows/release-note.yml
  .github/workflows/requirements.yml
  .github/workflows/rerun-cross-version-tests.yml
  .github/workflows/rerun-workflow-run.yml
  .github/workflows/rerun.yml
  .github/workflows/slow-tests.yml
  .github/workflows/team-review.yml
  dev/set_matrix.py
  mlflow/ml-package-versions.yml
Due: ruff, format, custom-python-lint, mlver

change dspy required version
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: ruff, format, custom-python-lint, mlver

add autotracing tests
  mlflow/autogen/__init__.py
  mlflow/dspy/autolog.py
  mlflow/litellm/__init__.py
  mlflow/llama_index/__init__.py
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint

update flaky test
  tests/litellm/test_litellm_autolog.py
Due: ruff, format, custom-python-lint

update prophet
  mlflow/ml-package-versions.yml
Due: mlver

fix
  docs/build-rdoc.sh
Due: none

comments
  .github/workflows/master.yml
  mlflow/models/python_api.py
  mlflow/utils/virtualenv.py
Due: ruff, format, custom-python-lint

suppress warning
  mlflow/crewai/__init__.py
  mlflow/crewai/autolog.py
Due: ruff, format, custom-python-lint

fix ci
  .github/workflows/master.yml
  requirements/extra-ml-requirements.txt
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint

Set dspy settings at `predict` call (#13895)
  mlflow/dspy/load.py
  mlflow/dspy/wrapper.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  tests/dspy/test_save.py
Due: ruff, format, custom-python-lint, mlver

update
  mlflow/data/evaluation_dataset.py
Due: ruff, format, custom-python-lint

property
  mlflow/entities/trace.py
  mlflow/tracing/display/display_handler.py
Due: ruff, format, custom-python-lint

comments
  .github/workflows/master.yml
  mlflow/models/python_api.py
Due: ruff, format, custom-python-lint

Fix rdoc build script on new macbooks (#13954)
  docs/build-rdoc.sh
Due: none

Do not set PIP_EXTRA_INDEX_URL
  conftest.py
  mlflow/environment_variables.py
  mlflow/utils/environment.py
Due: ruff, format, custom-python-lint

Fix
  mlflow/environment_variables.py
Due: ruff, format, custom-python-lint

pin dspy version
  requirements/extra-ml-requirements.txt
Due: none

fix library variable
  mlflow/tracking/fluent.py
  requirements/extra-ml-requirements.txt
Due: ruff, format, custom-python-lint

Fixes test cases missing new props; removes ExperimentPage because it wasn't used.
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.test.tsx
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.tsx
  mlflow/server/js/src/experiment-tracking/components/HomePage.test.tsx
  mlflow/server/js/src/experiment-tracking/components/HomePage.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/ExperimentPage.tsx
Due: none

In ExperimentListView: remove commented out code, useEffect'ed route pushing, unwrapped memoisation (wasn't doing anything), removed imports that were doing nothing from tests.
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.test.tsx
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/ExperimentView.tsx
Due: none

Fixed linter error.
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.test.tsx
Due: none

Last yarn changes.
  mlflow/server/js/src/lang/default/en.json
Due: none

Fix linter errors
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.test.tsx
  mlflow/server/js/src/experiment-tracking/components/ExperimentListView.tsx
  mlflow/server/js/src/experiment-tracking/components/HomePage.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/ExperimentView.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useInitializeUIState.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useSharedExperimentViewState.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/models/ExperimentPageUIState.tsx
Due: none

make disabled public
  mlflow/tracing/display/display_handler.py
Due: ruff, format, custom-python-lint

oops
  mlflow/tracing/display/display_handler.py
Due: ruff, format, custom-python-lint

resolve version conflict
  .github/workflows/master.yml
  requirements/extra-ml-requirements.txt
Due: none

update
  .github/workflows/master.yml
Due: none

use string for class
  examples/crewai/tracing.py
  mlflow/crewai/__init__.py
Due: ruff, format, custom-python-lint

Prevent notebook display of traces when display is disabled (#13936)
  mlflow/entities/trace.py
  mlflow/tracing/display/display_handler.py
  tests/tracing/display/test_ipython.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
