Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Add rendering size guards to artifact image and video viewers
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactImageView.tsx
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactVideoView.tsx
Due: none

Fix CI: update provider tests for catalog API; refresh api_inventory
  docs/api_reference/api_inventory.txt
  tests/utils/test_providers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Apply suggestions from code review
  mlflow/server/gateway_api.py
  mlflow/utils/provider_filter.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address PR #22291 review feedback
  mlflow/environment_variables.py
  mlflow/gateway/config.py
  mlflow/gateway/provider_registry.py
  mlflow/metrics/genai/model_utils.py
  mlflow/server/gateway_api.py
  mlflow/utils/provider_filter.py
  mlflow/utils/providers.py
  tests/gateway/test_provider_registry.py
  tests/server/test_gateway_api.py
  tests/server/test_handlers.py
  tests/utils/test_provider_filter.py
  tests/utils/test_providers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address reviewer feedback: centralize provider aliases, use cachetools, clean up error messages
  mlflow/gateway/config.py
  mlflow/gateway/provider_registry.py
  mlflow/metrics/genai/model_utils.py
  mlflow/server/gateway_api.py
  mlflow/utils/provider_filter.py
  mlflow/utils/providers.py
  tests/gateway/test_provider_registry.py
  tests/utils/test_provider_filter.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address PR #22291 review feedback (round 2)
  docs/api_reference/api_inventory.txt
  mlflow/gateway/config.py
  mlflow/gateway/provider_registry.py
  mlflow/metrics/genai/model_utils.py
  mlflow/server/gateway_api.py
  mlflow/utils/provider_filter.py
  mlflow/utils/providers.py
  tests/gateway/test_provider_registry.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Apply suggestions from code review
  mlflow/gateway/provider_registry.py
  tests/utils/test_providers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[FR] #22217 Add configurable provider allow/deny list to AI Gateway
  mlflow/environment_variables.py
  mlflow/gateway/provider_registry.py
  mlflow/server/gateway_api.py
  mlflow/utils/provider_filter.py
  mlflow/utils/providers.py
  tests/gateway/test_provider_registry.py
  tests/server/test_gateway_api.py
  tests/server/test_handlers.py
  tests/utils/test_provider_filter.py
  tests/utils/test_providers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address PR #22291 review feedback (round 3)
  mlflow/gateway/config.py
  mlflow/gateway/provider_registry.py
  mlflow/server/gateway_api.py
  mlflow/utils/provider_filter.py
  tests/gateway/test_provider_registry.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat: add Create View and Edit entry points to TraceViewSelector
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/TraceViewSelector.tsx
Due: none

Add skills documentation to custom judges page
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/index.mdx
Due: normalize-chars, blacken-docs, clint, typos

feat: integrate trace view edit mode into summary spans view
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/TraceViewSelector.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerSummarySpans.tsx
Due: none

Allow Gemini chat rendering when role field is omitted
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/gemini.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/gemini.ts
Due: none

Render attachment images embedded in complex JSON structures
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/attachment-utils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/field-renderers/ModelTraceExplorerFieldRenderer.findAttachmentUris.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/field-renderers/ModelTraceExplorerFieldRenderer.tsx
Due: none

Add kriscon-db and PattaraS to team-review reviewer pool
  .github/workflows/team-review.js
Due: normalize-chars

init
  mlflow/entities/span.py
  tests/entities/test_span.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Handle single dict contents in Gemini chat input normalization
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/gemini.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/gemini.ts
Due: none

init
  tests/pytorch/test_pytorch_model_export.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor: integrate edit mode as overlay into existing trace views
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorerDetailView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/edit-mode/RangeBadge.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/edit-mode/SpanRangeOverlay.test.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/edit-mode/SpanRangeOverlay.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/edit-mode/useSpanRangeSelection.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerSummaryIntermediateNode.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerSummarySpans.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/timeline-tree/TimelineTree.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/timeline-tree/TimelineTreeNode.tsx
Due: none

init
  mlflow/ml-package-versions.yml
Due: normalize-chars, mlver

refactor: reuse spanMatchesSelector and tree utils in edit mode selection
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/edit-mode/useSpanRangeSelection.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerSummarySpans.tsx
Due: none

feat: show span range badges and highlighting in timeline view mode
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/edit-mode/RangeBadge.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/edit-mode/useSpanRangeSelection.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/hooks/useTraceViewFiltering.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerCompactSummaryView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerSummaryView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/timeline-tree/TimelineTree.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/timeline-tree/TimelineTreeNode.tsx
Due: none

feat: add --ranges-json flag to create-view CLI for multi-range views
  .claude/skills/analyze-mlflow-trace/SKILL.md
  mlflow/cli/traces.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

feat: selectable range badges with detail view in right pane
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorerDetailView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorerViewStateContext.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/edit-mode/RangeBadge.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/right-pane/ModelTraceExplorerRangeDetailView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/right-pane/ModelTraceExplorerRightPaneTabs.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/timeline-tree/TimelineTreeNode.tsx
Due: none

docs: update trace view editor design spec and plan to reflect implementation
  docs/superpowers/plans/2026-04-07-trace-view-editor-ui.md
  docs/superpowers/specs/2026-04-07-trace-view-editor-ui-design.md
Due: normalize-chars, blacken-docs, clint, typos

Refactor HallucinationDetection to delegate to InstructionsJudge
  mlflow/genai/judges/prompts/hallucination.py
  mlflow/genai/scorers/builtin_scorers.py
  tests/genai/scorers/test_hallucination_detection.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address PR review comments
  mlflow/genai/judges/prompts/hallucination.py
  tests/genai/scorers/test_hallucination_detection.py
  tests/genai/utils/test_trace_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address PR review comments (round 3)
  mlflow/genai/judges/prompts/hallucination.py
  tests/genai/utils/test_trace_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add job persistence model for execution recovery
  docs/api_reference/source/rest-api.rst
  mlflow/entities/_job.py
  mlflow/entities/_job_status.py
  mlflow/java/client/src/main/java/org/mlflow/api/proto/Jobs.java
  mlflow/protos/jobs.proto
  mlflow/protos/jobs_pb2.py
  mlflow/protos/jobs_pb2.pyi
  mlflow/server/handlers.py
  mlflow/server/job_api.py
  mlflow/server/jobs/progress.py
  mlflow/server/jobs/utils.py
  mlflow/server/js/src/common/hooks/useGetTrackingServerJobStatus.tsx
  mlflow/server/js/src/common/types.ts
  mlflow/server/js/src/experiment-tracking/components/run-page/hooks/useFetchJobStatus.test.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/hooks/useFetchJobStatus.ts
  mlflow/server/js/src/experiment-tracking/components/run-page/overview/IssueDetectionRunOverview.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/useEvaluateTracesAsync.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/useEvaluateTracesAsync.tsx
  mlflow/store/db_migrations/versions/dc11669786a5_add_job_executor_persistence_model.py
  mlflow/store/jobs/abstract_store.py
  mlflow/store/jobs/sqlalchemy_store.py
  mlflow/store/tracking/dbmodels/models.py
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/db/test_job_persistence_migration.py
  tests/entities/test_job_status.py
  tests/resources/db/latest_schema.sql
  tests/server/jobs/test_endpoint.py
  tests/server/jobs/test_jobs.py
  tests/server/jobs/test_jobs_workspace.py
  tests/server/jobs/test_progress.py
  tests/server/jobs/test_utils.py
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, blacken-docs, clint, lint-proto, typos, check-init-py

feat: editable range selectors with draft preview and fix range detail view
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorerDetailView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/edit-mode/RangeBadge.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/edit-mode/useSpanRangeSelection.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/right-pane/ModelTraceExplorerRangeDetailView.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/summary-view/ModelTraceExplorerSummarySpans.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/timeline-tree/TimelineTree.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/timeline-tree/TimelineTreeNode.tsx
Due: none

Address review part 2
  mlflow/store/db_migrations/versions/7d34483879f0_add_model_version_tags_workspace_index.py
  tests/store/model_registry/test_sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Replace placement Tooltip with Popover for white-background pipeline visualizer
  mlflow/server/js/src/gateway/components/guardrails/GuardrailsTabContent.tsx
Due: none

Add GuardrailsTabContent component for listing and managing guardrails
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
  mlflow/server/js/src/gateway/components/guardrails/GuardrailsTabContent.tsx
Due: none

Address review comments: use Tag for badges, remove optimistic state
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
  mlflow/server/js/src/gateway/components/guardrails/GuardrailsTabContent.test.tsx
  mlflow/server/js/src/gateway/components/guardrails/GuardrailsTabContent.tsx
Due: none

Remove redundant endpoint ID display from guardrail card
  mlflow/server/js/src/gateway/components/guardrails/GuardrailsTabContent.tsx
Due: none

Address copilot review comments in GuardrailsTabContent
  mlflow/server/js/src/gateway/components/guardrails/GuardrailsTabContent.test.tsx
  mlflow/server/js/src/gateway/components/guardrails/GuardrailsTabContent.tsx
Due: none

Add placement pipeline tooltip and delete confirmation to guardrail list
  mlflow/server/js/src/gateway/components/guardrails/GuardrailsTabContent.tsx
Due: none

Rewrite guardrail list as table with search bar and placement/action badges
  mlflow/server/js/src/gateway/components/guardrails/GuardrailsTabContent.tsx
Due: none

Rename useAddGuardrail export to useCreateGuardrail to match filename
  mlflow/server/js/src/gateway/hooks/useCreateGuardrail.test.tsx
  mlflow/server/js/src/gateway/hooks/useCreateGuardrail.ts
Due: none

Update i18n strings for guardrail tab content
  mlflow/server/js/src/lang/default/en.json
Due: none

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
