Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

more logs
  mlflow/store/artifact/dbfs_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  mlflow/store/artifact/dbfs_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address PR review comments
  tests/genai/judges/adapters/test_gateway_adapter.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

debug
  mlflow/store/artifact/dbfs_artifact_repo.py
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review feedback: fix tab switching, error handling, validation, and accessibility
  mlflow/server/js/src/admin/hooks.ts
  mlflow/server/js/src/admin/pages/AccountPage.tsx
  mlflow/server/js/src/admin/pages/AdminPage.tsx
  mlflow/server/js/src/admin/pages/RoleDetailPage.tsx
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
Due: none

debug logs
  mlflow/store/artifact/dbfs_artifact_repo.py
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
  mlflow/utils/_unity_catalog_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

.
  mlflow/store/artifact/dbfs_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

lint
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/components/AssessmentChartsSection.test.tsx
Due: none

.
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

..
  mlflow/store/artifact/unity_catalog_models_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Reorganize Settings into section-based routing with sub-sidebar navigation
  mlflow/server/js/src/MlflowRouter.tsx
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  mlflow/server/js/src/common/components/MlflowSidebarGatewayItems.tsx
  mlflow/server/js/src/common/components/MlflowSidebarSettingsItems.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/IssueDetectionModelSelection.tsx
  mlflow/server/js/src/experiment-tracking/route-defs.ts
  mlflow/server/js/src/experiment-tracking/routes.ts
  mlflow/server/js/src/gateway/components/edit-endpoint/EditEndpointFormRenderer.tsx
  mlflow/server/js/src/gateway/components/side-nav/GatewaySideNav.tsx
  mlflow/server/js/src/gateway/pages/ApiKeysPage.tsx
  mlflow/server/js/src/gateway/pages/GatewayPage.tsx
  mlflow/server/js/src/gateway/pages/RedirectApiKeysToSettings.tsx
  mlflow/server/js/src/gateway/route-defs.ts
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/settings/SettingsEntryRedirect.tsx
  mlflow/server/js/src/settings/SettingsPage.test.tsx
  mlflow/server/js/src/settings/SettingsPage.tsx
  mlflow/server/js/src/settings/WebhooksSettings.tsx
  mlflow/server/js/src/settings/settingsSectionConstants.ts
Due: none

Fix AsyncHttpxClientWrapper AttributeError by avoiding deepcopy in TraceJSONEncoder
  mlflow/tracing/utils/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address PR review comments
  mlflow/server/js/src/gateway/pages/ApiKeysPage.tsx
  mlflow/server/js/src/gateway/pages/RedirectApiKeysToSettings.tsx
  mlflow/server/js/src/settings/SettingsPage.test.tsx
  mlflow/server/js/src/settings/SettingsPage.tsx
  mlflow/server/js/src/settings/settingsSectionConstants.ts
Due: none

Update ML package versions
  libs/skinny/pyproject.toml
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  pyproject.release.toml
  pyproject.toml
  uv.lock
Due: normalize-chars, ruff, format, clint, taplo, mlver, typos, check-init-py, uv-lock

Remove unused requirements after min bumps
  mlflow/ml-package-versions.yml
Due: normalize-chars, mlver

address comments
  mlflow/server/js/src/MlflowRouter.tsx
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  mlflow/server/js/src/common/components/MlflowSidebarSettingsItems.tsx
  mlflow/server/js/src/settings/SettingsEntryRedirect.tsx
  mlflow/server/js/src/settings/SettingsPage.tsx
  mlflow/server/js/src/settings/settingsSectionConstants.ts
Due: none

Narrow except back to ValueError
  mlflow/tracing/utils/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add Application Default Credentials auth mode for Vertex AI gateway
  mlflow/utils/providers.py
  tests/utils/test_providers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove stale hooksConfig reference from stop hook doc comment
  libs/typescript/integrations/qwen-code/src/hooks/stop.ts
Due: normalize-chars

fix
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.test.tsx
Due: none

Update test_cli for new RBAC tables and alembic head revision
  tests/server/auth/db/test_cli.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix provider serialization and update test expectations
  mlflow/gateway/providers/base.py
  tests/gateway/providers/test_anthropic.py
  tests/gateway/providers/test_cohere.py
  tests/gateway/providers/test_gemini.py
  tests/gateway/providers/test_openai.py
  tests/gateway/providers/test_togetherai.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address Copilot review feedback for check-component-ids
  .github/actions/check-component-ids/action.yml
  .github/actions/check-component-ids/componentId-registry.js
  .github/actions/check-component-ids/index.js
Due: normalize-chars, conftest

Update api_inventory.txt for new RBAC entity classes
  docs/api_reference/api_inventory.txt
Due: normalize-chars

Fix ABFSS URI double-encoding in _parse_abfss_uri
  mlflow/store/artifact/azure_data_lake_artifact_repo.py
  tests/store/artifact/test_azure_data_lake_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Validate registered agent info dict fields
  mlflow/genai/agent_server/server.py
  tests/genai/test_agent_server.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review: strip leading slash after unquote
  mlflow/store/artifact/azure_data_lake_artifact_repo.py
  tests/store/artifact/test_azure_data_lake_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix EvaluationDataset type references in GenAI datasets docs
  docs/docs/genai/concepts/evaluation-datasets.mdx
  docs/docs/genai/datasets/end-to-end-workflow.mdx
  docs/docs/genai/datasets/sdk-guide.mdx
Due: normalize-chars, blacken-docs, clint, typos

Add aggregate_anthropic_messages_stream_chunks for streaming trace output
  mlflow/gateway/tracing_utils.py
  mlflow/server/gateway_api.py
  tests/gateway/test_tracing_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix ruff E501 lint violations in test_tracing_utils.py
  tests/gateway/test_tracing_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address PR review: fix split-chunk parsing and capture all usage fields
  mlflow/gateway/tracing_utils.py
  tests/gateway/test_tracing_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Regenerate componentId registry after merging latest master
  .github/actions/check-component-ids/componentId-registry.js
Due: normalize-chars

Add regenerate script for componentId registry
  .github/actions/check-component-ids/index.js
  .github/actions/check-component-ids/regenerate.js
  .github/actions/check-component-ids/utils.js
Due: normalize-chars

Add check-component-ids pre-commit hook
  .pre-commit-config.yaml
Due: normalize-chars

Auto-regenerate componentId registry on pre-commit hook failure
  .pre-commit-config.yaml
Due: normalize-chars

Add provider field to mosaicml, palm, and gateway app test expectations
  tests/gateway/providers/test_mosaicml.py
  tests/gateway/providers/test_palm.py
  tests/gateway/test_gateway_app.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use double quotes in regenerate.js to match prettier format
  .github/actions/check-component-ids/componentId-registry.js
  .github/actions/check-component-ids/regenerate.js
Due: normalize-chars

Reformat componentId registry to use double quotes
  .github/actions/check-component-ids/componentId-registry.js
Due: normalize-chars

Gate PR auto-approval on author role (admin/maintain)
  .claude/skills/pr-review/SKILL.md
Due: normalize-chars, blacken-docs, clint, typos

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
