Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Replace .installed_versions.json with runtime version check in bin/install.py
  bin/install.py
Due: normalize-chars, ruff, format, clint, typos

Drop author role check from pr-review skill
  .claude/skills/pr-review/SKILL.md
Due: normalize-chars, blacken-docs, clint, typos

Update schema description to match simplified review rule
  .claude/skills/pr-review/review-payload.schema.json
Due: normalize-chars

Drop CI cache inputs and enforce uv cache-off in nailaopus
  .github/actions/setup-node/action.yml
  .github/actions/setup-python/action.yml
  .github/workflows/cross-version-tests.yml
  .github/workflows/link-checker.yml
  .github/workflows/nailaopus.yml
  .github/workflows/review.yml
  .github/workflows/typescript.yml
  .github/workflows/uv.yml
Due: normalize-chars, conftest

fix: sync trace UI i18n messages
  mlflow/server/js/src/lang/default/en.json
Due: none

Pick review default model from PR size label
  .github/workflows/review.yml
Due: normalize-chars, conftest

Strip whitespace from parsed prompt
  .github/workflows/review.yml
Due: normalize-chars, conftest

Surface model in review-complete comment
  .github/workflows/review.yml
Due: normalize-chars, conftest

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for ac15c22741f7aac50b16b9c74beff6a8e2fdd823
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Extend `check_action_pins.py` to also validate `on.paths` / `paths-ignore`
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  dev/check_actions.py
Due: normalize-chars, ruff, format, clint, typos, conftest

Cover `.yaml` workflows in `_check_paths`
  dev/check_actions.py
Due: normalize-chars, ruff, format, clint, typos

Expand module docstring to mention `policy.rego` relationship
  dev/check_actions.py
Due: normalize-chars, ruff, format, clint, typos

Shorten module docstring
  dev/check_actions.py
Due: normalize-chars, ruff, format, clint, typos

Drop rule list from module docstring
  dev/check_actions.py
Due: normalize-chars, ruff, format, clint, typos

Drop `SafeLoader` fallback, use `yaml.CSafeLoader` directly
  dev/check_actions.py
Due: normalize-chars, ruff, format, clint, typos

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for f7b2ddf7b8afb0bd36c7e6d5a8ec80985bd1b699
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Address review: document wildcard CORS guardrails, add preflight assertion
  mlflow/server/fastapi_security.py
  mlflow/server/security.py
  tests/server/test_security.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review: split key/value sanitization for final vs extra params
  mlflow/projects/_project_spec.py
  tests/projects/test_entry_point.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address review: trim new tests and align existing assertions with quote()
  tests/projects/test_entry_point.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Apply ruff format
  tests/projects/test_entry_point.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Revert quote() wrapping for final_params; keep it for extra_params
  tests/projects/test_entry_point.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Document `sparse-checkout` rule for `actions/checkout`
  .claude/rules/github-actions.md
Due: normalize-chars, blacken-docs, clint, typos

Document `sparse-checkout` rule in `.claude/rules/github-actions.md` (#23387)
  .claude/rules/github-actions.md
Due: normalize-chars, blacken-docs, clint, typos

Inline cross-version-test-runner and rerun-workflow-run via gh CLI
  .github/workflows/cross-version-test-runner.js
  .github/workflows/cross-version-test-runner.yml
  .github/workflows/rerun-workflow-run.yml
  .github/workflows/rerun.js
Due: normalize-chars, conftest

Handle OpenAI tool models in tracing parser
  mlflow/openai/utils/chat_schema.py
  tests/tracing/utils/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Inline `cross-version-test-runner` and `rerun-workflow-run` via `gh` CLI (#23388)
  .github/workflows/cross-version-test-runner.js
  .github/workflows/cross-version-test-runner.yml
  .github/workflows/rerun-workflow-run.yml
  .github/workflows/rerun.js
Due: normalize-chars, conftest

Fetch base branch in /review so pr-review skill can use it
  .claude/skills/pr-review/SKILL.md
  .github/workflows/review.yml
Due: normalize-chars, blacken-docs, clint, typos, conftest

Use HEAD^1 instead of fetching origin/master
  .claude/skills/pr-review/SKILL.md
  .github/workflows/review.yml
Due: normalize-chars, blacken-docs, clint, typos, conftest

Deepen `/review` checkout so `pr-review` skill can read pre-change content (#23390)
  .claude/skills/pr-review/SKILL.md
  .github/workflows/review.yml
Due: normalize-chars, blacken-docs, clint, typos, conftest

Fix unused ToolManager import in fallback path
  mlflow/pydantic_ai/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Assert on raw command string for shell-escaping regression guard
  tests/projects/test_entry_point.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Trim redundant sections from `pr-review` skill
  .claude/skills/pr-review/SKILL.md
Due: normalize-chars, blacken-docs, clint, typos

Reinstate write-API guardrail in `pr-review` Step 6
  .claude/skills/pr-review/SKILL.md
Due: normalize-chars, blacken-docs, clint, typos

Trim redundant sections from `pr-review` skill (#23391)
  .claude/skills/pr-review/SKILL.md
Due: normalize-chars, blacken-docs, clint, typos

Address Copilot review feedback
  mlflow/pydantic_ai/__init__.py
  mlflow/pydantic_ai/autolog.py
  mlflow/tracing/provider.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

update
  mlflow/genai/agent_tester.py
  uv.lock
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address proxy endpoint review comments
  mlflow/gateway/providers/base.py
  mlflow/gateway/providers/utils.py
  mlflow/server/gateway_api.py
  tests/gateway/providers/test_openai.py
  tests/gateway/providers/test_openai_compatible.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Note auto-merge behavior in uv.lock update PR body
  .github/workflows/uv.yml
Due: normalize-chars, conftest

Re-enable auto-merge on update-existing-PR path
  .github/workflows/uv.yml
Due: normalize-chars, conftest

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
