Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true

Drop support for TF 2.6.5 (#12240)
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: ruff, format, custom-python-lint

Fix `_get_trace_info_from_dir` to return None if info file is missing (#12241)
  mlflow/store/tracking/file_store.py
Due: ruff, format, custom-python-lint

Check name
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint

Revert "Follow-up of databricks sdk migration (#12211)"
  .github/workflows/deployments.yml
  dev/pyproject.py
  mlflow/utils/rest_utils.py
  pyproject.toml
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
  requirements/skinny-test-requirements.txt
  requirements/test-requirements.txt
Due: ruff, format, taplo, custom-python-lint

move to langchain namespace
  mlflow/langchain/output_parsers.py
  mlflow/models/output_parsers.py
  requirements/extra-ml-requirements.txt
  tests/langchain/test_langchain_output_parsers.py
Due: ruff, format, custom-python-lint

[MLflow] Provide the exact reason of the error along with the stack trace
  mlflow/models/utils.py
Due: ruff, format, custom-python-lint

Revert "Migrate Mlflow API request to databricks sdk authentication way and support OAuth (#12011)"
  .github/workflows/deployments.yml
  mlflow/legacy_databricks_cli/configure/provider.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/rest_utils.py
  pyproject.skinny.toml
  pyproject.toml
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
  requirements/skinny-requirements.txt
  requirements/skinny-requirements.yaml
  requirements/skinny-test-requirements.txt
  tests/deployments/databricks/test_databricks.py
  tests/projects/test_databricks.py
  tests/projects/test_projects.py
  tests/store/_unity_catalog/conftest.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/artifact/test_presigned_url_artifact_repo.py
  tests/store/artifact/test_unity_catalog_models_artifact_repo.py
  tests/store/lineage/test_downstream_lineage.py
  tests/tracking/_tracking_service/test_utils.py
  tests/utils/test_databricks_utils.py
Due: ruff, format, taplo, custom-python-lint

init
  mlflow/models/model.py
Due: ruff, format, custom-python-lint

[MLflow] Provide the exact reason of the error along with the stack trace (#12238)
  mlflow/models/utils.py
Due: ruff, format, custom-python-lint

Expose Langchain output parsers (#12237)
  mlflow/langchain/output_parsers.py
  tests/langchain/test_langchain_output_parsers.py
Due: ruff, format, custom-python-lint

Use `langchain-huggingface` for `HuggingFacePipeline` (#12239)
  mlflow/ml-package-versions.yml
  tests/langchain/test_langchain_model_export.py
Due: ruff, format, custom-python-lint

Add tests/langchain/test_output_parsers.py to ml-package-versions.yml
  mlflow/ml-package-versions.yml
Due: none

typo
  mlflow/ml-package-versions.yml
Due: none

Ignore databricks_rag_studio in package mismatch (#12231)
  mlflow/utils/requirements_utils.py
  tests/utils/test_requirements_utils.py
Due: ruff, format, custom-python-lint

move utils.py
  mlflow/tracing/utils/__init__.py
Due: ruff, format, custom-python-lint

split utils
  mlflow/tracing/fluent.py
  mlflow/tracing/utils/__init__.py
  mlflow/tracing/utils/search.py
Due: ruff, format, custom-python-lint

start
  mlflow/langchain/utils.py
Due: ruff, format, custom-python-lint

Use &&
  .github/workflows/advice.js
Due: none

Fix imports
  mlflow/tracing/fluent.py
Due: ruff, format, custom-python-lint

address comments
  dev/pyproject.py
Due: ruff, format, custom-python-lint

Fix `advice.js` again (#12251)
  .github/workflows/advice.js
Due: none

Retry docker image build
  tests/sagemaker/test_cli.py
Due: ruff, format, custom-python-lint

fix
  mlflow/models/model.py
  tests/models/test_model.py
Due: ruff, format, custom-python-lint

Batch store unique metrics
  mlflow/go/pkg/server/validation.go
  mlflow/go/pkg/server/validation_test.go
  mlflow/go/pkg/store/sql/model/metrics.go
  mlflow/go/pkg/store/sql/store.go
  mlflow/go/tools/generate/validations.go
Due: none

[ML-36509]Make dev/dev-env-setup.sh easy to resume
  dev/dev-env-setup.sh
Due: none

Retry docker image build (#12249)
  tests/sagemaker/test_cli.py
Due: ruff, format, custom-python-lint

refactor
  dev/dev-env-setup.sh
Due: none

amend
  dev/dev-env-setup.sh
Due: none

update
  mlflow/models/model.py
Due: ruff, format, custom-python-lint

address comment
  tests/models/test_model.py
Due: ruff, format, custom-python-lint

Revert databricks sdk code (#12244)
  mlflow/legacy_databricks_cli/configure/provider.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/rest_utils.py
  pyproject.skinny.toml
  pyproject.toml
  requirements/skinny-requirements.txt
  requirements/skinny-requirements.yaml
  requirements/test-requirements.txt
  tests/deployments/databricks/test_databricks.py
  tests/projects/test_databricks.py
  tests/projects/test_projects.py
  tests/store/_unity_catalog/conftest.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/artifact/test_presigned_url_artifact_repo.py
  tests/store/artifact/test_unity_catalog_models_artifact_repo.py
  tests/store/lineage/test_downstream_lineage.py
  tests/tracking/_tracking_service/test_utils.py
  tests/utils/test_databricks_utils.py
Due: ruff, format, taplo, custom-python-lint
