Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

format
  libs/skinny/pyproject.toml
  pyproject.release.toml
  pyproject.toml
  uv.lock
Due: normalize-chars, taplo, uv-lock

Implement telemetry tracking for gateway invocations and CRUD operations (#19930)
  docs/docs/community/usage-tracking.mdx
  mlflow/server/gateway_api.py
  mlflow/store/tracking/gateway/sqlalchemy_mixin.py
  mlflow/telemetry/events.py
  mlflow/telemetry/track.py
  tests/telemetry/test_events.py
  tests/telemetry/test_tracked_events.py
  tests/tracing/test_otel_logging.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

revert agno and crewai
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: normalize-chars, ruff, format, clint, mlver, typos, check-init-py

[Workspace] Add workspace-aware auth backend and client coverage (#19571)
  .github/workflows/master.yml
  docs/api_reference/api_inventory.txt
  mlflow/server/auth/__init__.py
  mlflow/server/auth/basic_auth.ini
  mlflow/server/auth/client.py
  mlflow/server/auth/config.py
  mlflow/server/auth/db/migrations/versions/2ed73881770d_workspace_permissions.py
  mlflow/server/auth/db/models.py
  mlflow/server/auth/db/utils.py
  mlflow/server/auth/entities.py
  mlflow/server/auth/routes.py
  mlflow/server/auth/sqlalchemy_store.py
  mlflow/server/handlers.py
  mlflow/store/db_migrations/versions/1b5f0d9ad7c1_add_workspace_columns_and_catalog.py
  mlflow/store/db_migrations/versions/1bd49d398cd23_add_secrets_tables.py
  mlflow/store/workspace/utils.py
  tests/db/compose.yml
  tests/db/test_workspace_migration.py
  tests/server/auth/db/test_cli.py
  tests/server/auth/test_auth.py
  tests/server/auth/test_auth_workspace.py
  tests/server/auth/test_client.py
  tests/server/auth/test_client_workspace.py
  tests/server/auth/test_sqlalchemy_store.py
  tests/server/auth/test_sqlalchemy_store_workspace.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

Repro Windows trace test failure
  .github/workflows/master.yml
  tests/tracing/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

Enhance LiteLLMConfig validation and normalize Databricks base URL (#20008)
  mlflow/gateway/config.py
  mlflow/gateway/utils.py
  tests/server/test_gateway_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Enable WAL mode for SQLite to fix concurrent access issues on Windows
  mlflow/store/db/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add group by state
  mlflow/server/js/src/experiment-tracking/components/evaluations/RunViewEvaluationsTab.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAITracesTableBodyContainer.intg.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAITracesTableBodyContainer.tsx
Due: none

move button
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAITracesTableToolbar.tsx
Due: none

fix
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAITracesTableToolbar.tsx
Due: none

placeholder button
  mlflow/server/js/src/experiment-tracking/components/evaluations/RunViewEvaluationsTab.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3Logs.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/GenAITracesTableToolbar.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/FeatureUtils.ts
Due: none

Move DevTools section from PR description to separate comment (#20012)
  .github/workflows/advice.js
Due: normalize-chars

Add env var for WAL mode and second Windows job for comparison
  .github/workflows/master.yml
  mlflow/store/db/utils.py
  tests/tracing/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, conftest, check-init-py

Use mlflow exception and enforce dir non-existence
  mlflow/tracking/_model_registry/fluent.py
  mlflow/utils/env_pack.py
  tests/utils/test_env_pack.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add EditableEndpointName component for editing endpoint names
  mlflow/server/js/src/gateway/components/edit-endpoint/EditEndpointFormRenderer.tsx
  mlflow/server/js/src/gateway/components/edit-endpoint/EditableEndpointName.tsx
  mlflow/server/js/src/gateway/hooks/useEditEndpointForm.ts
  mlflow/server/js/src/gateway/pages/EndpointPage.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

fix
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: normalize-chars, ruff, format, clint, mlver, typos, check-init-py

update
  mlflow/tracking/fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix test
  tests/tracking/fluent/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix lints Signed-off-by: Justin Wei <justin.wei@databricks.com>
  mlflow/tracking/_model_registry/fluent.py
  mlflow/utils/env_pack.py
  tests/utils/test_env_pack.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add pre-commit hook for JS formatting
  .pre-commit-config.yaml
  dev/js.sh
Due: normalize-chars

Parallelize yarn install with uv sync in lint workflow
  .github/workflows/lint.yml
Due: normalize-chars, conftest

Move --ignore-unknown to package.json
  dev/js.sh
  mlflow/server/js/package.json
Due: normalize-chars

Use yarn install --immutable to align with js.yml
  .github/workflows/lint.yml
  dev/js.sh
Due: normalize-chars, conftest

Simplify Install dependencies step in lint.yml
  .github/workflows/lint.yml
Due: normalize-chars, conftest

add time unit selection
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/ExperimentGenAIOverviewPage.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/ExperimentGenAIOverviewPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/components/TimeUnitSelector.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/hooks/useTraceMetricsQuery.test.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/hooks/useTraceMetricsQuery.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/utils/timeUtils.test.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-overview/utils/timeUtils.ts
  mlflow/server/js/src/lang/default/en.json
Due: none

uv lock
  uv.lock
Due: normalize-chars

CC Token usage
  mlflow/claude_code/tracing.py
  tests/claude_code/test_tracing.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix flaky TypeScript SDK integration tests
  libs/typescript/jest.global-server-setup.ts
Due: normalize-chars

Update pyproject files when ml-package-versions.yml changes
  dev/update_ml_package_versions.py
Due: normalize-chars, ruff, format, clint, typos

Add `import_checkpoints` API for databricks SGC Checkpointing with MLflow (#19839)
  docs/api_reference/api_inventory.txt
  mlflow/__init__.py
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Run integration tests 10 times to verify fix
  .github/workflows/typescript.yml
Due: normalize-chars, conftest

Update .github/workflows/typescript.yml
  .github/workflows/typescript.yml
Due: normalize-chars, conftest

Doc
  docs/docs/genai/tracing/integrations/listing/claude_code.mdx
Due: normalize-chars, blacken-docs, clint, typos

address comments
  mlflow/pytorch/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update libs/typescript/jest.global-server-setup.ts
  libs/typescript/jest.global-server-setup.ts
Due: normalize-chars

refine message
  mlflow/pytorch/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

init
  mlflow/telemetry/events.py
  mlflow/tracing/distributed/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix flaky TypeScript SDK integration tests (#20019)
  libs/typescript/jest.global-server-setup.ts
Due: normalize-chars

init
  docs/api_reference/source/python_api/mlflow.tracing.distributed.rst
  docs/docs/genai/tracing/index.mdx
  docs/src/api_modules.json
Due: normalize-chars, blacken-docs, clint, typos

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
