Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 3461c1605775db845537a50ed8dc9a0b1cf51870
  dev/benchmarks/tracing/data.js
Due: normalize-chars

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 63eb1a1df7b834add6c163bc94ab64fbd5fffa97
  dev/benchmarks/tracing/data.js
Due: normalize-chars

fix(skill-registry): resolve latest version atomically
  mlflow/store/tracking/skill_registry/lifecycle_mixin.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry_lifecycle.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(skill-registry): address lifecycle review feedback
  mlflow/store/tracking/skill_registry/abstract_mixin.py
  mlflow/store/tracking/skill_registry/lifecycle_mixin.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry_lifecycle.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

test(skill-registry): cover lifecycle concurrency
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry_lifecycle.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(skill-registry): normalize deleted version errors
  mlflow/store/tracking/skill_registry/lifecycle_mixin.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry_lifecycle.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(skill-registry): handle deleted version updates consistently
  mlflow/store/tracking/skill_registry/lifecycle_mixin.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry_lifecycle.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat(skill-registry): implement skill lifecycle and aliases
  mlflow/entities/skill.py
  mlflow/store/tracking/skill_registry/abstract_mixin.py
  mlflow/store/tracking/skill_registry/lifecycle_mixin.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry_lifecycle.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(skill-registry): guard final latest version lookup
  mlflow/store/tracking/skill_registry/lifecycle_mixin.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry_lifecycle.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor(skill-registry): address lifecycle review feedback
  mlflow/store/model_registry/file_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/store/tracking/skill_registry/lifecycle_mixin.py
  mlflow/store/tracking/skill_registry/sqlalchemy_mixin.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracking/client.py
  mlflow/utils/validation.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry_lifecycle.py
  tests/utils/test_validation.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

test(skill-registry): assert latest query mock
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry_lifecycle.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Propagate trace context in `mistral` and `groq` autologging (#26177)
  mlflow/groq/_groq_autolog.py
  mlflow/mistral/autolog.py
  mlflow/utils/autologging_utils/safety.py
  tests/groq/test_groq_autolog.py
  tests/mistral/test_mistral_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

`calculate_trace_filter_correlation` binds integer experiment IDs (#26179)
  mlflow/store/tracking/sqlalchemy_store.py
  tests/db/test_workspace_tracking_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 9f4e36a5b1e9a7af55cb8f5182815dff0e47db8a
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Fix numeric attribute parsing in `SearchUtils` (#26180)
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/utils/search_utils.py
  tests/db/test_workspace_tracking_store.py
  tests/utils/test_search_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 0979a151481f4684c8eab5ab3748a26a7dc83301
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Preserve DataFrame indexes during pyfunc schema enforcement (#26181)
  mlflow/models/utils.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 35427315e0db5b2b3a48f1cea78fa457494d3b63
  dev/benchmarks/tracing/data.js
Due: normalize-chars

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for f1ec2021589730642dffb2c5e481078428b419b9
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Relax SageMaker ARN matching and preserve explicit span costs
  mlflow/tracing/utils/__init__.py
  mlflow/utils/uri.py
  tests/tracing/utils/test_utils.py
  tests/utils/test_uri.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add TypeSafe judge UI safeguards and docs
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/supported-models.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/typesafe.mdx
  docs/docs/genai/governance/ai-gateway/endpoints/model-providers.mdx
  docs/docs/genai/governance/ai-gateway/endpoints/query-endpoints.mdx
  docs/sidebarsGenAI.ts
  examples/README.md
  examples/typesafe_judges/README.md
  examples/typesafe_judges/evaluate.py
  mlflow/server/js/src/experiment-tracking/components/EndpointSelector.test.tsx
  mlflow/server/js/src/experiment-tracking/components/EndpointSelector.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/RunEvaluationButton.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/ModelSectionRenderer.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-scorers/hooks/useRunScorerInTracesViewConfiguration.tsx
  mlflow/server/js/src/experiment-tracking/pages/playground/components/PlaygroundTopBar.tsx
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.test.tsx
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
  mlflow/server/js/src/gateway/components/guardrails/GuardrailDetailModal.tsx
  mlflow/server/js/src/gateway/utils/gatewayUtils.ts
  tests/examples/test_examples.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Clarify trace cost path and stabilize translation test
  mlflow/tracing/utils/__init__.py
  tests/tracing/otel/test_span_translation.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Preserve explicit null span costs during client-side pricing
  mlflow/tracing/utils/__init__.py
  tests/tracing/utils/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(skill-registry): enforce version deletion transitions
  mlflow/store/tracking/skill_registry/sqlalchemy_mixin.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry_lifecycle.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Assert null cost attribute remains present after span end
  tests/tracing/utils/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address Skill Registry API review feedback
  mlflow/server/js/src/common/utils/FetchUtils.ts
  mlflow/server/js/src/common/utils/SearchUtils.test.ts
  mlflow/server/js/src/common/utils/SearchUtils.ts
  mlflow/server/js/src/mcp-registry/api.ts
  mlflow/server/js/src/skill-registry/api.test.ts
  mlflow/server/js/src/skill-registry/api.ts
  mlflow/server/js/src/skill-registry/types.test.ts
  mlflow/server/js/src/skill-registry/types.ts
Due: none

Use __getattr__ hook instead of method for Span.get hint
  mlflow/entities/span.py
  tests/entities/test_span.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add GenAI experiment shell and settings page
  mlflow/server/js/scripts/componentId-registry.js
  mlflow/server/js/src/MlflowRouter.tsx
  mlflow/server/js/src/common/utils/RoutingUtils.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewHeader.utils.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewHeaderKindSelector.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewHeaderKindSelector.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useExperimentManagementActions.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useGetExperimentPageActiveTabByRoute.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useGetExperimentPageActiveTabByRoute.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useInferExperimentKind.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useInferExperimentKind.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/getExperimentEntityFromQuery.ts
  mlflow/server/js/src/experiment-tracking/constants.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets-v2/ExperimentEvaluationDatasetDetailPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets-v2/components/DatasetDetailPageContent.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets-v2/components/DatasetsListPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/ExperimentPageBreadcrumbs.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/ExperimentPageBreadcrumbs.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/ExperimentPageMainContent.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/ExperimentPageMainContent.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/ExperimentPageRevampContext.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/ExperimentPageTabs.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/ExperimentPageTabs.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-settings/ExperimentSettingsDetails.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-settings/ExperimentSettingsManagementActions.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-settings/ExperimentSettingsNameInput.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-settings/ExperimentSettingsNameInput.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-settings/ExperimentSettingsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-settings/ExperimentSettingsRow.tsx
  mlflow/server/js/src/experiment-tracking/route-defs.ts
  mlflow/server/js/src/experiment-tracking/routes.ts
  mlflow/server/js/src/experiment-tracking/utils/ExperimentKindUtils.ts
  mlflow/server/js/src/lang/default/en.json
Due: none

Compute LLM trace costs client-side for SageMaker tracking (#26178)
  mlflow/tracing/utils/__init__.py
  mlflow/utils/uri.py
  tests/tracing/otel/test_span_translation.py
  tests/tracing/utils/test_utils.py
  tests/utils/test_uri.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 8647a853ab8a1542f8d7228b8095b901bdbf6bf1
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Add TypeSafe tracing docs to sidebar
  docs/docs/genai/tracing/integrations/listing/typesafe.mdx
  docs/sidebarsGenAI.ts
Due: normalize-chars, blacken-docs, clint, typos

Add TypeSafe SDK autologging support
  dev/pyproject.py
  docs/api_reference/api_inventory.txt
  docs/api_reference/source/python_api/mlflow.typesafe.rst
  docs/docs/genai/tracing/integrations/listing/typesafe.mdx
  docs/src/api_modules.json
  docs/src/components/TracingIntegrations/index.tsx
  docs/static/images/logos/typesafe-ai-logo.png
  libs/tracing/pyproject.toml
  mlflow/__init__.py
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
  mlflow/tracking/fluent.py
  mlflow/typesafe/__init__.py
  mlflow/typesafe/autolog.py
  requirements/extra-ml-requirements.txt
  tests/conftest.py
  tests/tracking/fluent/test_fluent_autolog.py
  tests/typesafe/__init__.py
  tests/typesafe/test_typesafe_autolog.py
Due: normalize-chars, ruff, format, blacken-docs, clint, taplo, mlver, typos, check-init-py

Support extra_args with s3 multipart upload
  mlflow/store/artifact/optimized_s3_artifact_repo.py
  mlflow/store/artifact/s3_artifact_repo.py
  tests/store/artifact/test_optimized_s3_artifact_repo.py
  tests/store/artifact/test_s3_artifact_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat(auth): Add the sub-resource grant model and requirement resolution
  mlflow/server/auth/__init__.py
  mlflow/server/auth/permissions.py
  mlflow/server/auth/sqlalchemy_store.py
  tests/server/auth/test_permissions.py
  tests/server/auth/test_requirement_model.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat(auth): Gate MCP server version creates
  mlflow/server/auth/__init__.py
  tests/server/auth/test_auth.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(auth): Rebuild the read predicate on the shared requirement model
  mlflow/server/auth/__init__.py
  tests/server/auth/test_auth_workspace.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat(auth): Gate scorer, model version and v3 trace creates
  mlflow/server/auth/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor(auth): Drop the existence check from the bulk shape
  mlflow/server/auth/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(auth): Honour the queue tier on the review-queue list filter
  mlflow/server/auth/__init__.py
  tests/server/auth/test_auth_workspace.py
  tests/server/auth/test_review_queue_auth.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(auth): Consult the child tier on bulk routes
  mlflow/server/auth/__init__.py
  tests/server/auth/test_auth_workspace.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
