Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/|charts/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        stages: [commit]
        log_file: .black.log

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [python, rst, markdown]
        stages: [commit]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=pylintrc"]
        stages: [commit]

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]

remove clean up lightgbm repo
  mlflow/ml-package-versions.yml
Due: none

Avoid mutation
  mlflow/gateway/app.py
Due: black, blacken-docs, pylint

Refactorr gateway app
  mlflow/gateway/app.py
  mlflow/gateway/runner.py
  tests/gateway/test_gateway_app.py
Due: black, blacken-docs, pylint

Use dict
  mlflow/gateway/app.py
Due: black, blacken-docs, pylint

Remove docstring
  mlflow/gateway/app.py
Due: black, blacken-docs, pylint

Add test
  tests/gateway/test_gateway_app.py
Due: black, blacken-docs, pylint

Use assignment expression
  mlflow/gateway/app.py
Due: black, blacken-docs, pylint

Pin pandas
  mlflow/ml-package-versions.yml
Due: none

replace data in test_gluon_model_export (#8771)
  tests/gluon/test_gluon_model_export.py
Due: black, blacken-docs, pylint

Split test
  mlflow/gateway/app.py
  mlflow/gateway/runner.py
  tests/gateway/test_gateway_app.py
Due: black, blacken-docs, pylint

Rename to GatewayAPI
  mlflow/gateway/app.py
Due: black, blacken-docs, pylint

Fix mock.patch.dict
  tests/utils/test_databricks_utils.py
  tests/utils/test_rest_utils.py
Due: black, blacken-docs, pylint

Pin pandas (#8749)
  mlflow/ml-package-versions.yml
Due: none

Fix mock.patch.dict (#8775)
  tests/utils/test_databricks_utils.py
  tests/utils/test_rest_utils.py
Due: black, blacken-docs, pylint

Refactor gateway app (#8773)
  mlflow/gateway/app.py
  tests/gateway/test_gateway_app.py
Due: black, blacken-docs, pylint

Remove report_free_disk_space in transformers test (#8723)
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

Adds information on the OCI MLflow plugins for seamless integration with Oralce Cloud Infrastructure services. (#8707)
  docs/source/plugins.rst
Due: blacken-docs

Support app factory for mlflow server app (#8691)
  mlflow/server/__init__.py
  mlflow/server/auth/__init__.py
  setup.py
  tests/server/auth/test_auth.py
  tests/server/auth/test_client.py
  tests/server/test_init.py
  tests/tracking/integration_test_utils.py
Due: black, blacken-docs, pylint

Use torch's AdamW (#8730)
  examples/pytorch/BertNewsClassification/bert_classification.py
Due: black, blacken-docs, pylint

Replace tmpdir with tmp_path (#8718)
  tests/utils/test_environment.py
Due: black, blacken-docs, pylint

Fix shell command in lint job (#8721)
  .github/workflows/master.yml
Due: none

Detect untracked files (#8717)
  .github/actions/untracked/action.yml
  .github/workflows/cross-version-tests.yml
  .github/workflows/master.yml
  .github/workflows/recipe.yml
  tests/artifacts/test_artifacts.py
  tests/recipes/test_ingest_step.py
  tests/resources/mlflow-test-plugin/mlflow_test_plugin/dummy_evaluator.py
  tests/tracking/_tracking_service/test_tracking_service_client.py
  tests/utils/test_file_utils.py
Due: black, blacken-docs, pylint

Skip free-disk-space if not transformers (#8720)
  .github/workflows/cross-version-tests.yml
Due: none

Run python3 dev/update_mlflow_versions.py post-release... (#8702)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
Due: black, blacken-docs, pylint

Replace tmpdir with tmp_path 5 (#8715)
  tests/store/artifact/test_mlflow_artifact_repo.py
Due: black, blacken-docs, pylint

Replace tmpdir with tmp_path (#8716)
  tests/utils/test_file_utils.py
Due: black, blacken-docs, pylint

Support reading MLflow credentials from file (`~/.mlflow/credentials`) (#8688)
  mlflow/environment_variables.py
  mlflow/tracking/_tracking_service/utils.py
  mlflow/tracking/context/default_context.py
  mlflow/utils/credentials.py
  tests/utils/test_credentials.py
Due: black, blacken-docs, pylint

Disallow useless assignment before return (#8719)
  mlflow/sagemaker/__init__.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  pylint_plugins/__init__.py
  pylint_plugins/assign_checker.py
  pylint_plugins/errors.py
  tests/paddle/test_paddle_model_export.py
  tests/pytorch/test_pytorch_model_export.py
  tests/sagemaker/mock/__init__.py
  tests/tracking/test_rest_tracking.py
Due: black, blacken-docs, pylint

add micro version to mlflow version pinning (#8687)
  conftest.py
  mlflow/environment_variables.py
  mlflow/utils/environment.py
  tests/helper_functions.py
Due: black, blacken-docs, pylint

Examples + docs for LLMs & evaluation (#8695)
  docs/source/_static/images/artifact-view-ui.png
  docs/source/models.rst
  examples/llms/README.md
  examples/llms/question_answering/MLproject
  examples/llms/question_answering/python_env.yaml
  examples/llms/question_answering/question_answering.py
  examples/llms/summarization/MLproject
  examples/llms/summarization/python_env.yaml
  examples/llms/summarization/summarization.py
  examples/llms/summarization/summarization_example_data.csv
Due: black, blacken-docs, pylint

Implement Search Datasets API in Tracking Store (#8739)
  mlflow/entities/__init__.py
  mlflow/entities/dataset_summary.py
  mlflow/server/__init__.py
  mlflow/server/handlers.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracking/test_rest_tracking.py
Due: black, blacken-docs, pylint

Fix (#8742)
  docs/source/models.rst
Due: blacken-docs

Replace tmpdir with tmp_path (#8731)
  tests/deployments/test_cli.py
  tests/projects/test_databricks.py
  tests/projects/test_project_spec.py
  tests/projects/test_projects.py
  tests/projects/test_projects_cli.py
  tests/projects/test_utils.py
Due: black, blacken-docs, pylint

Include event name in group (#8748)
  .github/workflows/cross-version-tests.yml
  .github/workflows/dev-setup.yml
  .github/workflows/devcontainer.yml
  .github/workflows/examples.yml
  .github/workflows/js.yml
  .github/workflows/master.yml
  .github/workflows/protos.yml
  .github/workflows/r.yml
  .github/workflows/recipe-template.yml
  .github/workflows/recipe.yml
  .github/workflows/release-note-category.yml
  .github/workflows/requirements.yml
  .github/workflows/test-package-build.yml
Due: none

Fix reading model flavor config from URI for models in UC (#8728)
  mlflow/utils/model_utils.py
  tests/spark/test_spark_model_export.py
  tests/store/artifact/constants.py
  tests/store/artifact/test_models_artifact_repo.py
Due: black, blacken-docs, pylint

Remove _route_configs_to_routes (#8755)
  mlflow/gateway/app.py
  mlflow/gateway/config.py
  tests/gateway/test_gateway_config_parsing.py
Due: black, blacken-docs, pylint
