Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

move pycache removal downwards since pycache will be created by stuff above
  mlflow/models/model.py
Due: ruff, format, custom-python-lint

fix: minor fixes
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/experimentPage.group-row-utils.ts
Due: none

Pydantic version check + Error Handling + Test update
  mlflow/langchain/langchain_tracer.py
  tests/langchain/test_langchain_tracer.py
Due: ruff, format, custom-python-lint

fix: eslint
  mlflow/server/js/.eslintrc.js
  mlflow/server/js/package.json
  mlflow/server/js/src/emotion.d.ts
  mlflow/server/js/yarn.lock
Due: none

fix: class component to functional component
  mlflow/server/js/src/common/components/Spinner.tsx
  mlflow/server/js/src/experiment-tracking/components/HtmlTableView.tsx
  mlflow/server/js/src/experiment-tracking/components/ParallelCoordinatesPlotControls.tsx
  mlflow/server/js/src/experiment-tracking/components/RunNotFoundView.tsx
  mlflow/server/js/src/model-registry/components/CreateModelButton.tsx
Due: none

fix: react18 warning (#14858)
  mlflow/server/js/package.json
  mlflow/server/js/src/index.tsx
  mlflow/server/js/yarn.lock
Due: none

fix: missing `attributes.` in `searchRunsByUser`
  mlflow/server/js/src/experiment-tracking/routes.ts
Due: none

test: fix a test case
  mlflow/server/js/src/experiment-tracking/routes.test.tsx
Due: none

fix: ESLint warning fix (#14965)
  mlflow/server/js/.eslintrc.js
  mlflow/server/js/package.json
  mlflow/server/js/src/emotion.d.ts
  mlflow/server/js/yarn.lock
Due: none

fix: show the metric diff highlight in compare experiment view (#15005)
  mlflow/server/js/src/experiment-tracking/components/CompareRunView.tsx
Due: none

fix: missing `attributes.` in `searchRunsByUser` (#15014)
  mlflow/server/js/src/experiment-tracking/routes.test.tsx
  mlflow/server/js/src/experiment-tracking/routes.ts
Due: none

address review comments
  mlflow/dspy/autolog.py
  mlflow/dspy/test_util.py
  mlflow/dspy/util.py
  tests/dspy/test_dspy_autolog.py
  tests/dspy/test_dspy_util.py
Due: ruff, format, custom-python-lint

fix: sorting order for grouping in run view (#15025)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/runs/ExperimentViewRuns.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/experimentPage.group-row-utils.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/experimentPage.row-utils.ts
Due: none

[server] Sort parameters and metrics in RunView*
  mlflow/server/js/src/experiment-tracking/components/DetailsOverviewParamsTable.test.tsx
  mlflow/server/js/src/experiment-tracking/components/DetailsOverviewParamsTable.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/overview/RunViewMetricsTable.test.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/overview/RunViewMetricsTable.tsx
Due: none

[test] use toHaveTextContent for asserting sorted keys
  mlflow/server/js/src/experiment-tracking/components/DetailsOverviewParamsTable.test.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/overview/RunViewMetricsTable.test.tsx
Due: none

fix tests
  mlflow/dspy/autolog.py
  mlflow/dspy/callback.py
  mlflow/dspy/util.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

[dspy] Link traces to logged model (#14993)
  mlflow/dspy/autolog.py
  mlflow/dspy/callback.py
  mlflow/dspy/load.py
  mlflow/dspy/save.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

Improve test coverage
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

Ban more special characters in logged model name validation
  mlflow/utils/validation.py
  tests/store/tracking/test_file_store_logged_model.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

Remove incorrect comment
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

add prefix
  mlflow/dspy/util.py
  tests/dspy/test_dspy_autolog.py
  tests/dspy/test_dspy_util.py
Due: ruff, format, custom-python-lint

lint
  tests/dspy/test_dspy_autolog.py
  tests/dspy/test_dspy_util.py
Due: ruff, format, custom-python-lint

Fix comments
  .github/workflows/advice.js
  dev/install-skinny.sh
Due: none

Use sh
  .github/workflows/advice.js
Due: none

Minor Fixes + Test Update
  examples/gateway/gemini/README.md
  mlflow/gateway/providers/gemini.py
  tests/gateway/providers/test_gemini.py
Due: ruff, format, blacken-docs, custom-python-lint

Log params and dataset for DSPy optimization (#15009)
  mlflow/dspy/autolog.py
  mlflow/dspy/callback.py
  mlflow/dspy/util.py
  tests/dspy/test_dspy_autolog.py
  tests/dspy/test_dspy_util.py
Due: ruff, format, custom-python-lint

Improve test coverage for log_model
  tests/pyfunc/test_logged_models.py
Due: ruff, format, custom-python-lint

refactor _MODEL_TRACKER
  mlflow/langchain/__init__.py
  mlflow/langchain/_langchain_autolog.py
  mlflow/langchain/langchain_tracer.py
  mlflow/models/model.py
  mlflow/openai/__init__.py
  mlflow/openai/_openai_autolog.py
Due: ruff, format, custom-python-lint

Improve test coverage for `log_model` (#15029)
  tests/pyfunc/test_logged_models.py
Due: ruff, format, custom-python-lint

Ban more special characters in logged model name validation (#15028)
  mlflow/utils/validation.py
  tests/store/tracking/test_file_store_logged_model.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

Minor Fixes
  examples/gateway/gemini/example.py
  mlflow/gateway/providers/gemini.py
Due: ruff, format, custom-python-lint

Even faster `mlflow-skinny` installation (#14982)
  .github/workflows/advice.js
  dev/install-skinny.sh
Due: none

Improve tests
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint
