Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true

wip
  mlflow/tracing/utils.py
Due: ruff, format, custom-python-lint

fixes
  tests/evaluate/logging/test_evaluation_logging.py
Due: ruff, format, custom-python-lint

fixes
  mlflow/evaluation/fluent.py
  tests/evaluate/logging/test_evaluation_logging.py
Due: ruff, format, custom-python-lint

Cast non-string tag/metadata values before sending to tracking server
  mlflow/store/tracking/rest_store.py
  tests/store/tracking/test_rest_store.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

test fix
  tests/evaluate/logging/test_evaluation_logging.py
Due: ruff, format, custom-python-lint

test
  mlflow/models/docker_utils.py
Due: ruff, format, custom-python-lint

fix
  mlflow/evaluation/fluent.py
  tests/evaluate/logging/test_evaluation_logging.py
Due: ruff, format, custom-python-lint

fix
  mlflow/transformers/llm_inference_utils.py
Due: ruff, format, custom-python-lint

Apply suggestions from code review
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

address comments
  mlflow/types/llm.py
  tests/pyfunc/test_chat_model_validation.py
Due: ruff, format, custom-python-lint

Fix `custom.js` to get doc versions from /docs/versions.json (#12198)
  docs/theme/mlflow/static/js/custom.js
Due: none

test
  tests/resources/dockerfile/Dockerfile_sagemaker_virtualenv
Due: none

Run python3 dev/update_mlflow_versions.py post-release...
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.skinny.toml
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

tests
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

Support 'trace.xxx' filter string in search_traces() API (#12193)
  mlflow/utils/search_utils.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, custom-python-lint

Tests for error
  mlflow/tracing/utils.py
  tests/tracing/test_utils.py
Due: ruff, format, custom-python-lint

fix tests
  tests/resources/dockerfile/Dockerfile_install_mlflow_virtualenv
  tests/resources/dockerfile/Dockerfile_java_flavor
  tests/resources/dockerfile/Dockerfile_no_model_uri
Due: none

add test
  tests/store/tracking/test_file_store.py
Due: ruff, format, custom-python-lint

remove
  docs/source/tracing.rst
Due: blacken-docs

Remove tracing
  docs/source/index.rst
Due: blacken-docs

add test
  mlflow/transformers/llm_inference_utils.py
  tests/transformers/test_transformers_llm_inference_utils.py
Due: ruff, format, custom-python-lint

format
  mlflow/environment_variables.py
  mlflow/legacy_databricks_cli/configure/provider.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/rest_utils.py
  pyproject.skinny.toml
  pyproject.toml
  requirements/core-requirements.yaml
  tests/projects/test_databricks.py
  tests/projects/test_projects.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/artifact/test_unity_catalog_models_artifact_repo.py
  tests/store/lineage/test_downstream_lineage.py
  tests/utils/test_databricks_utils.py
Due: ruff, format, taplo, custom-python-lint

Apply style present linters
  .golangci.yml
  mlflow/go/main.go
  mlflow/go/pkg/config/config.go
  mlflow/go/pkg/contract/error.go
  mlflow/go/pkg/query/lexer/token.go
  mlflow/go/pkg/query/lexer/tokenizer.go
  mlflow/go/pkg/query/lexer/tokenizer_test.go
  mlflow/go/pkg/query/parser/ast.go
  mlflow/go/pkg/query/parser/parser.go
  mlflow/go/pkg/query/parser/parser_test.go
  mlflow/go/pkg/query/parser/validate.go
  mlflow/go/pkg/query/parser/validate_test.go
  mlflow/go/pkg/query/query.go
  mlflow/go/pkg/server/command.go
  mlflow/go/pkg/server/command_posix.go
  mlflow/go/pkg/server/http_request_parser.go
  mlflow/go/pkg/server/launch.go
  mlflow/go/pkg/server/server.go
  mlflow/go/pkg/server/service.go
  mlflow/go/pkg/server/service_test.go
  mlflow/go/pkg/server/validation.go
  mlflow/go/pkg/server/validation_test.go
  mlflow/go/pkg/store/sql/model/experiments.go
  mlflow/go/pkg/store/sql/model/runs.go
  mlflow/go/pkg/store/sql/store.go
  mlflow/go/pkg/utils/pointers.go
  mlflow/go/tools/generate/discovery/discovery.go
  mlflow/go/tools/generate/discovery/discovery_test.go
  mlflow/go/tools/generate/main.go
  mlflow/server/__init__.py
Due: ruff, format, custom-python-lint

Enable test linters
  .golangci.yml
Due: none

fix tests
  tests/deployments/databricks/test_databricks.py
Due: ruff, format, custom-python-lint

wip
  docs/source/_static/images/llms/tracing/trace-concept.png
  docs/source/llms/tracing/index.rst
  docs/source/llms/tracing/overview.rst
Due: blacken-docs

wip
  docs/source/_static/images/llms/tracing/chat-completions-architecture.png
  docs/source/_static/images/llms/tracing/rag-architecture.png
  docs/source/_static/images/llms/tracing/span-anatomy.png
  docs/source/_static/images/llms/tracing/tracing-traditional-ml.png
  docs/source/llms/tracing/index.rst
Due: blacken-docs

Addressing comments
  mlflow/models/model.py
  tests/langchain/sample_code/config.yml
  tests/langchain/test_langchain_model_export.py
  tests/models/test_utils.py
Due: ruff, format, custom-python-lint

test
  mlflow/models/utils.py
Due: ruff, format, custom-python-lint

more wip
  docs/source/_static/images/llms/tracing/external-function.png
  docs/source/_static/images/llms/tracing/trace-demo-1.png
  docs/source/_static/images/llms/tracing/trace-error.png
  docs/source/_static/images/llms/tracing/trace-view.png
  docs/source/llms/tracing/index.rst
  docs/source/llms/tracing/overview.rst
Due: blacken-docs

[MLflow] Flatten the model_config with / sep before logging as params to MLflow (#12190)
  mlflow/models/model.py
  mlflow/models/utils.py
  tests/langchain/sample_code/config.yml
  tests/langchain/test_langchain_model_export.py
  tests/models/test_utils.py
Due: ruff, format, custom-python-lint

Migrate Mlflow API request to databricks sdk authentication way and support OAuth (#12011)
  .github/workflows/deployments.yml
  mlflow/environment_variables.py
  mlflow/legacy_databricks_cli/configure/provider.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/rest_utils.py
  pyproject.skinny.toml
  pyproject.toml
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
  requirements/skinny-requirements.txt
  requirements/skinny-requirements.yaml
  requirements/skinny-test-requirements.txt
  tests/deployments/databricks/test_databricks.py
  tests/projects/test_databricks.py
  tests/projects/test_projects.py
  tests/store/_unity_catalog/conftest.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/artifact/test_presigned_url_artifact_repo.py
  tests/store/artifact/test_unity_catalog_models_artifact_repo.py
  tests/store/lineage/test_downstream_lineage.py
  tests/tracking/_tracking_service/test_utils.py
  tests/utils/test_databricks_utils.py
Due: ruff, format, taplo, custom-python-lint

Fix functionality after testing agains HDFS cluster
  mlflow/store/artifact/hdfs_artifact_repo.py
  tests/store/artifact/test_hdfs_artifact_repo.py
Due: ruff, format, custom-python-lint

Add get_last_active_trace() API
  mlflow/__init__.py
  mlflow/tracing/fluent.py
  tests/entities/test_trace.py
  tests/entities/test_trace_data.py
  tests/langchain/test_langchain_autolog.py
  tests/langchain/test_langchain_tracer.py
  tests/tracing/helper.py
  tests/tracing/test_fluent.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

Support file store search_traces with tags (#12196)
  mlflow/store/tracking/file_store.py
  mlflow/utils/search_utils.py
  tests/store/tracking/test_file_store.py
Due: ruff, format, custom-python-lint
