Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

Migrate llms/sentence-transformers/index.mdx page
  docs/docs/llms/sentence-transformers/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/llms/sentence-transformers/index.rst
Due: blacken-docs

Update ml-package-versions.yml
  mlflow/ml-package-versions.yml
Due: mlver

Update ml_package_versions.py
  mlflow/ml_package_versions.py
Due: ruff, format, custom-python-lint, mlver

Add model_id to ModelVersion proto
  mlflow/protos/model_registry.proto
Due: none

update rest store
  mlflow/server/handlers.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/utils/_unity_catalog_utils.py
Due: ruff, format, custom-python-lint

Add heading id override in sentence-transformers/index.mdx
  docs/docs/llms/sentence-transformers/index.mdx
Due: none

Migrate docs/llms/sentence-transformers/guide/index.mdx page
  docs/docs/llms/sentence-transformers/guide/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/llms/sentence-transformers/guide/index.rst
Due: blacken-docs

Autoformat: https://github.com/mlflow/mlflow/actions/runs/12260764145
  mlflow/java/client/src/main/java/org/mlflow/api/proto/ModelRegistry.java
  mlflow/langchain/__init__.py
  mlflow/langchain/_langchain_autolog.py
  mlflow/langchain/langchain_tracer.py
  mlflow/openai/_openai_autolog.py
  mlflow/protos/model_registry_pb2.py
  mlflow/server/graphql/autogenerated_graphql_schema.py
  mlflow/server/js/src/graphql/autogenerated_schema.gql
  mlflow/utils/_unity_catalog_utils.py
Due: ruff, format, custom-python-lint

styles
  mlflow/server/js/public/lib/notebook-trace-renderer/css/700.5d125dec.chunk.css
  mlflow/server/js/public/lib/notebook-trace-renderer/index.html
  mlflow/server/js/public/lib/notebook-trace-renderer/js/18.6739a820.chunk.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/22.7f46bf37.chunk.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/26.a29c5db7.chunk.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/316.3a6f63a7.chunk.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/331.cbd80587.chunk.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/331.e51faec3.chunk.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/546.615651bd.chunk.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/669.f9edf07d.chunk.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/700.73ff45e0.chunk.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/78.930a22e2.chunk.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/ml-model-trace-renderer.1ee96f43.js
  mlflow/server/js/public/lib/notebook-trace-renderer/js/ml-model-trace-renderer.ffaad32f.js
  mlflow/tracing/display/display_handler.py
Due: ruff, format, custom-python-lint

update docstring
  mlflow/types/llm.py
Due: ruff, format, custom-python-lint

Fix eval test failure (#14036)
  tests/evaluate/test_evaluation.py
Due: ruff, format, custom-python-lint

update
  mlflow/types/llm.py
Due: ruff, format, custom-python-lint

address review comments
  docs/source/_static/images/llms/tracing/search-traces.png
  docs/source/llms/tracing/search-traces.rst
Due: blacken-docs

Support passing model alias for split_models_uri (#13989)
  mlflow/store/artifact/models_artifact_repo.py
  tests/store/artifact/test_models_artifact_repo.py
Due: ruff, format, custom-python-lint

Temporarily pin sklearn to <1.6 in test requirements (#14038)
  requirements/test-requirements.txt
Due: none

Fix request/response field in the search_traces output (#13985)
  mlflow/entities/trace.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

Add an method for search spans within a trace (#13984)
  docs/source/conf.py
  docs/source/llms/tracing/index.rst
  mlflow/entities/trace.py
  mlflow/gateway/providers/openai.py
  tests/entities/test_trace.py
  tests/metrics/genai/test_model_utils.py
Due: ruff, format, blacken-docs, custom-python-lint

Optimize tracing enablement logic for evaluation (#13987)
  mlflow/models/evaluation/utils/trace.py
  mlflow/utils/autologging_utils/__init__.py
  mlflow/utils/import_hooks/__init__.py
  tests/dspy/test_dspy_evaluate.py
  tests/langchain/test_langchain_evaluation.py
  tests/llama_index/test_llama_index_evaluate.py
  tests/openai/test_openai_evaluate.py
  tests/tracing/helper.py
Due: ruff, format, custom-python-lint

return empty array when DatabricksSDKModelsArtifactRepository.list_artifacts is called on a file (#14027)
  mlflow/store/artifact/databricks_sdk_models_artifact_repo.py
  tests/store/artifact/test_databricks_sdk_models_artifact_repo.py
Due: ruff, format, custom-python-lint

Make the source in Assessment optional & add CODE as a new AssessmentSourceType (#14029)
  mlflow/entities/assessment_source.py
  mlflow/evaluation/assessment.py
  tests/evaluate/logging/test_assessment.py
Due: ruff, format, custom-python-lint

Stringify param values in client.log_batch() (#14015)
  mlflow/tracking/client.py
  tests/tracking/test_tracking.py
Due: ruff, format, custom-python-lint

Fix ugly exception time marker in trace UI (#14005)
  mlflow/server/js/public/lib/ml-model-trace-renderer/css/475.b44de05a.chunk.css
  mlflow/server/js/public/lib/ml-model-trace-renderer/css/601.5d125dec.chunk.css
  mlflow/server/js/public/lib/ml-model-trace-renderer/index.html
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/18.6739a820.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/26.57bcebe9.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/331.3c8db993.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/331.7605d54a.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/451.808ad8ba.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/451.8920c570.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/458.60c38d5c.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/458.bf3108ff.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/475.b37a81a5.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/546.1c0dd102.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/601.3da3f497.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/669.f9edf07d.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/70.ba3fe3ed.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/790.a151915b.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/ml-model-trace-renderer.4a622ca5.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/ml-model-trace-renderer.7412f0e7.js
  mlflow/server/js/src/experiment-tracking/components/traces/TraceDataDrawer.tsx
Due: none

[tracing] Fix Tracing section (#14023)
  docs/source/index.rst
Due: blacken-docs

Add section for validating models in the Model page (#13988)
  docs/source/models.rst
Due: blacken-docs

Fix an reference error in a model doc (#14012)
  docs/source/models.rst
Due: blacken-docs

Fix PEFT-related transformers cross version issues (#14010)
  mlflow/ml-package-versions.yml
  tests/transformers/test_transformers_peft_model.py
Due: ruff, format, custom-python-lint, mlver

Improve example for validating model (#14009)
  docs/source/models.rst
Due: blacken-docs

Fix run ending behavior in context manager (#13998)
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, custom-python-lint

Update custom_inputs and custom_outputs docs to reflect that they are now map[str, Any] (#14007)
  mlflow/types/llm.py
Due: ruff, format, custom-python-lint

Mark tracing client APIs experimental (#14001)
  docs/source/llms/tracing/index.rst
  mlflow/tracing/fluent.py
  mlflow/tracking/client.py
Due: ruff, format, blacken-docs, custom-python-lint

Update example in tracing contribution guide (#14011)
  docs/source/llms/tracing/contribute.rst
Due: blacken-docs

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
