Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

Update docs/docs/getting-started/logging-first-model/notebooks/logging-first-model.ipynb
  docs/docs/getting-started/logging-first-model/notebooks/logging-first-model.ipynb
Due: ruff, format

ruff
  docs/docs/getting-started/logging-first-model/notebooks/logging-first-model.ipynb
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/logging-plots-in-mlflow.ipynb
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/parent-child-runs.ipynb
  docs/scripts/convert-notebooks.py
Due: ruff, format, custom-python-lint

Update docs/docs/llms/transformers/tutorials/fine-tuning/transformers-peft.ipynb
  docs/docs/llms/transformers/tutorials/fine-tuning/transformers-peft.ipynb
Due: ruff, format

fix
  mlflow/types/schema.py
  mlflow/types/utils.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
  tests/types/test_schema.py
Due: ruff, format, custom-python-lint

add log_trace option
  mlflow/tracking/fluent.py
  requirements/extra-ml-requirements.txt
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint

fix dependency
  requirements/extra-ml-requirements.txt
Due: none

Suppress "Failed to detach context" warning from Otel
  mlflow/langchain/_langchain_autolog.py
  mlflow/langchain/langchain_tracer.py
  mlflow/tracing/provider.py
  mlflow/tracing/utils/token.py
  tests/tracing/utils/test_token.py
Due: ruff, format, custom-python-lint

Refresh README.md (#13878)
  .github/workflows/cross-version-testing.md
  .pre-commit-config.yaml
  README.md
  README.rst
  README_SKINNY.md
  README_SKINNY.rst
  dev/README.md
  dev/build.py
  dev/pyproject.py
  examples/multistep_workflow/main.py
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
  requirements/lint-requirements.txt
Due: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck

Pin httpx for openai test
  mlflow/ml-package-versions.yml
Due: mlver

Fix type hint for _validate (#13906)
  mlflow/models/evaluation/validation.py
Due: ruff, format, custom-python-lint

fix data conversion
  mlflow/models/utils.py
  mlflow/pyfunc/model.py
Due: ruff, format, custom-python-lint

Pin httpx for openai test (#13915)
  mlflow/ml-package-versions.yml
Due: mlver

Only test every 10 version of OpenAI
  dev/set_matrix.py
  mlflow/ml-package-versions.yml
Due: ruff, format, custom-python-lint, mlver

fix test
  mlflow/tracing/utils/token.py
  tests/tracing/utils/test_token.py
Due: ruff, format, custom-python-lint

support uv as env manager in predict
  .github/workflows/master.yml
  conftest.py
  dev/pyproject.py
  mlflow/models/container/__init__.py
  mlflow/models/python_api.py
  mlflow/projects/backend/local.py
  mlflow/pyfunc/backend.py
  mlflow/utils/env_manager.py
  mlflow/utils/file_utils.py
  mlflow/utils/virtualenv.py
  pyproject.release.toml
  pyproject.skinny.toml
  pyproject.toml
  tests/models/test_python_api.py
Due: ruff, format, taplo, custom-python-lint

add info
  mlflow/models/python_api.py
Due: ruff, format, custom-python-lint

update
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, custom-python-lint

Pin httpx for openai test (#13918)
  mlflow/ml-package-versions.yml
Due: mlver

fix logic
  dev/set_matrix.py
Due: ruff, format, custom-python-lint

Fix `mlflow.end_run` inside a MLflow run context manager (#13888)
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, custom-python-lint

sort
  dev/set_matrix.py
Due: ruff, format, custom-python-lint

Make Card Link conditional to render non-clickable cards
  docs/src/components/Card/index.tsx
Due: none

Fix admonition in docs/traditional/ml/hyperparameter-tuning-with-child-runs/part2-logging-plots/index.mdx
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/part2-logging-plots/index.mdx
Due: none

Update traditional-ml sidebar_labels
  docs/docs/traditional-ml/creating-custom-pyfunc/notebooks/index.mdx
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/notebooks/index.mdx
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/part1-child-runs/index.mdx
  docs/docs/traditional-ml/hyperparameter-tuning-with-child-runs/part2-logging-plots/index.mdx
Due: none

typo fix in the complete to compile
  mlflow/tensorflow/callback.py
Due: ruff, format, custom-python-lint

fixed typo: ml.complete -> ml.compile
  mlflow/tensorflow/callback.py
Due: ruff, format, custom-python-lint

Fix slow infer type (#13912)
  mlflow/types/schema.py
  mlflow/types/utils.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
  tests/types/test_schema.py
Due: ruff, format, custom-python-lint

Pin https for anthropic
  mlflow/ml-package-versions.yml
Due: mlver

Fix specifier
  mlflow/ml-package-versions.yml
Due: mlver

fixed typo: ml.complete -> ml.compile {#13909} (#13922)
  mlflow/tensorflow/callback.py
Due: ruff, format, custom-python-lint
