Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

Add comment explaining atomic trace time range update
  mlflow/store/tracking/sqlalchemy_store.py
Due: ruff, format, clint, typos

Improve comments explaining trace creation and race condition handling
  mlflow/store/tracking/sqlalchemy_store.py
Due: ruff, format, clint, typos

Add TODO about setting trace status based on root span
  mlflow/store/tracking/sqlalchemy_store.py
Due: ruff, format, clint, typos

Move case import to top of file with other sqlalchemy imports
  mlflow/store/tracking/sqlalchemy_store.py
Due: ruff, format, clint, typos

Move all inline imports to top of test file
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, clint, typos

Add comment explaining MySQL LONGTEXT usage for span content
  mlflow/store/db_migrations/versions/a1b2c3d4e5f6_add_spans_table.py
Due: ruff, format, clint, typos

Fix MSSQL index error by changing type column from TEXT to VARCHAR
  mlflow/store/db_migrations/versions/a1b2c3d4e5f6_add_spans_table.py
  mlflow/store/tracking/dbmodels/models.py
Due: ruff, format, clint, typos

Increase span type column length to 1000 characters
  mlflow/store/db_migrations/versions/a1b2c3d4e5f6_add_spans_table.py
  mlflow/store/tracking/dbmodels/models.py
Due: ruff, format, clint, typos

Update comments to note 1000 chars should be plenty for span types
  mlflow/store/db_migrations/versions/a1b2c3d4e5f6_add_spans_table.py
  mlflow/store/tracking/dbmodels/models.py
Due: ruff, format, clint, typos

Fix documentation for built in scorers using expectation
  mlflow/genai/scorers/builtin_scorers.py
Due: ruff, format, clint, typos

Fix documentation for built in scorers using expectation (#17075)
  mlflow/genai/scorers/builtin_scorers.py
Due: ruff, format, clint, typos

Extract --dev mode test into separate Windows-skipped test case
  tests/test_cli.py
Due: ruff, format, clint, typos

fix
  mlflow/tracking/_tracking_service/client.py
  tests/store/tracking/test_file_store_evaluation_datasets.py
Due: ruff, format, clint, typos

Split webhook events into separate entity and action fields (#16978)
  docs/docs/classic-ml/webhooks/index.mdx
  mlflow/entities/webhook.py
  mlflow/java/client/src/main/java/org/mlflow/api/proto/Webhooks.java
  mlflow/protos/webhooks.proto
  mlflow/protos/webhooks_pb2.py
  mlflow/server/handlers.py
  mlflow/store/db_migrations/versions/1a0cddfcaa16_add_webhooks_and_webhook_events_tables.py
  mlflow/store/model_registry/dbmodels/models.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/client.py
  mlflow/webhooks/delivery.py
  mlflow/webhooks/types.py
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/entities/test_webhook.py
  tests/resources/db/latest_schema.sql
  tests/store/model_registry/test_rest_store_webhooks.py
  tests/store/model_registry/test_sqlalchemy_store.py
  tests/tracking/test_client_webhooks.py
  tests/webhooks/test_e2e.py
Due: ruff, format, blacken-docs, clint, lint-proto, typos

Update schema snapshot to include spans table
  tests/resources/db/latest_schema.sql
Due: none

fixes
  mlflow/genai/datasets/__init__.py
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/file_store.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
  tests/store/tracking/test_file_store_evaluation_datasets.py
  tests/tracking/test_client.py
Due: ruff, format, clint, typos

Move API inventory check from Sphinx conf.py to GitHub Actions workflow
  .github/workflows/docs.yml
  docs/api_reference/source/conf.py
Due: ruff, format, clint, typos, conftest

build fix
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracking/client.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: ruff, format, clint, typos

build fix
  mlflow/tracking/client.py
Due: ruff, format, clint, typos

fix
  tests/db/schemas/mssql.sql
  tests/db/schemas/sqlite.sql
Due: none

Reduce span type column to 500 chars for MySQL index compatibility
  mlflow/store/db_migrations/versions/a1b2c3d4e5f6_add_spans_table.py
  mlflow/store/tracking/dbmodels/models.py
  tests/resources/db/latest_schema.sql
Due: ruff, format, clint, typos

fix
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
Due: none

revert R
  docs/api_reference/source/R-api.rst
  mlflow/R/mlflow/R/tracking-server.R
Due: blacken-docs, clint

Address comment
  mlflow/genai/git_versioning/git_info.py
Due: ruff, format, clint, typos

Update mlflow/genai/optimize/optimizers/dspy_optimizer.py
  mlflow/genai/optimize/optimizers/dspy_optimizer.py
Due: ruff, format, clint, typos

Update types.py
  mlflow/genai/optimize/types.py
Due: ruff, format, clint, typos

Add `remote_name` parameter to git versioning for repository URL extraction (#17051)
  mlflow/genai/git_versioning/__init__.py
  mlflow/genai/git_versioning/git_info.py
  tests/genai/test_git_versioning.py
Due: ruff, format, clint, typos

fix tests
  mlflow/genai/judges/prompts/guidelines.py
  mlflow/genai/scorers/builtin_scorers.py
  tests/genai/judges/test_builtin.py
  tests/genai/judges/test_builtin_oss.py
  tests/genai/judges/test_judge_utils.py
  tests/genai/scorers/test_builtin_scorers.py
  tests/genai/scorers/test_serialization.py
Due: ruff, format, clint, typos

Move API inventory check from Sphinx conf.py to GitHub Actions workflow (#17077)
  .github/workflows/docs.yml
  docs/api_reference/source/conf.py
Due: ruff, format, clint, typos, conftest

fix
  mlflow/genai/judges/builtin.py
  tests/genai/conftest.py
Due: ruff, format, clint, typos

Allow users to pass the encoding tokenizer (#16253)
  mlflow/metrics/__init__.py
  mlflow/metrics/metric_definitions.py
Due: ruff, format, clint, typos
