Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

comments
  mlflow/langchain/_langchain_autolog.py
  mlflow/langchain/langchain_tracer.py
  mlflow/tracing/provider.py
  tests/conftest.py
  tests/langchain/test_langchain_tracer.py
Due: ruff, format, custom-python-lint

Potential fix for issue 13832
  mlflow/server/auth/__init__.py
Due: ruff, format, custom-python-lint

move in new sources
  docs/rst_to_migrate/llms/chat-model-intro/chat-model-vs-pyfunc-table.rst
  docs/rst_to_migrate/llms/chat-model-intro/index.rst
  docs/rst_to_migrate/llms/dspy/index.rst
  docs/rst_to_migrate/llms/dspy/notebooks/dspy_quickstart.ipynb
  docs/rst_to_migrate/llms/notebooks/chat-model-tool-calling.ipynb
  docs/static/images/llms/chat-model-intro/interface_1.png
  docs/static/images/llms/dspy/dspy-artifacts.png
  docs/static/images/llms/dspy/dspy-integration-architecture.png
  docs/static/images/llms/dspy/dspy-trace.png
  docs/static/images/llms/gemini/gemini-tracing.png
  docs/static/images/llms/litellm/litellm-tracing.png
Due: ruff, format, blacken-docs

Refactor OpenAI flavor with SDK (#13774)
  .github/workflows/deployments.yml
  mlflow/deployments/openai/__init__.py
  mlflow/metrics/genai/model_utils.py
  mlflow/openai/__init__.py
  mlflow/openai/api_request_parallel_processor.py
  mlflow/utils/openai_utils.py
  tests/deployments/openai/test_openai.py
  tests/metrics/genai/test_model_utils.py
  tests/openai/test_openai_model_export.py
Due: ruff, format, custom-python-lint

comment
  mlflow/types/schema.py
  mlflow/types/utils.py
Due: ruff, format, custom-python-lint

ensure flush
  mlflow/langchain/_langchain_autolog.py
Due: ruff, format, custom-python-lint

minor
  mlflow/langchain/_langchain_autolog.py
  mlflow/langchain/langchain_tracer.py
  mlflow/tracing/utils/token.py
Due: ruff, format, custom-python-lint

Any type support (#13766)
  docs/source/python_api/mlflow.types.rst
  mlflow/models/utils.py
  mlflow/types/schema.py
  mlflow/types/utils.py
  mlflow/utils/proto_json_utils.py
  tests/langchain/test_langchain_model_export.py
  tests/pyfunc/test_pyfunc_schema_enforcement.py
  tests/types/test_schema.py
Due: ruff, format, blacken-docs, custom-python-lint

test
  .circleci/config.yml
Due: none

test
  .circleci/config.yml
  docs/scripts/build-api-docs.py
Due: ruff, format, custom-python-lint

editable
  .circleci/config.yml
  docs/scripts/build-api-docs.py
Due: ruff, format, custom-python-lint

comment
  mlflow/langchain/langchain_tracer.py
  mlflow/tracing/utils/token.py
Due: ruff, format, custom-python-lint

update infer signature for input example and doc
  docs/source/model/signatures.rst
  mlflow/models/signature.py
Due: ruff, format, blacken-docs, custom-python-lint

[1/x] Support auto+manual tracing - LangChain (#13790)
  mlflow/langchain/_langchain_autolog.py
  mlflow/langchain/langchain_tracer.py
  mlflow/tracing/provider.py
  mlflow/tracing/utils/token.py
  tests/conftest.py
  tests/langchain/sample_code/langgraph_with_custom_span.py
  tests/langchain/test_langchain_tracer.py
  tests/langchain/test_langgraph.py
Due: ruff, format, custom-python-lint

Support auto/manual tracing mix for LlamaIndex
  mlflow/llama_index/tracer.py
  tests/llama_index/test_llama_index_tracer.py
Due: ruff, format, custom-python-lint

Support manual/auto tracing mix for DSPy
  mlflow/dspy/callback.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

remove test code
  mlflow/dspy/callback.py
Due: ruff, format, custom-python-lint

try-catch
  mlflow/llama_index/tracer.py
Due: ruff, format, custom-python-lint

fix links
  docs/api_reference/source/R-api.rst
  docs/api_reference/source/rest-api.rst
  docs/scripts/build-api-docs.py
  mlflow/models/evaluation/base.py
  mlflow/models/evaluation/validation.py
  mlflow/recipes/__init__.py
  mlflow/sagemaker/__init__.py
  mlflow/tracking/fluent.py
  mlflow/utils/docstring_utils.py
Due: ruff, format, blacken-docs, custom-python-lint

java home
  .circleci/config.yml
Due: none

no-r
  .circleci/config.yml
  docs/package.json
  docs/scripts/build-api-docs.py
Due: ruff, format, custom-python-lint

fix
  docs/scripts/build-api-docs.py
Due: ruff, format, custom-python-lint

comments
  mlflow/dspy/callback.py
Due: ruff, format, custom-python-lint

fix
  docs/api_reference/source/rest-api.rst
  docs/scripts/build-api-docs.py
Due: ruff, format, blacken-docs, custom-python-lint

fixing [BUG] SQLAlchemy Alembic migration code breaks logs #13464
  mlflow/store/db_migrations/env.py
Due: ruff, format, custom-python-lint

lint
  mlflow/utils/docstring_utils.py
Due: ruff, format, custom-python-lint

Extend Card and CardGroup components (#13830)
  docs/docs/llms/index.mdx
  docs/docs/llms/tracing/index.mdx
  docs/docs/model-evaluation/index.mdx
  docs/src/components/Card/card.module.css
  docs/src/components/Card/index.tsx
  docs/src/css/custom.css
Due: none

Migrate docs/getting-started/index.mdx
  docs/docs/getting-started/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/getting-started/index.rst
Due: blacken-docs

Adjust image width in docs/getting-started/index.mdx
  docs/docs/getting-started/index.mdx
Due: none

Migrate docs/getting-started-running-notebooks/index.mdx
  docs/docs/getting-started/running-notebooks/index.mdx
Due: none

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/getting-started/running-notebooks/index.rst
Due: blacken-docs

Migrate docs/getting-started/intro-quickstart/notebooks/index.mdx
  docs/docs/getting-started/intro-quickstart/notebooks/index.mdx
Due: none

Delete file in rst_to_migrate
  docs/rst_to_migrate/getting-started/intro-quickstart/notebooks/index.rst
Due: blacken-docs

Remove file from rst_to_migrate folder
  docs/rst_to_migrate/getting-started/intro-quickstart/index.rst
Due: blacken-docs

Migrate docs/getting-started/intro-quickstart/index.mdx
  docs/docs/getting-started/intro-quickstart/index.mdx
Due: none
