Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

update
  mlflow/utils/model_utils.py
Due: ruff, format, custom-python-lint

doc
  mlflow/pyfunc/__init__.py
  mlflow/utils/docstring_utils.py
Due: ruff, format, custom-python-lint

update
  examples/pyfunc/train.py
  tests/pyfunc/custom_model/mod1/mod4.py
  tests/pyfunc/test_inferred_data_path.py
Due: ruff, format, custom-python-lint

update ci
  .github/workflows/master.yml
Due: none

address comments
  dev/proto_to_graphql/code_generator.py
  mlflow/server/js/src/graphql/graphql-codegen.ts
Due: ruff, format, custom-python-lint

format
  dev/proto_to_graphql/code_generator.py
Due: ruff, format, custom-python-lint

clean
  tests/pyfunc/test_inferred_data_path.py
Due: ruff, format, custom-python-lint

add test
  tests/types/test_schema.py
Due: ruff, format, custom-python-lint

format
  tests/types/test_schema.py
Due: ruff, format, custom-python-lint

convert_dataclass_to_schema
  mlflow/types/schema.py
  tests/models/test_signature.py
  tests/types/test_schema.py
Due: ruff, format, custom-python-lint

accept dataclass into signature
  mlflow/models/signature.py
  tests/models/test_signature.py
Due: ruff, format, custom-python-lint

Run python3 dev/update_mlflow_versions.py post-release...
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.skinny.toml
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

todo
  mlflow/models/rag_signatures.py
Due: ruff, format, custom-python-lint

Run `python3 dev/update_mlflow_versions.py post-release...` (#11959)
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.tsx
  mlflow/version.py
  pyproject.skinny.toml
  pyproject.toml
Due: ruff, format, taplo, custom-python-lint

lint
  mlflow/models/signature.py
  mlflow/types/schema.py
  tests/models/test_signature.py
Due: ruff, format, custom-python-lint

raise exception when accessing tags and aliases from search rpcs
  mlflow/entities/model_registry/model_version_search.py
  mlflow/entities/model_registry/registered_model_search.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/utils/_unity_catalog_utils.py
  tests/utils/test_unity_catalog_utils.py
Due: ruff, format, custom-python-lint

fix lint
  tests/utils/test_unity_catalog_utils.py
Due: ruff, format, custom-python-lint

update
  .github/workflows/master.yml
Due: none

Add badge for slow-tests
  README.rst
Due: blacken-docs, rstcheck

fix: cascade experiment id fk deletion in datasets table
  mlflow/store/db_migrations/versions/949ead8d4f49_add_cascading_delete_on_experiments_fk_.py
  mlflow/store/tracking/dbmodels/models.py
  tests/db/schemas/mssql.sql
  tests/db/schemas/mysql.sql
  tests/db/schemas/postgresql.sql
  tests/db/schemas/sqlite.sql
  tests/resources/db/latest_schema.sql
  tests/test_cli.py
Due: ruff, format, custom-python-lint

fix
  tests/pyfunc/docker/test_docker_flavors.py
Due: ruff, format, custom-python-lint

comments
  mlflow/entities/trace_data.py
  mlflow/exceptions.py
  mlflow/store/artifact/artifact_repo.py
  mlflow/store/tracking/rest_store.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
  tests/entities/test_trace.py
  tests/store/artifact/test_azure_blob_artifact_repo.py
  tests/store/artifact/test_azure_data_lake_artifact_repo.py
  tests/store/artifact/test_local_artifact_repo.py
  tests/store/artifact/test_s3_artifact_repo.py
  tests/tracking/_tracking_service/test_tracking_service_client.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

Add badge for `slow-tests` (#11963)
  README.rst
Due: blacken-docs, rstcheck

Fix repository for slow-tests badge
  README.rst
Due: blacken-docs, rstcheck

Increase timeout for java flavors in docker test (#11964)
  tests/pyfunc/docker/test_docker_flavors.py
Due: ruff, format, custom-python-lint

Fix repository for slow-tests badge (#11965)
  README.rst
Due: blacken-docs, rstcheck

Increase timeout of test-package-build workflow
  .github/workflows/test-package-build.yml
Due: none

fix tests and remove override
  mlflow/langchain/langchain_tracer.py
  mlflow/store/artifact/databricks_artifact_repo.py
  mlflow/store/artifact/local_artifact_repo.py
  tests/tracing/test_fluent.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

fix artifact_dir
  mlflow/store/tracking/file_store.py
Due: ruff, format, custom-python-lint

feat: add to expected schema diffs
  tests/store/tracking/test_sqlalchemy_store_schema.py
Due: ruff, format, custom-python-lint

fix: typo
  tests/store/tracking/test_sqlalchemy_store_schema.py
Due: ruff, format, custom-python-lint

Enalbe pytorch autolog for lightning
  mlflow/tracking/fluent.py
Due: ruff, format, custom-python-lint

Fix test
  tests/tracking/fluent/test_fluent_autolog.py
Due: ruff, format, custom-python-lint

update
  mlflow/store/artifact/azure_blob_artifact_repo.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
