Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

fix polars and pyarrow hashing?
  mlflow/data/evaluation_dataset.py
Due: ruff, format, custom-python-lint

EvaluationDataset to allow polars and pyarrow (WIP hashing)
  mlflow/data/dataframe_dataset.py
  mlflow/data/evaluation_dataset.py
Due: ruff, format, custom-python-lint

mention PolarsDataset and ArrowDataset in docs
  docs/docs/dataset/index.mdx
Due: none

update
  mlflow/spark/__init__.py
Due: ruff, format, custom-python-lint

Load context when infering signature from type hints
  mlflow/pyfunc/__init__.py
Due: ruff, format, custom-python-lint

test refactor
  tests/data/test_dataframe_dataset.py
Due: ruff, format, custom-python-lint

Update callback.py
  mlflow/dspy/callback.py
Due: ruff, format, custom-python-lint

Bump min support version for transformers (#15056)
  mlflow/ml-package-versions.yml
  mlflow/ml_package_versions.py
Due: ruff, format, custom-python-lint, mlver

type hint
  mlflow/utils/search_utils.py
Due: ruff, format, custom-python-lint

Minor Fixes
  mlflow/server/js/src/experiment-tracking/components/evaluation-artifacts-compare/CreateNotebookRunModal.tsx
Due: none

Meet up examples
  examples/demos/mlflow-3/README.md
  examples/demos/mlflow-3/deep_learning.py
  examples/demos/mlflow-3/genai.py
  examples/demos/mlflow-3/ml.py
Due: ruff, format, blacken-docs, custom-python-lint

wip
  examples/demos/mlflow-3/README.md
  examples/demos/mlflow-3/classic_ml.py
Due: ruff, format, blacken-docs, custom-python-lint

wip
  examples/demos/mlflow-3/README.md
  examples/demos/mlflow-3/classic_ml.py
  examples/demos/mlflow-3/deep_learning.py
Due: ruff, format, blacken-docs, custom-python-lint

FileStore order_by fix (#15044)
  mlflow/store/tracking/file_store.py
  mlflow/utils/search_utils.py
  tests/store/tracking/test_file_store_logged_model.py
Due: ruff, format, custom-python-lint

a
  examples/demos/mlflow-3/ml.py
Due: ruff, format, custom-python-lint

Add meetup examples (#15076)
  examples/demos/mlflow-3/README.md
  examples/demos/mlflow-3/deep_learning.py
  examples/demos/mlflow-3/genai.py
  examples/demos/mlflow-3/ml.py
Due: ruff, format, blacken-docs, custom-python-lint

init
  mlflow/models/evaluation/utils/trace.py
  mlflow/spark/__init__.py
Due: ruff, format, custom-python-lint

fix: class component to functional component (#14959)
  mlflow/server/js/src/common/components/Spinner.tsx
  mlflow/server/js/src/experiment-tracking/components/HtmlTableView.tsx
  mlflow/server/js/src/experiment-tracking/components/ParallelCoordinatesPlotControls.tsx
  mlflow/server/js/src/experiment-tracking/components/RunNotFoundView.tsx
  mlflow/server/js/src/model-registry/components/CreateModelButton.tsx
Due: none

mlflow 3 doc
  docs/docs/mlflow-3/index.mdx
  docs/sidebars.ts
Due: none

fix: compare model version table adjustment (#15012)
  mlflow/server/js/src/lang/de-DE.json
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/lang/es-ES.json
  mlflow/server/js/src/lang/fr-FR.json
  mlflow/server/js/src/lang/it-IT.json
  mlflow/server/js/src/lang/ja-JP.json
  mlflow/server/js/src/lang/ko-KR.json
  mlflow/server/js/src/lang/pt-BR.json
  mlflow/server/js/src/lang/pt-PT.json
  mlflow/server/js/src/lang/zh-CN.json
  mlflow/server/js/src/lang/zh-HK.json
  mlflow/server/js/src/lang/zh-TW.json
  mlflow/server/js/src/model-registry/components/CompareModelVersionsView.css
  mlflow/server/js/src/model-registry/components/CompareModelVersionsView.tsx
Due: none

fix: model name with asterisk (#15050)
  mlflow/server/js/package.json
  mlflow/server/js/yarn.lock
Due: none

fix
  docs/docs/mlflow-3/index.mdx
Due: none

fix
  mlflow/models/model.py
Due: ruff, format, custom-python-lint

fix get param issue
  mlflow/dspy/autolog.py
Due: ruff, format, custom-python-lint

Implement `SearchLoggedModels` in tracking server (#15024)
  mlflow/server/handlers.py
  mlflow/store/tracking/rest_store.py
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

chore: prettier
  mlflow/server/js/src/experiment-tracking/components/CompareRunView.tsx
Due: none

dspy create logged models
  mlflow/dspy/autolog.py
  mlflow/dspy/save.py
  mlflow/models/model.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

update test
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

update
  docs/docs/mlflow-3/index.mdx
Due: none

update
  mlflow/models/evaluation/utils/trace.py
  mlflow/spark/__init__.py
Due: ruff, format, custom-python-lint

Autoformat: https://github.com/mlflow/mlflow/actions/runs/14030624442
  mlflow/models/evaluation/utils/trace.py
  mlflow/spark/__init__.py
Due: ruff, format, custom-python-lint

chore: prettier
  mlflow/server/js/src/common/components/error-boundaries/AppErrorBoundary.tsx
Due: none

Add ListLoggedModelArtifacts REST API in tracking server
  mlflow/server/handlers.py
Due: ruff, format, custom-python-lint

Add a test
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Fix
  mlflow/server/handlers.py
Due: ruff, format, custom-python-lint
