Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Add Try-it test
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.test.tsx
Due: none

Reset error statement when switching provider
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
Due: none

Refactor: Add useTryIt hook
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
  mlflow/server/js/src/gateway/hooks/useTryIt.ts
Due: none

i18n
  mlflow/server/js/src/lang/default/en.json
Due: none

color error text
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
Due: none

Typing
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.test.tsx
Due: none

Update doc
  docs/docs/genai/governance/ai-gateway/endpoints/query-endpoints.mdx
  docs/static/images/genai/governance/ai-gateway/usage-modal.png
Due: normalize-chars, blacken-docs, clint, typos

Remove error message from below text box
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
Due: none

Refactor: Add TryItPanel component
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.tsx
Due: none

Unify code
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
Due: none

Add OpenAI Chat Completion bar
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.test.tsx
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
Due: none

Fix failing tests
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.test.tsx
Due: none

Use Tabs
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
Due: none

change tooltip based on provider
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
Due: none

Lint on test
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.test.tsx
Due: none

Fix screenshot
  docs/static/images/genai/governance/ai-gateway/usage-modal.png
Due: normalize-chars

Doc
  docs/docs/genai/governance/ai-gateway/endpoints/query-endpoints.mdx
  docs/static/images/genai/governance/ai-gateway/usage-modal.png
Due: normalize-chars, blacken-docs, clint, typos

add useTryIt test
  mlflow/server/js/src/gateway/hooks/useTryIt.test.tsx
Due: none

Lint: Fix import
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.test.tsx
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.test.tsx
Due: none

Override header in gateway to prevent request from accepting Brotli
  mlflow/gateway/providers/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Refactor: patterns for fetching hooks
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.tsx
  mlflow/server/js/src/gateway/hooks/useTryIt.ts
Due: none

Refactor: use useMutation instead of useCallback
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.test.tsx
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.test.tsx
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.tsx
  mlflow/server/js/src/gateway/hooks/useTryIt.ts
Due: none

Fix failing tests
  tests/gateway/providers/test_mistral.py
  tests/gateway/providers/test_openai.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

For anthropic, pass an additional header to mark request with anthropic-dangerous-direct-browser-access
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.tsx
  mlflow/server/js/src/gateway/hooks/useTryIt.ts
Due: none

Add a test for SUPPORT_ACCEPT_ENCODING
  tests/gateway/providers/test_provider_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove keyword export
  mlflow/server/js/src/gateway/hooks/useTryIt.ts
Due: none

Update dependency array
  mlflow/server/js/src/gateway/hooks/useTryIt.ts
Due: none

Refactor: Move try-it tests to its own dedicated file
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.test.tsx
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.test.tsx
Due: none

Accessibility: use aria-live=polite
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.tsx
Due: none

Refactor: move code used only by TryItPanel inside it to reduce scope
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.tsx
Due: none

Fix test
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.test.tsx
Due: none

UI: Spare one line for error
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.tsx
Due: none

createTryItError helper
  mlflow/server/js/src/gateway/hooks/useTryIt.ts
Due: none

remove duplicate logic
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.tsx
Due: none

Refactor: named constants
  mlflow/server/js/src/gateway/components/endpoints/TryItPanel.tsx
Due: none

rename
  mlflow/gateway/providers/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

refactor: pattern
  mlflow/server/js/src/gateway/components/endpoints/EndpointUsageModal.tsx
Due: none

Use fetchOrFail
  mlflow/server/js/src/gateway/hooks/useTryIt.ts
  mlflow/server/js/src/shared/web-shared/errors/PredefinedErrors.tsx
Due: none

Relax path traversal check; let backend validate and show its error in UI
  mlflow/server/js/src/common/utils/tagKeyValidation.test.ts
  mlflow/server/js/src/common/utils/tagKeyValidation.ts
Due: none

Rename webhook action crossed→exceeded for budget policy
  docs/api_reference/source/rest-api.rst
  mlflow/entities/webhook.py
  mlflow/java/client/src/main/java/org/mlflow/api/proto/Webhooks.java
  mlflow/protos/webhooks.proto
  mlflow/protos/webhooks_pb2.py
  mlflow/protos/webhooks_pb2.pyi
  mlflow/webhooks/types.py
Due: normalize-chars, ruff, format, blacken-docs, clint, lint-proto, typos, check-init-py

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
