Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

feat(typescript): add `logFeedback` and typed trace assessments (#25169)
  libs/typescript/README.md
  libs/typescript/core/src/clients/client.ts
  libs/typescript/core/src/clients/spec.ts
  libs/typescript/core/src/core/entities/assessment.ts
  libs/typescript/core/src/core/entities/trace_info.ts
  libs/typescript/core/src/index.ts
  libs/typescript/core/tests/clients/client.test.ts
  libs/typescript/core/tests/core/entities/assessment.test.ts
  libs/typescript/core/tests/core/entities/trace_info.test.ts
Due: normalize-chars, blacken-docs, clint, typos

Pin the head SHA the `/review` bot reviews
  .github/workflows/review.yml
Due: normalize-chars, conftest

Tolerate stale merge refs and re-check the head before posting
  .github/workflows/review.yml
Due: normalize-chars, conftest

Return 400 instead of 500 for a non-UTF-8 scoring request body (#25173)
  mlflow/pyfunc/scoring_server/__init__.py
  tests/pyfunc/test_scoring_server.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for f9af18eda7cf3ecb0f77283e3c144367e0c6a65b
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Pin the `/review` bot's comments to the reviewed commit
  .github/workflows/review.yml
Due: normalize-chars, conftest

Remove legacy stacked-PR handling
  .claude/skills/src/skills/commands/fetch_diff.py
  .claude/skills/src/skills/github/client.py
  .github/workflows/pr-size.js
Due: normalize-chars, ruff, format, clint, typos

Remove legacy stacked-PR handling (#25402)
  .claude/skills/src/skills/commands/fetch_diff.py
  .claude/skills/src/skills/github/client.py
  .github/workflows/pr-size.js
Due: normalize-chars, ruff, format, clint, typos

Read the review diff from stdin instead of fetching it
  .claude/skills/add-review-comment/SKILL.md
  .claude/skills/annotate-diff/SKILL.md
  .claude/skills/pr-review/SKILL.md
  .claude/skills/src/skills/cli.py
  .claude/skills/src/skills/commands/annotate_diff.py
  .claude/skills/src/skills/github/client.py
  .claude/skills/tests/test_annotate_diff.py
  .claude/skills/ui-review/SKILL.md
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Drop the annotate-diff SKILL.md
  .claude/skills/add-review-comment/SKILL.md
  .claude/skills/annotate-diff/SKILL.md
  .claude/skills/pr-review/SKILL.md
  .claude/skills/src/skills/commands/annotate_diff.py
  .claude/skills/ui-review/SKILL.md
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Address review: fix add-review-comment's diff source, drop parse_pr_url
  .claude/skills/add-review-comment/SKILL.md
  .claude/skills/src/skills/github/__init__.py
  .claude/skills/src/skills/github/utils.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Read the review diff from stdin instead of fetching it (#25404)
  .claude/skills/add-review-comment/SKILL.md
  .claude/skills/fetch-diff/SKILL.md
  .claude/skills/pr-review/SKILL.md
  .claude/skills/src/skills/cli.py
  .claude/skills/src/skills/commands/annotate_diff.py
  .claude/skills/src/skills/github/__init__.py
  .claude/skills/src/skills/github/client.py
  .claude/skills/src/skills/github/utils.py
  .claude/skills/tests/test_annotate_diff.py
  .claude/skills/ui-review/SKILL.md
Due: normalize-chars, ruff, format, blacken-docs, clint, typos

Isolate the commit_id injection into its own step
  .github/workflows/review.yml
Due: normalize-chars, conftest

Tighten the pin step comments
  .github/workflows/review.yml
Due: normalize-chars, conftest

Pin the `/review` bot's comments to the reviewed commit (#25401)
  .github/workflows/review.yml
Due: normalize-chars, conftest

Remove affected-test execution from `pr-review` skill (#25405)
  .claude/skills/pr-review/SKILL.md
Due: normalize-chars, blacken-docs, clint, typos

Isolate the PR checkout from the review tooling
  .claude/skills/pr-review/SKILL.md
  .github/workflows/review.yml
Due: normalize-chars, blacken-docs, clint, typos, conftest

Check the PR out beside the tooling, not inside it
  .github/workflows/review.yml
Due: normalize-chars, conftest

Match the saved-views dropdown to the managed Traces V4 look
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewSavedViewsButton.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/saved-views/SavedViewsMenu.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v3/TracesV3SavedViews.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4SavedViews.tsx
Due: none

Wire legacy V3 saved views into the Traces V4 Views menu
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4SavedViews.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4SavedViews.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV3ViewCompat.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV3ViewCompat.ts
Due: none

Capture, restore, and diff the popover filter model in Traces V4 saved views
  mlflow/server/js/scripts/componentId-registry.js
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewSharedViewBanner.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/saved-views/SavedViewsMenu.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/saved-views/SharedViewBanner.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/saved-views/SharedViewBanner.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4PageContent.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4SavedViews.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4SavedViews.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/test-utils/tracesV4PageContentTestBed.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/filterModel.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV3ViewCompat.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV3ViewCompat.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV4DirtyState.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV4DirtyState.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV4SavedViewState.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV4SavedViewState.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/savedViewEnvelope.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/savedViewEnvelope.ts
Due: none

Use `create_agent` instead of a hand-rolled LangGraph graph
  docs/docs/genai/tracing/integrations/listing/langgraph.mdx
Due: normalize-chars, blacken-docs, clint, typos

Keep the saved-view dirty dot visible when the Views button collapses
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/saved-views/SavedViewsMenu.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4SavedViews.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4SavedViews.tsx
Due: none

Capture session grouping in Traces V4 saved views
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4SavedViews.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV4DirtyState.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV4SavedViewState.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV4SavedViewState.ts
Due: none

Update LangGraph and LangChain examples (#25400)
  docs/docs/genai/tracing/integrations/listing/langchain.mdx
  docs/docs/genai/tracing/integrations/listing/langgraph.mdx
Due: normalize-chars, blacken-docs, clint, typos

Hardcode the ServiceMonitor metrics path instead of defaulting it in values
  .github/workflows/helm.yml
  charts/Chart.yaml
  charts/README.md
  charts/templates/servicemonitor.yaml
  charts/values.yaml
Due: normalize-chars, blacken-docs, clint, typos, conftest

Fix V3→V4 saved-view translation to map columns, sort keys, and filters
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4SavedViews.test.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/components/TracesV4SavedViews.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV3ViewCompat.test.ts
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/traces-v4/utils/tracesV3ViewCompat.ts
Due: none

run i18n
  mlflow/server/js/src/lang/default/en.json
Due: none

Keep metrics.path configurable, defaulted in the template
  .github/workflows/helm.yml
  charts/README.md
  charts/templates/servicemonitor.yaml
  charts/values.yaml
Due: normalize-chars, blacken-docs, clint, typos, conftest

Prioritize Bash tool descriptions in stream logs (#25408)
  .claude/scripts/stream.sh
Due: normalize-chars

Route `review.yml` through the Databricks AI Gateway
  .claude/scripts/databricks-gateway-proxy.mjs
  .github/workflows/review.yml
Due: normalize-chars, conftest

Add public-API type annotations to medium mlflow.entities modules
  mlflow/entities/_job.py
  mlflow/entities/assessment_source.py
  mlflow/entities/dataset.py
  mlflow/entities/dataset_record.py
  mlflow/entities/dataset_record_source.py
  mlflow/entities/experiment.py
  mlflow/entities/gateway_budget_policy.py
  mlflow/entities/gateway_guardrail.py
  mlflow/entities/gateway_secrets.py
  mlflow/entities/issue.py
  mlflow/entities/logged_model.py
  mlflow/entities/mcp_access_endpoint.py
  mlflow/entities/mcp_server_version.py
  mlflow/entities/metric.py
  mlflow/entities/run.py
  mlflow/entities/run_data.py
  mlflow/entities/run_info.py
  mlflow/entities/scorer.py
  mlflow/entities/span_status.py
  mlflow/entities/trace_data.py
  mlflow/entities/trace_info_v2.py
  mlflow/entities/trace_metrics.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: Add future annotations to telemetry schema for Python 3.6 compatibility (closes #5474)
  mlflow/telemetry/schemas.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: Make initial table creation idempotent to prevent migration failure (closes #19943)
  mlflow/store/db/utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

feat(typescript): add logExpectation and logAssessment for trace assessments
  libs/typescript/README.md
  libs/typescript/core/src/clients/client.ts
  libs/typescript/core/src/core/entities/assessment.ts
  libs/typescript/core/src/core/entities/trace_info.ts
  libs/typescript/core/src/index.ts
  libs/typescript/core/tests/clients/client.test.ts
  libs/typescript/core/tests/core/entities/assessment.test.ts
  libs/typescript/core/tests/core/entities/expectation.test.ts
Due: normalize-chars, blacken-docs, clint, typos

Advertise run-scoped presigned upload support
  mlflow/server/handlers.py
  mlflow/utils/server_info.py
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Regenerate en.json for saved-view copy changes
  mlflow/server/js/src/lang/default/en.json
Due: none

Fix the Helm chart ServiceMonitor rendering a null metrics path (#25365)
  .github/workflows/helm.yml
  charts/Chart.yaml
  charts/templates/servicemonitor.yaml
  charts/values.yaml
Due: normalize-chars, conftest

End streaming spans on every consumption path
  libs/typescript/integrations/openai/src/index.ts
  libs/typescript/integrations/openai/tests/index.test.ts
Due: normalize-chars

Bump `astral-sh/setup-uv` to v10.0.1 to retry transient manifest fetches
  .github/actions/setup-python/action.yml
  .github/workflows/nailaopus.yml
Due: normalize-chars, conftest
