Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Route UI and setup bug reports through bug triage
  .github/workflows/triage.yml
Due: normalize-chars, conftest

Fix `EvaluationDataset` hashing for list-valued targets and predictions (#26433)
  mlflow/data/evaluation_dataset.py
  tests/data/test_evaluation_dataset.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Bump NaiLaOpus orchestrator revision (#26427)
  .github/workflows/nailaopus.yml
Due: normalize-chars, conftest

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 28859c92ff5c17cdd9b381e541b20fd8a19effa1
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Fix decimal metric sums and reduce SQL trace query and rollup overhead (#26369)
  mlflow/store/db/trace_rollups.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/store/tracking/utils/sql_trace_metrics_utils.py
  mlflow/store/tracking/utils/sql_trace_rollups.py
  tests/store/db/test_trace_rollups.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_query_trace_metrics.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_trace_rollups.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_traces.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_workspace_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for b681d51023882f7f771554cf79566c966504ecde
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Reject dataset name lists with non-IN comparators
  mlflow/utils/search_utils.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_eval_datasets.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_workspace_store.py
  tests/utils/test_search_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Support wrapped MCP registry server definitions
  mlflow/server/js/src/mcp-registry/hooks/useCreateMCPServerVersionModal.tsx
  mlflow/server/js/src/mcp-registry/utils.test.ts
  mlflow/server/js/src/mcp-registry/utils.ts
Due: none

Let session-level scorers group traces at a named session hierarchy level
  mlflow/genai/__init__.py
  mlflow/genai/evaluation/harness.py
  mlflow/genai/evaluation/session_utils.py
  mlflow/genai/judges/instructions_judge/__init__.py
  mlflow/genai/judges/make_judge.py
  mlflow/genai/judges/tools/get_traces_in_session.py
  mlflow/genai/scorers/base.py
  mlflow/genai/scorers/builtin_scorers.py
  mlflow/genai/scorers/job.py
  mlflow/genai/scorers/online/session_processor.py
  mlflow/tracing/utils/session_hierarchy.py
  mlflow/utils/mlflow_tags.py
  tests/genai/evaluate/test_evaluation.py
  tests/genai/evaluate/test_session_utils.py
  tests/genai/judges/optimizers/memalign/test_optimizer.py
  tests/genai/judges/test_judge_tool_get_traces_in_session.py
  tests/genai/judges/test_make_judge.py
  tests/genai/scorers/online/test_session_processor.py
  tests/genai/scorers/test_job.py
  tests/genai/scorers/test_scorer.py
  tests/genai/scorers/test_scorer_ensemble.py
  tests/genai/scorers/test_serialization.py
  tests/tracing/utils/test_session_hierarchy.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add configurable TypeSafe API base to Gateway
  docs/docs/genai/governance/ai-gateway/endpoints/model-providers.mdx
  mlflow/gateway/config.py
  mlflow/gateway/providers/typesafe.py
  mlflow/server/gateway_api.py
  mlflow/utils/providers.py
  tests/gateway/providers/test_typesafe.py
  tests/server/test_gateway_api.py
  tests/utils/test_providers.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Support `name IN (...)` filters for evaluation-dataset search (#26374)
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/utils/search_utils.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_eval_datasets.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_workspace_store.py
  tests/utils/test_search_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for bc35fe7a2c4f985625cf58c0c1818e7078b4ad86
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Add Skill Registry REST APIs (#26306)
  libs/skinny/pyproject.toml
  mlflow/entities/skill.py
  mlflow/genai/mcp_servers.py
  mlflow/server/fastapi_app.py
  mlflow/server/mcp_server_api.py
  mlflow/server/skill_registry/registration.py
  mlflow/server/skill_registry_api.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/mcp_server_registry/sqlalchemy_mixin.py
  mlflow/store/tracking/skill_registry/sqlalchemy_mixin.py
  mlflow/utils/validation.py
  pyproject.toml
  requirements/skinny-requirements.yaml
  tests/entities/test_skill_entities.py
  tests/server/test_fastapi_app.py
  tests/server/test_mcp_server_api.py
  tests/server/test_skill_registry_api.py
  tests/store/tracking/mcp_server_registry/test_rest_mixin.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_skill_registry.py
  tests/utils/test_validation.py
  uv.lock
Due: normalize-chars, ruff, format, clint, taplo, typos, check-init-py, uv-lock

Support wrapped MCP registry server definitions (#25764)
  mlflow/server/js/src/mcp-registry/hooks/useCreateMCPServerVersionModal.tsx
  mlflow/server/js/src/mcp-registry/utils.test.ts
  mlflow/server/js/src/mcp-registry/utils.ts
Due: none

Allow custom `typesafe_api_base` for TypeSafe Gateway endpoints (#26442)
  docs/docs/genai/governance/ai-gateway/endpoints/model-providers.mdx
  mlflow/gateway/config.py
  mlflow/gateway/providers/typesafe.py
  mlflow/server/gateway_api.py
  mlflow/utils/providers.py
  tests/gateway/providers/test_typesafe.py
  tests/server/test_gateway_api.py
  tests/utils/test_providers.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 311bbbd3cc6551f5837e31ff7310ac0cb3d3e4b9
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Implement Skill Registry client and REST store methods
  mlflow/store/tracking/mcp_server_registry/rest_mixin.py
  mlflow/store/tracking/rest_store.py
  mlflow/store/tracking/skill_registry/rest_mixin.py
  mlflow/tracking/client.py
  tests/store/tracking/mcp_server_registry/test_rest_mixin.py
  tests/store/tracking/skill_registry/test_rest_mixin.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

API Stubs and NOT_SET migration
  mlflow/genai/mcp_servers.py
  mlflow/genai/mcp_tool_discovery.py
  mlflow/server/mcp_server_api.py
  mlflow/server/skill_registry_api.py
  mlflow/store/tracking/__init__.py
  mlflow/store/tracking/mcp_server_registry/abstract_mixin.py
  mlflow/store/tracking/mcp_server_registry/rest_mixin.py
  mlflow/store/tracking/mcp_server_registry/sqlalchemy_mixin.py
  mlflow/store/tracking/skill_registry/abstract_mixin.py
  mlflow/store/tracking/skill_registry/rest_mixin.py
  mlflow/store/tracking/skill_registry/sqlalchemy_mixin.py
  mlflow/tracking/client.py
  tests/genai/test_mcp_servers.py
  tests/genai/test_mcp_tool_discovery.py
  tests/server/test_skill_registry_api.py
  tests/store/tracking/mcp_server_registry/test_rest_mixin.py
  tests/store/tracking/sqlalchemy_store/test_sqlalchemy_store_mcp_server_registry.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Implement standalone Skill registration in the GenAI SDK
  mlflow/genai/__init__.py
  mlflow/genai/skills.py
  mlflow/store/tracking/skill_registry/rest_mixin.py
  mlflow/tracking/client.py
  tests/store/tracking/skill_registry/test_rest_mixin.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Expose Skill search in the GenAI SDK
  mlflow/genai/__init__.py
  mlflow/genai/skills.py
  tests/genai/test_skill_public_exports.py
  tests/store/tracking/skill_registry/test_rest_mixin.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Move bulk Skill registration limit to shared validation
  mlflow/server/skill_registry_api.py
  mlflow/utils/validation.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Implement bulk skill import in the GenAI SDK
  mlflow/genai/__init__.py
  mlflow/genai/skill_content/skill_md.py
  mlflow/genai/skills.py
  tests/genai/skill_content/test_skill_md.py
  tests/genai/test_skill_public_exports.py
  tests/store/tracking/skill_registry/test_rest_mixin.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

test: add missing Skill Registry mock call assertions
  tests/store/tracking/skill_registry/test_rest_mixin.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Validate Skill Registry identifiers before building REST paths
  mlflow/store/tracking/skill_registry/rest_mixin.py
  tests/store/tracking/skill_registry/test_rest_mixin.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

clarify doc string
  mlflow/genai/skills.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Allow custom base URL for TypeSafe judges
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/typesafe.mdx
  mlflow/genai/judges/typesafe.py
  tests/genai/judges/test_typesafe.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Harden TypeSafe authorization handling
  mlflow/genai/judges/typesafe.py
  tests/genai/judges/test_typesafe.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Validate TypeSafe judge connection options
  mlflow/genai/judges/typesafe.py
  tests/genai/judges/test_typesafe.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

deterministic failure match
  tests/store/tracking/skill_registry/test_rest_mixin.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Join all text parts in `GeminiAdapter` responses
  mlflow/gateway/providers/gemini.py
  tests/gateway/providers/test_gemini.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Validate TypeSafe judge endpoint transport
  mlflow/genai/judges/typesafe.py
  tests/genai/judges/test_typesafe.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add live-server user-journey tests for the Skill Registry
  tests/server/skill_registry/test_user_journeys.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Validate TypeSafe judge hostnames
  mlflow/genai/judges/typesafe.py
  tests/genai/judges/test_typesafe.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

support endpoint url for bedrock provider
  mlflow/gateway/config.py
  mlflow/gateway/providers/bedrock.py
  tests/gateway/providers/test_bedrock.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Allow custom `base_url` for direct TypeSafe judges (#26445)
  docs/docs/genai/eval-monitor/scorers/llm-judge/custom-judges/typesafe.mdx
  mlflow/genai/judges/typesafe.py
  tests/genai/judges/test_typesafe.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

add MLflow Tracing Benchmark (customSmallerIsBetter) benchmark result for 297144c1edebff8fe680eaad00939f4f29885daf
  dev/benchmarks/tracing/data.js
Due: normalize-chars

Add the Skill Registry detail page for inspecting a skill and its versions.
  mlflow/server/js/scripts/componentId-registry.js
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/skill-registry/components/SkillAliases.tsx
  mlflow/server/js/src/skill-registry/components/SkillCard.test.tsx
  mlflow/server/js/src/skill-registry/components/SkillTags.tsx
  mlflow/server/js/src/skill-registry/components/SkillVersionDetail.test.tsx
  mlflow/server/js/src/skill-registry/components/SkillVersionDetail.tsx
  mlflow/server/js/src/skill-registry/components/SkillVersionList.test.tsx
  mlflow/server/js/src/skill-registry/components/SkillVersionList.tsx
  mlflow/server/js/src/skill-registry/components/UseSkillButton.test.tsx
  mlflow/server/js/src/skill-registry/components/UseSkillButton.tsx
  mlflow/server/js/src/skill-registry/components/UseSkillModal.tsx
  mlflow/server/js/src/skill-registry/hooks/useSelectedSkillVersion.ts
  mlflow/server/js/src/skill-registry/hooks/useSkillQuery.ts
  mlflow/server/js/src/skill-registry/hooks/useSkillVersionsQuery.ts
  mlflow/server/js/src/skill-registry/pages/SkillDetailPage.test.tsx
  mlflow/server/js/src/skill-registry/pages/SkillDetailPage.tsx
  mlflow/server/js/src/skill-registry/pages/SkillRegistryPage.test.tsx
  mlflow/server/js/src/skill-registry/route-defs.ts
  mlflow/server/js/src/skill-registry/routes.test.ts
  mlflow/server/js/src/skill-registry/routes.ts
  mlflow/server/js/src/skill-registry/styles.ts
  mlflow/server/js/src/skill-registry/test-utils.ts
  mlflow/server/js/src/skill-registry/utils.test.ts
  mlflow/server/js/src/skill-registry/utils.ts
Due: none

Add the Skill Registry dialog for registering a skill and creating versions.
  mlflow/server/js/scripts/componentId-registry.js
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/skill-registry/components/RegisterSkillModal.tsx
  mlflow/server/js/src/skill-registry/hooks/useRegisterSkillMutation.ts
  mlflow/server/js/src/skill-registry/localSkillFolder.test.ts
  mlflow/server/js/src/skill-registry/localSkillFolder.ts
  mlflow/server/js/src/skill-registry/pages/SkillDetailPage.test.tsx
  mlflow/server/js/src/skill-registry/pages/SkillDetailPage.tsx
  mlflow/server/js/src/skill-registry/pages/SkillRegistryPage.test.tsx
  mlflow/server/js/src/skill-registry/pages/SkillRegistryPage.tsx
  mlflow/server/js/src/skill-registry/sourceLocation.test.ts
  mlflow/server/js/src/skill-registry/sourceLocation.ts
Due: none

Align the Skill Registry UI with the prototype and RFC-0008.
  mlflow/server/js/scripts/componentId-registry.js
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/skill-registry/components/RegisterSkillModal.tsx
  mlflow/server/js/src/skill-registry/components/SkillCard.test.tsx
  mlflow/server/js/src/skill-registry/components/SkillIconEditor.tsx
  mlflow/server/js/src/skill-registry/components/SkillVersionDetail.test.tsx
  mlflow/server/js/src/skill-registry/components/SkillVersionDetail.tsx
  mlflow/server/js/src/skill-registry/components/SkillVersionList.test.tsx
  mlflow/server/js/src/skill-registry/components/SkillVersionList.tsx
  mlflow/server/js/src/skill-registry/components/UseSkillModal.tsx
  mlflow/server/js/src/skill-registry/hooks/useEditSkillModal.tsx
  mlflow/server/js/src/skill-registry/hooks/useSkillGovernanceModals.tsx
  mlflow/server/js/src/skill-registry/hooks/useSkillVersionsQuery.ts
  mlflow/server/js/src/skill-registry/pages/SkillDetailPage.test.tsx
  mlflow/server/js/src/skill-registry/pages/SkillDetailPage.tsx
  mlflow/server/js/src/skill-registry/pages/SkillRegistryPage.test.tsx
  mlflow/server/js/src/skill-registry/sourceLocation.test.ts
  mlflow/server/js/src/skill-registry/sourceLocation.ts
  mlflow/server/js/src/skill-registry/utils.test.ts
  mlflow/server/js/src/skill-registry/utils.ts
Due: none

Address review feedback and simplify the Skill Registry UI code.
  mlflow/server/js/src/common/components/MlflowSidebar.tsx
  mlflow/server/js/src/common/components/MlflowSidebarAiRegistryItems.tsx
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/skill-registry/components/CopyableSnippet.tsx
  mlflow/server/js/src/skill-registry/components/RegisterSkillApiView.tsx
  mlflow/server/js/src/skill-registry/components/RegisterSkillModal.tsx
  mlflow/server/js/src/skill-registry/components/SkillAliases.tsx
  mlflow/server/js/src/skill-registry/components/SkillExpandableDescription.tsx
  mlflow/server/js/src/skill-registry/components/SkillIconEditor.tsx
  mlflow/server/js/src/skill-registry/components/SkillTagsInput.tsx
  mlflow/server/js/src/skill-registry/components/SkillVersionDetail.tsx
  mlflow/server/js/src/skill-registry/components/UseSkillModal.tsx
  mlflow/server/js/src/skill-registry/hooks/useInvalidateSkillQueries.ts
  mlflow/server/js/src/skill-registry/hooks/useRegisterSkillMutation.ts
  mlflow/server/js/src/skill-registry/hooks/useSkillGovernanceModals.tsx
  mlflow/server/js/src/skill-registry/hooks/useSkillVersionSelection.ts
  mlflow/server/js/src/skill-registry/localSkillFolder.test.ts
  mlflow/server/js/src/skill-registry/localSkillFolder.ts
  mlflow/server/js/src/skill-registry/pages/SkillDetailPage.tsx
  mlflow/server/js/src/skill-registry/snippets.ts
  mlflow/server/js/src/skill-registry/sourceLocation.test.ts
  mlflow/server/js/src/skill-registry/sourceLocation.ts
  mlflow/server/js/src/skill-registry/utils.test.ts
  mlflow/server/js/src/skill-registry/utils.ts
Due: none

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
