Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

Use java 17 by default in cross version tests
  dev/set_matrix.py
  mlflow/ml-package-versions.yml
Due: ruff, format, custom-python-lint, mlver

fix search model handling
  mlflow/store/model_registry/abstract_store.py
Due: ruff, format, custom-python-lint

handle search params better
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/model_registry/abstract_store.py
Due: ruff, format, custom-python-lint

Uncomment pyspark constraint
  requirements/constraints.txt
Due: none

add catalogschemafilter class
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: ruff, format, custom-python-lint

Remove unnecessary `logging.basicConfig(level=logging.INFO)` (#15647)
  mlflow/tracing/export/async_export_queue.py
Due: ruff, format, custom-python-lint

add deeplearning
  docs/docs/classic-ml/getting-started/deep-learning.mdx
  docs/docusaurus.config.ts
  docs/sidebarsClassicML.ts
Due: none

fix nits
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/model_registry/abstract_store.py
Due: ruff, format, custom-python-lint

optimize regex
  mlflow/store/_unity_catalog/registry/rest_store.py
Due: ruff, format, custom-python-lint

address feedback
  mlflow/genai/judges/databricks.py
  tests/genai/judges/test_judges.py
Due: ruff, format, custom-python-lint

fix try catch handling
  mlflow/store/model_registry/abstract_store.py
Due: ruff, format, custom-python-lint

Compare `sitemap.xml` files to show new/removed links (#16045)
  .circleci/config.yml
  docs/package.json
  docs/scripts/compare-sitemaps.ts
  docs/yarn.lock
Due: none

fix nits
  mlflow/store/model_registry/abstract_store.py
Due: ruff, format, custom-python-lint

Add deep learning quickstart (#16069)
  docs/docs/classic-ml/getting-started/deep-learning.mdx
  docs/docusaurus.config.ts
  docs/sidebarsClassicML.ts
Due: none

fix
  mlflow/genai/judges/databricks.py
Due: ruff, format, custom-python-lint

Prompt Registry Client: Remaining Prompt Store Infrastructure & Search Parsing [Part 3] (#16074)
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/_unity_catalog/registry/utils.py
  mlflow/store/model_registry/abstract_store.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
Due: ruff, format, custom-python-lint

address the comments
  mlflow/pyspark/optuna/study.py
  tests/pyspark/optuna/test_study.py
Due: ruff, format, custom-python-lint

address the comments
  mlflow/pyspark/optuna/study.py
Due: ruff, format, custom-python-lint

Log Resources from SystemAuthPolicy in CreateModelVersion (#15485)
  mlflow/store/_unity_catalog/registry/rest_store.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
Due: ruff, format, custom-python-lint

Fix predict premission issue (#15612)
  mlflow/models/python_api.py
  mlflow/utils/virtualenv.py
Due: ruff, format, custom-python-lint

Introduce MLFLOW_CREATE_MODEL_VERSION_SOURCE_REGEX to validate source parameter of /mlflow/model-versions/create request
  mlflow/environment_variables.py
  mlflow/server/handlers.py
Due: ruff, format, custom-python-lint

Fix
  mlflow/server/handlers.py
Due: ruff, format, custom-python-lint

fix lint
  mlflow/pyspark/optuna/study.py
Due: ruff, format, custom-python-lint

treat NOT_GIVEN as “no tools” in _parse_tools (#15703)
  mlflow/openai/utils/chat_schema.py
  tests/openai/test_openai_autolog.py
Due: ruff, format, custom-python-lint

Rename
  mlflow/environment_variables.py
  mlflow/server/handlers.py
Due: ruff, format, custom-python-lint

Fix the termination behavior of AsyncTraceExportQueue (#15728)
  mlflow/tracing/export/async_export_queue.py
  tests/tracing/export/test_async_export_queue.py
Due: ruff, format, custom-python-lint

Fix environment variable name mismatch for `MLFLOW_CONFIGURE_LOGGING` (#15786)
  mlflow/environment_variables.py
  tests/utils/test_logging_utils.py
Due: ruff, format, custom-python-lint

update contraints
  requirements/constraints.txt
Due: none

Add a test
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Improve test
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

Bump pytest version to 8.4.0 (#16025)
  pyproject.toml
  requirements/constraints.txt
  requirements/test-requirements.txt
Due: taplo

Refactor test_create_model_version_with_validation_regex to improve server connection handling
  tests/tracking/test_rest_tracking.py
Due: ruff, format, custom-python-lint

fix pytest
  pyproject.toml
  pytest.ini
Due: taplo

add retry logic
  mlflow/optuna/storage.py
Due: ruff, format, custom-python-lint

fix tests and property
  mlflow/entities/assessment.py
  mlflow/genai/judges/databricks.py
  tests/entities/test_assessment.py
  tests/genai/scorers/test_builtin_scorers.py
Due: ruff, format, custom-python-lint

fix another test
  tests/genai/scorers/test_scorer.py
Due: ruff, format, custom-python-lint

Set include_usage
  tests/llama_index/test_llama_index_tracer.py
Due: ruff, format, custom-python-lint

Unpin `huggingface-hub` (#13997)
  requirements/test-requirements.txt
Due: none
