Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, pylint, rstcheck

black:
  name: black
  entry: black
  language: system
  stages:
  - commit
  log_file: .black.log

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc
  stages:
  - commit

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit

Move validate_path_is_safe in utils
  mlflow/server/handlers.py
  mlflow/store/artifact/http_artifact_repo.py
  mlflow/utils/uri.py
Due: black, blacken-docs, pylint

test
  mlflow/utils/uri.py
  tests/store/artifact/test_http_artifact_repo.py
Due: black, blacken-docs, pylint

Validate path in `HttpArtifactRepository.list_artifacts` (#10585)
  mlflow/server/handlers.py
  mlflow/store/artifact/http_artifact_repo.py
  mlflow/utils/uri.py
  tests/store/artifact/test_http_artifact_repo.py
Due: black, blacken-docs, pylint

Fix unit tests
  mlflow/_spark_autologging.py
  mlflow/java/spark/pom.xml
  mlflow/ml-package-versions.yml
  tests/spark/autologging/conftest.py
  tests/spark/autologging/datasource/test_spark_datasource_autologging_order.py
  tests/spark/autologging/utils.py
Due: black, blacken-docs, pylint

Fix hidden inner-test dependency
  mlflow/_spark_autologging.py
  tests/spark/autologging/conftest.py
Due: black, blacken-docs, pylint

Weaken PYSPARK_PIN_THREAD validation from exception to warning
  mlflow/spark/__init__.py
Due: black, blacken-docs, pylint

Update doc
  docs/source/tracking/autolog.rst
  mlflow/spark/__init__.py
Due: black, blacken-docs, pylint

fix best_estimator_params bug (#10557)
  mlflow/recipes/steps/train.py
  tests/recipes/test_train_step.py
Due: black, blacken-docs, pylint

Add system metrics guide (#10429)
  docs/source/_static/images/system-metrics/system-metrics-view.png
  docs/source/index.rst
  docs/source/system-metrics/index.rst
  geez.md
Due: blacken-docs

Update index.rst
  docs/source/auth/index.rst
Due: blacken-docs

Update docs/source/auth/index.rst
  docs/source/auth/index.rst
Due: blacken-docs

gateway compatibility
  mlflow/metrics/genai/model_utils.py
Due: black, blacken-docs, pylint

better
  docs/source/getting-started/quickstart-2/index.rst
Due: blacken-docs

hyperopt writing
  docs/source/getting-started/quickstart-2/index.rst
Due: blacken-docs

fix comment
  docs/source/getting-started/quickstart-2/index.rst
Due: blacken-docs

cleanup
  mlflow/metrics/genai/model_utils.py
  tests/metrics/genai/test_model_utils.py
Due: black, blacken-docs, pylint

dummy file to trigger CI
  tests/tensorflow/save_keras_model.py
Due: black, blacken-docs, pylint

small change to description
  docs/source/deep-learning/keras/quickstart/quickstart_keras_core.ipynb
Due: none

task and endpoint_task
  mlflow/metrics/genai/model_utils.py
  mlflow/metrics/genai/prompts/v1.py
  tests/metrics/genai/test_model_utils.py
Due: black, blacken-docs, pylint

fix
  mlflow/metrics/genai/model_utils.py
  tests/metrics/genai/test_model_utils.py
Due: black, blacken-docs, pylint

dry
  mlflow/metrics/genai/model_utils.py
Due: black, blacken-docs, pylint

Update index.rst (#10590)
  docs/source/auth/index.rst
Due: blacken-docs

Improve the code of quickstart 2 - hyperparam search (#10344)
  docs/source/getting-started/quickstart-2/index.rst
  tests/tensorflow/save_keras_model.py
Due: black, blacken-docs, pylint

Support pyspark dev version (4.x)
  mlflow/ml-package-versions.yml
Due: none

Address comments
  mlflow/java/spark/src/main/scala/org/mlflow/spark/autologging/DatasourceAttributeExtractor.scala
Due: none

Support completions endpoints (#10577)
  mlflow/metrics/genai/genai_metric.py
  mlflow/metrics/genai/model_utils.py
  mlflow/metrics/genai/prompts/v1.py
  tests/evaluate/test_default_evaluator.py
  tests/metrics/genai/test_genai_metrics.py
  tests/metrics/genai/test_model_utils.py
Due: black, blacken-docs, pylint

Update quickstart quides
  docs/source/llms/deployments/guides/step1-create-deployments.rst
  docs/source/llms/deployments/guides/step2-query-deployments.rst
Due: blacken-docs

reenable the ci for docs change
  .github/workflows/gateway.yml
  .github/workflows/master.yml
  .github/workflows/r.yml
  .github/workflows/recipe.yml
Due: none

Update `docs/source/llms/gateway/migration.rst` (#10498)
  docs/source/llms/deployments/index.rst
  docs/source/llms/gateway/deprecation.rst
  docs/source/llms/gateway/index.rst
  docs/source/llms/gateway/migration.rst
  mlflow/gateway/__init__.py
  mlflow/gateway/utils.py
Due: black, blacken-docs, pylint

Fix
  docs/source/llms/deployments/guides/step2-query-deployments.rst
Due: blacken-docs

Support saving torch_dtype for transformers with components logging (#10586)
  mlflow/transformers/__init__.py
  tests/transformers/test_transformers_model_export.py
Due: black, blacken-docs, pylint

Update quickstart quides (#10593)
  docs/source/llms/deployments/guides/step1-create-deployments.rst
  docs/source/llms/deployments/guides/step2-query-deployments.rst
Due: blacken-docs

Re-enable the ci for docs change (#10595)
  .github/workflows/gateway.yml
  .github/workflows/master.yml
  .github/workflows/r.yml
  .github/workflows/recipe.yml
Due: none

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  pylint: any of: \.py$
  rstcheck: any of: README.rst
