Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

ruff:
  name: ruff
  entry: python dev/ruff.py
  language: system
  stages:
  - commit
  require_serial: true

format:
  name: format
  entry: python dev/format.py
  language: system
  stages:
  - commit
  require_serial: true

taplo:
  name: taplo
  entry: dev/taplo.sh
  language: system
  stages:
  - commit
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system
  stages:
  - commit
  require_serial: true

custom-python-lint:
  name: custom-python-lint
  entry: clint
  language: system
  stages:
  - commit
  require_serial: true

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit
  require_serial: true

generate-skinny-requirements:
  name: generate-skinny-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/skinny-requirements.yaml\n  --requirements-txt-output-location requirements/skinny-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

generate-core-requirements:
  name: generate-core-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/core-requirements.yaml\n  --requirements-txt-output-location requirements/core-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

generate-gateway-requirements:
  name: generate-gateway-requirements
  entry: "python dev/generate_requirements.py\n  --requirements-yaml-location requirements/gateway-requirements.yaml\n  --requirements-txt-output-location requirements/gateway-requirements.txt\n"
  language: system
  stages:
  - commit
  require_serial: true
  ...

mlver:
  name: ml-package-versions-consistency
  entry: python dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - commit
  require_serial: true
  pass_filenames: false

print session_id
  mlflow/telemetry/client.py
Due: ruff, format, custom-python-lint

Address comment
  docs/docs/classic-ml/webhooks/index.mdx
Due: none

fix register_prompt
  mlflow/telemetry/params.py
  mlflow/telemetry/parser.py
  mlflow/telemetry/schemas.py
  mlflow/telemetry/track.py
  tests/telemetry/test_params.py
  tests/telemetry/test_tracked_apis.py
Due: ruff, format, custom-python-lint

Fix test
  tests/webhooks/test_e2e.py
Due: ruff, format, custom-python-lint

Smolagents token count (#16362)
  docs/docs/genai/tracing/integrations/listing/smolagents.mdx
  mlflow/smolagents/autolog.py
  tests/smolagents/test_smolagents_autolog.py
Due: ruff, format, custom-python-lint

PydanticAI token count (#16251)
  docs/docs/genai/tracing/integrations/listing/pydantic_ai.mdx
  mlflow/pydantic_ai/autolog.py
  tests/pydantic_ai/test_pydanticai_tracing.py
Due: ruff, format, custom-python-lint

update
  mlflow/entities/trace_location.py
  mlflow/tracing/export/mlflow_v3.py
  mlflow/tracing/processor/base_mlflow.py
  mlflow/tracing/processor/mlflow_v3.py
  mlflow/tracing/provider.py
  mlflow/tracing/trace_manager.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

update
  mlflow/entities/trace_location.py
  mlflow/tracing/export/mlflow_v3.py
  mlflow/tracing/processor/mlflow_v3.py
  mlflow/tracing/trace_manager.py
Due: ruff, format, custom-python-lint

update tests
  tests/tracing/helper.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

addressed pr comments
  tests/genai/experimental/test_databricks_trace_archival.py
Due: ruff, format, custom-python-lint

Replace guideline_adherence to guidelines
  dev/pyproject.py
  libs/skinny/pyproject.toml
  mlflow/genai/judges/databricks.py
  pyproject.release.toml
  pyproject.toml
  tests/genai/judges/test_judges.py
  tests/genai/scorers/test_builtin_scorers.py
  tests/genai/scorers/test_scorer.py
  tests/genai/scorers/test_validation.py
Due: ruff, format, taplo, custom-python-lint

Updated GenAI view and fixed bug with stream caching
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter.py
  tests/genai/experimental/test_databricks_trace_exporter.py
Due: ruff, format, custom-python-lint

Add webhook documentation with FastAPI example (#16782)
  docs/api_reference/source/python_api/mlflow.webhooks.rst
  docs/docs/classic-ml/webhooks/index.mdx
  docs/sidebarsClassicML.ts
  mlflow/webhooks/types.py
  tests/webhooks/test_e2e.py
Due: ruff, format, blacken-docs, custom-python-lint

added serialized value and format on expectation for genai view
  mlflow/genai/experimental/databricks_trace_archival.py
Due: ruff, format, custom-python-lint

Handle new Tool usage of Pydantic AI (#16852)
  mlflow/pydantic_ai/__init__.py
  mlflow/pydantic_ai/autolog.py
  tests/pydantic_ai/test_pydanticai_fluent_tracing.py
  tests/pydantic_ai/test_pydanticai_tracing.py
Due: ruff, format, custom-python-lint

update test
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

fix tests
  mlflow/tracing/export/mlflow_v3.py
  mlflow/tracing/trace_manager.py
  tests/tracing/helper.py
  tests/tracing/processor/test_mlflow_v3_processor.py
  tests/tracing/test_provider.py
Due: ruff, format, custom-python-lint

Update snapshots workflow to always update nightly tag
  .github/scripts/snapshots.js
Due: none

Fix condition
  .github/workflows/snapshots.yml
Due: none

init
  libs/tracing/pyproject.toml
  mlflow/tracing/destination.py
  mlflow/tracing/processor/base_mlflow.py
  mlflow/tracing/processor/mlflow_v3.py
  mlflow/tracing/provider.py
  tests/tracing/processor/test_mlflow_v3_processor.py
  tests/tracing/test_fluent.py
Due: ruff, format, taplo, custom-python-lint

update
  mlflow/tracing/provider.py
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

doc
  mlflow/tracing/provider.py
Due: ruff, format, custom-python-lint

fix
  tests/spark/autologging/utils.py
Due: ruff, format, custom-python-lint

Update snapshots workflow to update nightly tag (#16858)
  .github/scripts/snapshots.js
  .github/workflows/snapshots.yml
Due: none

fix
  mlflow/ml-package-versions.yml
Due: mlver

fix
  dev/set-mlflow-spark-scala-version.py
  mlflow/ml-package-versions.yml
Due: ruff, format, custom-python-lint, mlver

switch to 13
  tests/spark/autologging/utils.py
Due: ruff, format, custom-python-lint

update
  mlflow/environment_variables.py
  mlflow/tracing/provider.py
  tests/tracing/test_provider.py
Due: ruff, format, custom-python-lint

update dep
  .github/workflows/tracing.yaml
  libs/tracing/pyproject.toml
Due: taplo

fix
  mlflow/ml-package-versions.yml
  tests/spark/autologging/utils.py
Due: ruff, format, custom-python-lint, mlver

fix tests
  tests/tracing/test_fluent.py
  tests/tracing/test_provider.py
Due: ruff, format, custom-python-lint

simplify
  mlflow/ml-package-versions.yml
Due: mlver

Validate event in test_webhook
  mlflow/webhooks/dispatch.py
  tests/webhooks/test_e2e.py
Due: ruff, format, custom-python-lint

test
  mlflow/ml-package-versions.yml
Due: mlver

Fix OpenAI autolog Pydantic validation for integer enum values
  mlflow/types/chat.py
  tests/tracing/utils/test_utils.py
Due: ruff, format, custom-python-lint

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  format: any of: \.py$, \.ipynb$
  taplo: any of: \.toml$
  blacken-docs: any of: \.rst$, \.(md|markdown|mdown)$
  custom-python-lint: any of: \.py$
  rstcheck: any of: README.rst
  generate-skinny-requirements: any of: ^requirements/skinny-requirements.yaml$
  generate-core-requirements: any of: ^requirements/core-requirements.yaml$
  generate-gateway-requirements: any of: ^requirements/gateway-requirements.yaml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
