Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Add webhooks management UI to settings page (#21483)
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/settings/SettingsPage.test.tsx
  mlflow/server/js/src/settings/SettingsPage.tsx
  mlflow/server/js/src/settings/WebhookDeleteModal.tsx
  mlflow/server/js/src/settings/WebhookFormModal.tsx
  mlflow/server/js/src/settings/WebhookListItem.tsx
  mlflow/server/js/src/settings/WebhooksSettings.test.tsx
  mlflow/server/js/src/settings/WebhooksSettings.tsx
  mlflow/server/js/src/settings/webhookConstants.ts
  mlflow/server/js/src/settings/webhooksApi.test.ts
  mlflow/server/js/src/settings/webhooksApi.ts
Due: none

Deprecate legacy fetch helpers in favor of fetchAPI/fetchOrFail (#21525)
  mlflow/server/js/src/common/utils/FetchUtils.ts
Due: none

fix
  mlflow/server/js/src/experiment-tracking/components/experiment-page/utils/experimentPage.group-row-utils.ts
Due: none

Remove `_stringify_all_experiment_ids` backwards compatibility shim (#21529)
  mlflow/utils/proto_json_utils.py
  tests/utils/test_proto_json_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix field-based make_judge prompt missing feedback_value_type (#21058)
  mlflow/genai/judges/instructions_judge/__init__.py
  mlflow/genai/judges/utils/__init__.py
  mlflow/genai/judges/utils/prompt_utils.py
  tests/genai/judges/test_make_judge.py
  tests/genai/judges/utils/test_prompt_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  mlflow/genai/discovery/utils.py
  tests/genai/discovery/test_clustering.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

update
  tests/genai/discovery/test_clustering.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add issues tab
  mlflow/server/js/src/experiment-tracking/components/run-page/IssuesTabEmptyState.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunPage.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewIssuesTab.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewModeSwitch.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/overview/IssueDetectionProgress.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/useRunViewActiveTab.tsx
  mlflow/server/js/src/experiment-tracking/constants.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/IssueDetectionRunDetailsPage.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Update mlflow/cli/scorers.py
  mlflow/cli/scorers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

comments
  .github/workflows/typescript-release.yml
  dev/typescript-sdk/ts-publish.js
  libs/typescript/scripts/resolve-ts-publish-matrix.ts
  libs/typescript/scripts/test-ts-publish.sh
  libs/typescript/scripts/ts-publish.ts
Due: normalize-chars, conftest

Add Issues tab with empty state to run details page (#21497)
  mlflow/server/js/src/experiment-tracking/components/run-page/IssuesTabEmptyState.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunPage.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewIssuesTab.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewModeSwitch.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/overview/IssueDetectionProgress.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/useRunViewActiveTab.tsx
  mlflow/server/js/src/experiment-tracking/constants.ts
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-runs/IssueDetectionRunDetailsPage.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Update mlflow/genai/judges/make_judge.py
  mlflow/genai/judges/make_judge.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

add search issues query
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewIssuesTab.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/hooks/useSearchIssuesQuery.tsx
Due: none

Add budget alert webhooks UI and fix budgets table borders
  mlflow/server/js/src/gateway/components/budgets/BudgetsList.tsx
  mlflow/server/js/src/gateway/pages/BudgetsPage.tsx
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/settings/WebhookFormModal.tsx
  mlflow/server/js/src/settings/WebhooksSettings.tsx
Due: none

Address PR review: fix JSDoc, apply componentIdPrefix consistently, add eventFilter tests
  mlflow/server/js/src/settings/WebhooksSettings.test.tsx
  mlflow/server/js/src/settings/WebhooksSettings.tsx
Due: none

lint
  .github/workflows/typescript-release.yml
  libs/typescript/scripts/resolve-ts-publish-matrix.ts
  libs/typescript/scripts/ts-publish.ts
Due: normalize-chars, conftest

Address PR review comments: rename tips, add code examples, update links
  docs/docs/genai/tracing/app-instrumentation/manual-tracing.mdx
  docs/docs/genai/tracing/index.mdx
  docs/docs/genai/tracing/integrations/listing/anthropic.mdx
  docs/docs/genai/tracing/integrations/listing/langchain.mdx
  docs/docs/genai/tracing/integrations/listing/openai.mdx
  docs/docs/genai/tracing/observe-with-traces/multimodal.mdx
  docs/docs/genai/tracing/observe-with-traces/ui.mdx
Due: normalize-chars, blacken-docs, clint, typos

Replace `confidence` with `severity` in issue discovery summary (#21532)
  mlflow/genai/discovery/utils.py
  tests/genai/discovery/test_clustering.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add search issues query to `RunViewIssuesTab` with loading and empty states (#21498)
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewIssuesTab.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/hooks/useSearchIssuesQuery.tsx
Due: none

Replace componentIdPrefix with typed static componentIds object
  mlflow/server/js/src/gateway/pages/BudgetsPage.tsx
  mlflow/server/js/src/settings/WebhooksSettings.tsx
Due: none

add issues basic display
  mlflow/server/js/src/experiment-tracking/components/run-page/IssueCard.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewIssuesTab.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

comment
  mlflow/store/tracking/sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

lint
  mlflow/store/tracking/sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

support search traces with issue id
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/utils/search_utils.py
  tests/store/tracking/test_sqlalchemy_store_issues.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

comment
  mlflow/utils/search_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix
  tests/store/tracking/test_sqlalchemy_store_issues.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

remove client and fluent API
  docs/api_reference/api_inventory.txt
  mlflow/__init__.py
  mlflow/tracking/client.py
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent.py
  tests/tracking/test_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

update
  mlflow/tracing/client.py
  mlflow/tracking/_tracking_service/client.py
  tests/tracking/test_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

create_issue fluent API
  mlflow/__init__.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

api
  docs/api_reference/api_inventory.txt
Due: normalize-chars

fix
  mlflow/tracing/client.py
  tests/tracking/test_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

comment
  mlflow/tracing/client.py
  tests/tracking/test_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add session_id and user kwargs to configure_trace and update_current_trace
  docs/docs/genai/tracing/prod-tracing.mdx
  docs/docs/genai/tracing/track-environments-context/index.mdx
  docs/docs/genai/tracing/track-users-sessions/index.mdx
  mlflow/tracing/fluent.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Add dev-mode logging to TelemetryClient logEvent
  mlflow/server/js/src/telemetry/TelemetryClient.ts
Due: none

Add budget alert webhooks UI and fix budgets table borders (#21534)
  mlflow/server/js/src/gateway/components/budgets/BudgetsList.tsx
  mlflow/server/js/src/gateway/pages/BudgetsPage.tsx
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/settings/WebhookFormModal.tsx
  mlflow/server/js/src/settings/WebhooksSettings.test.tsx
  mlflow/server/js/src/settings/WebhooksSettings.tsx
Due: none

Add admin-only authorization for budget policy CRUD
  mlflow/server/auth/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

lint
  mlflow/server/auth/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

wording
  docs/docs/genai/governance/ai-gateway/budget-alerts-limits.mdx
Due: normalize-chars, blacken-docs, clint, typos

update
  docs/docs/genai/governance/ai-gateway/budget-alerts-limits.mdx
  docs/static/images/budget-policies-create.png
  docs/static/images/budget-policies-list.png
Due: normalize-chars, blacken-docs, clint, typos

comment
  docs/docs/genai/governance/ai-gateway/budget-alerts-limits.mdx
Due: normalize-chars, blacken-docs, clint, typos

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
