Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Add .python-version artifact logging and MLFLOW_LOG_UV_FILES env var
  mlflow/utils/uv_utils.py
  tests/utils/test_uv_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[MLflow Demo] Base implementation for demo framework (#19994)
  mlflow/demo/README.md
  mlflow/demo/__init__.py
  mlflow/demo/base.py
  mlflow/demo/generators/__init__.py
  mlflow/demo/registry.py
  tests/demo/__init__.py
  tests/demo/conftest.py
  tests/demo/test_base.py
  tests/demo/test_generate.py
  tests/demo/test_registry.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Add explicit uv_lock parameter for monorepo support
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/model.py
  mlflow/utils/uv_utils.py
  tests/utils/test_uv_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Apply MLflow code style fixes for UV support
  mlflow/pyfunc/__init__.py
  mlflow/utils/uv_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Docs: Clarify optional uv usage
  docs/src/content/setup_server.mdx
Due: normalize-chars, blacken-docs, clint, typos

Use UV project Python version in model artifacts
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/model.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add UV package manager support for automatic dependency inference
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/model.py
  mlflow/utils/environment.py
  mlflow/utils/uv_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add unit tests for UV package manager support
  tests/utils/test_uv_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add tests for _merge_requirements and infer_pip_requirements UV integration
  tests/utils/test_uv_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix ci
  .github/workflows/master.yml
Due: normalize-chars, conftest

Add pyfunc integration tests for UV model logging
  tests/pyfunc/test_uv_model_logging.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix argument alignment in Model._log_v2
  mlflow/models/model.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Refactor integration tests to use real UV calls
  tests/pyfunc/test_uv_model_logging.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Allow skills permission and pass tracking URI explciitly
  mlflow/assistant/providers/claude_code.py
  tests/assistant/providers/test_claude_code_provider.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Ignore local repro scripts
  .gitignore
Due: normalize-chars

retry goal check when temperature is not supported
  mlflow/genai/simulators/simulator.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add Phase 2 UV support: dependency groups, env restoration, and index extraction
  mlflow/utils/uv_utils.py
  tests/pyfunc/test_uv_model_logging.py
  tests/utils/test_uv_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

remove logging
  mlflow/assistant/skill_installer.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Install Skills during Assistant setup (#20252)
  .github/workflows/master.yml
  .gitmodules
  dev/build.py
  dev/check_init_py.py
  mlflow/assistant/cli.py
  mlflow/assistant/config.py
  mlflow/assistant/providers/base.py
  mlflow/assistant/providers/claude_code.py
  mlflow/assistant/skill_installer.py
  mlflow/assistant/skills/dummy/SKILL.md
  mlflow/server/assistant/api.py
  mlflow/server/js/src/assistant/AssistantService.ts
  mlflow/server/js/src/assistant/setup/AssistantSetupWizard.tsx
  mlflow/server/js/src/assistant/setup/SetupStepAuth.tsx
  mlflow/server/js/src/assistant/setup/SetupStepProject.tsx
  mlflow/server/js/src/assistant/types.ts
  pyproject.toml
  tests/assistant/test_cli.py
  tests/assistant/test_skill_installer.py
  tests/server/assistant/test_api.py
Due: normalize-chars, ruff, format, blacken-docs, clint, taplo, typos, conftest, check-init-py, uv-lock

fix comments
  mlflow/server/handlers.py
  mlflow/utils/mlflow_tags.py
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix comments
  mlflow/genai/optimize/optimizers/gepa_optimizer.py
  mlflow/genai/optimize/util.py
  tests/genai/optimize/optimizers/test_gepa_optimizer.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update index and predefined judges pages
  docs/docs/genai/eval-monitor/scorers/index.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/predefined.mdx
  docs/sidebarsGenAI.ts
Due: normalize-chars, blacken-docs, clint, typos

judge grouping
  docs/docs/genai/eval-monitor/scorers/llm-judge/predefined.mdx
Due: normalize-chars, blacken-docs, clint, typos

sidebar updates
  docs/sidebarsGenAI.ts
Due: normalize-chars

fix dataset naming
  tests/data/test_huggingface_dataset_and_source.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Ticket #17899: Add support for multipart download with presigned URLs for S3 compatible object storages
  mlflow/entities/presigned_download.py
  mlflow/environment_variables.py
  mlflow/exceptions.py
  mlflow/protos/mlflow_artifacts.proto
  mlflow/protos/mlflow_artifacts_pb2.py
  mlflow/server/handlers.py
  mlflow/store/artifact/http_artifact_repo.py
  mlflow/store/artifact/s3_artifact_repo.py
  tests/store/artifact/test_http_artifact_repo.py
  tests/store/artifact/test_s3_artifact_repo.py
Due: normalize-chars, ruff, format, clint, lint-proto, typos, check-init-py

Ticket #17899: fixing issue after rebase on master
  mlflow/store/artifact/mlflow_artifacts_repo.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

include optimizer config in search optimization jobs
  mlflow/server/handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add Judge Builder blog post
  docs/blog/2026-01-23-judge-builder/hero.png
  docs/blog/2026-01-23-judge-builder/index.md
Due: normalize-chars, blacken-docs, clint, typos

Fix HuggingFace Dataset standardization issue (#20350)
  tests/data/test_huggingface_dataset_and_source.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: Replace bare Exception with specific MlflowException in delete_assessment
  mlflow/store/tracking/file_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix: Handle NonRecordingSpan in copy_trace_to_experiment
  mlflow/entities/span.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix(tracing): raise MlflowException when start_detached_span returns NonRecordingSpan; add regression test for copy_trace_to_experiment
  mlflow/entities/span.py
  tests/tracing/utils/test_copy.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add documentation for using Gateway endpoints with MLflow judges (#20308)
  docs/docs/genai/eval-monitor/scorers/llm-judge/make-judge.mdx
  docs/docs/genai/governance/ai-gateway/endpoints/query-endpoints.mdx
Due: normalize-chars, blacken-docs, clint, typos

Changed the demo to use Guidelines and addressed comments. Added a way to add human feedback manually
  examples/evaluation/MemAlign Tutorial.ipynb
Due: normalize-chars, ruff, format, clint
