Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Include environment variable fallback for SGC run resumption (#19143)
  mlflow/environment_variables.py
  mlflow/utils/databricks_utils.py
  tests/utils/test_databricks_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Handle trace with 3p generaic root span (#19217)
  mlflow/tracing/utils/__init__.py
  tests/tracing/opentelemetry/test_integration.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Prevent symlink path traversal in local artifact store (#18964)
  mlflow/store/artifact/local_artifact_repo.py
  mlflow/utils/uri.py
  tests/store/artifact/test_local_artifact_repo.py
  tests/utils/test_uri.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Migrate vercel integration to otel and update doc (#18784)
  docs/docs/genai/tracing/integrations/listing/vercelai.mdx
  libs/typescript/core/src/core/integration_loader.ts
  libs/typescript/core/src/core/provider.ts
  libs/typescript/integrations/anthropic/tsconfig.json
  libs/typescript/integrations/gemini/tsconfig.json
  libs/typescript/integrations/openai/tsconfig.json
  libs/typescript/integrations/vercel/README.md
  libs/typescript/integrations/vercel/jest.config.js
  libs/typescript/integrations/vercel/package.json
  libs/typescript/integrations/vercel/src/index.ts
  libs/typescript/integrations/vercel/tests/index.test.ts
  libs/typescript/integrations/vercel/tsconfig.json
  libs/typescript/package-lock.json
  libs/typescript/package.json
  libs/typescript/tsconfig.base.json
Due: normalize-chars, blacken-docs, clint, typos

Add LangChain optimization guide (#18836)
  docs/docs/genai/prompt-registry/optimize-prompts.mdx
  docs/docs/genai/prompt-registry/optimize-prompts/langchain-optimization.mdx
  docs/sidebarsGenAI.ts
Due: normalize-chars, blacken-docs, clint, typos

minor: rm backend store URI logging (#19168)
  mlflow/cli/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix routing conflict when invoking get_trace on older MLflow servers (#19130)
  mlflow/server/handlers.py
  mlflow/store/tracking/rest_store.py
  tests/store/tracking/test_rest_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Voltagent Support (#19041)
  docs/docs/genai/tracing/app-instrumentation/typescript-sdk.mdx
  docs/docs/genai/tracing/integrations/listing/voltagent.mdx
  docs/sidebarsGenAI.ts
  docs/src/components/TracingIntegrations/index.tsx
  docs/static/images/llms/tracing/voltagent-tracing.png
  docs/static/images/logos/voltagent-logo.png
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/ModelTraceExplorer.utils.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/index.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/voltagent.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/voltagent.ts
  mlflow/tracing/otel/translation/__init__.py
  mlflow/tracing/otel/translation/base.py
  mlflow/tracing/otel/translation/voltagent.py
  tests/tracing/otel/test_voltagent_translator.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

Followups for multi-turn M1 documentation (#19208)
  docs/docs/genai/eval-monitor/running-evaluation/multi-turn.mdx
Due: normalize-chars, blacken-docs, clint, typos

feat: Add gzip/deflate Content-Encoding support to OTLP traces endpoint (#19024)
  mlflow/server/otel_api.py
  mlflow/tracing/utils/otlp.py
  tests/tracing/test_otel_logging.py
  tests/tracing/utils/test_otlp.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Create parent directories for SQLite database files (#19205)
  mlflow/store/db/utils.py
  tests/store/db/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Support search filter string for prompts (#18919)
  mlflow/server/js/src/experiment-tracking/pages/prompts/api.test.ts
  mlflow/server/js/src/experiment-tracking/pages/prompts/api.ts
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListFilters.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/utils.ts
  mlflow/server/js/src/model-registry/components/model-list/ModelListFilters.tsx
Due: none

Add experiment prompts functionality (#19156)
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useGetExperimentPageActiveTabByRoute.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/ExperimentPageSideNav.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/constants.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/ExperimentPromptDetailsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/ExperimentPromptsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsDetailsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsPage.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/api.test.ts
  mlflow/server/js/src/experiment-tracking/pages/prompts/api.ts
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTable.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListTableNameCell.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/useCreatePromptModal.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/useCreateRegisteredPromptMutation.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/usePromptsListQuery.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/utils.ts
  mlflow/server/js/src/experiment-tracking/route-defs.ts
  mlflow/server/js/src/experiment-tracking/routes.ts
  mlflow/server/js/src/lang/default/en.json
Due: none

Link Prompts and Experiments when prompts are loaded/registered (#18883)
  mlflow/prompt/constants.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/tracking/_model_registry/fluent.py
  mlflow/tracking/client.py
  tests/genai/prompts/test_prompts.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Convert the records property in Evaluation Datasets to be private (#19145)
  mlflow/genai/datasets/__init__.py
  mlflow/genai/datasets/evaluation_dataset.py
  tests/genai/datasets/test_fluent.py
  tests/server/test_handlers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove logging config in db and update mlflow logger (#19049)
  mlflow/server/auth/db/migrations/alembic.ini
  mlflow/server/auth/db/migrations/env.py
  mlflow/store/db_migrations/alembic.ini
  mlflow/store/db_migrations/env.py
  mlflow/utils/logging_utils.py
  tests/utils/test_logging_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Pass tracking URI (#18023)
  mlflow/tracking/_tracking_service/client.py
  tests/tracking/_tracking_service/test_tracking_service_client.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update chat parsing logic for Vercel AI (#18783)
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/vercelai.test.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/chat-utils/vercelai.ts
  mlflow/tracing/otel/translation/vercel_ai.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[BUG FIX] Add is_session_level-scorer flag to scorer serialization (#19171)
  mlflow/genai/judges/instructions_judge/__init__.py
  mlflow/genai/scorers/base.py
  mlflow/genai/scorers/builtin_scorers.py
  tests/genai/judges/test_builtin.py
  tests/genai/judges/test_make_judge.py
  tests/genai/scorers/test_scorer.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Log prompt version link to an active span (#18890)
  mlflow/tracing/constant.py
  mlflow/tracking/_model_registry/fluent.py
  tests/genai/prompts/test_prompts.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix property blocks rendering horizontally in API documentation (#19125)
  docs/api_reference/theme/mlflow/static/css/theme.css
Due: normalize-chars

Fix InstructionsJudge using scorer description as assessment value (#19121)
  mlflow/genai/judges/instructions_judge/__init__.py
  tests/genai/judges/test_make_judge.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Evaluation datasets UI - Show full dataset record content, add search bar (#19000)
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets/components/ExperimentEvaluationDatasetJsonCell.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets/components/ExperimentEvaluationDatasetRecordsTable.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-evaluation-datasets/components/ExperimentEvaluationDatasetRecordsToolbar.tsx
Due: none

Downgrade signature warning to info (#19153)
  mlflow/models/model.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add --builtin/-b flag to mlflow scorers list command (#19095)
  mlflow/cli/scorers.py
  tests/cli/test_scorers.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Adds static prefix to both health and version routes. (#13314)
  mlflow/server/__init__.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Deprecate InferenceTableLocation (#19201)
  mlflow/entities/trace_location.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Bug fix - stringify error messages for session-level judges when constructing assessments (#19140)
  mlflow/genai/evaluation/session_utils.py
  tests/genai/evaluate/test_session_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[BUG FIX] Fix Managed Scorer Register Failure (#19146)
  mlflow/genai/judges/instructions_judge/__init__.py
  tests/genai/judges/test_make_judge.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

[ML-59952] Add telemetry field on genai_evaluate event to track multi-turn scorer usages (#19138)
  mlflow/telemetry/events.py
  tests/telemetry/test_tracked_events.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix shared cluster Py4j statefulness issue (#19139)
  mlflow/utils/requirements_utils.py
  tests/utils/test_requirements_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix start_trace compatibility with old mlflow clients (#19183)
  libs/typescript/core/tests/clients/client.test.ts
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update transformers and sentence transformers docs (#18925)
  docs/docs/classic-ml/deep-learning/sentence-transformers/guide/index.mdx
  docs/docs/classic-ml/deep-learning/sentence-transformers/index.mdx
  docs/docs/classic-ml/deep-learning/sentence-transformers/tutorials/index.mdx
  docs/docs/classic-ml/deep-learning/transformers/guide/index.mdx
  docs/docs/classic-ml/deep-learning/transformers/index.mdx
  docs/docusaurus.config.ts
  docs/sidebarsClassicML.ts
  docs/static/images/tutorials/llms/transformers-fine-tuning.png
  docs/static/images/tutorials/llms/transformers-pipeline-architecture.png
Due: normalize-chars, blacken-docs, clint, typos

Add documentation for milestone 1 of multi-turn evaluation support (#19033)
  docs/docs/genai/eval-monitor/running-evaluation/multi-turn.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/make-judge.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/predefined.mdx
  docs/sidebarsGenAI.ts
  docs/static/images/genai/sessions-view-ui.png
Due: normalize-chars, blacken-docs, clint, typos

Display more information on the sidenav and remove list view from prompt details page (#18862)
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsDetailsPage.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/PromptsDetailsPage.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptVersionsTable.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptVersionsTableAliasesCell.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptVersionsTableCombinedCell.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/usePromptDetailsPageViewState.test.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/hooks/usePromptDetailsPageViewState.tsx
  mlflow/server/js/src/experiment-tracking/pages/prompts/utils.ts
  mlflow/server/js/src/lang/default/en.json
Due: none

Fix trace-based scorer evaluation by using agentic judge adapter (#19123)
  mlflow/genai/judges/utils/invocation_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add test for return_full_text when saving prompt_template (#19148)
  tests/transformers/test_transformers_model_export.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add doc for otlp compression (#19181)
  docs/docs/genai/tracing/opentelemetry/ingest.mdx
Due: normalize-chars, blacken-docs, clint, typos
