Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, custom-python-lint, rstcheck, generate-skinny-requirements, generate-core-requirements, generate-gateway-requirements, mlver

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!CHANGELOG.md|mlflow/pypi_package_index.json|docs/|mlflow/server/js/).+\.(js|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        types_or: [python, jupyter]
        stages: [commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        types: [toml]
        stages: [commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [rst, markdown]
        stages: [commit]
        require_serial: true

      - id: custom-python-lint
        name: custom-python-lint
        entry: clint
        language: system
        types: [python]
        stages: [commit]
        require_serial: true

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [commit]
        require_serial: true

      - id: generate-skinny-requirements
        name: generate-skinny-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/skinny-requirements.yaml
            --requirements-txt-output-location requirements/skinny-requirements.txt
        files: "^requirements/skinny-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-core-requirements
        name: generate-core-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/core-requirements.yaml
            --requirements-txt-output-location requirements/core-requirements.txt
        files: "^requirements/core-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: generate-gateway-requirements
        name: generate-gateway-requirements
        entry: >
          python dev/generate_requirements.py
            --requirements-yaml-location requirements/gateway-requirements.yaml
            --requirements-txt-output-location requirements/gateway-requirements.txt
        files: "^requirements/gateway-requirements.yaml$"
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [commit]
        require_serial: true
        pass_filenames: false

fix
  mlflow/server/js/public/lib/ml-model-trace-renderer/index.html
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/115.7273ffb2.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/328.9a0abed5.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/381.9adeb788.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/381.d5736c28.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/409.f8577305.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/49.5dac9478.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/513.2120f8ed.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/513.a3aeb043.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/517.774e38ec.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/632.5cc944f8.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/825.a5ff58b6.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/825.cfb2b39f.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/836.64ea8d99.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/836.d7cccbee.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/ml-model-trace-renderer.5a38120e.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/ml-model-trace-renderer.e8fa0077.js
Due: none

Checkout
  dev/instatll.sh
Due: none

Rename
  .github/workflows/advice.js
  dev/instatll-skinny.sh
Due: none

minor
  docs/docs/prompts/evaluate.mdx
  docs/docs/prompts/index.mdx
  docs/docs/prompts/run-and-model.mdx
Due: none

Unsupport search prompts by tags temporary
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListFilters.tsx
Due: none

silence linter
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListFilters.tsx
Due: none

Fix trace tag color in OSS (#14989)
  mlflow/server/js/public/lib/ml-model-trace-renderer/index.html
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/115.7273ffb2.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/328.9a0abed5.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/381.9adeb788.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/381.d5736c28.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/409.f8577305.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/49.5dac9478.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/513.2120f8ed.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/513.a3aeb043.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/517.774e38ec.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/632.5cc944f8.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/825.a5ff58b6.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/825.cfb2b39f.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/836.64ea8d99.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/836.d7cccbee.chunk.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/ml-model-trace-renderer.5a38120e.js
  mlflow/server/js/public/lib/ml-model-trace-renderer/js/ml-model-trace-renderer.e8fa0077.js
Due: none

add demo notebooks
  examples/README.md
  examples/demos/pythonmodel_agent_with_uc_tools.ipynb
  examples/demos/pythonmodel_type_hints_quickstart.ipynb
Due: ruff, format, blacken-docs

fix additional recursion problem
  mlflow/utils/autologging_utils/logging_and_warnings.py
  tests/utils/test_autologging_utils.py
Due: ruff, format, custom-python-lint

update
  examples/demos/pythonmodel_agent_with_uc_tools.ipynb
Due: ruff, format

Fix + Lint error resolve
  mlflow/server/js/src/experiment-tracking/components/ArtifactView.tsx
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactPage.tsx
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactTextView.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

wipo
  mlflow/openai/_agent_tracer.py
Due: ruff, format, custom-python-lint

warning->debug
  mlflow/openai/_agent_tracer.py
  tests/openai/test_openai_agent_autolog.py
Due: ruff, format, custom-python-lint

Support OpenAI Agent SDK Auto Tracing
  mlflow/ml-package-versions.yml
  mlflow/openai/__init__.py
  mlflow/openai/_agent_tracer.py
  mlflow/tracking/client.py
  tests/openai/test_openai_agent_autolog.py
Due: ruff, format, custom-python-lint, mlver

remove instance var
  mlflow/utils/autologging_utils/logging_and_warnings.py
  tests/utils/test_autologging_utils.py
Due: ruff, format, custom-python-lint

revert
  mlflow/utils/autologging_utils/logging_and_warnings.py
  tests/utils/test_autologging_utils.py
Due: ruff, format, custom-python-lint

Update mlflow/utils/autologging_utils/logging_and_warnings.py
  mlflow/utils/autologging_utils/logging_and_warnings.py
Due: ruff, format, custom-python-lint

Adjust validation
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
Due: ruff, format, custom-python-lint

Fix call assertions
  tests/tracing/test_fluent.py
Due: ruff, format, custom-python-lint

Fix more tests
  tests/tracing/test_fluent.py
  tests/tracking/test_client.py
Due: ruff, format, custom-python-lint

Add doc for OpenAI Agent SDK support
  docs/docs/tracing/index.mdx
  docs/docs/tracing/integrations/index.mdx
  docs/docs/tracing/integrations/openai-agent.mdx
  docs/docs/tracing/integrations/swarm.mdx
  docs/static/images/llms/tracing/openai-agent-tracing-function-calling.png
  docs/static/images/llms/tracing/openai-agent-tracing-guardrail.png
  docs/static/images/llms/tracing/openai-agent-tracing.png
  docs/static/images/logos/openai-agent-logo.png
Due: none

typo
  docs/docs/tracing/integrations/openai-agent.mdx
Due: none

mlflow
  docs/docs/tracing/integrations/openai-agent.mdx
Due: none

Log logged model params and tags to run
  mlflow/models/model.py
  tests/pyfunc/test_logged_models.py
Due: ruff, format, custom-python-lint

Improve test
  tests/pyfunc/test_logged_models.py
Due: ruff, format, custom-python-lint

Add demo notebooks for type hints (#14946)
  examples/README.md
  examples/demos/pythonmodel_agent_with_uc_tools.ipynb
  examples/demos/pythonmodel_type_hints_quickstart.ipynb
Due: ruff, format, blacken-docs

support disable
  mlflow/openai/__init__.py
  mlflow/openai/_agent_tracer.py
  tests/openai/test_openai_agent_autolog.py
Due: ruff, format, custom-python-lint

Draft prompt registry doc (#14936)
  docs/docs/prompts/cm.mdx
  docs/docs/prompts/evaluate.mdx
  docs/docs/prompts/index.mdx
  docs/docs/prompts/run-and-model.mdx
  docs/sidebars.ts
  docs/static/images/llms/prompt-registry/compare-prompt-versions.png
  docs/static/images/llms/prompt-registry/create-prompt-alias.png
  docs/static/images/llms/prompt-registry/create-prompt-ui.png
  docs/static/images/llms/prompt-registry/prompt-aliases-list.png
  docs/static/images/llms/prompt-registry/prompt-evaluation-chart.png
  docs/static/images/llms/prompt-registry/prompt-evaluation-result.png
  docs/static/images/llms/prompt-registry/prompt-evaluation-trace.png
  docs/static/images/llms/prompt-registry/prompt-logged-graph.png
  docs/static/images/llms/prompt-registry/prompt-logged-model-links.png
  docs/static/images/llms/prompt-registry/prompt-logged-model.png
  docs/static/images/llms/prompt-registry/prompt-logged-trace.png
  docs/static/images/llms/prompt-registry/prompt-registry-header.png
  docs/static/images/llms/prompt-registry/registered-prompt.png
  docs/static/images/llms/prompt-registry/update-prompt-ui.png
  mlflow/tracking/_model_registry/fluent.py
  mlflow/tracking/client.py
Due: ruff, format, custom-python-lint

Fix infinite recursion error with warning handler module (#14954)
  mlflow/utils/autologging_utils/logging_and_warnings.py
  tests/utils/test_autologging_utils.py
Due: ruff, format, custom-python-lint

Unsupport search prompts by tags temporary (#14990)
  mlflow/server/js/src/experiment-tracking/pages/prompts/components/PromptsListFilters.tsx
Due: none

Openai agent sdk doc (#14992)
  docs/docs/tracing/index.mdx
  docs/docs/tracing/integrations/index.mdx
  docs/docs/tracing/integrations/openai-agent.mdx
  docs/docs/tracing/integrations/swarm.mdx
  docs/static/images/llms/tracing/openai-agent-tracing-function-calling.png
  docs/static/images/llms/tracing/openai-agent-tracing-guardrail.png
  docs/static/images/llms/tracing/openai-agent-tracing.png
  docs/static/images/logos/openai-agent-logo.png
Due: none

dspy autolog link traces
  mlflow/dspy/autolog.py
  mlflow/dspy/callback.py
  mlflow/dspy/load.py
  mlflow/dspy/save.py
  mlflow/models/model.py
  tests/dspy/test_dspy_autolog.py
Due: ruff, format, custom-python-lint

Support OpenAI Agent SDK Auto Tracing (#14987)
  mlflow/ml-package-versions.yml
  mlflow/openai/__init__.py
  mlflow/openai/_agent_tracer.py
  mlflow/tracking/client.py
  tests/openai/test_openai_agent_autolog.py
Due: ruff, format, custom-python-lint, mlver
