Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|ts|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

Fix sklearn test (#18319)
  tests/sklearn/test_sklearn_model_export.py
Due: ruff, format, clint, typos

Self-host documentation (#17986)
  docs/docs/classic-ml/auth/index.mdx
  docs/docs/classic-ml/getting-started/hyperparameter-tuning/index.mdx
  docs/docs/classic-ml/getting-started/index.mdx
  docs/docs/classic-ml/getting-started/logging-first-model/step1-tracking-server.mdx
  docs/docs/classic-ml/getting-started/running-notebooks/index.mdx
  docs/docs/classic-ml/model-registry/workflow.mdx
  docs/docs/classic-ml/tracking/index.mdx
  docs/docs/classic-ml/tracking/server/security/configuration.mdx
  docs/docs/classic-ml/tracking/server/security/index.mdx
  docs/docs/classic-ml/tracking/server/security/ui-access.mdx
  docs/docs/classic-ml/tracking/tracking-api/index.mdx
  docs/docs/classic-ml/tracking/tutorials/remote-server/index.mdx
  docs/docs/genai/getting-started/connect-environment.mdx
  docs/docs/genai/tracing/observe-with-traces/ui.mdx
  docs/docs/genai/tracing/quickstart/typescript-openai.mdx
  docs/docs/self-hosting/architecture/artifact-store.mdx
  docs/docs/self-hosting/architecture/backend-store.mdx
  docs/docs/self-hosting/architecture/overview.mdx
  docs/docs/self-hosting/architecture/tracking-server.mdx
  docs/docs/self-hosting/index.mdx
  docs/docs/self-hosting/migration.mdx
  docs/docs/self-hosting/security/basic-http-auth.mdx
  docs/docs/self-hosting/security/custom.md
  docs/docs/self-hosting/security/network.mdx
  docs/docs/self-hosting/security/sso.mdx
  docs/docs/self-hosting/troubleshooting.mdx
  docs/docusaurus.config.ts
  docs/eslint-plugin-mlflow-docs/rules/prefer-apilink-component.js
  docs/sidebars.ts
  docs/sidebarsClassicML.ts
  docs/sidebarsGenAI.ts
  docs/sidebarsSelfHosting.ts
  libs/tracing/README.md
  mlflow/store/tracking/_sql_backend_utils.py
Due: ruff, format, blacken-docs, clint, typos

Introduce flexible prompt optimization API and add instruction for model switching (#18183)
  docs/api_reference/api_inventory.txt
  docs/docs/genai/eval-monitor/scorers/llm-judge/predefined.mdx
  docs/docs/genai/getting-started/index.mdx
  docs/docs/genai/prompt-registry/optimize-prompts.mdx
  docs/docs/genai/prompt-registry/rewrite-prompts.mdx
  docs/sidebarsGenAI.ts
  docs/static/images/evaluation_dataset_ui.png
  docs/static/images/model_migration_workflow.svg
  mlflow/genai/__init__.py
  mlflow/genai/judges/prompts/equivalence.py
  mlflow/genai/optimize/__init__.py
  mlflow/genai/optimize/base.py
  mlflow/genai/optimize/optimize.py
  mlflow/genai/optimize/optimizers/__init__.py
  mlflow/genai/optimize/optimizers/base.py
  mlflow/genai/optimize/optimizers/base_optimizer.py
  mlflow/genai/optimize/optimizers/dspy_mipro_optimizer.py
  mlflow/genai/optimize/optimizers/dspy_optimizer.py
  mlflow/genai/optimize/optimizers/gepa_optimizer.py
  mlflow/genai/optimize/optimizers/utils/__init__.py
  mlflow/genai/optimize/optimizers/utils/dspy_mipro_callback.py
  mlflow/genai/optimize/optimizers/utils/dspy_optimizer_utils.py
  mlflow/genai/optimize/types.py
  mlflow/genai/optimize/util.py
  mlflow/genai/scorers/__init__.py
  mlflow/genai/scorers/builtin_scorers.py
  mlflow/telemetry/events.py
  requirements/test-requirements.txt
  tests/genai/optimize/optimizers/test_dspy_mipro_optimizer.py
  tests/genai/optimize/optimizers/test_dspy_optimizer.py
  tests/genai/optimize/optimizers/test_gepa_optimizer.py
  tests/genai/optimize/optimizers/utils/__init__.py
  tests/genai/optimize/optimizers/utils/test_dspy_mipro_callback.py
  tests/genai/optimize/optimizers/utils/test_dspy_optimizer_utils.py
  tests/genai/optimize/test_base.py
  tests/genai/optimize/test_optimize.py
  tests/genai/optimize/test_util.py
  tests/genai/scorers/test_builtin_scorers.py
  tests/telemetry/test_events.py
  tests/telemetry/test_tracked_events.py
Due: ruff, format, blacken-docs, clint, generate-requirements, typos

Fix assessment APIs (#18209)
  mlflow/store/tracking/databricks_rest_store.py
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, typos

Translate missing sql warehouse id error (#18315)
  mlflow/store/tracking/databricks_rest_store.py
  mlflow/tracing/fluent.py
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, typos

Remove import_mlflow events (#18292)
  docs/docs/community/usage-tracking.mdx
  mlflow/telemetry/client.py
  mlflow/telemetry/events.py
  tests/telemetry/test_client.py
Due: ruff, format, blacken-docs, clint, typos

Chat Completion Arguments Fix (#18248)
  mlflow/types/responses.py
  tests/pyfunc/test_responses_agent.py
Due: ruff, format, clint, typos

Fix parent run resolution mechanism for LangChain (#17273)
  mlflow/langchain/langchain_tracer.py
  tests/langgraph/sample_code/langgraph_prebuilt.py
  tests/langgraph/test_langgraph_autolog.py
Due: ruff, format, clint, typos

Add github feature requests on the GenAI doc (#18342)
  docs/docs/genai/index.mdx
  docs/src/components/GitHubIssues/index.tsx
  docs/src/components/GitHubIssues/styles.module.css
Due: blacken-docs, clint, typos

Use sampling data for run comparison (#17645)
  mlflow/server/js/src/experiment-tracking/components/MetricView.enzyme.test.tsx
  mlflow/server/js/src/experiment-tracking/components/MetricView.tsx
  mlflow/server/js/src/experiment-tracking/components/MetricsPlotControls.tsx
  mlflow/server/js/src/experiment-tracking/components/MetricsPlotPanel.enzyme.test.tsx
  mlflow/server/js/src/experiment-tracking/components/MetricsPlotPanel.tsx
  mlflow/server/js/src/experiment-tracking/components/run-page/RunViewMetricCharts.intg.test.tsx
  mlflow/server/js/src/experiment-tracking/components/runs-charts/components/RunsMetricsLegend.tsx
  mlflow/server/js/src/experiment-tracking/components/runs-charts/hooks/useSampledMetricHistory.tsx
  mlflow/server/js/src/experiment-tracking/components/runs-charts/hooks/useSampledMetricHistoryGraphQL.tsx
  mlflow/server/js/src/experiment-tracking/reducers/SampledMetricsReducer.test.ts
  mlflow/server/js/src/experiment-tracking/reducers/SampledMetricsReducer.ts
  mlflow/server/js/src/experiment-tracking/routes.ts
  mlflow/server/js/src/experiment-tracking/sdk/SampledMetricHistoryService.ts
  mlflow/server/js/src/experiment-tracking/utils/MetricsUtils.ts
Due: none

URL-encode trace tag keys in delete_trace_tag to prevent 404 errors (#18232)
  mlflow/store/tracking/databricks_rest_store.py
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, typos

Handle max result limit in BatchGetTraces (#18193)
  mlflow/environment_variables.py
  mlflow/tracing/client.py
  tests/tracking/test_client.py
Due: ruff, format, clint, typos

Fix: correct typo in variable name from max_few_show_examples to max_few_shot_examples (#18246)
  docs/docs/genai/getting-started/index.mdx
  docs/docs/genai/prompt-registry/optimize-prompts.mdx
  mlflow/genai/optimize/optimizers/dspy_mipro_optimizer.py
  mlflow/genai/optimize/types.py
  tests/genai/optimize/optimizers/test_dspy_mipro_optimizer.py
  tests/genai/optimize/test_base.py
Due: ruff, format, blacken-docs, clint, typos

Fix trace_id for spans (#18236)
  mlflow/entities/span.py
  mlflow/store/tracking/databricks_rest_store.py
  mlflow/tracing/utils/__init__.py
  mlflow/utils/databricks_tracing_utils.py
  tests/entities/test_span.py
  tests/tracing/utils/test_utils.py
  tests/utils/test_databricks_tracing_utils.py
Due: ruff, format, clint, typos

Add trace quickstart drawer to the home page (#18187)
  mlflow/server/js/src/common/static/logos/autogen.png
  mlflow/server/js/src/common/static/logos/crewai.png
  mlflow/server/js/src/common/static/logos/gemini.png
  mlflow/server/js/src/common/static/logos/litellm.png
  mlflow/server/js/src/common/static/logos/llamaindex.png
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableGenericQuickstart.tsx
  mlflow/server/js/src/experiment-tracking/components/traces/quickstart/TraceTableQuickstart.utils.tsx
  mlflow/server/js/src/home/HomePage.tsx
  mlflow/server/js/src/home/HomePageViewStateContext.tsx
  mlflow/server/js/src/home/components/GetStarted.test.tsx
  mlflow/server/js/src/home/components/GetStarted.tsx
  mlflow/server/js/src/home/components/LogTracesDrawer.test.tsx
  mlflow/server/js/src/home/components/LogTracesDrawer.tsx
  mlflow/server/js/src/home/quick-actions.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Fix response handling in log_spans (#18280)
  mlflow/store/tracking/databricks_rest_store.py
  requirements/test-requirements.txt
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, generate-requirements, typos

Add atomicity to job_start API (#18226)
  mlflow/store/jobs/sqlalchemy_store.py
  tests/server/jobs/test_jobs.py
Due: ruff, format, clint, typos

Fix log_metrics slowness for get run (#18241)
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, clint, typos

Fix false warning from span logging (#18276)
  mlflow/tracing/client.py
  mlflow/tracing/export/uc_table.py
Due: ruff, format, clint, typos

Fix: creating model version from non-dbx tracking -> dbx uc registry (#18244)
  mlflow/tracking/client.py
  tests/tracking/test_client.py
Due: ruff, format, clint, typos

Add `unlink_traces_from_run` batch operation (#18316)
  docs/api_reference/api_inventory.txt
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/databricks_rest_store.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, typos

Fix sending experiment ID to non-root spans when copying (#18308)
  mlflow/tracing/utils/copy.py
Due: ruff, format, clint, typos

Fix trace_info to dict conversion for v4 (#18223)
  mlflow/entities/trace.py
  mlflow/entities/trace_info.py
  mlflow/store/tracking/databricks_rest_store.py
  mlflow/tracing/utils/__init__.py
  mlflow/utils/databricks_tracing_utils.py
  tests/entities/test_trace.py
  tests/entities/test_trace_info.py
  tests/store/tracking/test_databricks_rest_store.py
  tests/tracing/export/test_mlflow_v3_exporter.py
  tests/tracing/export/test_uc_table_exporter.py
  tests/tracing/helper.py
  tests/utils/test_databricks_tracing_utils.py
Due: ruff, format, clint, typos

Add deprecation notice for custom prompt judge (#18287)
  mlflow/genai/judges/custom_prompt_judge.py
  mlflow/genai/judges/make_judge.py
Due: ruff, format, clint, typos

Add `BatchLinkTraceToRun` and `BatchUnlinkTraceFromRun` proto definitions (#18291)
  mlflow/protos/databricks_tracing.proto
  mlflow/protos/databricks_tracing_pb2.py
  mlflow/protos/databricks_tracing_pb2.pyi
Due: ruff, format, clint, lint-proto, typos

Revert "Fix response handling in log_spans (#18280)" (#18349)
  mlflow/store/tracking/databricks_rest_store.py
  requirements/test-requirements.txt
  tests/store/tracking/test_databricks_rest_store.py
Due: ruff, format, clint, generate-requirements, typos

Fix prompt<->trace linking (#18279)
  mlflow/prompt/constants.py
  mlflow/store/_unity_catalog/registry/rest_store.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/tracing/trace_manager.py
  mlflow/tracing/utils/prompt.py
  tests/store/_unity_catalog/model_registry/test_unity_catalog_rest_store.py
  tests/store/model_registry/test_abstract_store.py
  tests/tracing/export/test_mlflow_v3_exporter.py
  tests/tracing/test_trace_manager.py
  tests/tracing/utils/test_prompt.py
Due: ruff, format, clint, typos

Minor comment fix for extract_retrieval_context_from_trace (#18331)
  mlflow/genai/utils/trace_utils.py
Due: ruff, format, clint, typos

replace single quotes with double quotes for Windows compatibility (#18266)
  docs/docs/genai/mlflow-3/index.mdx
Due: blacken-docs, clint, typos

Revert "Add atomicity to job_start API (#18226)"
  mlflow/store/jobs/sqlalchemy_store.py
  tests/server/jobs/test_jobs.py
Due: ruff, format, clint, typos

UI fix (#18281)
  mlflow/server/js/src/home/components/DiscoverNews.tsx
  mlflow/server/js/src/home/news-items.tsx
  mlflow/server/js/src/home/types.ts
Due: none

update
  tests/server/test_init.py
Due: ruff, format, clint, typos

test(auth): add config tests
  tests/server/auth/test_config.py
Due: ruff, format, clint, typos

feat(mlflow/server/auth/config.py): support environment variable interpolation in config
  mlflow/server/auth/config.py
Due: ruff, format, clint, typos

Remove uv as a dependency (#18350)
  .github/actions/py-cache-key/action.yml
  .github/workflows/master.yml
  dev/pyproject.py
  libs/skinny/pyproject.toml
  pyproject.release.toml
  pyproject.toml
  uv.lock
Due: ruff, format, taplo, clint, typos, conftest

lint
  uv.lock
Due: none

Update .github/workflows/master.yml
  .github/workflows/master.yml
Due: conftest

update
  CHANGELOG.md
Due: blacken-docs, clint, typos
