Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, taplo, blacken-docs, clint, generate-requirements, mlver, lint-proto, typos, conftest

.pre-commit-config.yaml:

minimum_pre_commit_version: 4.0.1
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: \.mdx
      - id: end-of-file-fixer
        files: \.(proto|txt|sh|rst)$
        exclude: ^examples/
      - id: check-vcs-permalinks
        files: \.py$
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|libs/typescript/).+\.(js|ts|md|json|ya?ml)$'
        args: ["--no-config", "--print-width", "100"]
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python dev/ruff.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: format
        name: format
        entry: python dev/format.py
        language: system
        files: '\.(py|ipynb)$'
        stages: [pre-commit]
        require_serial: true

      - id: taplo
        name: taplo
        entry: dev/taplo.sh
        language: system
        files: '\.toml$'
        stages: [pre-commit]
        require_serial: true

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|mdx)$'
        stages: [pre-commit]
        require_serial: true

      - id: clint
        name: clint
        entry: clint
        language: system
        files: '\.(py|ipynb|rst|mdx?)$'
        stages: [pre-commit]
        require_serial: true

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]
        require_serial: true

      - id: mlflow-typo
        name: mlflow-typo
        entry: dev/mlflow-typo.sh
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: generate-requirements
        name: generate-requirements
        entry: >
          python dev/generate_requirements.py
            --package-names tracing skinny core gateway
            --requirements-yaml-location requirements
            --requirements-txt-output-location requirements
        files: "^requirements/"
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: pyproject
        name: pyproject
        entry: python dev/pyproject.py
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: mlver
        name: ml-package-versions-consistency
        entry: "python dev/update_ml_package_versions.py --skip-yml"
        files: '^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$'
        language: system
        stages: [pre-commit]
        require_serial: true
        pass_filenames: false

      - id: lint-proto
        name: lint-proto
        entry: dev/lint-proto.sh
        files: '\.proto$'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: typos
        name: typos
        entry: dev/typos.sh
        files: '\.(py$|mdx?$)'
        language: system
        stages: [pre-commit]
        require_serial: true

      - id: conftest
        name: conftest
        entry: conftest test --policy .github/policy.rego
        files: '^\.github/(workflows|actions)/.*\.ya?ml$'
        exclude: '^\.github/workflows/copilot-setup-steps\.yml$'
        language: system
        stages: [pre-commit]
        require_serial: true

api
  docs/api_reference/api_inventory.txt
Due: none

Add documentation for updating signatures on Databricks registered models (#17450)
  docs/docs/classic-ml/model/signatures/index.mdx
  mlflow/models/signature.py
Due: ruff, format, blacken-docs, clint, typos

add test coverage
  tests/store/model_registry/test_databricks_workspace_model_registry_store.py
Due: ruff, format, clint, typos

a
  .github/workflows/codex.yml
Due: conftest

rm
  .github/workflows/codex.yml
Due: conftest

allow network_access
  .github/workflows/codex.yml
Due: conftest

test
  dev/better_diff.py
Due: ruff, format, clint, typos

a
  .github/workflows/codex.yml
  dev/better_diff.py
Due: ruff, format, clint, typos, conftest

Enable delta ingestion via set_experiment_storage_location (#17354)
  docs/api_reference/api_inventory.txt
  mlflow/environment_variables.py
  mlflow/genai/experimental/__init__.py
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/genai/experimental/databricks_trace_exporter.py
  mlflow/genai/experimental/databricks_trace_exporter_utils.py
  mlflow/genai/experimental/databricks_trace_storage_config.py
  mlflow/protos/databricks_trace_server.proto
  mlflow/protos/databricks_trace_server_pb2.py
  mlflow/protos/databricks_trace_server_pb2.pyi
  mlflow/tracing/destination.py
  mlflow/tracing/provider.py
  tests/genai/experimental/test_databricks_trace_archival.py
  tests/genai/experimental/test_databricks_trace_exporter.py
  tests/genai/test_genai_import_without_agent_sdk.py
  tests/tracing/test_provider.py
Due: ruff, format, clint, lint-proto, typos

comment-out
  .github/workflows/codex.yml
Due: conftest

Fix autologging slowness on databricks (#16870)
  mlflow/tracking/context/databricks_job_context.py
  mlflow/tracking/context/databricks_notebook_context.py
  mlflow/tracking/default_experiment/databricks_notebook_experiment_provider.py
  tests/tracing/utils/test_environment.py
  tests/tracking/context/test_databricks_job_context.py
  tests/tracking/context/test_databricks_notebook_context.py
  tests/tracking/default_experiment/test_databricks_notebook_experiment_provider.py
  tests/tracking/fluent/test_fluent.py
Due: ruff, format, clint, typos

rename
  .github/workflows/codex.yml
  dev/diff.py
Due: ruff, format, clint, typos, conftest

Normalize dynamic MlflowException headers and fix test
  mlflow/server/handlers.py
  tests/server/test_handlers.py
Due: ruff, format, clint, typos

FEA support skops persistence in sklearn flavor
  mlflow/sklearn/__init__.py
Due: ruff, format, clint, typos

wip
  dev/diff.py
  diff.txt
Due: ruff, format, clint, typos

a
  diff.txt
Due: none

test
  .github/workflows/codex.yml
Due: conftest

refactor namespace
  mlflow/entities/databricks_trace_storage_config.py
  mlflow/genai/experimental/__init__.py
  mlflow/genai/experimental/databricks_trace_archival.py
  mlflow/protos/databricks_trace_otel.proto
  mlflow/protos/databricks_trace_otel_pb2.py
  mlflow/tracing/export/databricks_delta.py
  mlflow/tracing/provider.py
  mlflow/tracing/utils/databricks_delta_utils.py
  tests/genai/experimental/test_databricks_trace_archival.py
  tests/genai/experimental/test_databricks_trace_exporter.py
  tests/genai/experimental/test_databricks_trace_exporter_utils.py
  tests/genai/experimental/test_databricks_trace_storage_config.py
Due: ruff, format, clint, lint-proto, typos

revert unnecessary changes
  mlflow/tracing/utils/databricks_delta_utils.py
Due: ruff, format, clint, typos

fix tests
  tests/genai/experimental/test_databricks_trace_archival.py
  tests/genai/experimental/test_databricks_trace_exporter.py
Due: ruff, format, clint, typos

test
  .github/workflows/codex.yml
  dev/diff.py
Due: ruff, format, clint, typos, conftest

code as reviewer
  .github/workflows/review.yml
  dev/diff.py
  tests/utils/test_yaml_utils.py
Due: ruff, format, clint, typos, conftest

test
  .github/workflows/review.yml
  dev/diff.py
Due: ruff, format, clint, typos, conftest

react to comment
  .github/workflows/review.yml
Due: conftest

fix
  .github/workflows/review.yml
Due: conftest

fix mock
  tests/genai/experimental/test_databricks_trace_archival.py
Due: ruff, format, clint, typos

[7/10] Add docs for Evaluation Datasets (#17186)
  docs/docs/genai/assessments/expectations.mdx
  docs/docs/genai/assessments/feedback.mdx
  docs/docs/genai/concepts/evaluation-datasets.mdx
  docs/docs/genai/concepts/expectations.mdx
  docs/docs/genai/concepts/feedback.mdx
  docs/docs/genai/concepts/span.mdx
  docs/docs/genai/concepts/trace.mdx
  docs/docs/genai/concepts/trace/feedback.mdx
  docs/docs/genai/data-model/app-versions.mdx
  docs/docs/genai/data-model/experiments.mdx
  docs/docs/genai/data-model/index.mdx
  docs/docs/genai/data-model/logged-model.mdx
  docs/docs/genai/data-model/model-registry.mdx
  docs/docs/genai/data-model/prompts.mdx
  docs/docs/genai/data-model/runs.mdx
  docs/docs/genai/data-model/traces.mdx
  docs/docs/genai/datasets/end-to-end-workflow.mdx
  docs/docs/genai/datasets/index.mdx
  docs/docs/genai/datasets/sdk-guide.mdx
  docs/docs/genai/eval-monitor/index.mdx
  docs/docs/genai/eval-monitor/scorers/custom.mdx
  docs/docs/genai/flavors/openai/index.mdx
  docs/docs/genai/getting-started/connect-environment.mdx
  docs/docs/genai/mlflow-3/index.mdx
  docs/docs/genai/prompt-registry/index.mdx
  docs/docs/genai/tracing/app-instrumentation/manual-tracing.mdx
  docs/docs/genai/tracing/collect-user-feedback/index.mdx
  docs/docs/genai/tracing/integrations/contribute.mdx
  docs/docusaurus.config.ts
  docs/sidebarsGenAI.ts
  docs/src/components/ConceptOverview/styles.module.css
  docs/src/components/DAGLoop/index.tsx
  docs/src/components/DAGLoop/styles.module.css
  mlflow/genai/datasets/__init__.py
Due: ruff, format, blacken-docs, clint, typos

Add make_judge API (#17448)
  docs/api_reference/api_inventory.txt
  mlflow/genai/judges/__init__.py
  mlflow/genai/judges/constants.py
  mlflow/genai/judges/instructions_judge/__init__.py
  mlflow/genai/judges/make_judge.py
  tests/genai/judges/test_make_judge.py
Due: ruff, format, clint, typos
