Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$

Update API inventory with Attachment class entries
  docs/api_reference/api_inventory.txt
Due: normalize-chars

Add GuardrailsTabContent tests
  mlflow/server/js/src/gateway/components/guardrails/GuardrailsTabContent.test.tsx
Due: none

Update import after useAddGuardrail -> useCreateGuardrail rename
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
Due: none

Auto-register builtin scorer before creating guardrail
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.test.tsx
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
Due: none

Move stage/action selectors below scorer list, show only Safety as builtin
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.test.tsx
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
Due: none

Polish Add Guardrail modal step 2 UI
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
Due: none

Add scorer picker modal for guardrails with builtin + registered scorers
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.test.tsx
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Implement AddGuardrailModal for creating and editing guardrails
  mlflow/server/js/src/gateway/api.ts
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
Due: none

Update tests to match renamed Description field
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.test.tsx
Due: none

Fix SimpleSelect infinite re-render loop
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
Due: none

Rewrite Add Guardrail as two-step wizard
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.test.tsx
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Replace SimpleSelect with native select to fix Popper crash in Modal
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
Due: none

Invalidate guardrails query after addGuardrailToEndpoint so new guardrail appears immediately
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
Due: none

Show editable judge instructions for all guardrail types in Add modal
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.test.tsx
  mlflow/server/js/src/gateway/components/guardrails/AddGuardrailModal.tsx
Due: none

Register scorer and resolve endpoint ID in custom guardrail form
  mlflow/server/js/src/gateway/components/guardrails/CustomGuardrailForm.test.tsx
  mlflow/server/js/src/gateway/components/guardrails/CustomGuardrailForm.tsx
Due: none

Add custom guardrail creation form with judge instructions
  mlflow/server/js/src/gateway/components/guardrails/CustomGuardrailForm.test.tsx
  mlflow/server/js/src/gateway/components/guardrails/CustomGuardrailForm.tsx
  mlflow/server/js/src/lang/default/en.json
Due: none

Use `action_llm_base_url` instead of `action_endpoint_id` in JudgeGuardrail
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use internal gateway provider for sanitization instead of HTTP requests
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Implement sanitization via `_invoke_via_gateway` and add `action_endpoint_id`
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use requests to gateway API for sanitization, return full payload
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Move endpoint ID→name resolution out of `from_entity` to caller
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Simplify PR3: keep sanitization as placeholder, pass action_endpoint_id through
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add `Guardrail` base class and `JudgeGuardrail` implementation
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

lint
  mlflow/gateway/guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Address copilot review comments in JudgeGuardrail
  mlflow/gateway/guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Handle network errors in sanitization and add scorer assertions
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use aiohttp for async sanitization, add auth header allowlist and bypass header
  mlflow/gateway/guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add type hints, flatten tests, and add `from_entity` conversion
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Allow AFTER guardrails to receive original request context
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Resolve review: sanitize auth headers and response validation
  mlflow/gateway/guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use `mlflow.get_tracking_uri()` + `requests.post` for sanitization
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Resolve action endpoint ID to name in `from_entity` for gateway URL path
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use `action_llm_url` on JudgeGuardrail, build from entity + server_url
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use send_request utility for sanitization LLM calls in JudgeGuardrail
  mlflow/gateway/guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use `Feedback` type instead of duck-typed `getattr` for scorer results
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Use TYPE_CHECKING for Scorer type hint and CategoricalRating for str comparison
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Restore sanitization via gateway API, move imports to top, make from_entity a classmethod
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Make `name` a required parameter in `JudgeGuardrail`
  mlflow/gateway/guardrails.py
  tests/gateway/test_guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Pass full request/response payloads to scorer instead of extracted text
  mlflow/gateway/guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Move send_request and HTTPException to top-level imports
  mlflow/gateway/guardrails.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py
