Repository mlflow/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: normalize-chars, ruff, format, mypy, blacken-docs, clint, taplo, mlver, lint-proto, typos, conftest, regal, check-init-py, uv-lock

normalize-chars:
  name: normalize-chars
  entry: uv run --only-group lint dev/normalize_chars.py
  language: system
  stages:
  - pre-commit
  require_serial: true

ruff:
  name: ruff
  entry: uv run --only-group lint dev/ruff.py
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: format
  entry: uv run --only-group lint dev/format.py
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: uv run --only-group lint mypy
  require_serial: true

blacken-docs:
  name: blacken-docs
  entry: uv run --only-group lint blacken-docs
  language: system
  stages:
  - pre-commit
  require_serial: true

clint:
  name: clint
  entry: uv run --only-group lint clint
  language: system
  stages:
  - pre-commit
  require_serial: true

taplo:
  name: taplo
  entry: bin/taplo format
  language: system
  stages:
  - pre-commit
  require_serial: true

mlver:
  name: ml-package-versions-consistency
  entry: uv run --only-group lint dev/update_ml_package_versions.py --skip-yml
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

lint-proto:
  name: lint-proto
  entry: dev/lint-proto.sh
  language: system
  stages:
  - pre-commit
  require_serial: true

typos:
  name: typos
  entry: bin/typos --format brief --force-exclude --color never
  language: system
  stages:
  - pre-commit
  require_serial: true

conftest:
  name: conftest
  entry: bin/conftest test --namespace mlflow --policy .github/policy.rego
  language: system
  stages:
  - pre-commit
  require_serial: true

regal:
  name: regal
  entry: bin/regal lint
  language: system
  stages:
  - pre-commit
  require_serial: true

check-init-py:
  name: check-init-py
  entry: uv run --only-group lint dev/check_init_py.py
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

Make feedback type required
  docs/docs/genai/concepts/scorers.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/agentic-overview.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/alignment.mdx
  docs/docs/genai/eval-monitor/scorers/llm-judge/make-judge.mdx
  docs/docs/genai/tracing/integrations/listing/claude_code.mdx
  mlflow/genai/judges/make_judge.py
  tests/genai/judges/test_make_judge.py
Due: normalize-chars, ruff, format, blacken-docs, clint, typos, check-init-py

comments
  tests/tracing/test_otel_logging.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix test
  tests/genai/optimize/test_optimize.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

rename vars
  mlflow/genai/optimize/optimize.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Support batchSpanProcessor for otel endpoint (#18536)
  mlflow/server/otel_api.py
  tests/tracing/test_otel_logging.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Propagate rational
  mlflow/genai/optimize/optimize.py
  mlflow/genai/optimize/optimizers/gepa_optimizer.py
  mlflow/genai/optimize/types.py
  mlflow/genai/optimize/util.py
  tests/genai/optimize/optimizers/test_gepa_optimizer.py
  tests/genai/optimize/test_util.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix autogen autologging (#18564)
  mlflow/ag2/ag2_logger.py
  tests/ag2/test_ag2_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

test
  mlflow/genai/optimize/optimize.py
  mlflow/genai/optimize/util.py
  tests/genai/optimize/test_util.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Remove unreachable statements from codebase (#18580)
  mlflow/data/huggingface_dataset_source.py
  mlflow/dspy/autolog.py
  mlflow/types/type_hints.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

use average
  mlflow/genai/optimize/util.py
  tests/genai/optimize/test_util.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

force `trace.text LIKE` schema
  mlflow/tracing/client.py
  mlflow/tracing/fluent.py
  mlflow/tracking/client.py
  mlflow/utils/search_utils.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracing/test_fluent.py
  tests/tracking/test_rest_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fix test
  mlflow/cli/scorers.py
  mlflow/genai/judges/optimizers/dspy.py
  tests/cli/test_scorers.py
  tests/genai/judges/optimizers/test_dspy_base.py
  tests/genai/scorers/test_scorer.py
  tests/genai/scorers/test_scorer_description.py
  tests/telemetry/test_tracked_events.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

clean up
  libs/typescript/package-lock.json
  libs/typescript/package.json
Due: normalize-chars

Fix log_metric to accept mlflow.entities.Dataset
  mlflow/tracking/fluent.py
  tests/tracking/fluent/test_fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Allow to optimize prompts without expectations (#18578)
  mlflow/genai/optimize/optimize.py
  mlflow/genai/optimize/optimizers/gepa_optimizer.py
  mlflow/genai/optimize/types.py
  mlflow/genai/optimize/util.py
  tests/genai/optimize/optimizers/test_gepa_optimizer.py
  tests/genai/optimize/test_optimize.py
  tests/genai/optimize/test_util.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

comment
  mlflow/server/otel_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

deprecate extract_fields
  mlflow/tracing/fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Add optional prompt support to review workflow (#18572)
  .claude/commands/pr-review.md
  .github/workflows/review.yml
Due: normalize-chars, blacken-docs, clint, typos, conftest

docstring
  mlflow/tracing/fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

address comments
  mlflow/genai/evaluation/harness.py
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/TraceUtils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/FeedbackItemContent.tsx
  mlflow/tracing/constant.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

icon
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/FeedbackItemContent.tsx
Due: none

Replace manual DataFrame equality assertions with pd.testing.assert_frame_equal (#18584)
  tests/models/test_model_input_examples.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

comments
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/TraceUtils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/FeedbackItemContent.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/constants.ts
Due: none

Fix self-comparison bugs in test assertions (#18586)
  tests/entities/test_assessment.py
  tests/evaluate/test_default_evaluator.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix error message for span logging warning (#18583)
  mlflow/server/otel_api.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update mlflow/tracing/fluent.py
  mlflow/tracing/fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Fix handling of `pathlib.Path` in `validation.py` (#16660)
  mlflow/utils/validation.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Silence filesystem backend deprecation warnings in pytest (#18588)
  pyproject.toml
Due: normalize-chars, taplo, uv-lock

Frontend adjustments for handle judge traces (#18485)
  mlflow/genai/evaluation/harness.py
  mlflow/server/js/src/lang/default/en.json
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.test.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/hooks/useMlflowTraces.tsx
  mlflow/server/js/src/shared/web-shared/genai-traces-table/utils/TraceUtils.ts
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/assessments-pane/FeedbackItemContent.tsx
  mlflow/server/js/src/shared/web-shared/model-trace-explorer/constants.ts
  mlflow/tracing/constant.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

suport rlike
  mlflow/store/db/utils.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/utils/search_utils.py
  tests/store/tracking/test_sqlalchemy_store.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

attributes translation
  mlflow/entities/span.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracing/client.py
  mlflow/tracing/otel/__init__.py
  mlflow/tracing/otel/translation/__init__.py
  mlflow/tracing/otel/translation/base.py
  mlflow/tracing/otel/translation/genai_semconv.py
  mlflow/tracing/otel/translation/open_inference.py
  mlflow/tracing/otel/translation/traceloop.py
  mlflow/tracing/utils/__init__.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracing/otel/__init__.py
  tests/tracing/otel/test_span_translation.py
  tests/tracing/test_otel_loading.py
  tests/tracing/utils/test_utils.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

full text search
  mlflow/utils/search_utils.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracing/test_fluent.py
  tests/tracking/test_rest_tracking.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Update mlflow/tracking/fluent.py
  mlflow/tracking/fluent.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

fixes
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/ExperimentViewDescriptionNotes.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/components/header/ExperimentViewHeader.tsx
  mlflow/server/js/src/experiment-tracking/components/experiment-page/hooks/useGetExperimentPageActiveTabByRoute.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/ExperimentPageSideNavSection.tsx
  mlflow/server/js/src/experiment-tracking/pages/experiment-page-tabs/side-nav/constants.tsx
  mlflow/server/js/src/experiment-tracking/route-defs.ts
  mlflow/server/js/src/lang/default/en.json
Due: none

broken tests
  mlflow/openai/_agent_tracer.py
  mlflow/openai/autolog.py
  tests/openai/test_openai_agent_autolog.py
Due: normalize-chars, ruff, format, clint, typos, check-init-py

Path conditions:
  normalize-chars: any file but: ^mlflow/server/js/|^docs/api_reference/source/R-api\.rst$
  ruff: any of: \.(py|ipynb)$
  format: any of: \.(py|ipynb)$
  mypy: any of: ^dev/clint/.*\.py$
  blacken-docs: any of: \.(rst|md|mdx)$
  clint: any of: \.(py|ipynb|rst|mdx?)$
  taplo: any of: \.toml$
  mlver: any of: ^(mlflow/ml-package-versions\.yml|mlflow/ml_package_versions\.py)$
  lint-proto: any of: \.proto$
  typos: any of: \.(py$|mdx?$)
  conftest: any of: ^\.github/(workflows|actions)/.*\.ya?ml$, but not: ^\.github/workflows/copilot-setup-steps\.yml$
  regal: any of: \.rego$
  check-init-py: any of: ^(mlflow|tests)/.*\.py$
  uv-lock: any of: ^pyproject\.toml$
